<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>modao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,186}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,10},{248,186}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>modao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{268,184}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{268,184}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>modao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{286,182}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,14},{286,182}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>modao.png</string>
            <key>size</key>
            <string>{802,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77ce3c35d513455c1f18c4c02b57cac8:fae1215a9f86e08d16f1007c05b14b47:99ace2d4d25860ff4884f0584e0e3066$</string>
            <key>textureFileName</key>
            <string>modao.png</string>
        </dict>
    </dict>
</plist>
