<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_begin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,0},{212,219}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{212,219}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>battle_begin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{210,219}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{210,219}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>battle_begin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,0},{218,207}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{218,207}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>battle_begin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,0},{200,217}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{200,217}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
            <key>battle_begin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,205}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{220,205}}</string>
                <key>sourceSize</key>
                <string>{226,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_begin.png</string>
            <key>size</key>
            <string>{1034,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d0525dbd3cd7fa30804a616eff9451a:ec76e048ce3b69db3bece9d4f6eb7db2:8d0b569ebde76dee51b370c757977ba8$</string>
            <key>textureFileName</key>
            <string>battle_begin.png</string>
        </dict>
    </dict>
</plist>
