<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,842},{178,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,87}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>1_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1244},{108,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{108,54}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>1_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1243},{53,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,90}}</string>
                <key>sourceSize</key>
                <string>{53,90}</string>
            </dict>
            <key>1_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,842},{178,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,87}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>2_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,314},{108,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{108,54}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>2_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,1110},{71,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,91}}</string>
                <key>sourceSize</key>
                <string>{71,91}</string>
            </dict>
            <key>2_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,753},{178,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,87}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>3_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,1236},{67,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,92}}</string>
                <key>sourceSize</key>
                <string>{67,92}</string>
            </dict>
            <key>3_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1190},{178,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,87}}</string>
                <key>sourceSize</key>
                <string>{178,87}</string>
            </dict>
            <key>anger_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1001},{424,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,25}}</string>
                <key>sourceSize</key>
                <string>{424,25}</string>
            </dict>
            <key>anger_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,973},{424,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,26}}</string>
                <key>sourceSize</key>
                <string>{424,26}</string>
            </dict>
            <key>anger_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,887},{580,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,84}}</string>
                <key>sourceSize</key>
                <string>{580,84}</string>
            </dict>
            <key>auto_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1203},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{106,54}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>auto_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1244},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{106,54}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>award_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,700},{649,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,149}}</string>
                <key>sourceSize</key>
                <string>{649,149}</string>
            </dict>
            <key>award_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1213},{121,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,62}}</string>
                <key>sourceSize</key>
                <string>{121,62}</string>
            </dict>
            <key>award_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,851},{696,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{696,34}}</string>
                <key>sourceSize</key>
                <string>{696,34}</string>
            </dict>
            <key>begin_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,296},{164,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>begin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,884},{120,98}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,35},{120,98}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>begin_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,884},{132,108}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{132,108}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>bottom_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,2},{1136,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,150}}</string>
                <key>sourceSize</key>
                <string>{1136,150}</string>
            </dict>
            <key>continue_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1094},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>continue_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,462},{215,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,214}}</string>
                <key>sourceSize</key>
                <string>{215,214}</string>
            </dict>
            <key>cur_stage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>drag_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,700},{146,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,37},{146,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect/attr_Attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,1125},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>effect/attr_Crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,797},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>effect/attr_CritHurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,738},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>effect/attr_CritResist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,601},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>effect/attr_Defense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,848},{55,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,31}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>effect/attr_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,1259},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>effect/attr_IgnoreParry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,679},{57,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,31}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>effect/attr_Miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,424},{56,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,31}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>effect/attr_Parry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,1259},{57,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{57,31}}</string>
                <key>sourceSize</key>
                <string>{59,35}</string>
            </dict>
            <key>effect/attr_Tenacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,541},{58,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,31}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>effect/buqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1729,1022},{75,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,31}}</string>
                <key>sourceSize</key>
                <string>{75,31}</string>
            </dict>
            <key>effect/crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,852},{79,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,32}}</string>
                <key>sourceSize</key>
                <string>{79,32}</string>
            </dict>
            <key>effect/dikang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1277},{76,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>effect/mianyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1190},{77,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,32}}</string>
                <key>sourceSize</key>
                <string>{77,32}</string>
            </dict>
            <key>effect/miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,457},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>effect/parry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,753},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>effect/restraint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1277},{76,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,31}}</string>
                <key>sourceSize</key>
                <string>{76,31}</string>
            </dict>
            <key>end_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{744,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{744,432}}</string>
                <key>sourceSize</key>
                <string>{744,432}</string>
            </dict>
            <key>end_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{847,848}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{847,848}}</string>
                <key>sourceSize</key>
                <string>{847,848}</string>
            </dict>
            <key>end_splitter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{545,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,3}}</string>
                <key>sourceSize</key>
                <string>{545,3}</string>
            </dict>
            <key>enemy_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,78},{74,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,4}}</string>
                <key>sourceSize</key>
                <string>{74,4}</string>
            </dict>
            <key>exit_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,679},{207,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,203}}</string>
                <key>sourceSize</key>
                <string>{207,203}</string>
            </dict>
            <key>exit_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1028},{217,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,213}}</string>
                <key>sourceSize</key>
                <string>{217,213}</string>
            </dict>
            <key>exp_money_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,547},{730,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,151}}</string>
                <key>sourceSize</key>
                <string>{730,151}</string>
            </dict>
            <key>gray_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,1236},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>hp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,416},{80,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,8}}</string>
                <key>sourceSize</key>
                <string>{80,8}</string>
            </dict>
            <key>red_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1125},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>right_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,1022},{121,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,70}}</string>
                <key>sourceSize</key>
                <string>{121,70}</string>
            </dict>
            <key>self_hp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,2},{74,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,4}}</string>
                <key>sourceSize</key>
                <string>{74,4}</string>
            </dict>
            <key>setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,204},{108,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{108,54}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>setting_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1243},{112,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{112,58}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>skill_blue_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,296},{960,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,118}}</string>
                <key>sourceSize</key>
                <string>{960,118}</string>
            </dict>
            <key>skill_orange_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,154},{1136,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,140}}</string>
                <key>sourceSize</key>
                <string>{1136,140}</string>
            </dict>
            <key>skillcd_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1110},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>skillnum_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1203},{44,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,887},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>sound_off_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,973},{215,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,214}}</string>
                <key>sourceSize</key>
                <string>{215,214}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1583,547},{205,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,204}}</string>
                <key>sourceSize</key>
                <string>{205,204}</string>
            </dict>
            <key>sound_on_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1028},{215,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,214}}</string>
                <key>sourceSize</key>
                <string>{215,214}</string>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1006},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>stage_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,416},{925,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{925,129}}</string>
                <key>sourceSize</key>
                <string>{925,129}</string>
            </dict>
            <key>stage_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,994},{114,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,117}}</string>
                <key>sourceSize</key>
                <string>{114,117}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,887},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>yellow_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,1094},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.pvr</string>
            <key>size</key>
            <string>{2047,1310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e3eaddd04cbdb3a644540fa31c11fd:df9a83222b466a2be31bd7710aa20db3:096bbc6710acf1ea8e06067721ff7371$</string>
            <key>textureFileName</key>
            <string>battle.pvr</string>
        </dict>
    </dict>
</plist>
