<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_low_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,43},{166,84}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>boss_low_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{150,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,48},{150,74}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>boss_low_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{150,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{150,76}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_low.png</string>
            <key>size</key>
            <string>{466,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd82670879e1203dc1c287f6eec60cc5:f56bc5ccb51bfa92e6b787dede0ab3d1:058b0d9d6dd8549de11840841fe5d0b9$</string>
            <key>textureFileName</key>
            <string>boss_low.png</string>
        </dict>
    </dict>
</plist>
