<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_grid_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{148,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>left_grid_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{130,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{130,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>left_grid_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{128,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,42},{128,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>left_grid_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{146,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,37},{146,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>left_grid_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,150},{128,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,41},{128,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>left_grid_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{130,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{130,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_grid.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0369df532ac2e12c72c9bd138a89c3e:0d465d492ccb41eba876ee3aaf1ff785:457d916d76651251a356684f9f2b8f94$</string>
            <key>textureFileName</key>
            <string>left_grid.png</string>
        </dict>
    </dict>
</plist>
