<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqi_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{153,114}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,91},{153,114}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>nuqi_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{183,184}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{183,184}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>nuqi_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,0},{165,168}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{165,168}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>nuqi_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{157,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{157,180}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>nuqi_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,188}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{149,188}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
            <key>nuqi_up_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,184},{1,1}}</string>
                <key>offset</key>
                <string>{-91,103.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{183,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqi_up.png</string>
            <key>size</key>
            <string>{768,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18665244bd857aa3e8734f2d94974194:d0c81df2e5c6f925383d1addc0f9093a:738320aa65955de4891e3f2dc2ed280f$</string>
            <key>textureFileName</key>
            <string>nuqi_up.png</string>
        </dict>
    </dict>
</plist>
