<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqi_increase_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{21,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,32}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{21,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{23,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{21,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,34}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,104},{21,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{23,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{21,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{21,32}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{21,34}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,34}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
            <key>nuqi_increase_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{21,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,36}}</string>
                <key>sourceSize</key>
                <string>{23,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqi_increase.png</string>
            <key>size</key>
            <string>{23,348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcadb01b01da1d068cb2fb341214d8e8:329522412ecca60b266c6313e12c41fc:d9fc1cae9c9ac58f1f9dae886bc2bd57$</string>
            <key>textureFileName</key>
            <string>nuqi_increase.png</string>
        </dict>
    </dict>
</plist>
