<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nuqi_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{154,136}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{154,136}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>nuqi_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{156,150}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{156,150}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>nuqi_normal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{158,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{158,156}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>nuqi_normal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{158,140}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{158,140}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
            <key>nuqi_normal_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,130}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{162,130}}</string>
                <key>sourceSize</key>
                <string>{164,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuqi_normal.png</string>
            <key>size</key>
            <string>{162,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9b0e7ddad034e1b21e90e55e8591602:60e17ce2bb0fa04e5328b206d5664007:694a07c4c1734e8969c9dae2770fe8ff$</string>
            <key>textureFileName</key>
            <string>nuqi_normal.png</string>
        </dict>
    </dict>
</plist>
