<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack2_halo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{172,185}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{172,185}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{174,179}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{174,179}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{174,183}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{174,183}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{172,175}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{172,175}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1086},{170,179}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{170,179}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,547},{172,183}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{172,183}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1265},{170,175}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,27},{170,175}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
            <key>attack2_halo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,905},{170,181}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{170,181}}</string>
                <key>sourceSize</key>
                <string>{240,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>attack2_halo.pvr.ccz</string>
            <key>size</key>
            <string>{174,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e4e6ab9cfe2e02eb38a539b915e043:61bbd49eec8baf2f3223a70ba524c4c9:1640bd841b7cf2797b3d58de161878b3$</string>
            <key>textureFileName</key>
            <string>attack2_halo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
