<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_gedang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,81}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,16},{148,81}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{146,79}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,17},{146,79}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,0},{140,73}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,20},{140,73}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{146,65}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{146,65}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,65},{158,57}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,29},{158,57}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{146,65}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{146,65}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{140,73}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{140,73}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
            <key>buff_gedang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{146,79}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{146,79}}</string>
                <key>sourceSize</key>
                <string>{238,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_gedang.pvr.ccz</string>
            <key>size</key>
            <string>{1012,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9113aac0b73a3403b6a4f07e445cc5de:b8fa506bf081bd8e9188dab09305e053:3e12cd4bb4de390e3a99e52a065600c8$</string>
            <key>textureFileName</key>
            <string>buff_gedang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
