<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_chenmo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,45}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,45}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_chenmo.pvr.ccz</string>
            <key>size</key>
            <string>{45,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47c9760eb407a40a87650a9d3342899f:fad17e1d7ebbaa030d2f100ff5401980:8daf2f85fd8da0a376722ec95ef8bc3c$</string>
            <key>textureFileName</key>
            <string>buff_chenmo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
