<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{166,182}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{166,182}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
            <key>buff_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{166,182}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{166,182}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
            <key>buff_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,546},{166,178}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{166,178}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
            <key>buff_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,182}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{166,182}}</string>
                <key>sourceSize</key>
                <string>{222,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_atk.pvr.ccz</string>
            <key>size</key>
            <string>{166,724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dfb62a3fdc91744bf0070547636c82c:c16e09f0edb5279e6c2b55dae707f6eb:925244dc206fdc6a492737c54063c2b0$</string>
            <key>textureFileName</key>
            <string>buff_atk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
