<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_cuimian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{32,32}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{32,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>buff_cuimian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{38,32}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>buff_cuimian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,0},{44,32}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{44,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>buff_cuimian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{32,32}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{32,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>buff_cuimian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{38,32}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{38,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>buff_cuimian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,32}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{44,32}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_cuimian.pvr.ccz</string>
            <key>size</key>
            <string>{228,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d573f69217be89a073fc6800af9b358:c435b1a2f29e1b3c0069d2a7df24a0df:2acd29412dc199a617ad4d68574b37ee$</string>
            <key>textureFileName</key>
            <string>buff_cuimian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
