<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_wudi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,648},{336,322}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{336,322}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,648},{336,320}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{336,320}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,326},{336,322}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{336,322}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,324},{336,324}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,324}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{336,324}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{336,324}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{336,326}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{336,326}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{336,328}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,328}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
            <key>buff_wudi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{336,326}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{336,326}}</string>
                <key>sourceSize</key>
                <string>{340,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_wudi.pvr.ccz</string>
            <key>size</key>
            <string>{1008,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2964bf0c21b2066d14acfa61340e1d60:49fbc8b136a90b29235cd664fe0b25de:fd69e66987fd90ed6ea89651f16ead29$</string>
            <key>textureFileName</key>
            <string>buff_wudi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
