<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_shanbi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,0},{209,106}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{209,106}}</string>
                <key>sourceSize</key>
                <string>{247,146}</string>
            </dict>
            <key>buff_shanbi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{239,120}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{239,120}}</string>
                <key>sourceSize</key>
                <string>{247,146}</string>
            </dict>
            <key>buff_shanbi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{215,108}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{215,108}}</string>
                <key>sourceSize</key>
                <string>{247,146}</string>
            </dict>
            <key>buff_shanbi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{237,118}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{237,118}}</string>
                <key>sourceSize</key>
                <string>{247,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_shanbi.pvr.ccz</string>
            <key>size</key>
            <string>{900,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d597f63217267be5fbeeaf5bc7bcb3a7:241762ffc3add1acfb013fba87ada7be:3f5d96bba68e2c123a31d355ae5d217e$</string>
            <key>textureFileName</key>
            <string>buff_shanbi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
