<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_zhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{399,443}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,443}}</string>
                <key>sourceSize</key>
                <string>{399,445}</string>
            </dict>
            <key>buff_zhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{377,445}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{377,445}}</string>
                <key>sourceSize</key>
                <string>{399,445}</string>
            </dict>
            <key>buff_zhong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{367,445}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{367,445}}</string>
                <key>sourceSize</key>
                <string>{399,445}</string>
            </dict>
            <key>buff_zhong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,0},{357,443}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{357,443}}</string>
                <key>sourceSize</key>
                <string>{399,445}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_zhong.pvr.ccz</string>
            <key>size</key>
            <string>{1500,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395c362492a01e2a2a06c7d912ee0a94:6b12ec189ab0ab285dbe19fc439373f1:cbee1e170bf1e7f1a45be8e48015033a$</string>
            <key>textureFileName</key>
            <string>buff_zhong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
