<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_liuxue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{46,42}}</string>
                <key>offset</key>
                <string>{-29,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{46,42}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>buff_liuxue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{58,56}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{58,56}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>buff_liuxue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{58,68}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{58,68}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>buff_liuxue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{58,78}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{58,78}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>buff_liuxue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{58,84}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,1},{58,84}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>buff_liuxue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,86}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{58,86}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_liuxue.pvr.ccz</string>
            <key>size</key>
            <string>{58,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:463efbd0e4793f2a1fa0e0c572e9d74a:231eb8d541f9fe5ee8ae3e5212d3c84a:73d7be23256c9efba89bb211c4286588$</string>
            <key>textureFileName</key>
            <string>buff_liuxue.pvr.ccz</string>
        </dict>
    </dict>
</plist>
