<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulianshi_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{209,172}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{209,172}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>bulianshi_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{227,212}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{227,212}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>bulianshi_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>bulianshi_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{231,232}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{231,232}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulianshi_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{231,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a1fc598f7942ea3ff4e8f078931e36:b6eda9827cce2b93a12bb12062224d11:b40da9e5418b19c52f2db49f3fd7f65c$</string>
            <key>textureFileName</key>
            <string>bulianshi_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
