<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiwenji_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1125},{303,105}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{303,105}}</string>
                <key>sourceSize</key>
                <string>{321,115}</string>
            </dict>
            <key>caiwenji_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1125},{313,89}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{313,89}}</string>
                <key>sourceSize</key>
                <string>{321,115}</string>
            </dict>
            <key>caiwenji_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,804},{321,97}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{321,97}}</string>
                <key>sourceSize</key>
                <string>{321,115}</string>
            </dict>
            <key>caiwenji_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{321,107}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,107}}</string>
                <key>sourceSize</key>
                <string>{321,115}</string>
            </dict>
            <key>caiwenji_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{198,160}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,160}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>caiwenji_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>caiwenji_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,162}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>caiwenji_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{200,160}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
            <key>caiwenji_attack1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,644},{178,160}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{178,160}}</string>
                <key>sourceSize</key>
                <string>{200,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiwenji_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{204,1438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eceb7801fbd6ebf6e79a8e58c3fb618:632c6f356ce201aff0998f02f2fabe0f:a85236c84d791d41dac8df2db5138bc1$</string>
            <key>textureFileName</key>
            <string>caiwenji_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
