<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiwenji_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,793},{237,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{237,60}}</string>
                <key>sourceSize</key>
                <string>{237,68}</string>
            </dict>
            <key>caiwenji_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,477},{237,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{237,52}}</string>
                <key>sourceSize</key>
                <string>{237,68}</string>
            </dict>
            <key>caiwenji_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{211,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,17},{211,38}}</string>
                <key>sourceSize</key>
                <string>{237,68}</string>
            </dict>
            <key>caiwenji_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,477},{198,157}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,157}}</string>
                <key>sourceSize</key>
                <string>{200,159}</string>
            </dict>
            <key>caiwenji_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{200,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,159}}</string>
                <key>sourceSize</key>
                <string>{200,159}</string>
            </dict>
            <key>caiwenji_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{200,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,159}}</string>
                <key>sourceSize</key>
                <string>{200,159}</string>
            </dict>
            <key>caiwenji_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,159}}</string>
                <key>sourceSize</key>
                <string>{200,159}</string>
            </dict>
            <key>caiwenji_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{180,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{180,159}}</string>
                <key>sourceSize</key>
                <string>{200,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiwenji_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{250,853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53cc91127db8d225481414a336c220ac:51fc29b2ad2468e6851bf39df7d6a7b9:6ba86d5facfeef4f52d22d72cee72e3f$</string>
            <key>textureFileName</key>
            <string>caiwenji_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
