<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiwenji_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{112,110}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>caiwenji_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{114,110}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>caiwenji_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{114,110}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>caiwenji_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{120,110}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,110}}</string>
                <key>sourceSize</key>
                <string>{152,110}</string>
            </dict>
            <key>caiwenji_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{158,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,123}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>caiwenji_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{158,127}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>caiwenji_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,127}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiwenji_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{127,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f0b6e62431ad76c2f1599a4c6d7038f:47bb349011a8d8502b40c2de6493f05e:ad2a473a3369824a799ed9cffc6c034d$</string>
            <key>textureFileName</key>
            <string>caiwenji_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
