<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiwenji_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1593},{195,195}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{195,195}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{203,197}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{203,197}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,733},{237,233}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{237,233}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{245,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{245,245}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{237,251}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{237,251}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{237,243}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{237,243}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,966},{235,229}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{235,229}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
            <key>caiwenji_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1195},{227,201}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{227,201}}</string>
                <key>sourceSize</key>
                <string>{245,251}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caiwenji_skill.pvr.ccz</string>
            <key>size</key>
            <string>{245,1788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc98cbcd571f0f02f532ec4116066de:d8bc153b3fc98d5d5e715755f864c7e5:ac82831cdfb492af66126099da2afc73$</string>
            <key>textureFileName</key>
            <string>caiwenji_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
