<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,604},{164,228}}</string>
                <key>offset</key>
                <string>{-5,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{164,228}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{164,308}}</string>
                <key>offset</key>
                <string>{-6,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,18},{164,308}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{170,348}}</string>
                <key>offset</key>
                <string>{-7,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{170,348}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,278},{152,326}}</string>
                <key>offset</key>
                <string>{-5,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{152,326}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{144,340}}</string>
                <key>offset</key>
                <string>{-4,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,10},{144,340}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,832},{152,210}}</string>
                <key>offset</key>
                <string>{-5,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,39},{152,210}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,424}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,76},{278,424}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{280,238}}</string>
                <key>offset</key>
                <string>{1,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,263},{280,238}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1254},{280,246}}</string>
                <key>offset</key>
                <string>{1,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,255},{280,246}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{284,254}}</string>
                <key>offset</key>
                <string>{0,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,247},{284,254}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{282,254}}</string>
                <key>offset</key>
                <string>{0,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,247},{282,254}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
            <key>caocao_attack4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,984},{270,140}}</string>
                <key>offset</key>
                <string>{-2,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,361},{270,140}}</string>
                <key>sourceSize</key>
                <string>{284,502}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{500,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e196bda7005e8ca6bb25d69227181a59:66c8d4ed3c5611f1b6252d459476a997:fb96dfb9234fe3ae95c926da0a225e83$</string>
            <key>textureFileName</key>
            <string>caocao_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
