<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{103,103}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{103,103}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>caocao_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,0},{107,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{107,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
            <key>caocao_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,109}}</string>
                <key>sourceSize</key>
                <string>{109,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{319,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ea8a2d6b3a3f9d1ad60085c401348a:b766563f096b7875dc96721736e52d29:ec8f10d53e423fbabd8651826d96ba4c$</string>
            <key>textureFileName</key>
            <string>caocao_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
