<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>caocao_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>caocao_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{138,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{138,129}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>caocao_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,0},{138,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{138,129}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{288,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:378cc5e9d929d8a4d332318b17382f3f:48acc02b1d44ce1eb318ec83414637f0:38fb84551f3f288ddd7c756183010340$</string>
            <key>textureFileName</key>
            <string>caocao_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
