<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,458},{89,16}}</string>
                <key>offset</key>
                <string>{-21,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,229},{89,16}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,86},{149,46}}</string>
                <key>offset</key>
                <string>{1,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,227},{149,46}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,448},{153,42}}</string>
                <key>offset</key>
                <string>{2,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,226},{153,42}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,0},{221,270}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1},{221,270}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,0},{221,272}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{221,272}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,276}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{221,276}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,274},{217,274}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,274}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{217,274}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,274}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,274},{217,274}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,274}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{217,274}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,274}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,272},{217,272}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,272}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,0},{217,268}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,268}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{217,272}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,272}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,270},{217,270}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,270}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1531,0},{217,266}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,266}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,268},{217,266}}</string>
                <key>offset</key>
                <string>{10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{217,266}}</string>
                <key>sourceSize</key>
                <string>{277,312}</string>
            </dict>
            <key>caocao_skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{26,28}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,40},{26,28}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,235},{54,46}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{54,46}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,0},{74,84}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{74,84}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{86,86}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,57},{86,86}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,86},{182,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,178}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,266},{182,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,178}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,276},{182,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,178}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
            <key>caocao_skill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{182,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,178}}</string>
                <key>sourceSize</key>
                <string>{182,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1977,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0daacb99238f936fa9a8aef93499a931:6438088f0c98f69097302f10deed2586:5afdd5c99276ce6504d2e9f60ffc2c24$</string>
            <key>textureFileName</key>
            <string>caocao_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
