<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caopi_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,544},{136,60}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>caopi_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,402},{142,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>caopi_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{144,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,60}}</string>
                <key>sourceSize</key>
                <string>{144,60}</string>
            </dict>
            <key>caopi_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{123,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,109}}</string>
                <key>sourceSize</key>
                <string>{123,109}</string>
            </dict>
            <key>caopi_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{105,103}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{105,103}}</string>
                <key>sourceSize</key>
                <string>{123,109}</string>
            </dict>
            <key>caopi_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{103,99}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{103,99}}</string>
                <key>sourceSize</key>
                <string>{123,109}</string>
            </dict>
            <key>caopi_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,109},{109,91}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{109,91}}</string>
                <key>sourceSize</key>
                <string>{123,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caopi_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{123,680}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5e586329af7e4afbd45bf4230d2ca87:d75d99589a50d1bb1577d11a60060e5f:789fc1d9bdf429e04f71a54af23602ea$</string>
            <key>textureFileName</key>
            <string>caopi_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
