<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caopi_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,381},{353,291}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{353,291}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{335,347}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{335,347}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{381,295}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,57},{381,295}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,369},{369,353}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{369,353}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{369,369}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{369,369}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,347},{377,301}}</string>
                <key>offset</key>
                <string>{-8,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{377,301}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{371,235}}</string>
                <key>offset</key>
                <string>{-10,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,145},{371,235}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
            <key>caopi_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,672},{345,247}}</string>
                <key>offset</key>
                <string>{15,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,144},{345,247}}</string>
                <key>sourceSize</key>
                <string>{393,391}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caopi_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1023,959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e474a6843e5f899ce4f073d8123e5f0a:3e9a47c68756c3eac1ac8725b66f0c77:913f1f303fbaba6d43e24b9672c8bbc7$</string>
            <key>textureFileName</key>
            <string>caopi_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
