<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{117,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,147}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>caoren_attack3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{117,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,147}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>caoren_attack3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{117,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>caoren_attack3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{81,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{81,81}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{117,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0808dc76d6c1a1ca76c1b3d422045c3:29fea605411983f36ba938d5a69e00d3:748e556cfdae03ffc812a632b5e3d53d$</string>
            <key>textureFileName</key>
            <string>caoren_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
