<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,0},{117,176}}</string>
                <key>offset</key>
                <string>{68,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,0},{117,176}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,135},{85,176}}</string>
                <key>offset</key>
                <string>{94,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,0},{85,176}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,0},{95,172}}</string>
                <key>offset</key>
                <string>{101,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,4},{95,172}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{289,224}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{289,224}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{309,188}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{309,188}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{309,180}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{309,180}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,0},{281,180}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,65},{281,180}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,0},{223,180}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,65},{223,180}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,95},{113,120}}</string>
                <key>offset</key>
                <string>{52,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,60},{113,120}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,0},{135,126}}</string>
                <key>offset</key>
                <string>{46,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,53},{135,126}}</string>
                <key>sourceSize</key>
                <string>{309,246}</string>
            </dict>
            <key>caoren_attack4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,0},{104,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>caoren_attack4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,95},{110,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,118}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>caoren_attack4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,0},{100,86}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{100,86}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
            <key>caoren_attack4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,188},{16,20}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{16,20}}</string>
                <key>sourceSize</key>
                <string>{110,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1988,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f9377746928b042d6f7c17699bcf9b2:b940483109c1f027027afb0cb5336e02:b743c19ade0ee6fca82be21afa4f6211$</string>
            <key>textureFileName</key>
            <string>caoren_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
