<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{140,102}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{140,102}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
            <key>caoren_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{142,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{142,104}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
            <key>caoren_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{148,108}}</string>
                <key>sourceSize</key>
                <string>{152,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{430,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b9bd22d4e9969a149fd86e9f6a83262:bc0e6acc8fee3a52f27f559a20c996bf:f5dc2ae54ada8d11874cbcd357ef0e83$</string>
            <key>textureFileName</key>
            <string>caoren_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
