<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{47,49}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{47,49}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>caoren_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{57,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{57,67}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>caoren_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{57,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>caoren_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{57,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>caoren_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,69}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{57,321}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7596e986de93b58e69d31b487c444681:f802f5c9eea4a5699df31e93c7047868:5226d0dcb672bdc154a387c4a31b2399$</string>
            <key>textureFileName</key>
            <string>caoren_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
