<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengong_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,342},{215,163}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{215,163}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
            <key>chengong_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{251,159}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{251,159}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
            <key>chengong_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,177},{247,169}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{247,169}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
            <key>chengong_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{261,177}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,29},{261,177}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
            <key>chengong_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,0},{247,181}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{247,181}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
            <key>chengong_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,181},{239,161}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{239,161}}</string>
                <key>sourceSize</key>
                <string>{301,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengong_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{508,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b50abb4d6075d0671201c01281104dd:2e7205592dd5224002fbbb75af042315:615e99c7c62b6c06733add09032f3c12$</string>
            <key>textureFileName</key>
            <string>chengong_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
