<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengpu_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{130,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,118}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
            <key>chengpu_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{102,96}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{102,96}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
            <key>chengpu_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{114,102}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{114,102}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
            <key>chengpu_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,106}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{120,106}}</string>
                <key>sourceSize</key>
                <string>{130,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengpu_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{120,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbfb475155b80c618c0e4d0af8de9065:eb315033d443d8e45957b6d6ebb88891:7e243c7f7096ada0ff3d77cb79349eb0$</string>
            <key>textureFileName</key>
            <string>chengpu_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
