<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>curve_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{112,36}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{112,36}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>curve_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{110,34}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{110,34}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>curve_arrow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,40}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{116,40}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>curve_arrow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{112,40}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{112,40}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>curve_arrow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{106,38}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{106,38}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>curve_arrow.pvr.ccz</string>
            <key>size</key>
            <string>{116,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e2c5f95c7d6a1503efcd5f964225264:9b382cafdd5e8792696c7b1996bd672a:8959612b2590d2b00c9899796e8370fb$</string>
            <key>textureFileName</key>
            <string>curve_arrow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
