<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daqiao_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{124,50}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,74},{124,50}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>daqiao_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,388},{102,72}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,60},{102,72}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daqiao_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,108}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,41},{126,108}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daqiao_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,158},{118,116}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{118,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>daqiao_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{118,114}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,31},{118,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daqiao_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{126,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f699f582f044296b728eecff7a46c68:a7329e98e645f89d6a79c1527dc9beef:30aa5ff7f9fdfbf0ac15b7396270fb7d$</string>
            <key>textureFileName</key>
            <string>daqiao_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
