<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daqiao_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{176,257}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,3},{176,257}}</string>
                <key>sourceSize</key>
                <string>{252,265}</string>
            </dict>
            <key>daqiao_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,265},{218,243}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{218,243}}</string>
                <key>sourceSize</key>
                <string>{252,265}</string>
            </dict>
            <key>daqiao_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,265}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{236,265}}</string>
                <key>sourceSize</key>
                <string>{252,265}</string>
            </dict>
            <key>daqiao_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{178,191}}</string>
                <key>offset</key>
                <string>{-37,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{178,191}}</string>
                <key>sourceSize</key>
                <string>{252,265}</string>
            </dict>
            <key>daqiao_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1167},{97,95}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{97,95}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>daqiao_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1056},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>daqiao_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,943},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>daqiao_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,943},{117,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
            <key>daqiao_attack3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1056},{115,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{115,111}}</string>
                <key>sourceSize</key>
                <string>{117,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>daqiao_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{236,1262}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dc0649d4c6d13c18604da36227beaf6:0b73adb8e8d05985c51a6d3fe5aec20f:28b714f1cc1a8ea2e1be0d66493fd21e$</string>
            <key>textureFileName</key>
            <string>daqiao_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
