<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debuff_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,0},{156,204}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,65},{156,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>debuff_purple_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,206}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,63},{202,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>debuff_purple_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{200,206}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{200,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>debuff_purple_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{196,206}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,63},{196,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>debuff_purple_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{192,206}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{192,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_purple.pvr.ccz</string>
            <key>size</key>
            <string>{946,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63241a7d8b6ea57f9f8591f432492431:927a0886f3efb2910842f4c248a5e56f:aab28281a556e6be1f9c661d6451941d$</string>
            <key>textureFileName</key>
            <string>debuff_purple.pvr.ccz</string>
        </dict>
    </dict>
</plist>
