<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debuff_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{126,113}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{126,113}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{130,119}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,25},{130,119}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,0},{138,115}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{138,115}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{144,119}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{144,119}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,121}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{148,121}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{146,115}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{146,115}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{142,115}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{142,115}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_atk_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,0},{124,109}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{124,109}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_atk.pvr.ccz</string>
            <key>size</key>
            <string>{1098,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b5af5a7163b7602c62f8c7bc2f8be49:84f3d03487d9659cc06708c0c89dc66e:5e65d9d465c71fe7e5c542451a43898c$</string>
            <key>textureFileName</key>
            <string>debuff_atk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
