<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debuff_frozen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{248,236}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>debuff_frozen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{244,224}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,224}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>debuff_frozen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{250,226}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,226}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>debuff_frozen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{250,230}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,230}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_frozen.pvr.ccz</string>
            <key>size</key>
            <string>{250,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02cc200f2b0bc7e6337e4dad6b2faca5:26d65e2869d51a10be8e6977531320db:a4566b13e54fbb40b707cee975ad5473$</string>
            <key>textureFileName</key>
            <string>debuff_frozen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
