<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debuff_yunxuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{116,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{116,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>debuff_yunxuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{120,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>debuff_yunxuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{118,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{118,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>debuff_yunxuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,0},{122,58}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{122,58}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>debuff_yunxuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,0},{118,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
            <key>debuff_yunxuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{124,60}}</string>
                <key>sourceSize</key>
                <string>{126,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_yunxuan.pvr.ccz</string>
            <key>size</key>
            <string>{718,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee72bb3e95a5d7da743fbca67a2abb2f:7292537fc6173e1b44f573056c32fbce:dd07c44ab9c70f176b286c4076b90a8f$</string>
            <key>textureFileName</key>
            <string>debuff_yunxuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
