<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debuff_hp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{126,111}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{126,111}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{120,117}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{120,117}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{128,113}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{128,113}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{136,117}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{136,117}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,119}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{142,119}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{146,115}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{146,115}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{146,115}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{146,115}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>debuff_hp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{142,117}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{142,117}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>debuff_hp.pvr.ccz</string>
            <key>size</key>
            <string>{1086,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da08eeb28d3bd0ad956c66556612652:2716b13d613416f05c912b8d38b9bcf0:56f423491793b13baf9616eeac2448c7$</string>
            <key>textureFileName</key>
            <string>debuff_hp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
