<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{174,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,48},{174,90}}</string>
                <key>sourceSize</key>
                <string>{288,182}</string>
            </dict>
            <key>diaochan_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{100,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>diaochan_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>diaochan_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{116,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{116,128}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>diaochan_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{120,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{120,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaochan_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{650,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:456e7111da92ab7519f35097ffec4d85:1576cf4e96185fd2e13cad456e83a7c5:06ea4b66cc3e5827abb38b20cd365dc4$</string>
            <key>textureFileName</key>
            <string>diaochan_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
