<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{91,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,51}}</string>
                <key>sourceSize</key>
                <string>{91,51}</string>
            </dict>
            <key>diaochan_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{94,98}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{94,98}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>diaochan_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{100,106}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{100,106}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>diaochan_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{102,112}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{102,112}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
            <key>diaochan_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,116}}</string>
                <key>sourceSize</key>
                <string>{104,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaochan_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{104,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9df47d8bcec6c401f7617e07d270108e:11e286fa3ed40909de73a5cc4d75e375:58b4e82548dcb6bb1a8311b17ed70d8c$</string>
            <key>textureFileName</key>
            <string>diaochan_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
