<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,290},{206,82}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,43},{206,82}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{290,114}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{290,114}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,676},{354,150}}</string>
                <key>offset</key>
                <string>{-17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{354,150}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{384,168}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{384,168}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,170},{384,170}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{384,170}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,170}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{388,170}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{384,168}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{384,168}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{370,170}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{370,170}}</string>
                <key>sourceSize</key>
                <string>{400,200}</string>
            </dict>
            <key>diaochan_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1030},{184,128}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{184,128}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>diaochan_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,676},{190,130}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,33},{190,130}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>diaochan_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,952},{200,148}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{200,148}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
            <key>diaochan_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,806},{184,146}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{184,146}}</string>
                <key>sourceSize</key>
                <string>{200,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaochan_skill.pvr.ccz</string>
            <key>size</key>
            <string>{510,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93cc39d109d706ed0f0e07d850f98667:9bd984ba68c63c35cee9f690b3cb2ae2:1eb98282b5da42009f1b40f79e0666bd$</string>
            <key>textureFileName</key>
            <string>diaochan_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
