<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,0},{167,130}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{167,130}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{143,142}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,142}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{149,148}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,148}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,148}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,148}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{153,144}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{153,144}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,0},{139,134}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{139,134}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
            <key>diaochan_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{51,50}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{51,50}}</string>
                <key>sourceSize</key>
                <string>{175,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaochan_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{946,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2456848d6af6e00b06996b234176b2ef:ef91d6e7b0e95736e474d163bc913cd0:941d2bc6b1baabd968d9e22d19a46998$</string>
            <key>textureFileName</key>
            <string>diaochan_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
