<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1676},{164,72}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,100},{164,72}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{184,76}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,91},{184,76}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{194,82}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{194,82}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{178,134}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,59},{178,134}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{184,134}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,59},{184,134}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{204,210}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,29},{204,210}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{204,192}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{204,192}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{210,192}}</string>
                <key>offset</key>
                <string>{-24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{210,192}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,210}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{222,210}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1456},{220,164}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{220,164}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
            <key>dongzhuo_attack2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1236},{220,164}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{220,164}}</string>
                <key>sourceSize</key>
                <string>{302,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongzhuo_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{210,1748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7d57124c947bd63a54ea01fc7dba5bb:a5c219b4e15a4dc2fad8f21f23e916b8:84c8b23c0a2cbc5e4fc1d8f5aa696ab7$</string>
            <key>textureFileName</key>
            <string>dongzhuo_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
