<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,0},{279,88}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{279,88}}</string>
                <key>sourceSize</key>
                <string>{331,144}</string>
            </dict>
            <key>dongzhuo_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{279,88}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{279,88}}</string>
                <key>sourceSize</key>
                <string>{331,144}</string>
            </dict>
            <key>dongzhuo_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,0},{103,94}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{103,94}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>dongzhuo_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,102}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{127,102}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>dongzhuo_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{121,102}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{121,102}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
            <key>dongzhuo_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{107,96}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{107,96}}</string>
                <key>sourceSize</key>
                <string>{183,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongzhuo_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{1016,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e0627a4e5bd690051177364a0e654d:29d8cafff6d65e21d4299350cba6e25d:d9071d377feec087657fffbec783c790$</string>
            <key>textureFileName</key>
            <string>dongzhuo_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
