<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{270,149}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{270,149}}</string>
                <key>sourceSize</key>
                <string>{290,161}</string>
            </dict>
            <key>dongzhuo_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{238,159}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,159}}</string>
                <key>sourceSize</key>
                <string>{290,161}</string>
            </dict>
            <key>dongzhuo_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{232,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,4},{232,157}}</string>
                <key>sourceSize</key>
                <string>{290,161}</string>
            </dict>
            <key>dongzhuo_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,159}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,1},{242,159}}</string>
                <key>sourceSize</key>
                <string>{290,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongzhuo_skill.pvr.ccz</string>
            <key>size</key>
            <string>{982,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46932ea9293e0d16c99fee35af72835d:1c879f984243db36c97f3212c32897db:7e8c1959b93e2a3073c646d4af567e26$</string>
            <key>textureFileName</key>
            <string>dongzhuo_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
