<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,455},{193,202}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{193,202}}</string>
                <key>sourceSize</key>
                <string>{213,298}</string>
            </dict>
            <key>fall_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{199,252}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{199,252}}</string>
                <key>sourceSize</key>
                <string>{213,298}</string>
            </dict>
            <key>fall_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,858},{189,206}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,92},{189,206}}</string>
                <key>sourceSize</key>
                <string>{213,298}</string>
            </dict>
            <key>fall_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1267},{169,172}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{169,172}}</string>
                <key>sourceSize</key>
                <string>{217,194}</string>
            </dict>
            <key>fall_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1064},{203,180}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{203,180}}</string>
                <key>sourceSize</key>
                <string>{217,194}</string>
            </dict>
            <key>fall_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{203,194}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{203,194}}</string>
                <key>sourceSize</key>
                <string>{217,194}</string>
            </dict>
            <key>fall_stone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,657},{201,190}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{201,190}}</string>
                <key>sourceSize</key>
                <string>{217,194}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fall_stone.pvr.ccz</string>
            <key>size</key>
            <string>{199,1436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b32bf9663ad189665e71c95e7242d8:e7b275c41c9b365abaa900457297d0af:7ece8eac65897d85f398474054dcbb89$</string>
            <key>textureFileName</key>
            <string>fall_stone.pvr.ccz</string>
        </dict>
    </dict>
</plist>
