<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,278}}</string>
                <key>offset</key>
                <string>{27,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,51},{226,278}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,0},{194,230}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,88},{194,230}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,0},{162,166}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,140},{162,166}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,0},{166,252}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,71},{166,252}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{202,270}}</string>
                <key>offset</key>
                <string>{-35,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,104},{202,270}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,0},{194,244}}</string>
                <key>offset</key>
                <string>{-44,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,131},{194,244}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{190,210}}</string>
                <key>offset</key>
                <string>{-50,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,166},{190,210}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{198,176}}</string>
                <key>offset</key>
                <string>{-51,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,200},{198,176}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_arrow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,0},{198,174}}</string>
                <key>offset</key>
                <string>{-54,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,204},{198,174}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fall_arrow.pvr.ccz</string>
            <key>size</key>
            <string>{1976,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e98386784291aeff1f00ff9826df37a1:f1c37b8689afe5c129dd6f69a196441c:fc890c4bd3e97bfd29d841472cdffef0$</string>
            <key>textureFileName</key>
            <string>fall_arrow.pvr.ccz</string>
        </dict>
    </dict>
</plist>
