<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_thunder_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{164,458}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{164,458}}</string>
                <key>sourceSize</key>
                <string>{176,466}</string>
            </dict>
            <key>fall_thunder_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,454}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,454}}</string>
                <key>sourceSize</key>
                <string>{176,466}</string>
            </dict>
            <key>fall_thunder_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,326},{122,428}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{122,428}}</string>
                <key>sourceSize</key>
                <string>{176,466}</string>
            </dict>
            <key>fall_thunder_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,164},{162,428}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{162,428}}</string>
                <key>sourceSize</key>
                <string>{176,466}</string>
            </dict>
            <key>fall_thunder_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,0},{218,201}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{218,201}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>fall_thunder_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,201},{212,217}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{212,217}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>fall_thunder_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{196,165}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{196,165}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
            <key>fall_thunder_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,201},{190,183}}</string>
                <key>offset</key>
                <string>{12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{190,183}}</string>
                <key>sourceSize</key>
                <string>{222,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fall_thunder.pvr.ccz</string>
            <key>size</key>
            <string>{1017,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b8bdf6e3dc68fd9a52180c565d7de0:2fa02c4468b1b81df5256a025d03b86a:06dc0c1e38cbf0f62b352a08972b7bdd$</string>
            <key>textureFileName</key>
            <string>fall_thunder.pvr.ccz</string>
        </dict>
    </dict>
</plist>
