<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fall_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,306}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,51},{256,306}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{218,280}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{218,280}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{182,232}}</string>
                <key>offset</key>
                <string>{-26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,112},{182,232}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{176,260}}</string>
                <key>offset</key>
                <string>{-29,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,108},{176,260}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,592},{178,220}}</string>
                <key>offset</key>
                <string>{-36,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,148},{178,220}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,414},{178,180}}</string>
                <key>offset</key>
                <string>{-37,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,187},{178,180}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,232},{182,182}}</string>
                <key>offset</key>
                <string>{-38,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,185},{182,182}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,770},{168,172}}</string>
                <key>offset</key>
                <string>{-31,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,196},{168,172}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>fall_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,770},{166,170}}</string>
                <key>offset</key>
                <string>{-30,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,196},{166,170}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fall_fire.pvr.ccz</string>
            <key>size</key>
            <string>{488,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c5068a25b996baacabdef94d32298c:cc08c30d769c0d761118a80f64b0fc49:a74e4b9bf755cf6bb2b6723aea47a527$</string>
            <key>textureFileName</key>
            <string>fall_fire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
