<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganfuren_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{168,37}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{168,37}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>ganfuren_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{168,33}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{168,33}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>ganfuren_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,37},{168,29}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{168,29}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>ganfuren_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,33},{168,31}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{168,31}}</string>
                <key>sourceSize</key>
                <string>{184,37}</string>
            </dict>
            <key>ganfuren_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ganfuren_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,0},{112,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,106}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>ganfuren_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{106,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{106,102}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganfuren_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{656,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7011dce00a6b6b46132a1bf1ddd98d5f:d30c80fd5e391c3c6883a67a263b4c6d:00133fcc6a12beb053a381bb4c916dfe$</string>
            <key>textureFileName</key>
            <string>ganfuren_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
