<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganfuren_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>ganfuren_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{116,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{116,33}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>ganfuren_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{116,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,39}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>ganfuren_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,43}</string>
            </dict>
            <key>ganfuren_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{78,78}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{78,78}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>ganfuren_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
            <key>ganfuren_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{114,88}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{114,88}}</string>
                <key>sourceSize</key>
                <string>{116,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganfuren_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{116,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b59262598c920e9ba3cc21ebc03df48:d2b4f552c0a9255210cce649dacf619e:0a2363961fe1c217aaed5e251a4f620a$</string>
            <key>textureFileName</key>
            <string>ganfuren_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
