<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganfuren_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{147,204}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{147,204}}</string>
                <key>sourceSize</key>
                <string>{181,222}</string>
            </dict>
            <key>ganfuren_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{157,176}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{157,176}}</string>
                <key>sourceSize</key>
                <string>{181,222}</string>
            </dict>
            <key>ganfuren_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{167,192}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{167,192}}</string>
                <key>sourceSize</key>
                <string>{181,222}</string>
            </dict>
            <key>ganfuren_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,0},{157,162}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{157,162}}</string>
                <key>sourceSize</key>
                <string>{181,222}</string>
            </dict>
            <key>ganfuren_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,0},{163,158}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,34},{163,158}}</string>
                <key>sourceSize</key>
                <string>{181,222}</string>
            </dict>
            <key>ganfuren_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,176},{89,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{89,68}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>ganfuren_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,163},{93,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>ganfuren_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,162},{89,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
            <key>ganfuren_attack2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,163},{89,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,74}}</string>
                <key>sourceSize</key>
                <string>{93,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganfuren_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{786,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7613595916818cfcd3d0c35163c5afc9:72759c2b65b0620d890095f5e651ffc8:26066604fb27a8bff32f7a224480a234$</string>
            <key>textureFileName</key>
            <string>ganfuren_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
