<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,267},{237,263}}</string>
                <key>offset</key>
                <string>{149,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,1},{237,263}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
            <key>ganning_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,0},{303,261}}</string>
                <key>offset</key>
                <string>{102,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,4},{303,261}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
            <key>ganning_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{415,275}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{415,275}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
            <key>ganning_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,0},{525,267}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{525,267}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
            <key>ganning_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,249},{527,257}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{527,257}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
            <key>ganning_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,0},{529,249}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{529,249}}</string>
                <key>sourceSize</key>
                <string>{553,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganning_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1590,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ed5ee16a1a07c055e3cc7c03d4632e:d6ee0ed5ed3d07af013ddd6ed8df8249:09045a6d087d54c8b6d50241fd5aa583$</string>
            <key>textureFileName</key>
            <string>ganning_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
