<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1689,0},{226,179}}</string>
                <key>offset</key>
                <string>{3,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,79},{226,179}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{264,257}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{264,257}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,0},{268,257}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{268,257}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,0},{284,261}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{284,261}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,0},{292,261}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{292,261}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,0},{286,261}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{286,261}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
            <key>ganning_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,265}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{302,265}}</string>
                <key>sourceSize</key>
                <string>{310,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganning_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1868,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0373aedf50ef65baa2fee7c83b52f5d:ded1b1471b105009102ffe14608b039d:4d34ec871537bf079ee7d878d746d6a2$</string>
            <key>textureFileName</key>
            <string>ganning_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
