<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{117,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,147}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>ganning_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{117,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,147}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>ganning_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{117,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
            <key>ganning_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{81,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,34},{81,81}}</string>
                <key>sourceSize</key>
                <string>{117,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganning_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{117,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ba94d43ae344c389f0c7e243408b9aa:29fea605411983f36ba938d5a69e00d3:4f44d18f471087aec7d3c89ad08e0eee$</string>
            <key>textureFileName</key>
            <string>ganning_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
