<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoshun_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,328},{34,232}}</string>
                <key>offset</key>
                <string>{11,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,0},{34,232}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{374,326}}</string>
                <key>offset</key>
                <string>{9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,326}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{374,350}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,350}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{374,348}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,348}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,350}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,350}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,348},{374,338}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,338}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,686},{374,328}}</string>
                <key>offset</key>
                <string>{9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{374,328}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
            <key>gaoshun_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{240,328}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{240,328}}</string>
                <key>sourceSize</key>
                <string>{458,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaoshun_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{988,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4171e87cbec708861e08d7f9fccb616d:0b703672e7bda686f2d41952184a02c7:d8ce45e31b74f36d824de72d409c38bd$</string>
            <key>textureFileName</key>
            <string>gaoshun_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
