<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoshun_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,844},{178,128}}</string>
                <key>offset</key>
                <string>{59,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,39},{178,128}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,844},{144,136}}</string>
                <key>offset</key>
                <string>{35,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,35},{144,136}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{404,182}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{404,182}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{306,190}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{306,190}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,182},{224,200}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,22},{224,200}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,406},{238,206}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,18},{238,206}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{258,216}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,10},{258,216}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{264,220}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,5},{264,220}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{266,216}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,17},{266,216}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
            <key>gaoshun_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,612},{232,232}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,12},{232,232}}</string>
                <key>sourceSize</key>
                <string>{414,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaoshun_skill.pvr.ccz</string>
            <key>size</key>
            <string>{506,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365d4a671317d4b324548813628da562:528275ccdf72fd0d26c0de66a950a98e:8d7b54e340375da3ef866871f8b5c3d9$</string>
            <key>textureFileName</key>
            <string>gaoshun_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
