<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoshun_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,177}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{182,177}}</string>
                <key>sourceSize</key>
                <string>{238,239}</string>
            </dict>
            <key>gaoshun_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{166,157}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{166,157}}</string>
                <key>sourceSize</key>
                <string>{238,239}</string>
            </dict>
            <key>gaoshun_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,339},{166,141}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,47},{166,141}}</string>
                <key>sourceSize</key>
                <string>{238,239}</string>
            </dict>
            <key>gaoshun_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{160,135}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,50},{160,135}}</string>
                <key>sourceSize</key>
                <string>{238,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gaoshun_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{177,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47b3fb76d18b052d5b1c3ab4a5035275:62f0ccd3a2f03ffa11b981583e9e0724:def8bba45240ef87a423e3b560becb6d$</string>
            <key>textureFileName</key>
            <string>gaoshun_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
