<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongsunzan_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{166,179}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,65},{166,179}}</string>
                <key>sourceSize</key>
                <string>{454,303}</string>
            </dict>
            <key>gongsunzan_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,219}}</string>
                <key>offset</key>
                <string>{26,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,16},{226,219}}</string>
                <key>sourceSize</key>
                <string>{454,303}</string>
            </dict>
            <key>gongsunzan_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,0},{318,165}}</string>
                <key>offset</key>
                <string>{21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,71},{318,165}}</string>
                <key>sourceSize</key>
                <string>{454,303}</string>
            </dict>
            <key>gongsunzan_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,0},{370,167}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,69},{370,167}}</string>
                <key>sourceSize</key>
                <string>{454,303}</string>
            </dict>
            <key>gongsunzan_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{386,167}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,68},{386,167}}</string>
                <key>sourceSize</key>
                <string>{454,303}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongsunzan_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1466,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0107b43230ebc893f40cb2d50b1a374f:e364f283a6f4d34349cb2fdc5bda7e3d:e3e7a34479dfed8dc71a75551825f9d7$</string>
            <key>textureFileName</key>
            <string>gongsunzan_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
