<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,238},{225,196}}</string>
                <key>offset</key>
                <string>{-21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,118},{225,196}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,226},{293,252}}</string>
                <key>offset</key>
                <string>{-30,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{293,252}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{395,278}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{395,278}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,0},{399,226}}</string>
                <key>offset</key>
                <string>{29,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{399,226}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,238},{287,250}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,20},{287,250}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{351,238}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,18},{351,238}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
            <key>guanyu_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{299,222}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,29},{299,222}}</string>
                <key>sourceSize</key>
                <string>{487,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1171,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c0f127f24b847c5bb7179389effb1ce:3431f64c37ae33027bfa172b0acc326c:facf2b570109224bdfed381d58de902b$</string>
            <key>textureFileName</key>
            <string>guanyu_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
