<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,0},{536,252}}</string>
                <key>offset</key>
                <string>{46,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,209},{536,252}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,384},{548,282}}</string>
                <key>offset</key>
                <string>{14,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,173},{548,282}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,252},{526,316}}</string>
                <key>offset</key>
                <string>{11,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,140},{526,316}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,968},{490,318}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,121},{490,318}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,252},{488,302}}</string>
                <key>offset</key>
                <string>{-5,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,135},{488,302}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,976},{454,280}}</string>
                <key>offset</key>
                <string>{-21,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,129},{454,280}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,968},{484,272}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,132},{484,272}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,0},{504,186}}</string>
                <key>offset</key>
                <string>{24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,135},{504,186}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,932},{546,220}}</string>
                <key>offset</key>
                <string>{38,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,100},{546,220}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1374},{450,288}}</string>
                <key>offset</key>
                <string>{73,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,17},{450,288}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,554},{422,292}}</string>
                <key>offset</key>
                <string>{90,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,9},{422,292}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,568},{500,320}}</string>
                <key>offset</key>
                <string>{41,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,21},{500,320}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{600,364}}</string>
                <key>offset</key>
                <string>{-4,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{600,364}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{652,384}}</string>
                <key>offset</key>
                <string>{-42,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{652,384}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{630,342}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{630,342}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,630},{570,338}}</string>
                <key>offset</key>
                <string>{-52,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,38},{570,338}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,984},{562,352}}</string>
                <key>offset</key>
                <string>{-55,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{562,352}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,1068},{480,306}}</string>
                <key>offset</key>
                <string>{-111,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,68},{480,306}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1452},{268,234}}</string>
                <key>offset</key>
                <string>{-218,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,138},{268,234}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,1430},{416,226}}</string>
                <key>offset</key>
                <string>{-144,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,81},{416,226}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,554},{408,162}}</string>
                <key>offset</key>
                <string>{-116,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,99},{408,162}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1478},{398,160}}</string>
                <key>offset</key>
                <string>{-81,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,100},{398,160}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,962},{366,112}}</string>
                <key>offset</key>
                <string>{-65,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,122},{366,112}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1458},{160,88}}</string>
                <key>offset</key>
                <string>{-33,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,117},{160,88}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,976},{84,68}}</string>
                <key>offset</key>
                <string>{-6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,136},{84,68}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
            <key>guanyu_skill_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1328},{82,70}}</string>
                <key>offset</key>
                <string>{47,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,152},{82,70}}</string>
                <key>sourceSize</key>
                <string>{736,474}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu_skill.pvr.ccz</string>
            <key>size</key>
            <string>{2046,1686}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a134ef91299dff7d9e3a34b067aa01:d8a12dd8051de3cb46acc0e9b4305d79:5c672cdce517ee3cec501d1162730834$</string>
            <key>textureFileName</key>
            <string>guanyu_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
