<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,523},{175,202}}</string>
                <key>offset</key>
                <string>{-67,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,94},{175,202}}</string>
                <key>sourceSize</key>
                <string>{475,296}</string>
            </dict>
            <key>guanyu_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,264},{259,250}}</string>
                <key>offset</key>
                <string>{-52,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,39},{259,250}}</string>
                <key>sourceSize</key>
                <string>{475,296}</string>
            </dict>
            <key>guanyu_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{395,264}}</string>
                <key>offset</key>
                <string>{-32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{395,264}}</string>
                <key>sourceSize</key>
                <string>{475,296}</string>
            </dict>
            <key>guanyu_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{349,260}}</string>
                <key>offset</key>
                <string>{-57,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{349,260}}</string>
                <key>sourceSize</key>
                <string>{475,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{510,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82abb57aa5df31f068a78d0e074038fb:1b6a6d6c5c3f3736dee50d38eb4f19f1:61a26a92c9b48cabc53fea3bceb9c3d9$</string>
            <key>textureFileName</key>
            <string>guanyu_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
