<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{259,217}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{259,217}}</string>
                <key>sourceSize</key>
                <string>{323,243}</string>
            </dict>
            <key>guanyu_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{323,239}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,239}}</string>
                <key>sourceSize</key>
                <string>{323,243}</string>
            </dict>
            <key>guanyu_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,0},{295,223}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{295,223}}</string>
                <key>sourceSize</key>
                <string>{323,243}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{877,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad666deb23c34477a83f439e805df3da:c8223bc3d4c0994eeeaa07ebe220bc5e:fdf85ef0332f0312277d3160a96ad2fe$</string>
            <key>textureFileName</key>
            <string>guanyu_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
