<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guojia_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,0},{137,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>guojia_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{137,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>guojia_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>guojia_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{135,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{135,64}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>guojia_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,0},{135,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{135,64}}</string>
                <key>sourceSize</key>
                <string>{137,68}</string>
            </dict>
            <key>guojia_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{87,66}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{87,66}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>guojia_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{101,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{101,64}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>guojia_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{99,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{99,68}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>guojia_attack1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,72}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>guojia_attack1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{101,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{101,72}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guojia_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{1021,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eeb37ecc0ef574248fd1572acbd5b05:ea587310edcab22af3f68797a5d1e9ab:6fbcd6f6e17b783a0dc13043f07ff6ba$</string>
            <key>textureFileName</key>
            <string>guojia_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
