<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guonvwang_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1846},{156,105}}</string>
                <key>offset</key>
                <string>{88,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,63},{156,105}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1620},{226,145}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,42},{226,145}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,625},{492,161}}</string>
                <key>offset</key>
                <string>{40,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,32},{492,161}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1117},{448,175}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,12},{448,175}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,625},{438,161}}</string>
                <key>offset</key>
                <string>{-54,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{438,161}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{438,213}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{438,213}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1471},{434,149}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,74},{434,149}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,213},{428,205}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,44},{428,205}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{422,207}}</string>
                <key>offset</key>
                <string>{-42,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{422,207}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,625},{418,135}}</string>
                <key>offset</key>
                <string>{-77,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{418,135}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1620},{354,161}}</string>
                <key>offset</key>
                <string>{48,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,15},{354,161}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1292},{374,179}}</string>
                <key>offset</key>
                <string>{-41,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,15},{374,179}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
            <key>guonvwang_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1620},{364,157}}</string>
                <key>offset</key>
                <string>{-76,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,48},{364,157}}</string>
                <key>sourceSize</key>
                <string>{572,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guonvwang_skill.pvr.ccz</string>
            <key>size</key>
            <string>{466,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6581d95c12f650482adc87b03845ac1e:3f46785777e44bdd96199f9a21c80898:fcd2b5935a1b4f6ecf43ac7ec8a8449a$</string>
            <key>textureFileName</key>
            <string>guonvwang_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
