<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guonvwang_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,0},{150,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,32}}</string>
                <key>sourceSize</key>
                <string>{160,40}</string>
            </dict>
            <key>guonvwang_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,0},{139,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{139,102}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
            <key>guonvwang_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,32},{131,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{131,106}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
            <key>guonvwang_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,0},{137,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{137,120}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
            <key>guonvwang_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{137,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{137,142}}</string>
                <key>sourceSize</key>
                <string>{139,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guonvwang_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{509,142}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9fedce7114e16ae0a1104a98cde49fe:1a9cd9f22db19d2210c926042ff99068:bf3c7c6e3739078009b20249c3b17386$</string>
            <key>textureFileName</key>
            <string>guonvwang_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
