<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangyueying_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1214},{107,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1109},{107,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1004},{107,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,899},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,689},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>huangyueying_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,451},{133,113}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{133,113}}</string>
                <key>sourceSize</key>
                <string>{151,121}</string>
            </dict>
            <key>huangyueying_attack1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,302},{149,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{151,121}</string>
            </dict>
            <key>huangyueying_attack1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{151,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,121}}</string>
                <key>sourceSize</key>
                <string>{151,121}</string>
            </dict>
            <key>huangyueying_attack1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{151,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,121}}</string>
                <key>sourceSize</key>
                <string>{151,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangyueying_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{121,1319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb931155da6e8a64f24c7e49451aa08:7115895cdfc0976a55757d4e603f8a7d:2676551c7318214606b927319c55c599$</string>
            <key>textureFileName</key>
            <string>huangyueying_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
