<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangzhong_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{164,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{164,22}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>huangzhong_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{165,130}}</string>
                <key>offset</key>
                <string>{-37,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,101},{165,130}}</string>
                <key>sourceSize</key>
                <string>{239,256}</string>
            </dict>
            <key>huangzhong_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{131,128}}</string>
                <key>offset</key>
                <string>{-39,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,128},{131,128}}</string>
                <key>sourceSize</key>
                <string>{239,256}</string>
            </dict>
            <key>huangzhong_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,165},{129,96}}</string>
                <key>offset</key>
                <string>{-41,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,131},{129,96}}</string>
                <key>sourceSize</key>
                <string>{239,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangzhong_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{130,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b9bc54ff4ca44662cf4823bfc7cc61c:29345d9cb781a5b67e5db1375aefd687:c73e8ea3463c18e8ab6f9b50d0b4565e$</string>
            <key>textureFileName</key>
            <string>huangzhong_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
