<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangyueying_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,131},{124,129}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{124,129}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{134,131}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{134,131}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{128,129}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{128,129}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,129},{126,129}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{126,129}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{132,133}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{132,133}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,0},{128,131}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{128,131}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,128},{126,129}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,5},{126,129}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{148,143}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,143}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,139}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,139}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{150,135}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{150,135}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{122,109}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{122,109}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
            <key>huangyueying_attack4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,135},{112,141}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{112,141}}</string>
                <key>sourceSize</key>
                <string>{154,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangyueying_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{976,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa628d32f0bd336d94efc8f298249e6:6aac6ccc17281ccab296858321f6e101:27c9f73329bddfc295fecf9254129c22$</string>
            <key>textureFileName</key>
            <string>huangyueying_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
