<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangyueying_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,695},{591,252}}</string>
                <key>offset</key>
                <string>{-70,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{591,252}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{723,270}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{723,270}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,542},{703,276}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{703,276}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{687,280}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{687,280}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{729,272}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{729,272}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,0},{695,260}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{695,260}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,0},{689,244}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{689,244}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,670},{697,228}}</string>
                <key>offset</key>
                <string>{15,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{697,228}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,246},{717,216}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,35},{717,216}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,462},{701,208}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,54},{701,208}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,0},{715,246}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,58},{715,246}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
            <key>huangyueying_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,898},{673,216}}</string>
                <key>offset</key>
                <string>{-29,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,81},{673,216}}</string>
                <key>sourceSize</key>
                <string>{731,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangyueying_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1992,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c26593e796a9fac05b1168ade4f5e9ac:9c8fd403f929df779abe3191cc4ed342:61f35c3c1016442314f3506c9e8271d6$</string>
            <key>textureFileName</key>
            <string>huangyueying_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
