<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangzhong_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1039},{25,102}}</string>
                <key>offset</key>
                <string>{-16,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,1},{25,102}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,841},{59,198}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,1},{59,198}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,841},{151,314}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{151,314}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{205,220}}</string>
                <key>offset</key>
                <string>{8,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,93},{205,220}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{223,146}}</string>
                <key>offset</key>
                <string>{-1,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,165},{223,146}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{225,158}}</string>
                <key>offset</key>
                <string>{0,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{225,158}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{225,164}}</string>
                <key>offset</key>
                <string>{0,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,151},{225,164}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
            <key>huangzhong_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{225,168}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,146},{225,168}}</string>
                <key>sourceSize</key>
                <string>{225,316}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huangzhong_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{225,1155}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e508d0f05f264d9ffd977fccfdbeec0d:328a4da9251be63b66d1029ea0077b0b:f2b87bac3cc98c3e9d3e3b173a833aed$</string>
            <key>textureFileName</key>
            <string>huangzhong_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
