<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huatuo_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,0},{204,72}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{204,72}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>huatuo_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,0},{204,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{204,72}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>huatuo_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{204,76}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{204,76}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>huatuo_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{204,74}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{204,74}}</string>
                <key>sourceSize</key>
                <string>{210,100}</string>
            </dict>
            <key>huatuo_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{162,110}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{162,110}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>huatuo_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{154,116}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{154,116}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>huatuo_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{160,124}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{160,124}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>huatuo_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,124}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{160,124}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huatuo_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{1452,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f3ec1c59eb3c329de0b3751c573489e:d3ec9c17d916d62750e4784a819998d6:61f5f607f88e11e8be47bb69a6e0ca78$</string>
            <key>textureFileName</key>
            <string>huatuo_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
