<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaxiong_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,240}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,104},{297,240}}</string>
                <key>sourceSize</key>
                <string>{413,444}</string>
            </dict>
            <key>huaxiong_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,489},{255,214}}</string>
                <key>offset</key>
                <string>{-20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,130},{255,214}}</string>
                <key>sourceSize</key>
                <string>{413,444}</string>
            </dict>
            <key>huaxiong_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{235,192}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,156},{235,192}}</string>
                <key>sourceSize</key>
                <string>{413,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huaxiong_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{240,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7449e3f215a21c2885625e595451c681:548d26a0fabef8b0ad94520dce1d924a:6d42c01dd395b79deaccc313935ca498$</string>
            <key>textureFileName</key>
            <string>huaxiong_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
