<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianke_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,611},{35,246}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{35,246}}</string>
                <key>sourceSize</key>
                <string>{265,448}</string>
            </dict>
            <key>jianke_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{47,346}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{47,346}}</string>
                <key>sourceSize</key>
                <string>{265,448}</string>
            </dict>
            <key>jianke_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,196},{223,158}}</string>
                <key>offset</key>
                <string>{-2,-140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,285},{223,158}}</string>
                <key>sourceSize</key>
                <string>{265,448}</string>
            </dict>
            <key>jianke_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{233,196}}</string>
                <key>offset</key>
                <string>{3,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,247},{233,196}}</string>
                <key>sourceSize</key>
                <string>{265,448}</string>
            </dict>
            <key>jianke_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,419},{181,192}}</string>
                <key>offset</key>
                <string>{-10,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,243},{181,192}}</string>
                <key>sourceSize</key>
                <string>{265,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianke_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{246,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a10dae80e752e2ad093e6df4887d7b:2611044315cd670c7d444c95da5cbfad:db5545b08dd8d9f4f36bf6047a35cf13$</string>
            <key>textureFileName</key>
            <string>jianke_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
