<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jianke_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{140,172}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,172}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>jianke_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{152,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{152,136}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
            <key>jianke_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,150}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{144,150}}</string>
                <key>sourceSize</key>
                <string>{152,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jianke_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{144,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61427901b736192a115d092c5a7e7a0a:45f203f056f21e25c8c3d1441b4f82cb:1b9e2efed5fa9ad5e7a86cc067c6d17f$</string>
            <key>textureFileName</key>
            <string>jianke_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
