<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,743},{173,179}}</string>
                <key>offset</key>
                <string>{52,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,83},{173,179}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,221},{267,179}}</string>
                <key>offset</key>
                <string>{-29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,92},{267,179}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,583},{233,157}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,82},{233,157}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{265,183}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,82},{265,183}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,743},{257,183}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,82},{257,183}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{301,191}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,83},{301,191}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,221}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{301,221}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,522},{239,221}}</string>
                <key>offset</key>
                <string>{-43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{239,221}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
            <key>jiaxu_attack3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,301},{239,221}}</string>
                <key>offset</key>
                <string>{-43,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,53},{239,221}}</string>
                <key>sourceSize</key>
                <string>{399,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{506,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43a39d174c6de87f38bb0cc34b8df79:358e2d33579c4f8c673da9cb4402d3c1:b032de01e8ec25226b69625855b96cd9$</string>
            <key>textureFileName</key>
            <string>jiaxu_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
