<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,328},{549,162}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{549,162}}</string>
                <key>sourceSize</key>
                <string>{613,196}</string>
            </dict>
            <key>jiaxu_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{549,166}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{549,166}}</string>
                <key>sourceSize</key>
                <string>{613,196}</string>
            </dict>
            <key>jiaxu_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{549,164}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{549,164}}</string>
                <key>sourceSize</key>
                <string>{613,196}</string>
            </dict>
            <key>jiaxu_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,164},{549,164}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{549,164}}</string>
                <key>sourceSize</key>
                <string>{613,196}</string>
            </dict>
            <key>jiaxu_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{549,164}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{549,164}}</string>
                <key>sourceSize</key>
                <string>{613,196}</string>
            </dict>
            <key>jiaxu_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,330},{140,140}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,55},{140,140}}</string>
                <key>sourceSize</key>
                <string>{244,234}</string>
            </dict>
            <key>jiaxu_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,330},{140,140}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,55},{140,140}}</string>
                <key>sourceSize</key>
                <string>{244,234}</string>
            </dict>
            <key>jiaxu_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{168,158}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,46},{168,158}}</string>
                <key>sourceSize</key>
                <string>{244,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1098,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c5bfe88f7ec7c39432031170786534c:735cefb024539864cac8d1bc6808d58e:95c226668bc65992444af2cb0bd6f83c$</string>
            <key>textureFileName</key>
            <string>jiaxu_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
