<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{170,145}}</string>
                <key>offset</key>
                <string>{16,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,185},{170,145}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,285},{194,153}}</string>
                <key>offset</key>
                <string>{21,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,171},{194,153}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,333},{194,169}}</string>
                <key>offset</key>
                <string>{16,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,147},{194,169}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,285},{194,183}}</string>
                <key>offset</key>
                <string>{15,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,136},{194,183}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{150,187}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,153},{150,187}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{208,299}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,19},{208,299}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,299},{212,293}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{212,293}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,0},{220,285}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{220,285}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{206,295}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,1},{206,295}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
            <key>jiaxu_attack4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,333}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,9},{190,333}}</string>
                <key>sourceSize</key>
                <string>{304,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{974,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce2322b2bbb42376886d7ae9fe378800:0e4682847437e196485f8585f19ca439:4e93323f58ed016ec7e00ed40aa7f335$</string>
            <key>textureFileName</key>
            <string>jiaxu_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
