<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,226}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{226,226}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{178,178}}</string>
                <key>offset</key>
                <string>{14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,40},{178,178}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{140,192}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,66},{140,192}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,0},{138,182}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,76},{138,182}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,78},{140,188}}</string>
                <key>offset</key>
                <string>{6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,70},{140,188}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{246,128}}</string>
                <key>offset</key>
                <string>{5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,138},{246,128}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,128},{272,92}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,166},{272,92}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
            <key>jiaxu_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{274,78}}</string>
                <key>offset</key>
                <string>{5,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,173},{274,78}}</string>
                <key>sourceSize</key>
                <string>{308,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{1202,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f7ad7292aacfbb879d152dd202595ba:7ca663120f9c76f76ca5c40230b27a61:e662e0dd563d831dfc85ec2bce566222$</string>
            <key>textureFileName</key>
            <string>jiaxu_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
