<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,44},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>jiaxu_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,44},{169,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{169,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>jiaxu_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,0},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>jiaxu_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{171,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,44}}</string>
                <key>sourceSize</key>
                <string>{171,44}</string>
            </dict>
            <key>jiaxu_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{100,64}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,81},{100,64}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
            <key>jiaxu_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{124,104}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,60},{124,104}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
            <key>jiaxu_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{116,114}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,48},{116,114}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
            <key>jiaxu_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,114}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,48},{118,114}}</string>
                <key>sourceSize</key>
                <string>{232,202}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{764,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f76c066c96c84f813c36f5bc9cfc9105:f3ca099b0415ffb0dfbaf9250bb9eaf0:dbe1ccb5ac294435e73125ef8fb79f0e$</string>
            <key>textureFileName</key>
            <string>jiaxu_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
