<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiling_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{203,250}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,19},{203,250}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
            <key>jiling_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{213,234}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{213,234}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
            <key>jiling_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{219,242}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{219,242}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
            <key>jiling_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,0},{227,258}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{227,258}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
            <key>jiling_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,0},{243,264}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,264}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
            <key>jiling_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,0},{199,180}}</string>
                <key>offset</key>
                <string>{-7,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{199,180}}</string>
                <key>sourceSize</key>
                <string>{253,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiling_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1337,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9908fb8a3d10f6259c8dbc6dab43bcf7:b02520b2487c4d03641ede74b8623d3e:4758793afd52d91fcaf88d2c78db9bf6$</string>
            <key>textureFileName</key>
            <string>jiling_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
