<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laojiugui_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,296},{228,148}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{228,148}}</string>
                <key>sourceSize</key>
                <string>{240,152}</string>
            </dict>
            <key>laojiugui_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{248,222}}</string>
                <key>offset</key>
                <string>{-21,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{248,222}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{382,210}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{382,210}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{332,200}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,24},{332,200}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{328,200}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{328,200}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{298,206}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{298,206}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,818},{264,210}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,24},{264,210}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{296,118}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,116},{296,118}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
            <key>laojiugui_attack2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,524},{294,130}}</string>
                <key>offset</key>
                <string>{-15,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,105},{294,130}}</string>
                <key>sourceSize</key>
                <string>{382,238}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laojiugui_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{500,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63b5783d601c4ef6e0ad1c2ababb14f7:ee37eac9d80e01a3177f173b026819b8:e0d6aac50ea43238e7581451f08020f7$</string>
            <key>textureFileName</key>
            <string>laojiugui_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
