<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lidian_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,984},{196,200}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{196,200}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
            <key>lidian_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,776},{224,208}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{224,208}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
            <key>lidian_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{244,210}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{244,210}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
            <key>lidian_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,226}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{254,226}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
            <key>lidian_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{232,220}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{232,220}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
            <key>lidian_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{234,120}}</string>
                <key>offset</key>
                <string>{-5,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,92},{234,120}}</string>
                <key>sourceSize</key>
                <string>{264,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lidian_skill.pvr.ccz</string>
            <key>size</key>
            <string>{254,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da82c6c2d439416b22b83b03f156a2bc:130501ac64d68f6f7257c343afd37f85:380888ddc3bdb57c32bbe4df5eb180f8$</string>
            <key>textureFileName</key>
            <string>lidian_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
