<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lidian_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{127,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>lidian_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{129,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>lidian_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{129,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>lidian_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{129,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,107}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
            <key>lidian_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,0},{125,101}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{125,101}}</string>
                <key>sourceSize</key>
                <string>{129,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lidian_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{639,107}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f2a87e18b50f1e4cfa6007e9a6dfb6:588f37425c4f8646ae06277da958af74:47950fc1ce5c558696dc61b411602906$</string>
            <key>textureFileName</key>
            <string>lidian_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
