<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_light3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{198,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>line_light3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>line_light3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line_light3.pvr.ccz</string>
            <key>size</key>
            <string>{598,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbcef49bdc4d69d81aa44d7fad6f1907:eedb322c9fe8269ce7ed90380a7a2939:f792b957871248f602d5dedfc07348c7$</string>
            <key>textureFileName</key>
            <string>line_light3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
