<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>line_spear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{160,158}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,158}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_spear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{166,142}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,142}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_spear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,142},{144,168}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,168}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_spear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,286},{170,148}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{170,148}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_spear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,286},{150,170}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{150,170}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>line_spear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,63},{90,84}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>line_spear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{142,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,24},{142,162}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>line_spear_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,118},{146,164}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{146,164}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>line_spear_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{122,118}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,36},{122,118}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
            <key>line_spear_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{92,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,56},{92,98}}</string>
                <key>sourceSize</key>
                <string>{210,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>line_spear.pvr.ccz</string>
            <key>size</key>
            <string>{500,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7c79826f06c320c573a95f0487e7301:4ced683816389624dba8736781abdd08:c6142bb65c11f065e51a6aeb602463b0$</string>
            <key>textureFileName</key>
            <string>line_spear.pvr.ccz</string>
        </dict>
    </dict>
</plist>
