<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubei_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,278},{278,152}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,60},{278,152}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>liubei_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{278,152}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,60},{278,152}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>liubei_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{278,152}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,60},{278,152}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
            <key>liubei_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,152}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,60},{278,152}}</string>
                <key>sourceSize</key>
                <string>{340,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liubei_skill.pvr.ccz</string>
            <key>size</key>
            <string>{430,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:079f22e9512940814beca3b02e9ee06d:c9982c1e09ed2d1c9fcf3cd2af7bd55a:71642ca784f0f664a1e0477043ca1787$</string>
            <key>textureFileName</key>
            <string>liubei_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
