<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubei_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{127,127}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{127,127}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>liubei_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{143,143}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{143,143}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>liubei_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liubei_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{415,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b58653352aa8520ad369d617e74a10d:696b1d5c5c96019540d6d1fd5d3953a1:bc600a058379edd06efe20a13e4cfa12$</string>
            <key>textureFileName</key>
            <string>liubei_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
