<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubei_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,441},{125,131}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,21},{125,131}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
            <key>liubei_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{133,141}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{133,141}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
            <key>liubei_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{135,151}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{135,151}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
            <key>liubei_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{141,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,157}}</string>
                <key>sourceSize</key>
                <string>{141,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liubei_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{141,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33ccdc2fee232c84a560d23a407cc193:9b63212eb103067fbf9ad5c28bed2f37:f6a708f0602dec94a3d5b660328bd3e5$</string>
            <key>textureFileName</key>
            <string>liubei_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
