<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,0},{316,304}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,61},{316,304}}</string>
                <key>sourceSize</key>
                <string>{388,434}</string>
            </dict>
            <key>lvbu_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{352,322}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{352,322}}</string>
                <key>sourceSize</key>
                <string>{388,434}</string>
            </dict>
            <key>lvbu_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{364,410}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,410}}</string>
                <key>sourceSize</key>
                <string>{388,434}</string>
            </dict>
            <key>lvbu_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{342,306}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,84},{342,306}}</string>
                <key>sourceSize</key>
                <string>{388,434}</string>
            </dict>
            <key>lvbu_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,0},{370,326}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,82},{370,326}}</string>
                <key>sourceSize</key>
                <string>{388,434}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbu_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{1712,364}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f90a3aa5093ba7e72a2fdf4c6bc68644:d5ca93a3fc5fcf156fc7d2e98e2def54:d513b3b38faa1d776f3e2e6272f822b5$</string>
            <key>textureFileName</key>
            <string>lvbu_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
