<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{215,175}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{215,175}}</string>
                <key>sourceSize</key>
                <string>{231,179}</string>
            </dict>
            <key>lvbu_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{211,173}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{211,173}}</string>
                <key>sourceSize</key>
                <string>{231,179}</string>
            </dict>
            <key>lvbu_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{199,169}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{199,169}}</string>
                <key>sourceSize</key>
                <string>{231,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbu_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{625,175}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c5e276adf9074f733044669e84de9d2:e8659ac551107c8b905a8ac0f22c22d5:e83d16b26d75a67653e647ca3825f76c$</string>
            <key>textureFileName</key>
            <string>lvbu_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
