<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,0},{262,260}}</string>
                <key>offset</key>
                <string>{-13,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,200},{262,260}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,474},{684,444}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{684,444}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,954},{684,480}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,480}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{684,480}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,480}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{700,474}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{700,474}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1736},{700,294}}</string>
                <key>offset</key>
                <string>{0,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,186},{700,294}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1434},{700,302}}</string>
                <key>offset</key>
                <string>{0,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,178},{700,302}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
            <key>lvbu_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1158},{680,302}}</string>
                <key>offset</key>
                <string>{-10,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,167},{680,302}}</string>
                <key>sourceSize</key>
                <string>{700,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbu_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1128,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b53e3f08a1b10b9e8d4e05b33004b975:fb9fffc8f1837e7f8925d631da353976:b705d58024b87c8ec9572a51faa48746$</string>
            <key>textureFileName</key>
            <string>lvbu_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
