<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,0},{125,117}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{177,117}</string>
            </dict>
            <key>lvbu_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{175,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,117}}</string>
                <key>sourceSize</key>
                <string>{177,117}</string>
            </dict>
            <key>lvbu_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{177,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{177,115}}</string>
                <key>sourceSize</key>
                <string>{177,117}</string>
            </dict>
            <key>lvbu_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,0},{143,113}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{143,113}}</string>
                <key>sourceSize</key>
                <string>{177,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvbu_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{620,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f20c62e754419587cde08aa94ae3245:a710efc19678d5ded2797d422206c88c:3f9d984992916e9f007c0d2d50abd869$</string>
            <key>textureFileName</key>
            <string>lvbu_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
