<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{96,96}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>lvmeng_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{110,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,108}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>lvmeng_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvmeng_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{112,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5181441e3f501508547b6e79c5d292c:cb9b701513d020622bac35aca4ca2bc9:6df0c14711213802424a592154a4fb57$</string>
            <key>textureFileName</key>
            <string>lvmeng_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
