<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,118},{168,106}}</string>
                <key>offset</key>
                <string>{16,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{168,106}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>lvmeng_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{164,118}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,39},{164,118}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>lvmeng_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{148,156}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{148,156}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
            <key>lvmeng_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,164}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{144,164}}</string>
                <key>sourceSize</key>
                <string>{200,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvmeng_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{460,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2d237cf8ebe5b729cf3df7293194972:30579c556e496b5ac6f768d99b3227e0:77580a22d0da0261c58250c13443286d$</string>
            <key>textureFileName</key>
            <string>lvmeng_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
