<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,218},{96,127}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,3},{96,127}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>lvmeng_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,125}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{98,125}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>lvmeng_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,125},{98,93}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{98,93}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
            <key>lvmeng_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{62,63}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,36},{62,63}}</string>
                <key>sourceSize</key>
                <string>{176,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvmeng_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{98,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:610e671535a01d0f675a11aef2c0febe:255f38ed13b4221f60ea55dbe1a363f9:46a2aaa1db45a21188c403bede092de9$</string>
            <key>textureFileName</key>
            <string>lvmeng_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
