<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,0},{332,161}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{332,161}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>lvmeng_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,0},{332,183}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{332,183}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>lvmeng_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{312,205}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{312,205}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>lvmeng_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,211}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{270,211}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>lvmeng_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{196,179}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,21},{196,179}}</string>
                <key>sourceSize</key>
                <string>{344,215}</string>
            </dict>
            <key>lvmeng_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,0},{159,118}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,45},{159,118}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
            <key>lvmeng_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,0},{145,126}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{145,126}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
            <key>lvmeng_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,0},{133,102}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,46},{133,102}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
            <key>lvmeng_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,183},{87,18}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,97},{87,18}}</string>
                <key>sourceSize</key>
                <string>{191,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lvmeng_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1771,211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0358485f99016c70c1bf866ddd3998ef:094a090d2fe56747d7c30efa204f4562:6b8f6f29f5702096c874e055afb593fe$</string>
            <key>textureFileName</key>
            <string>lvmeng_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
