<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menghuo_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{62,129}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,55},{62,129}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
            <key>menghuo_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{74,151}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{74,151}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
            <key>menghuo_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{76,159}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{76,159}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
            <key>menghuo_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,165}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{76,165}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
            <key>menghuo_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{72,167}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{72,167}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
            <key>menghuo_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,771},{48,115}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,47},{48,115}}</string>
                <key>sourceSize</key>
                <string>{76,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menghuo_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{76,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3f92c2bb8e806af0b64bc8154d8fcc1:ba26e4c74a8de283975191ee187ea138:6a652e3654edb0eed0a8bc1856736830$</string>
            <key>textureFileName</key>
            <string>menghuo_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
