<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menghuo_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1130},{192,324}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,44},{192,324}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>menghuo_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{218,372}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,15},{218,372}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>menghuo_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,382}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,10},{228,382}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>menghuo_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{214,376}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,4},{214,376}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menghuo_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{228,1454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcacbbf5a66bc310b5025df3ecd85aad:37a6764469b20f9d1c9a64932d087fe1:8f95226aaa11f7b3f536be5336f30e93$</string>
            <key>textureFileName</key>
            <string>menghuo_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
