<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtong_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1230},{218,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{218,73}}</string>
                <key>sourceSize</key>
                <string>{218,121}</string>
            </dict>
            <key>pangtong_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,877},{218,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{218,95}}</string>
                <key>sourceSize</key>
                <string>{218,121}</string>
            </dict>
            <key>pangtong_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1109},{218,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,121}}</string>
                <key>sourceSize</key>
                <string>{218,121}</string>
            </dict>
            <key>pangtong_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,679},{198,201}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{198,201}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>pangtong_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{224,207}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{224,207}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>pangtong_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{240,213}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{240,213}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>pangtong_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,225}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{232,225}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
            <key>pangtong_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,877},{232,119}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,92},{232,119}}</string>
                <key>sourceSize</key>
                <string>{260,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangtong_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{225,1303}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:365ffaf9b0af0eeef804ba07289a9260:acea81030d6d0b498ad0e5605e46fa2a:f52a2bdf057837f2d35cea95a62576eb$</string>
            <key>textureFileName</key>
            <string>pangtong_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
