<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtong_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,713},{53,59}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,75},{53,59}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,497},{101,81}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,55},{101,81}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{115,87}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{115,87}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{115,105}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{115,105}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,105}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{115,105}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{107,111}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{107,111}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{93,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{93,111}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
            <key>pangtong_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{93,135}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,135}}</string>
                <key>sourceSize</key>
                <string>{115,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangtong_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{115,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11617e24e999b89dfd9b94d36fe69708:de7af28cef17b718c6cd2178af66f521:6f36530d2ea077ecb3b89016027a5ca8$</string>
            <key>textureFileName</key>
            <string>pangtong_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
