<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtong_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{100,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>pangtong_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,320},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>pangtong_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>pangtong_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>pangtong_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{103,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,105}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>pangtong_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{97,93}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,93}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>pangtong_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,105},{103,97}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,97}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
            <key>pangtong_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{91,85}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{91,85}}</string>
                <key>sourceSize</key>
                <string>{103,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pangtong_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{103,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c789b2e977f9e95ec917be01c59fb958:5c6d1c59c4ad3cede3db8fd8513dc06b:3fd7b69195f2ba5a1b243fef273d2075$</string>
            <key>textureFileName</key>
            <string>pangtong_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
