<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinfeng2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{174,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,55},{174,76}}</string>
                <key>sourceSize</key>
                <string>{288,182}</string>
            </dict>
            <key>qinfeng2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,118},{144,100}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{144,100}}</string>
                <key>sourceSize</key>
                <string>{288,182}</string>
            </dict>
            <key>qinfeng2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,126},{146,98}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,39},{146,98}}</string>
                <key>sourceSize</key>
                <string>{288,182}</string>
            </dict>
            <key>qinfeng2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{114,78}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,68},{114,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{138,118}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{138,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,128}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,34},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{132,126}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{132,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qinfeng2.pvr.ccz</string>
            <key>size</key>
            <string>{476,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faeea32ade23100869a9df39a22bee64:16b7c52140be3cc774409ab0ae4b77f7:681cee1e78bb8750eb2353e8eedc099f$</string>
            <key>textureFileName</key>
            <string>qinfeng2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
