<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinfeng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{162,55}}</string>
                <key>sourceSize</key>
                <string>{228,107}</string>
            </dict>
            <key>qinfeng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{114,78}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,68},{114,78}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,0},{138,118}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,47},{138,118}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,126},{130,128}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{130,128}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>qinfeng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{132,126}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{132,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qinfeng.pvr.ccz</string>
            <key>size</key>
            <string>{305,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81428ff7c3a319bdfd10b0126c8e6ac5:70ee32918ed0aae9ee3800e8ddf78b7c:2408821ca30af7d6e50cfcd2a8892f8a$</string>
            <key>textureFileName</key>
            <string>qinfeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
