<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suanming_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{124,145}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,67},{124,145}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
            <key>suanming_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{156,199}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,72},{156,199}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
            <key>suanming_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{162,229}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,66},{162,229}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
            <key>suanming_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,237}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,60},{140,237}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
            <key>suanming_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{122,255}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{122,255}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
            <key>suanming_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,122},{116,247}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,43},{116,247}}</string>
                <key>sourceSize</key>
                <string>{212,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>suanming_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{837,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:766c7d5fb2191ba21b8119f8828a963d:a671160da27e710facc1f55859bfe4d5:bb2052a4ce4be1931f37333e6cf1a585$</string>
            <key>textureFileName</key>
            <string>suanming_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
