<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suanming_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{88,48}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,48}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>suanming_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{88,48}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,48}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>suanming_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{88,48}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,48}}</string>
                <key>sourceSize</key>
                <string>{104,54}</string>
            </dict>
            <key>suanming_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{74,88}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{74,88}}</string>
                <key>sourceSize</key>
                <string>{122,112}</string>
            </dict>
            <key>suanming_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,90}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{82,90}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>suanming_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{78,88}}</string>
                <key>offset</key>
                <string>{-12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{78,88}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>suanming_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,48},{54,72}}</string>
                <key>offset</key>
                <string>{-24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>suanming_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{322,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9306eeedbf0bc3f736c1baae6961737d:c987e5f28cad0cf36a736f765a114580:e53fe3035fc0aa9b32abdf48dbc4023c$</string>
            <key>textureFileName</key>
            <string>suanming_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
