<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunce_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,0},{163,174}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,76},{163,174}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,0},{211,224}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{211,224}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{215,228}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{215,228}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{215,198}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,73},{215,198}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{215,200}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,71},{215,200}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,0},{217,198}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,73},{217,198}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{247,198}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,73},{247,198}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,0},{213,198}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,73},{213,198}}</string>
                <key>sourceSize</key>
                <string>{299,292}</string>
            </dict>
            <key>sunce_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,0},{116,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{116,141}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>sunce_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,0},{130,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{130,173}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>sunce_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,0},{132,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,165}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>sunce_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,116},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{134,133}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunce_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1984,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b19e281bc4d58e2e9a72cca305026d86:0aa2b433cd3805d3d429e5b0e4a0775e:d2863d409e1069d966c85315f36ce01e$</string>
            <key>textureFileName</key>
            <string>sunce_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
