<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunce_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{132,110}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,50},{132,110}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sunce_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{154,116}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{154,116}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sunce_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{160,126}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,41},{160,126}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>sunce_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,128}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{164,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunce_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{164,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fc2b0b92dcac7c4e0ae48e2ed7ac3c:5730331dbc605366e5aa09f46d885a34:203436e7b5396a46f2783d7a599e898a$</string>
            <key>textureFileName</key>
            <string>sunce_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
