<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunjian_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,338},{146,146}}</string>
                <key>offset</key>
                <string>{-9,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,159},{146,146}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,326},{200,174}}</string>
                <key>offset</key>
                <string>{-15,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,139},{200,174}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{282,292}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,65},{282,292}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,338}}</string>
                <key>offset</key>
                <string>{42,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,0},{246,338}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{250,332}}</string>
                <key>offset</key>
                <string>{40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,0},{250,332}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{250,326}}</string>
                <key>offset</key>
                <string>{40,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,31},{250,326}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,0},{274,230}}</string>
                <key>offset</key>
                <string>{-43,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,127},{274,230}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,352},{146,132}}</string>
                <key>offset</key>
                <string>{-36,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,181},{146,132}}</string>
                <key>sourceSize</key>
                <string>{392,362}</string>
            </dict>
            <key>sunjian_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,230},{188,122}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,61},{188,122}}</string>
                <key>sourceSize</key>
                <string>{228,198}</string>
            </dict>
            <key>sunjian_attack4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,338},{198,160}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{198,160}}</string>
                <key>sourceSize</key>
                <string>{228,198}</string>
            </dict>
            <key>sunjian_attack4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,332},{198,168}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{198,168}}</string>
                <key>sourceSize</key>
                <string>{228,198}</string>
            </dict>
            <key>sunjian_attack4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,326},{198,172}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{198,172}}</string>
                <key>sourceSize</key>
                <string>{228,198}</string>
            </dict>
            <key>sunjian_attack4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,292},{198,132}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,23},{198,132}}</string>
                <key>sourceSize</key>
                <string>{228,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunjian_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1302,500}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e550c2a0568c31a4764e4cae20dd1ac:24da229d30c0b03c19eacc830fa18099:75518243042bb62cdd9391772ac1bb58$</string>
            <key>textureFileName</key>
            <string>sunjian_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
