<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunjian_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,790},{139,94}}</string>
                <key>offset</key>
                <string>{154,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,178},{139,94}}</string>
                <key>sourceSize</key>
                <string>{583,314}</string>
            </dict>
            <key>sunjian_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,790},{272,220}}</string>
                <key>offset</key>
                <string>{152,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,87},{272,220}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,486},{304,292}}</string>
                <key>offset</key>
                <string>{107,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,20},{304,292}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,596},{330,304}}</string>
                <key>offset</key>
                <string>{48,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,8},{330,304}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{396,310}}</string>
                <key>offset</key>
                <string>{21,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,7},{396,310}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{474,286}}</string>
                <key>offset</key>
                <string>{51,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,30},{474,286}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{556,302}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{556,302}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{486,306}}</string>
                <key>offset</key>
                <string>{-30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{486,306}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
            <key>sunjian_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,286},{386,310}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{386,310}}</string>
                <key>sourceSize</key>
                <string>{592,328}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunjian_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1082,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331ed47f7df397a783c94e788a3633d7:e65c2d226342abda0109a997166ca580:3131229dcbb7bc2feca6f2ac74446cf3$</string>
            <key>textureFileName</key>
            <string>sunjian_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
