<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquan_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{50,96}}</string>
                <key>offset</key>
                <string>{49,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{50,96}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{50,96}}</string>
                <key>offset</key>
                <string>{36,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,40},{50,96}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{50,96}}</string>
                <key>offset</key>
                <string>{24,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,88},{50,96}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{50,96}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,130},{50,96}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{50,94}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,175},{50,94}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{50,94}}</string>
                <key>offset</key>
                <string>{-9,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,223},{50,94}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,98}}</string>
                <key>offset</key>
                <string>{-38,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,273},{104,98}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,0},{92,90}}</string>
                <key>offset</key>
                <string>{-34,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,273},{92,90}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{92,90}}</string>
                <key>offset</key>
                <string>{-34,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,273},{92,90}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
            <key>sunquan_attack1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,0},{92,38}}</string>
                <key>offset</key>
                <string>{-34,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,325},{92,38}}</string>
                <key>sourceSize</key>
                <string>{200,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunquan_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{472,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d495c0f8089b6e935faf125900829d47:42bc1cac24e1b059be0f2e06776a19a3:648a07415f085872b8fdb2917f26cb9a$</string>
            <key>textureFileName</key>
            <string>sunquan_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
