<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquan_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,0},{128,60}}</string>
                <key>offset</key>
                <string>{-15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,73},{128,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>sunquan_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,0},{154,117}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{154,117}}</string>
                <key>sourceSize</key>
                <string>{164,129}</string>
            </dict>
            <key>sunquan_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{160,125}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{164,129}</string>
            </dict>
            <key>sunquan_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,127}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,127}}</string>
                <key>sourceSize</key>
                <string>{164,129}</string>
            </dict>
            <key>sunquan_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{158,127}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{158,127}}</string>
                <key>sourceSize</key>
                <string>{164,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunquan_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{764,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55ed76c33ac488cf00413b40f695d842:d21d08f23bf649aa14fb38c22fe0cc23:afff835fce8235ead6aba2b3fb7e7e68$</string>
            <key>textureFileName</key>
            <string>sunquan_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
