<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquan_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{170,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,106}}</string>
                <key>sourceSize</key>
                <string>{170,106}</string>
            </dict>
            <key>sunquan_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
            <key>sunquan_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{149,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{149,121}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
            <key>sunquan_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{151,113}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
            <key>sunquan_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,0},{151,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{151,113}}</string>
                <key>sourceSize</key>
                <string>{153,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunquan_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{470,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:833ea770395de3016fca2792d17af859:e3de547121247661e84c95596fd95891:c45a1155417a3d5f244be17ddb39bc3c$</string>
            <key>textureFileName</key>
            <string>sunquan_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
