<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunshangxiang_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{93,83}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{93,83}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>sunshangxiang_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{79,107}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,31},{79,107}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>sunshangxiang_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,271},{77,105}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,32},{77,105}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>sunshangxiang_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{95,83}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,31},{95,83}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>sunshangxiang_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,113},{109,79}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{109,79}}</string>
                <key>sourceSize</key>
                <string>{141,139}</string>
            </dict>
            <key>sunshangxiang_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{101,127}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{101,127}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>sunshangxiang_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{111,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{111,99}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>sunshangxiang_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,475},{111,99}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,14},{111,99}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>sunshangxiang_attack1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,109}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{113,109}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
            <key>sunshangxiang_attack1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{83,81}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{83,81}}</string>
                <key>sourceSize</key>
                <string>{117,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunshangxiang_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{109,833}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3b3c592ebc97e5fc759ac73ce5b45d7:83cdab2e00abb53423abe85897ec208a:108a6e58b3d7d9df56314c986867f439$</string>
            <key>textureFileName</key>
            <string>sunshangxiang_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
