<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{200,71}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{200,71}}</string>
                <key>sourceSize</key>
                <string>{272,111}</string>
            </dict>
            <key>taishici_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{208,101}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{208,101}}</string>
                <key>sourceSize</key>
                <string>{272,111}</string>
            </dict>
            <key>taishici_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,550},{196,101}}</string>
                <key>offset</key>
                <string>{-31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{196,101}}</string>
                <key>sourceSize</key>
                <string>{272,111}</string>
            </dict>
            <key>taishici_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{169,165}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{169,165}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>taishici_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{155,143}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{155,143}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>taishici_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{155,141}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{155,141}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>taishici_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{153,137}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{153,137}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>taishici_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,687},{147,127}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{147,127}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
            <key>taishici_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,200},{95,89}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{95,89}}</string>
                <key>sourceSize</key>
                <string>{173,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taishici_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{254,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ff6d7976ab0ac73aa0752700dacf6f4:84dd2266479ffe2a5454fc5392212aa6:f8444bd035cfc53cc0205e7672541338$</string>
            <key>textureFileName</key>
            <string>taishici_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
