<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_jian1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{226,34}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,77},{226,34}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_jian1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{164,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,39},{164,110}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_jian1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{154,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{154,114}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_jian1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{160,124}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,32},{160,124}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_jian1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,124}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{162,124}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taishici_jian1.pvr.ccz</string>
            <key>size</key>
            <string>{866,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:619393a66a7d680b1ff070aa430296df:351e86f6a47ce5be13f72e08f3e3b407:7aca26283b9defa104608fa9e10c7ffb$</string>
            <key>textureFileName</key>
            <string>taishici_jian1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
