<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_fenghuang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{355,237}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{355,237}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>taishici_fenghuang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,685},{349,229}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{349,229}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>taishici_fenghuang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{361,241}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{361,241}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>taishici_fenghuang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{363,207}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{363,207}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>taishici_fenghuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,685},{355,223}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,19},{355,223}}</string>
                <key>sourceSize</key>
                <string>{363,243}</string>
            </dict>
            <key>taishici_fenghuang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,154},{164,110}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,39},{164,110}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_fenghuang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,0},{154,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{154,114}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_fenghuang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,480},{160,124}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{160,124}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
            <key>taishici_fenghuang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,318},{162,124}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,32},{162,124}}</string>
                <key>sourceSize</key>
                <string>{242,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taishici_fenghuang.pvr.ccz</string>
            <key>size</key>
            <string>{485,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f07834801c16d23d895c6e01e7ffab1:32eed8e47815cd978bb20f8b7f6a27bb:af615326792e0b024272517340b37aaa$</string>
            <key>textureFileName</key>
            <string>taishici_fenghuang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
