<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tengjiadunbing_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,178}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{162,178}}</string>
                <key>sourceSize</key>
                <string>{170,190}</string>
            </dict>
            <key>tengjiadunbing_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{148,170}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{148,170}}</string>
                <key>sourceSize</key>
                <string>{170,190}</string>
            </dict>
            <key>tengjiadunbing_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{132,140}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{132,140}}</string>
                <key>sourceSize</key>
                <string>{170,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tengjiadunbing_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{162,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47866405dc646abdb69d1687b7911700:8e5fe6da51531883a421668e0d1ad8ed:5bd36c652ec0e2634ebc2281d5c37f21$</string>
            <key>textureFileName</key>
            <string>tengjiadunbing_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
