<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianfeng_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,541},{453,157}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{453,157}}</string>
                <key>sourceSize</key>
                <string>{463,215}</string>
            </dict>
            <key>tianfeng_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{457,175}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{457,175}}</string>
                <key>sourceSize</key>
                <string>{463,215}</string>
            </dict>
            <key>tianfeng_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{455,185}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{455,185}}</string>
                <key>sourceSize</key>
                <string>{463,215}</string>
            </dict>
            <key>tianfeng_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{453,181}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{453,181}}</string>
                <key>sourceSize</key>
                <string>{463,215}</string>
            </dict>
            <key>tianfeng_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{265,185}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,24},{265,185}}</string>
                <key>sourceSize</key>
                <string>{307,229}</string>
            </dict>
            <key>tianfeng_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,698},{211,199}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,13},{211,199}}</string>
                <key>sourceSize</key>
                <string>{307,229}</string>
            </dict>
            <key>tianfeng_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,883},{203,197}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{203,197}}</string>
                <key>sourceSize</key>
                <string>{307,229}</string>
            </dict>
            <key>tianfeng_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,909},{203,195}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,17},{203,195}}</string>
                <key>sourceSize</key>
                <string>{307,229}</string>
            </dict>
            <key>tianfeng_attack2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1080},{191,187}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,22},{191,187}}</string>
                <key>sourceSize</key>
                <string>{307,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianfeng_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{464,1267}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c06ca191e66187f78017f723eb2a622d:3f4c11b13cd7c0fcf82bbdd8a3833df4:13aa9dfac32b1d13a95cc87571b21271$</string>
            <key>textureFileName</key>
            <string>tianfeng_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
