<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tufu_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{102,122}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{102,122}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>tufu_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{108,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{108,112}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>tufu_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{116,116}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>tufu_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{114,116}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{114,116}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tufu_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{460,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d50aa81e3fa8e22bd0ef1c8476c81bf:70adb963054e5ea049ac95fa9a079740:0ab993cf33728144fc42801c525dfacc$</string>
            <key>textureFileName</key>
            <string>tufu_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
