<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyuanji_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{100,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,84}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>wangyuanji_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>wangyuanji_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,92}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
            <key>wangyuanji_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{106,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{106,86}}</string>
                <key>sourceSize</key>
                <string>{110,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyuanji_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{110,354}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d9905df79337bb6df77bd2f542034a9:a0e60ec7cb3ec96a2e9963c23f13f55b:21cfbf85bbb1e4648ec27e99a909a340$</string>
            <key>textureFileName</key>
            <string>wangyuanji_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
