<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyi_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{200,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,45}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>wangyi_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{198,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,45}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>wangyi_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{198,43}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>wangyi_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,43},{198,47}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,47}}</string>
                <key>sourceSize</key>
                <string>{200,47}</string>
            </dict>
            <key>wangyi_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,45},{114,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,77}}</string>
                <key>sourceSize</key>
                <string>{114,77}</string>
            </dict>
            <key>wangyi_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,45},{90,77}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{90,77}}</string>
                <key>sourceSize</key>
                <string>{114,77}</string>
            </dict>
            <key>wangyi_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,45},{86,77}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{86,77}}</string>
                <key>sourceSize</key>
                <string>{114,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyi_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{596,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38ddccc366ee36ed0a9fb4d120f6888d:3938c7205ce7e237c1c6b81c4d33c374:923ca9b2e89460f98a0c0dd3dfa7763a$</string>
            <key>textureFileName</key>
            <string>wangyi_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
