<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyi_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,245},{144,227}}</string>
                <key>offset</key>
                <string>{44,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,10},{144,227}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
            <key>wangyi_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{180,271}}</string>
                <key>offset</key>
                <string>{34,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{180,271}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
            <key>wangyi_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,245}}</string>
                <key>offset</key>
                <string>{-5,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{238,245}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
            <key>wangyi_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,339},{180,159}}</string>
                <key>offset</key>
                <string>{-34,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{180,159}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
            <key>wangyi_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,180},{180,159}}</string>
                <key>offset</key>
                <string>{-34,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,158},{180,159}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
            <key>wangyi_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,245},{180,159}}</string>
                <key>offset</key>
                <string>{-34,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,158},{180,159}}</string>
                <key>sourceSize</key>
                <string>{248,317}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyi_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{509,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:756ff707f609826d0ea6987e0836c61c:df31a5c0d4aebb4ba723d3b4ae452046:452b2d6b13212d4395334e0e947e9938$</string>
            <key>textureFileName</key>
            <string>wangyi_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
