<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyuanji_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,566},{96,162}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,53},{96,162}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wangyuanji_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{110,186}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,38},{110,186}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wangyuanji_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,192}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,35},{114,192}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>wangyuanji_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{106,188}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,33},{106,188}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyuanji_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{114,728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1d8f670234bf383db4069b5ddb8395b:1c95c90a8225b604dbcb09a6d3b3aaed:2c368c4f6e5489b4a36371ae402a8b65$</string>
            <key>textureFileName</key>
            <string>wangyuanji_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
