<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyi_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1407},{161,313}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,15},{161,313}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
            <key>wangyi_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{217,335}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{217,335}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
            <key>wangyi_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{239,321}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{239,321}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
            <key>wangyi_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{233,315}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{233,315}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
            <key>wangyi_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,971},{195,261}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{195,261}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
            <key>wangyi_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1232},{175,191}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,96},{175,191}}</string>
                <key>sourceSize</key>
                <string>{239,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyi_skill.pvr.ccz</string>
            <key>size</key>
            <string>{239,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fee11a9c18dbeda67f0b29c8f57da818:d2968bdf8bf03d0b6b2fec528d256381:88c6f9cef52490f463bd2b87c91957f8$</string>
            <key>textureFileName</key>
            <string>wangyi_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
