<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyi_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{163,262}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{163,262}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
            <key>wangyi_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1296},{161,262}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{161,262}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
            <key>wangyi_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1036},{163,260}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{163,260}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
            <key>wangyi_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{207,262}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,262}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
            <key>wangyi_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{191,254}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{191,254}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
            <key>wangyi_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{207,258}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{207,258}}</string>
                <key>sourceSize</key>
                <string>{217,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wangyi_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{207,1558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7deeaec5c5de74c490a2687dc01ee629:34e5fad73172ede85075539ecac6cb4a:47a034b1339ce206fbabf293c0df62c7$</string>
            <key>textureFileName</key>
            <string>wangyi_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
