<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>weiyan_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>weiyan_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>weiyan_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>weiyan_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weiyan_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{110,558}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3fef8688e830bfe64e0419d2d77966:d78a1664fd2b40d20f9dff82010e03f4:5e31f029901e147fb1b8089925648708$</string>
            <key>textureFileName</key>
            <string>weiyan_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
