<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{145,319}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{145,319}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,0},{151,309}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{151,309}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,151},{151,289}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{151,289}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,0},{151,289}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{151,289}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{153,299}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{153,299}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,319},{161,295}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{161,295}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,309},{155,297}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{155,297}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
            <key>weiyan_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,302},{131,197}}</string>
                <key>offset</key>
                <string>{-7,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,122},{131,197}}</string>
                <key>sourceSize</key>
                <string>{163,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weiyan_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{738,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f24bdaa37423fa67841b112035ed639:01bc77a7c1895e63e1033976fe62d8d8:3d4c69688ac5dee8f8306e8c3aba3d42$</string>
            <key>textureFileName</key>
            <string>weiyan_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
