<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenchou_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{226,216}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{226,216}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{226,218}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,218}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,0},{152,188}}</string>
                <key>offset</key>
                <string>{-31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,188}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{152,188}}</string>
                <key>offset</key>
                <string>{-31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,188}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{152,188}}</string>
                <key>offset</key>
                <string>{-31,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{152,188}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{148,184}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{148,184}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{148,184}}</string>
                <key>offset</key>
                <string>{-29,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{148,184}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,0},{142,172}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{142,172}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,0},{142,172}}</string>
                <key>offset</key>
                <string>{-26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{142,172}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
            <key>wenchou_attack3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,0},{112,164}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{112,164}}</string>
                <key>sourceSize</key>
                <string>{226,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wenchou_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{1378,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f183cdbdd563adfeb26e8b1f3623557:ae9605632560e16142681b4b658b9230:84ef53db5be09d9f4174422f14b751a3$</string>
            <key>textureFileName</key>
            <string>wenchou_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
