<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenchou_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{102,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{102,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>wenchou_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{106,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>wenchou_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>wenchou_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>wenchou_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{106,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{106,104}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wenchou_skill.pvr.ccz</string>
            <key>size</key>
            <string>{106,522}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61006a125ac29612f89413de51dcee14:b23f37f11d7b4751175b8a040edea6b8:0769d25a8b4c0f757c481273ed338cfd$</string>
            <key>textureFileName</key>
            <string>wenchou_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
