<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenchou_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,117},{73,73}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,35},{73,73}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>wenchou_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{119,117}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{119,117}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>wenchou_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{141,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wenchou_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{254,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56a044111b9531b25286e82f8944fdc:a803c919af59e1b324d856761cf7e717:c265abe6f62ff0a1b04f27de2a1d6e42$</string>
            <key>textureFileName</key>
            <string>wenchou_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
