<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudun_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,128},{25,27}}</string>
                <key>offset</key>
                <string>{-11,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,137},{25,27}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,87},{47,41}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,123},{47,41}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,0},{87,61}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,102},{87,61}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,0},{155,179}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,179}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{157,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,181}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,0},{135,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{135,181}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{137,137}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,21},{137,137}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{141,141}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{141,141}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
            <key>xiahoudun_attack4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,0},{139,139}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{139,139}}</string>
                <key>sourceSize</key>
                <string>{157,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudun_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{1019,157}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf92f5775f43d2bb2934453f7ad22f23:388c733222b36d7d08ed556180e3cfce:3ed5fb77baa5a6a9d6118cfa23b055ca$</string>
            <key>textureFileName</key>
            <string>xiahoudun_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
