<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudun_shouji2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{92,71}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,71}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>xiahoudun_shouji2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{96,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
            <key>xiahoudun_shouji2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,77}}</string>
                <key>sourceSize</key>
                <string>{98,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudun_shouji2.pvr.ccz</string>
            <key>size</key>
            <string>{98,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41beeba706c6ccaf7816f5da6c7476c:b7eea6d425875d9a17e62f2b6b192009:c117faac4f344ded6af3492257441882$</string>
            <key>textureFileName</key>
            <string>xiahoudun_shouji2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
