<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahouyuan_jianyu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1118},{106,106}}</string>
                <key>offset</key>
                <string>{-36,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,15},{106,106}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1224},{104,178}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,26},{104,178}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{156,206}}</string>
                <key>offset</key>
                <string>{-50,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{156,206}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{168,216}}</string>
                <key>offset</key>
                <string>{-44,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{168,216}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{230,210}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,30},{230,210}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,186}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,55},{240,186}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{240,158}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,83},{240,158}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{240,130}}</string>
                <key>offset</key>
                <string>{-8,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,111},{240,130}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{240,110}}</string>
                <key>offset</key>
                <string>{-8,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,131},{240,110}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
            <key>xiahouyuan_jianyu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1118},{250,112}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,130},{250,112}}</string>
                <key>sourceSize</key>
                <string>{320,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahouyuan_jianyu.pvr.ccz</string>
            <key>size</key>
            <string>{240,1408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7622fedba078803c92f696e5be40ed:2f5125f205d39f279dae0cad83eb6e51:ebb0dda9f004df0a3c57b14dd3955a55$</string>
            <key>textureFileName</key>
            <string>xiahouyuan_jianyu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
