<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahouyuan_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{144,50}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>xiahouyuan_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,0},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>xiahouyuan_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,50},{150,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{150,46}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>xiahouyuan_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{132,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{132,109}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
            <key>xiahouyuan_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{154,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{154,115}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
            <key>xiahouyuan_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{160,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{160,125}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
            <key>xiahouyuan_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,127}}</string>
                <key>sourceSize</key>
                <string>{164,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahouyuan_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{904,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0440ed65c5d56c44bc30df31f71a747:fcfd08166105857dc7b909b6ff3b4ba2:7e798eeff728c4b161d282a916ea290b$</string>
            <key>textureFileName</key>
            <string>xiahouyuan_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
