<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahouyuan_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1863},{182,131}}</string>
                <key>offset</key>
                <string>{134,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,8},{182,131}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1744},{300,119}}</string>
                <key>offset</key>
                <string>{100,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,79},{300,119}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,997},{490,309}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{490,309}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{404,341}}</string>
                <key>offset</key>
                <string>{-49,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{404,341}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{308,319}}</string>
                <key>offset</key>
                <string>{-95,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{308,319}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{310,285}}</string>
                <key>offset</key>
                <string>{-94,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{310,285}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
            <key>xiahouyuan_attack4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1487},{304,257}}</string>
                <key>offset</key>
                <string>{-97,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{304,257}}</string>
                <key>sourceSize</key>
                <string>{502,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahouyuan_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{341,1994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dbe3158e0bdd824d675f0b114056cde:aae043c4f226cb5449dc4e4c7ce73d85:31e304e4ad846600eaf35b21afe9afb3$</string>
            <key>textureFileName</key>
            <string>xiahouyuan_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
