<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahouyuan_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,141},{182,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,49}}</string>
                <key>sourceSize</key>
                <string>{182,49}</string>
            </dict>
            <key>xiahouyuan_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,0},{116,141}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{116,141}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>xiahouyuan_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{130,173}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>xiahouyuan_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{132,165}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{132,165}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
            <key>xiahouyuan_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{134,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{134,133}}</string>
                <key>sourceSize</key>
                <string>{140,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahouyuan_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{511,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c247da4d61ac5fd5cf34577b6bfdf768:5279982bdc74526300c3732fbdfadd33:868635cca5b899abe2bfe4440bc02a8c$</string>
            <key>textureFileName</key>
            <string>xiahouyuan_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
