<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahoudun_shouji1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{67,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>xiahoudun_shouji1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{97,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>xiahoudun_shouji1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{95,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{95,84}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
            <key>xiahoudun_shouji1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudun_shouji1.pvr.ccz</string>
            <key>size</key>
            <string>{97,323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07723323bd2728d7c9c0dfd8549522bb:574ce58d67c979c9d2fef132caf33f9e:218dad3271585f30633109196b25675f$</string>
            <key>textureFileName</key>
            <string>xiahoudun_shouji1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
