<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoqiao_jian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,59},{202,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,57}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>xiaoqiao_jian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,59},{190,59}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>xiaoqiao_jian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{202,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>xiaoqiao_jian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{190,59}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,59}}</string>
                <key>sourceSize</key>
                <string>{202,59}</string>
            </dict>
            <key>xiaoqiao_jian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{120,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,32},{120,92}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xiaoqiao_jian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{124,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>xiaoqiao_jian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{128,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{128,100}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoqiao_jian.pvr.ccz</string>
            <key>size</key>
            <string>{712,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb70c47f7d5ff4fa845595e0553495fe:ed2a7ca988bf2a04b8654ee00bbaa081:fc14f394348741609e7c8b7f6fcd3d0d$</string>
            <key>textureFileName</key>
            <string>xiaoqiao_jian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
