<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoqiao_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{379,296}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{379,296}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,613},{359,282}}</string>
                <key>offset</key>
                <string>{-22,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{359,282}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,381},{357,356}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{357,356}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{357,336}}</string>
                <key>offset</key>
                <string>{-23,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{357,336}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,699},{403,296}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{403,296}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{381,362}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,362}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,381},{379,318}}</string>
                <key>offset</key>
                <string>{-12,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,80},{379,318}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{375,234}}</string>
                <key>offset</key>
                <string>{-11,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,164},{375,234}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
            <key>xiaoqiao_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,379},{335,234}}</string>
                <key>offset</key>
                <string>{9,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,164},{335,234}}</string>
                <key>sourceSize</key>
                <string>{403,398}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoqiao_skill.pvr.ccz</string>
            <key>size</key>
            <string>{1070,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4270205839fb11a625cbb96b8dc630f0:6c0bcbabb94c06cbe69bc6c443389542:576589e8ffdb5a0246ead01c9976226f$</string>
            <key>textureFileName</key>
            <string>xiaoqiao_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
