<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoqiao_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,37}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>xiaoqiao_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{132,37}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{132,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>xiaoqiao_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>xiaoqiao_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{132,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{132,66}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>xiaoqiao_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,37},{100,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{100,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>xiaoqiao_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,37},{98,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{98,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>xiaoqiao_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,37},{92,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{92,78}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiaoqiao_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{422,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55727302bff933993ec4f4f39ec3ca91:615b9aaa9a824f8aaa5142de324542ad:d848dd1ec102ab87473669e13d5fbd3d$</string>
            <key>textureFileName</key>
            <string>xiaoqiao_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
