<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuhuang_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{200,152}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{200,152}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
            <key>xuhuang_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,172}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{200,172}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
            <key>xuhuang_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{208,174}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{208,174}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
            <key>xuhuang_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{208,188}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{208,188}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
            <key>xuhuang_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{224,192}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{224,192}}</string>
                <key>sourceSize</key>
                <string>{224,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuhuang_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{200,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddd13bc66522a8b82521a9c426cff583:2417d5e81a89716f029364b099432cbc:c3844e5ac25ac28a4071cd6b079f7023$</string>
            <key>textureFileName</key>
            <string>xuhuang_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
