<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuhuang_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{78,79}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{78,79}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>xuhuang_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{84,81}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{84,81}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>xuhuang_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,87}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>xuhuang_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{86,87}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>xuhuang_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{84,79}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,79}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
            <key>xuhuang_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{82,77}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuhuang_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{86,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9199907c2f85737061555f1b73cd6d5e:c7828bf04081e3fba3ba1f6859f9b78f:4dca1076ded2b132475a56fbf28e2558$</string>
            <key>textureFileName</key>
            <string>xuhuang_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
