<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xunshoushi_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{125,39}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{125,39}}</string>
                <key>sourceSize</key>
                <string>{127,45}</string>
            </dict>
            <key>xunshoushi_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{123,41}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{123,41}}</string>
                <key>sourceSize</key>
                <string>{127,45}</string>
            </dict>
            <key>xunshoushi_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,123},{127,39}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{127,39}}</string>
                <key>sourceSize</key>
                <string>{127,45}</string>
            </dict>
            <key>xunshoushi_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{80,69}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{80,69}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>xunshoushi_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,69}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{82,69}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
            <key>xunshoushi_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{84,63}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{84,63}}</string>
                <key>sourceSize</key>
                <string>{86,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xunshoushi_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{125,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0e28995846bf33119ff4341151fa657:871e9794b889530a52ce2f13125fe57b:77f412dbfbf598921bf3dd387be05cfe$</string>
            <key>textureFileName</key>
            <string>xunshoushi_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
