<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xunshoushi_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,0},{112,64}}</string>
                <key>offset</key>
                <string>{69,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,0},{112,64}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,0},{150,78}}</string>
                <key>offset</key>
                <string>{35,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,15},{150,78}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,0},{138,106}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{138,106}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{224,124}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,18},{224,124}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{186,102}}</string>
                <key>offset</key>
                <string>{-31,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,38},{186,102}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,0},{148,100}}</string>
                <key>offset</key>
                <string>{-46,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{148,100}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{148,100}}</string>
                <key>offset</key>
                <string>{-46,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{148,100}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,0},{104,78}}</string>
                <key>offset</key>
                <string>{-68,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,59},{104,78}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,0},{100,74}}</string>
                <key>offset</key>
                <string>{-67,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,62},{100,74}}</string>
                <key>sourceSize</key>
                <string>{250,142}</string>
            </dict>
            <key>xunshoushi_attack3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,0},{99,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,97}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>xunshoushi_attack3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,0},{93,87}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{93,87}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
            <key>xunshoushi_attack3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,0},{93,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{93,79}}</string>
                <key>sourceSize</key>
                <string>{99,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xunshoushi_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{1473,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363707724dd9264d7b9100b2d4598f34:20081476b6e281344137407961a836a3:3c12bbf8617b64c1312fadd9cfc8a2ac$</string>
            <key>textureFileName</key>
            <string>xunshoushi_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
