<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanliang_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,258},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>yanliang_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,129},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
            <key>yanliang_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,129}}</string>
                <key>sourceSize</key>
                <string>{127,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanliang_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{127,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faff4b42096125ec70fd600646d5f841:de0891d642eeadd6c38bccdd16fa1cb5:f2f11164c36367f7b2ea4751fae96648$</string>
            <key>textureFileName</key>
            <string>yanliang_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
