<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanliang_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,459},{167,147}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{167,147}}</string>
                <key>sourceSize</key>
                <string>{185,157}</string>
            </dict>
            <key>yanliang_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{183,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,157}}</string>
                <key>sourceSize</key>
                <string>{185,157}</string>
            </dict>
            <key>yanliang_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{185,153}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,153}}</string>
                <key>sourceSize</key>
                <string>{185,157}</string>
            </dict>
            <key>yanliang_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{181,149}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{181,149}}</string>
                <key>sourceSize</key>
                <string>{185,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yanliang_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{185,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3e46d29e4b75d4364975ad0300b8f64:0408e23d3f30f41f40aa6f85204972c2:c6d667da128a3c3e94c74fb177007c70$</string>
            <key>textureFileName</key>
            <string>yanliang_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
