<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoshi_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,0},{95,97}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{95,97}}</string>
                <key>sourceSize</key>
                <string>{211,181}</string>
            </dict>
            <key>yaoshi_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,121},{147,141}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,18},{147,141}}</string>
                <key>sourceSize</key>
                <string>{211,181}</string>
            </dict>
            <key>yaoshi_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{159,121}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{159,121}}</string>
                <key>sourceSize</key>
                <string>{211,181}</string>
            </dict>
            <key>yaoshi_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,121},{153,113}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,32},{153,113}}</string>
                <key>sourceSize</key>
                <string>{211,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoshi_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{254,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97a1c41e1b310055849ecbfa21cd365c:5f425f66e9b6faadd80e70d5fd7d1d49:3e453c253cbe2ef3fffeada11ddb294a$</string>
            <key>textureFileName</key>
            <string>yaoshi_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
