<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanshao_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,310},{157,167}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,114},{157,167}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,277},{233,247}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,50},{233,247}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{337,277}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{337,277}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{175,265}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{175,265}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,155},{155,179}}</string>
                <key>offset</key>
                <string>{-7,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,111},{155,179}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,277},{155,171}}</string>
                <key>offset</key>
                <string>{-7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,112},{155,171}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
            <key>yuanshao_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{155,185}}</string>
                <key>offset</key>
                <string>{-7,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,112},{155,185}}</string>
                <key>sourceSize</key>
                <string>{337,313}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuanshao_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{697,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24488bcb50633899063f01930fd6a126:0420f593cff84e30dcc2d3e9c215a9ee:4739eac17e6a756de7d951c7a5ec13e3$</string>
            <key>textureFileName</key>
            <string>yuanshao_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
