<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanshao_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1,1}}</string>
                <key>offset</key>
                <string>{-130,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{261,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuanshao_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{3,3}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36934f1622305ce39316b695712e75b9:70f9f854fb0e700d6562d6dbcb8c7736:e388e99dbfe4827eff6ba260ed57b975$</string>
            <key>textureFileName</key>
            <string>yuanshao_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
