<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanshao_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1696},{135,143}}</string>
                <key>offset</key>
                <string>{81,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,19},{135,143}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1006},{201,161}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{201,161}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>yuanshao_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,845},{201,161}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{201,161}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>yuanshao_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,581},{205,123}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{205,123}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>yuanshao_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1354},{193,95}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,45},{193,95}}</string>
                <key>sourceSize</key>
                <string>{241,187}</string>
            </dict>
            <key>yuanshao_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1167},{199,187}}</string>
                <key>offset</key>
                <string>{85,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,30},{199,187}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1449},{247,187}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,83},{247,187}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,257}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,28},{231,257}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{183,229}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,66},{183,229}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{213,141}}</string>
                <key>offset</key>
                <string>{-57,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,144},{213,141}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,704},{203,141}}</string>
                <key>offset</key>
                <string>{-52,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,144},{203,141}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1831},{143,109}}</string>
                <key>offset</key>
                <string>{-22,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,161},{143,109}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
            <key>yuanshao_skill_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1831},{105,109}}</string>
                <key>offset</key>
                <string>{-40,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,161},{105,109}}</string>
                <key>sourceSize</key>
                <string>{385,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuanshao_skill.pvr.ccz</string>
            <key>size</key>
            <string>{231,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed6c0946e9f5d887b310151ed3daa45:84128619b825b27cc4f2326acbd1e770:9187b5082b69f8d8579923faf5cef89f$</string>
            <key>textureFileName</key>
            <string>yuanshao_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
