<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yujin_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{217,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{217,79}}</string>
                <key>sourceSize</key>
                <string>{225,81}</string>
            </dict>
            <key>yujin_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{153,169}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{153,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>yujin_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{165,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{165,163}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>yujin_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{165,145}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{165,145}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>yujin_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{165,141}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{165,141}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yujin_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{881,163}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff1fb6975fb7211da1be3e106026ea1b:fccb9a1c75746476bd30454496629884:8f5fd54856d9a965679b966417bafec4$</string>
            <key>textureFileName</key>
            <string>yujin_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
