<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yujin_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,0},{187,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,89}}</string>
                <key>sourceSize</key>
                <string>{187,89}</string>
            </dict>
            <key>yujin_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,0},{123,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{123,95}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>yujin_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,0},{125,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{125,95}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>yujin_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{125,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,101}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>yujin_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{81,79}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{81,79}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
            <key>yujin_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,0},{75,73}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{75,73}}</string>
                <key>sourceSize</key>
                <string>{125,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yujin_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{712,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b17fbf5e71f701dae306d1bc05184f59:f647a7bbac2d83d45b0e8413d3ebc28f:8c0eae193cadb799399402caace754ce$</string>
            <key>textureFileName</key>
            <string>yujin_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
