<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfei_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,928},{158,188}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,25},{158,188}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
            <key>zhangfei_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{218,180}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,33},{218,180}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
            <key>zhangfei_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{204,174}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{204,174}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
            <key>zhangfei_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{266,206}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{266,206}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
            <key>zhangfei_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,194}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{242,194}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
            <key>zhangfei_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{228,114}}</string>
                <key>offset</key>
                <string>{-23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,56},{228,114}}</string>
                <key>sourceSize</key>
                <string>{292,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{242,1086}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99253af1637e9a2a12e81bc84d59c024:12b0aa1adc27110b0d67b1ba6322ce15:1c1a429efd9fb13b8674dc9f4b13017c$</string>
            <key>textureFileName</key>
            <string>zhangfei_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
