<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangxingcai_shouji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,0},{133,118}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{133,118}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>zhangxingcai_shouji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{133,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{133,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>zhangxingcai_shouji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,0},{133,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{133,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
            <key>zhangxingcai_shouji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{133,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{133,124}}</string>
                <key>sourceSize</key>
                <string>{163,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangxingcai_shouji.pvr.ccz</string>
            <key>size</key>
            <string>{532,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0207efc6de5d07fa913454336775529:6a6324c4842548d2e2d6517501b5dcb4:ef308143a0eebacb89be8b988f1644c8$</string>
            <key>textureFileName</key>
            <string>zhangxingcai_shouji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
