<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfei_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,512},{414,253}}</string>
                <key>offset</key>
                <string>{163,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,87},{414,253}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{430,255}}</string>
                <key>offset</key>
                <string>{88,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,91},{430,255}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,255},{424,257}}</string>
                <key>offset</key>
                <string>{3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,94},{424,257}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,765},{412,257}}</string>
                <key>offset</key>
                <string>{-97,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,94},{412,257}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1761},{398,261}}</string>
                <key>offset</key>
                <string>{-183,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,89},{398,261}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1265},{402,253}}</string>
                <key>offset</key>
                <string>{-182,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{402,253}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1022},{406,243}}</string>
                <key>offset</key>
                <string>{-95,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,14},{406,243}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1518},{402,243}}</string>
                <key>offset</key>
                <string>{-25,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,9},{402,243}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1648},{394,243}}</string>
                <key>offset</key>
                <string>{30,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,3},{394,243}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,892},{374,247}}</string>
                <key>offset</key>
                <string>{102,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,1},{374,247}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,512},{380,247}}</string>
                <key>offset</key>
                <string>{160,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,22},{380,247}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
            <key>zhangfei_skill_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1266},{382,255}}</string>
                <key>offset</key>
                <string>{219,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,83},{382,255}}</string>
                <key>sourceSize</key>
                <string>{822,359}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei_skill.pvr.ccz</string>
            <key>size</key>
            <string>{661,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bd3b2c42fabfa56bf7594c9b3463726:822b07eabe0c5a470f547893bc6f4408:8a4bc280b373c07d0dc11c584a5a80a4$</string>
            <key>textureFileName</key>
            <string>zhangfei_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
