<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliao_attack4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{116,159}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{116,159}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>zhangliao_attack4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{146,169}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{146,169}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>zhangliao_attack4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>zhangliao_attack4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,0},{144,157}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{144,157}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
            <key>zhangliao_attack4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,0},{140,123}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{140,123}}</string>
                <key>sourceSize</key>
                <string>{150,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangliao_attack4.pvr.ccz</string>
            <key>size</key>
            <string>{779,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e92906afb9655b160d459ae9004cae6a:19c23324b6ef4cddc990f1b2804dfe7f:98bd5070c4edb6a98b9e98849964c2e2$</string>
            <key>textureFileName</key>
            <string>zhangliao_attack4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
