<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangjiao_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,123},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>zhangjiao_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>zhangjiao_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,41},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>zhangjiao_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,41}}</string>
                <key>sourceSize</key>
                <string>{116,41}</string>
            </dict>
            <key>zhangjiao_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,409},{89,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{89,75}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>zhangjiao_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>zhangjiao_attack1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>zhangjiao_attack1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{99,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,79}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangjiao_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{116,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949e11eb4e87a013d3bd5617ca95e0e0:f4ecaabb9bb4637e8d2bc720a1edc1af:c65bfa19ada9b40a5fe79efff17cdb1c$</string>
            <key>textureFileName</key>
            <string>zhangjiao_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
