<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangjiao_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1651},{311,274}}</string>
                <key>offset</key>
                <string>{100,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,51},{311,274}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
            <key>zhangjiao_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{355,324}}</string>
                <key>offset</key>
                <string>{76,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,22},{355,324}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
            <key>zhangjiao_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1340},{311,338}}</string>
                <key>offset</key>
                <string>{80,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,8},{311,338}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
            <key>zhangjiao_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{381,338}}</string>
                <key>offset</key>
                <string>{45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,8},{381,338}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
            <key>zhangjiao_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,342},{449,336}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,10},{449,336}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
            <key>zhangjiao_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{491,342}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{491,342}}</string>
                <key>sourceSize</key>
                <string>{515,346}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangjiao_skill.pvr.ccz</string>
            <key>size</key>
            <string>{491,1925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f84e64ae0cff38d0aa3be6d6948a4c3:7f4dbadc3ad780f66fb06c1b5e827453:62f711ce57ed84a7a68739c453e094bb$</string>
            <key>textureFileName</key>
            <string>zhangjiao_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
