<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyun_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{201,145}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{201,145}}</string>
                <key>sourceSize</key>
                <string>{205,151}</string>
            </dict>
            <key>zhaoyun_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{185,151}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,151}}</string>
                <key>sourceSize</key>
                <string>{205,151}</string>
            </dict>
            <key>zhaoyun_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{175,143}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{175,143}}</string>
                <key>sourceSize</key>
                <string>{205,151}</string>
            </dict>
            <key>zhaoyun_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,439},{113,69}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,54},{113,69}}</string>
                <key>sourceSize</key>
                <string>{205,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyun_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{201,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cef9ed67460ff4faf3e28f56c937c60d:1c91aa36806f3d855f31ef6dc45b2e3c:96eff9a0f6cf968bb75970f5a6ef20c1$</string>
            <key>textureFileName</key>
            <string>zhaoyun_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
