<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaoyun_long_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1004},{248,302}}</string>
                <key>offset</key>
                <string>{29,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,98},{248,302}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,346}}</string>
                <key>offset</key>
                <string>{25,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{256,346}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{234,342}}</string>
                <key>offset</key>
                <string>{25,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,53},{234,342}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{222,322}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{222,322}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,346},{258,316}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,54},{258,316}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1328},{302,310}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{302,310}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1638},{278,300}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,61},{278,300}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,688},{272,316}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{272,316}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{242,318}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{242,318}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
            <key>zhaoyun_long_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{152,218}}</string>
                <key>offset</key>
                <string>{-34,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,74},{152,218}}</string>
                <key>sourceSize</key>
                <string>{306,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaoyun_long.pvr.ccz</string>
            <key>size</key>
            <string>{494,1916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9d5dee3a73e10ec70cd91861199acd7:1b9db1c2a678380702f52d123ede6db5:03955a172d87e991185d8a64b4b11700$</string>
            <key>textureFileName</key>
            <string>zhaoyun_long.pvr.ccz</string>
        </dict>
    </dict>
</plist>
