<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{209,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,54}}</string>
                <key>sourceSize</key>
                <string>{209,56}</string>
            </dict>
            <key>zhouyu_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,125},{127,121}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{127,121}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
            <key>zhouyu_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{137,133}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{137,133}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
            <key>zhouyu_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{139,135}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{139,135}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
            <key>zhouyu_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{143,125}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{143,125}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
            <key>zhouyu_attack1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,137},{121,115}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{121,115}}</string>
                <key>sourceSize</key>
                <string>{143,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyu_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{451,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:080c1c0df8103c16f5aba63b9e41560f:bf071c99cb4a8241f80726805ca35a32:444090b0cc5ef675dad01c12dfb6be84$</string>
            <key>textureFileName</key>
            <string>zhouyu_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
