<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1148},{102,264}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{102,264}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
            <key>zhouyu_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{180,288}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,288}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
            <key>zhouyu_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{180,292}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{180,292}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
            <key>zhouyu_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,304}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{180,304}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
            <key>zhouyu_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{180,148}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,142},{180,148}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
            <key>zhouyu_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{180,116}}</string>
                <key>offset</key>
                <string>{0,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,174},{180,116}}</string>
                <key>sourceSize</key>
                <string>{180,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyu_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{180,1412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a41e50ab913256c3c2420245e5e15de2:3abb2d0adad5ba36455c1103d1cd8792:4519fab1278a9b7c615673c16d118014$</string>
            <key>textureFileName</key>
            <string>zhouyu_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
