<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhoutai_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,173}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{226,173}}</string>
                <key>sourceSize</key>
                <string>{252,173}</string>
            </dict>
            <key>zhoutai_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{192,163}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{192,163}}</string>
                <key>sourceSize</key>
                <string>{252,173}</string>
            </dict>
            <key>zhoutai_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{190,147}}</string>
                <key>offset</key>
                <string>{-31,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{190,147}}</string>
                <key>sourceSize</key>
                <string>{252,173}</string>
            </dict>
            <key>zhoutai_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,0},{188,137}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{188,137}}</string>
                <key>sourceSize</key>
                <string>{252,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhoutai_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{796,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea94f03db2011c9f1f91caa89e7146d7:97cf3821044b8aaebe490d0780492d78:2f350692334850ef1d5be94e53ba7518$</string>
            <key>textureFileName</key>
            <string>zhoutai_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
