<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliang_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1164},{158,288}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,39},{158,288}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1164},{288,366}}</string>
                <key>offset</key>
                <string>{45,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,36},{288,366}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,992},{470,372}}</string>
                <key>offset</key>
                <string>{-30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{470,372}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{488,390}}</string>
                <key>offset</key>
                <string>{-37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{488,390}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,510},{482,392}}</string>
                <key>offset</key>
                <string>{-42,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,23},{482,392}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{510,398}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{510,398}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{536,396}}</string>
                <key>offset</key>
                <string>{-11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{536,396}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
            <key>zhugeliang_skill_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{548,378}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{548,378}}</string>
                <key>sourceSize</key>
                <string>{600,420}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang_skill.pvr.ccz</string>
            <key>size</key>
            <string>{994,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc00468accf91635146ec0f930f63f6:eabe7f5bb1336148500dacaaf0682628:4edf7486906112efee66c0db4d56ae20$</string>
            <key>textureFileName</key>
            <string>zhugeliang_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
