<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeguo_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{113,103}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,103}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>zhugeguo_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,309},{109,101}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{109,101}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>zhugeguo_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,204},{111,105}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{111,105}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>zhugeguo_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,101}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{115,101}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>zhugeguo_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{109,95}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{109,95}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeguo_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{115,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aaeeac986c60469ed4c2dbfe1ae4fe6:2b094b39641d088ac115e9062b378922:3c8248b4f4ca8b2fac6e2579fdb1cc5d$</string>
            <key>textureFileName</key>
            <string>zhugeguo_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
