<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliang_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,204}}</string>
                <key>sourceSize</key>
                <string>{232,208}</string>
            </dict>
            <key>zhugeliang_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{230,202}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{230,202}}</string>
                <key>sourceSize</key>
                <string>{232,208}</string>
            </dict>
            <key>zhugeliang_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,0},{226,202}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{226,202}}</string>
                <key>sourceSize</key>
                <string>{232,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{688,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c78298d868687b409c0931ad23ce2e8:9a19e21abce18f2985220d818b3a7fd5:cf52a8238991ffd8e5dafad0c43e1b84$</string>
            <key>textureFileName</key>
            <string>zhugeliang_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
