<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeguo_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,54}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{124,54}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>zhugeguo_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{68,64}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{68,64}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>zhugeguo_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{76,62}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{76,62}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>zhugeguo_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,62},{82,64}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{82,64}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
            <key>zhugeguo_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,62},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{82,64}}</string>
                <key>sourceSize</key>
                <string>{146,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeguo_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{232,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f16f26a611fb0b41edf9f1fd3c78a4:e27f7be34a13ff118639f849480e6297:02b94ef8f8ce902e659c03a37c074a90$</string>
            <key>textureFileName</key>
            <string>zhugeguo_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
