<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliang_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{138,60}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,44},{138,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>zhugeliang_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{123,93}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{123,93}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>zhugeliang_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{129,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,101}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>zhugeliang_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{131,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,101}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
            <key>zhugeliang_attack1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{127,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{127,103}}</string>
                <key>sourceSize</key>
                <string>{131,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeliang_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{648,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa52fba47f12fb6e1beed5e0330a7f67:a1c2323cf496f62ddd20b23e3e05c725:c2045f57b64240781a4dbdd7e50c16b5$</string>
            <key>textureFileName</key>
            <string>zhugeliang_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
