<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeguo_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,486},{97,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,51}}</string>
                <key>sourceSize</key>
                <string>{97,51}</string>
            </dict>
            <key>zhugeguo_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,352},{100,134}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,50},{100,134}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>zhugeguo_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{112,184}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{112,184}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>zhugeguo_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,188}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{122,188}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>zhugeguo_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{130,166}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,24},{130,166}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>zhugeguo_skill_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{136,166}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,24},{136,166}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
            <key>zhugeguo_skill_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,188},{138,164}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{138,164}}</string>
                <key>sourceSize</key>
                <string>{150,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhugeguo_skill.pvr.ccz</string>
            <key>size</key>
            <string>{252,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cd949aa44aa6407d57bdfd180087e0e:8db0d76356cb5ad7a14be78de5016e48:671c8e9649530ed0351dca698bfd1a28$</string>
            <key>textureFileName</key>
            <string>zhugeguo_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
