<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurongfuren_attack3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{200,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>zhurongfuren_attack3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>zhurongfuren_attack3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{200,118}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,118}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>zhurongfuren_attack3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{180,100}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{180,100}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
            <key>zhurongfuren_attack3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{174,102}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{174,102}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
            <key>zhurongfuren_attack3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,174},{172,112}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{172,112}}</string>
                <key>sourceSize</key>
                <string>{180,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhurongfuren_attack3.pvr.ccz</string>
            <key>size</key>
            <string>{242,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6c2b372a7fbe601cd0925416179c429:00f32b6436bfb018cac99e052dcd8774:ed9168f2688e64c00a1e810b9613f03e$</string>
            <key>textureFileName</key>
            <string>zhurongfuren_attack3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
