<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurongfuren_attack1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{171,192}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{171,192}}</string>
                <key>sourceSize</key>
                <string>{195,208}</string>
            </dict>
            <key>zhurongfuren_attack1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{193,200}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{193,200}}</string>
                <key>sourceSize</key>
                <string>{195,208}</string>
            </dict>
            <key>zhurongfuren_attack1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{195,196}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{195,196}}</string>
                <key>sourceSize</key>
                <string>{195,208}</string>
            </dict>
            <key>zhurongfuren_attack1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{177,184}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{177,184}}</string>
                <key>sourceSize</key>
                <string>{195,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhurongfuren_attack1.pvr.ccz</string>
            <key>size</key>
            <string>{744,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9707129f3000ca44522fe535685011ae:bf6b0db0ed49c62b8eaefab7e9372de2:9228a5ac8d7fd91aa9db84af047d5e5f$</string>
            <key>textureFileName</key>
            <string>zhurongfuren_attack1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
