<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurongfuren_skill_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{251,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{251,245}}</string>
                <key>sourceSize</key>
                <string>{251,249}</string>
            </dict>
            <key>zhurongfuren_skill_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,982},{241,249}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{241,249}}</string>
                <key>sourceSize</key>
                <string>{251,249}</string>
            </dict>
            <key>zhurongfuren_skill_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,739},{243,249}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{243,249}}</string>
                <key>sourceSize</key>
                <string>{251,249}</string>
            </dict>
            <key>zhurongfuren_skill_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{249,247}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{249,247}}</string>
                <key>sourceSize</key>
                <string>{251,249}</string>
            </dict>
            <key>zhurongfuren_skill_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{251,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{251,247}}</string>
                <key>sourceSize</key>
                <string>{251,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhurongfuren_skill.pvr.ccz</string>
            <key>size</key>
            <string>{251,1223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49626dad4e7de8c5a89f2b3fb1f4b1e6:7d1094a4173d317fd2ce61fe5b35f22e:359df80dfde781e13128c11c3e549a53$</string>
            <key>textureFileName</key>
            <string>zhurongfuren_skill.pvr.ccz</string>
        </dict>
    </dict>
</plist>
