<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurongfuren_attack2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,127},{97,165}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,26},{97,165}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,0},{127,185}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,29},{127,185}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{155,223}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{155,223}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{179,225}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{179,225}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{215,239}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{215,239}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{229,167}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,62},{229,167}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{229,167}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,65},{229,167}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,0},{217,165}}</string>
                <key>offset</key>
                <string>{-9,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{217,165}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,0},{201,171}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,66},{201,171}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
            <key>zhurongfuren_attack2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,0},{205,179}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{205,179}}</string>
                <key>sourceSize</key>
                <string>{235,245}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhurongfuren_attack2.pvr.ccz</string>
            <key>size</key>
            <string>{1583,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ede2c4f0d6f4dce4bd7e7f4493ebda2:e0311cf6c5195974ed82d250752468aa:2c2454875be2aa621695b096f66fa6cd$</string>
            <key>textureFileName</key>
            <string>zhurongfuren_attack2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
