<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,136},{67,50}}</string>
                <key>offset</key>
                <string>{-129,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{67,50}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,136},{325,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{325,62}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{325,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{325,66}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,68},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,68},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,0},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
            <key>skillUp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{325,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,68}}</string>
                <key>sourceSize</key>
                <string>{325,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillUp.png</string>
            <key>size</key>
            <string>{975,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62ffefbf8b46fe350ec2221b61c70dbe:2b727a3a9cb4b00fae7d4996da2bc583:596fd62eee8b394bab1b974e82d16025$</string>
            <key>textureFileName</key>
            <string>skillUp.png</string>
        </dict>
    </dict>
</plist>
