<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>text_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,284},{115,113}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{115,113}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,399},{107,115}}</string>
                <key>offset</key>
                <string>{-49,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,33},{107,115}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,514},{99,127}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,22},{99,127}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,473},{157,133}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{157,133}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{217,139}}</string>
                <key>offset</key>
                <string>{16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,32},{217,139}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{173,109}}</string>
                <key>offset</key>
                <string>{34,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,37},{173,109}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{189,127}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,21},{189,127}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{177,145}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,20},{177,145}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>text_star_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,641},{85,105}}</string>
                <key>offset</key>
                <string>{67,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,44},{85,105}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>text_star.png</string>
            <key>size</key>
            <string>{240,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d22cde3cb0411abd21cac7b340a1f89:063a2f9ca903f5d1a90b6fa39227e785:2a7d9c8c76de18815d4408ccd3f6efce$</string>
            <key>textureFileName</key>
            <string>text_star.png</string>
        </dict>
    </dict>
</plist>
