<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bubing02_y- xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,520},{58,60}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{58,60}}</string>
                <key>sourceSize</key>
                <string>{78,84}</string>
            </dict>
            <key>bubing02_y-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,62},{45,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{45,48}}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>bubing02_y-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1642},{25,24}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{25,24}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>bubing02_y-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,603},{28,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>bubing02_y-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,603},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>bubing02_y-Ltuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{62,49}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{62,49}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>bubing02_y-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1666},{25,22}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,22}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>bubing02_y-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,629},{30,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{52,29}</string>
            </dict>
            <key>bubing02_y-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,133},{31,42}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{31,42}}</string>
                <key>sourceSize</key>
                <string>{41,60}</string>
            </dict>
            <key>bubing02_y-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1642},{25,24}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{25,24}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>bubing02_y-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,107},{44,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{44,26}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>bubing02_y-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1688},{24,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{24,23}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>bubing02_y-Rtuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,237},{36,29}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{36,29}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>bubing02_y-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1711},{26,23}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{26,23}}</string>
                <key>sourceSize</key>
                <string>{34,27}</string>
            </dict>
            <key>bubing02_y-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,631},{28,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{28,22}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>bubing02_y-dazi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,266},{36,24}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{36,24}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>bubing02_y-dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,441},{60,79}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{60,79}}</string>
                <key>sourceSize</key>
                <string>{62,89}</string>
            </dict>
            <key>bubing02_y-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{364,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,322}}</string>
                <key>sourceSize</key>
                <string>{364,322}</string>
            </dict>
            <key>bubing02_y-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{352,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,320}}</string>
                <key>sourceSize</key>
                <string>{352,320}</string>
            </dict>
            <key>bubing02_y-g3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1257},{336,330}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,330}}</string>
                <key>sourceSize</key>
                <string>{348,330}</string>
            </dict>
            <key>bubing02_y-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1319},{77,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{77,96}}</string>
                <key>sourceSize</key>
                <string>{131,108}</string>
            </dict>
            <key>bubing02_y-j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{349,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,311}}</string>
                <key>sourceSize</key>
                <string>{349,311}</string>
            </dict>
            <key>bubing02_y-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,953},{337,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,304}}</string>
                <key>sourceSize</key>
                <string>{337,304}</string>
            </dict>
            <key>bubing02_y-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1587},{322,312}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,312}}</string>
                <key>sourceSize</key>
                <string>{332,312}</string>
            </dict>
            <key>bubing02_y-p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,654},{227,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,65}}</string>
                <key>sourceSize</key>
                <string>{227,67}</string>
            </dict>
            <key>bubing02_y-p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1415},{227,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,67}}</string>
                <key>sourceSize</key>
                <string>{227,67}</string>
            </dict>
            <key>bubing02_y-p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1642},{203,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,67}}</string>
                <key>sourceSize</key>
                <string>{203,67}</string>
            </dict>
            <key>bubing02_y-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1223},{77,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{77,96}}</string>
                <key>sourceSize</key>
                <string>{131,108}</string>
            </dict>
            <key>bubing02_y-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1127},{77,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{77,96}}</string>
                <key>sourceSize</key>
                <string>{131,108}</string>
            </dict>
            <key>bubing02_y-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1031},{77,96}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{77,96}}</string>
                <key>sourceSize</key>
                <string>{131,108}</string>
            </dict>
            <key>bubing02_y-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,164},{38,37}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,37}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>bubing02_y-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,201},{38,36}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{38,36}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>bubing02_y-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,290},{33,151}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{33,151}}</string>
                <key>sourceSize</key>
                <string>{37,205}</string>
            </dict>
            <key>bubing02_y-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,578},{60,25}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{60,25}}</string>
                <key>sourceSize</key>
                <string>{94,39}</string>
            </dict>
            <key>bubing02_y-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,881},{150,64}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{150,64}}</string>
                <key>sourceSize</key>
                <string>{208,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bubing2_y.pvr.ccz</string>
            <key>size</key>
            <string>{414,1899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ada5cff3c4db4ed50f239a6a85f5db3c:462f004620840367b541688787e454be:5d4286e471832266ac0bff0c8352f3b2$</string>
            <key>textureFileName</key>
            <string>bubing2_y.pvr.ccz</string>
        </dict>
    </dict>
</plist>
