<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulians-beigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,716},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>bulians-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,697},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>bulians-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,625},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>bulians-元件 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{214,103}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,22},{214,103}}</string>
                <key>sourceSize</key>
                <string>{252,145}</string>
            </dict>
            <key>bulians-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,799},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>bulians-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,312},{5,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,16}}</string>
                <key>sourceSize</key>
                <string>{5,16}</string>
            </dict>
            <key>bulians-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,282},{6,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,18}}</string>
                <key>sourceSize</key>
                <string>{6,18}</string>
            </dict>
            <key>bulians-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,300},{5,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,23}}</string>
                <key>sourceSize</key>
                <string>{5,23}</string>
            </dict>
            <key>bulians-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,444},{4,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,19}}</string>
                <key>sourceSize</key>
                <string>{4,19}</string>
            </dict>
            <key>bulians-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,307},{5,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,16}}</string>
                <key>sourceSize</key>
                <string>{5,16}</string>
            </dict>
            <key>bulians-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,617},{91,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,80}}</string>
                <key>sourceSize</key>
                <string>{91,80}</string>
            </dict>
            <key>bulians-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,282},{39,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,40}}</string>
                <key>sourceSize</key>
                <string>{39,40}</string>
            </dict>
            <key>bulians-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,556},{29,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,17}}</string>
                <key>sourceSize</key>
                <string>{29,17}</string>
            </dict>
            <key>bulians-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,603},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>bulians-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,417},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>bulians-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,444},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>bulians-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,522},{13,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,34}}</string>
                <key>sourceSize</key>
                <string>{13,34}</string>
            </dict>
            <key>bulians-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,432},{38,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,14}}</string>
                <key>sourceSize</key>
                <string>{38,14}</string>
            </dict>
            <key>bulians-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,545},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>bulians-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,417},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>bulians-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,184},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>bulians-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,573},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>bulians-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,297},{10,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,16}}</string>
                <key>sourceSize</key>
                <string>{10,16}</string>
            </dict>
            <key>bulians-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,432},{10,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,15}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>bulians-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,573},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>bulians-补间 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,556},{14,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,25}}</string>
                <key>sourceSize</key>
                <string>{14,25}</string>
            </dict>
            <key>bulians-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,184}}</string>
                <key>sourceSize</key>
                <string>{176,184}</string>
            </dict>
            <key>bulians-补间 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,777},{21,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>bulians-补间 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,585},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>bulians-补间 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,523},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>bulians-补间 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,323},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>bulians-补间 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{106,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{106,114}</string>
            </dict>
            <key>bulians-补间 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{130,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,113}}</string>
                <key>sourceSize</key>
                <string>{130,113}</string>
            </dict>
            <key>bulians-补间 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,239},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>bulians-补间 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,598},{21,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>bulians-补间 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,470},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>bulians-补间 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,777},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>bulians-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,581},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>bulians-补间 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,14}}</string>
                <key>sourceSize</key>
                <string>{18,14}</string>
            </dict>
            <key>bulians-补间 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,606},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>bulians-补间 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,474},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,40}</string>
            </dict>
            <key>bulians-补间 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,777},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>bulians-补间 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{18,23}</string>
            </dict>
            <key>bulians-补间 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,496},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>bulians-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,797},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>bulians-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,491},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,32}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>bulians-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,447},{8,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,27}}</string>
                <key>sourceSize</key>
                <string>{8,27}</string>
            </dict>
            <key>bulians-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,403},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>bulians-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,535},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuLianShi.pvr.ccz</string>
            <key>size</key>
            <string>{176,815}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9791f6674e686d990dce07cf0f79d21:08c4629c43e75f825ef3254aeff1d80a:b1aeee7adc56d55bcd2e03f81e5961e9$</string>
            <key>textureFileName</key>
            <string>BuLianShi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
