<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulian3s1-Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,0},{250,259}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{250,259}}</string>
                <key>sourceSize</key>
                <string>{272,297}</string>
            </dict>
            <key>bulian3s1-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,547},{228,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{228,443}}</string>
                <key>sourceSize</key>
                <string>{228,457}</string>
            </dict>
            <key>bulian3s1-Symbol 2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,0},{349,259}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{349,259}}</string>
                <key>sourceSize</key>
                <string>{371,261}</string>
            </dict>
            <key>bulian3s1-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,547},{317,439}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{317,439}}</string>
                <key>sourceSize</key>
                <string>{325,457}</string>
            </dict>
            <key>bulian3s1-Symbol 3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,259},{298,233}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{298,233}}</string>
                <key>sourceSize</key>
                <string>{316,251}</string>
            </dict>
            <key>bulian3s1-Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,0},{547,443}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{547,443}}</string>
                <key>sourceSize</key>
                <string>{575,457}</string>
            </dict>
            <key>bulian3s1-Symbol 4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,853},{94,90}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{94,90}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>bulian3s1-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{553,439}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{553,439}}</string>
                <key>sourceSize</key>
                <string>{575,457}</string>
            </dict>
            <key>bulian3s1-Symbol 5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,315},{226,249}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{226,249}}</string>
                <key>sourceSize</key>
                <string>{244,269}</string>
            </dict>
            <key>bulian3s1-Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,924},{55,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{55,53}}</string>
                <key>sourceSize</key>
                <string>{81,71}</string>
            </dict>
            <key>bulian3s1-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,715},{263,158}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,93},{263,158}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,557},{277,158}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,98},{277,158}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,553},{385,215}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{385,215}}</string>
                <key>sourceSize</key>
                <string>{389,215}</string>
            </dict>
            <key>bulian3s1-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,553},{371,213}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{371,213}}</string>
                <key>sourceSize</key>
                <string>{389,215}</string>
            </dict>
            <key>bulian3s1-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,553},{365,199}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{365,199}}</string>
                <key>sourceSize</key>
                <string>{389,215}</string>
            </dict>
            <key>bulian3s1-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,0},{315,307}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{315,307}}</string>
                <key>sourceSize</key>
                <string>{321,317}</string>
            </dict>
            <key>bulian3s1-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,544},{267,309}}</string>
                <key>offset</key>
                <string>{-23,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{267,309}}</string>
                <key>sourceSize</key>
                <string>{321,317}</string>
            </dict>
            <key>bulian3s1-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,349},{195,301}}</string>
                <key>offset</key>
                <string>{-62,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{195,301}}</string>
                <key>sourceSize</key>
                <string>{321,317}</string>
            </dict>
            <key>bulian3s1-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,806},{279,170}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{279,170}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,529},{277,194}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,62},{277,194}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,315},{263,214}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,37},{263,214}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,0},{271,236}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{271,236}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
            <key>bulian3s1-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,853},{135,88}}</string>
                <key>offset</key>
                <string>{-2,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{135,88}}</string>
                <key>sourceSize</key>
                <string>{279,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BuLianShi_e.pvr.ccz</string>
            <key>size</key>
            <string>{1945,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0eacf5289c4d9ccebe2f34f68f016cf2:005765959fdecf5fcb29b255be7509ea:0820c9fd9b9576be83310bccb717edfa$</string>
            <key>textureFileName</key>
            <string>BuLianShi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
