<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwjsaaa-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{55,52}}</string>
                <key>offset</key>
                <string>{44,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,40},{55,52}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,136},{190,185}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{190,185}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,110},{188,183}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{188,183}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,314},{188,183}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{188,183}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,124},{190,183}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,3},{190,183}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,136},{200,169}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{200,169}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,183},{164,167}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,19},{164,167}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,361},{85,80}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,28},{85,80}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,399},{195,98}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,21},{195,98}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,165},{179,162}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{179,162}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>cwjsaaa-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,293},{179,188}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{179,188}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>cwjsaaa-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,0},{163,208}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{163,208}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>cwjsaaa-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,0},{165,210}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{165,210}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>cwjsaaa-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,0},{133,206}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{133,206}}</string>
                <key>sourceSize</key>
                <string>{181,210}</string>
            </dict>
            <key>cwjsaaa-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,361},{70,70}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,33},{70,70}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,206},{126,124}}</string>
                <key>offset</key>
                <string>{26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,5},{126,124}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,361},{146,136}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,165},{162,136}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{162,136}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{233,110}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{233,110}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,327},{170,132}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{170,132}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,183},{178,124}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{178,124}}</string>
                <key>sourceSize</key>
                <string>{188,136}</string>
            </dict>
            <key>cwjsaaa-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,220}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{230,220}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>cwjsaaa-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{230,216}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{230,216}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>cwjsaaa-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{210,214}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{210,214}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>cwjsaaa-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,0},{261,124}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{261,124}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,321},{172,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{172,174}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>cwjsaaa-Tween 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,327},{168,160}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{168,160}}</string>
                <key>sourceSize</key>
                <string>{264,240}</string>
            </dict>
            <key>cwjsaaa-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{269,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,136}}</string>
                <key>sourceSize</key>
                <string>{279,136}</string>
            </dict>
            <key>cwjsaaa-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,305},{200,187}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{200,187}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,0},{202,183}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{202,183}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
            <key>cwjsaaa-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,214},{204,185}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{204,185}}</string>
                <key>sourceSize</key>
                <string>{212,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaiWenJi_e.pvr.ccz</string>
            <key>size</key>
            <string>{1956,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e55ce3794e0e53eec5f324b5f25ac00:d73b0f1415f24701c52451b322783e81:50a32dade3f974eaf0abedf05da9297e$</string>
            <key>textureFileName</key>
            <string>CaiWenJi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
