<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cwjas-beigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,87},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>cwjas-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,155},{69,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,67}}</string>
                <key>sourceSize</key>
                <string>{69,67}</string>
            </dict>
            <key>cwjas-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,87},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>cwjas-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{184,87}}</string>
                <key>sourceSize</key>
                <string>{216,125}</string>
            </dict>
            <key>cwjas-元件 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,121},{24,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>cwjas-元件 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,235},{16,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>cwjas-元件 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,209},{29,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,16}}</string>
                <key>sourceSize</key>
                <string>{29,16}</string>
            </dict>
            <key>cwjas-元件 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{30,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,69}}</string>
                <key>sourceSize</key>
                <string>{30,69}</string>
            </dict>
            <key>cwjas-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{11,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,38}}</string>
                <key>sourceSize</key>
                <string>{11,38}</string>
            </dict>
            <key>cwjas-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,87},{68,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,88}}</string>
                <key>sourceSize</key>
                <string>{68,88}</string>
            </dict>
            <key>cwjas-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,186},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>cwjas-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,156},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>cwjas-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,156},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>cwjas-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,87},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>cwjas-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,225},{15,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,29}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>cwjas-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,208},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>cwjas-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,156},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>cwjas-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,222},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>cwjas-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,16},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>cwjas-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>cwjas-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,227},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>cwjas-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,186},{22,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>cwjas-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,69},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>cwjas-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,244},{7,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,26}}</string>
                <key>sourceSize</key>
                <string>{7,26}</string>
            </dict>
            <key>cwjas-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,186},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>cwjas-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,235},{32,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,15}}</string>
                <key>sourceSize</key>
                <string>{32,15}</string>
            </dict>
            <key>cwjas-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>cwjas-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,175},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>cwjas-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,242},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,13}}</string>
                <key>sourceSize</key>
                <string>{8,13}</string>
            </dict>
            <key>cwjas-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,213},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>cwjas-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,32},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>cwjas-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,222},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>cwjas-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,69},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>cwjas-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,227},{15,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,24}}</string>
                <key>sourceSize</key>
                <string>{15,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaiWenJi.pvr.ccz</string>
            <key>size</key>
            <string>{228,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1b37e6fa109f1f7cd759d5d02101be1:cbefd51ba55ceaa999116ff4764d3cbe:9a240d01c0dd9036a8d8bf36cd6662a0$</string>
            <key>textureFileName</key>
            <string>CaiWenJi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
