<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CC_ewr-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,220},{306,216}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{306,216}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,389},{96,117}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{96,117}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>CC_ewr-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1485,393},{92,121}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,65},{92,121}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>CC_ewr-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,389},{100,127}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,59},{100,127}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>CC_ewr-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,222},{304,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,167}}</string>
                <key>sourceSize</key>
                <string>{304,167}</string>
            </dict>
            <key>CC_ewr-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,240},{270,153}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{270,153}}</string>
                <key>sourceSize</key>
                <string>{304,167}</string>
            </dict>
            <key>CC_ewr-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,0},{243,306}}</string>
                <key>offset</key>
                <string>{45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,10},{243,306}}</string>
                <key>sourceSize</key>
                <string>{347,328}</string>
            </dict>
            <key>CC_ewr-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{311,262}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{311,262}}</string>
                <key>sourceSize</key>
                <string>{347,328}</string>
            </dict>
            <key>CC_ewr-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,0},{287,240}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{287,240}}</string>
                <key>sourceSize</key>
                <string>{347,328}</string>
            </dict>
            <key>CC_ewr-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{306,224}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{306,224}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,0},{316,226}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{316,226}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{322,220}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{322,220}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,0},{320,222}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{320,222}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,226},{318,214}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{318,214}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,243},{306,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{306,216}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>CC_ewr-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,393},{92,85}}</string>
                <key>offset</key>
                <string>{3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,101},{92,85}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
            <key>CC_ewr-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,393},{92,109}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,77},{92,109}}</string>
                <key>sourceSize</key>
                <string>{224,215}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaoCao_e.pvr.ccz</string>
            <key>size</key>
            <string>{1874,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dc4f02ab3751e130fb3c4b8775f3d8e:ea29098f2659266d7cd3ba34a259c931:47a01cd9e72ca32e6a472f205423b189$</string>
            <key>textureFileName</key>
            <string>CaoCao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
