<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caopizong-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,67},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>caopizong-beicao.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{67,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,76}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>caopizong-dianlian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,89},{6,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,27}}</string>
                <key>sourceSize</key>
                <string>{6,27}</string>
            </dict>
            <key>caopizong-diaolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,121},{5,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,23}}</string>
                <key>sourceSize</key>
                <string>{5,23}</string>
            </dict>
            <key>caopizong-diaolian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,121},{5,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,25}}</string>
                <key>sourceSize</key>
                <string>{5,25}</string>
            </dict>
            <key>caopizong-diaolian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,121},{4,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,20}}</string>
                <key>sourceSize</key>
                <string>{4,20}</string>
            </dict>
            <key>caopizong-diaolian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,121},{4,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,19}}</string>
                <key>sourceSize</key>
                <string>{4,19}</string>
            </dict>
            <key>caopizong-diaolian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,89},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>caopizong-fa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,66},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>caopizong-fa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,94},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,32}}</string>
                <key>sourceSize</key>
                <string>{12,32}</string>
            </dict>
            <key>caopizong-gongj.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,66},{60,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>caopizong-guale .png</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{67,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,76}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>caopizong-guan.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,82},{83,22}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,22}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>caopizong-jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,96},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>caopizong-jida.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{67,76}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{67,76}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>caopizong-ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,66},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>caopizong-ling.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,67},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>caopizong-lingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,97},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,34}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>caopizong-neijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,94},{32,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,23}}</string>
                <key>sourceSize</key>
                <string>{32,23}</string>
            </dict>
            <key>caopizong-nu.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,104},{67,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,17}}</string>
                <key>sourceSize</key>
                <string>{69,17}</string>
            </dict>
            <key>caopizong-nu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,94},{32,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>caopizong-nuda.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,45},{116,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,37}}</string>
                <key>sourceSize</key>
                <string>{116,39}</string>
            </dict>
            <key>caopizong-pi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,0},{54,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,37}}</string>
                <key>sourceSize</key>
                <string>{54,37}</string>
            </dict>
            <key>caopizong-pi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,45},{27,36}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>caopizong-pimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,44}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>caopizong-pisan.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>caopizong-shenti .png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>caopizong-shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,81},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>caopizong-sou.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,67},{18,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>caopizong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,65},{60,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,76}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>caopizong-tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,96},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>caopizong-tuiwai.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,67},{25,27}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>caopizong-xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,116},{21,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,9}}</string>
                <key>sourceSize</key>
                <string>{23,9}</string>
            </dict>
            <key>caopizong-xian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,85},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>caopizong-xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,37},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>caopizong-xiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,67},{30,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,56}}</string>
                <key>sourceSize</key>
                <string>{30,56}</string>
            </dict>
            <key>caopizong-yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,67},{47,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,27}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>caopizong-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{143,45}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{143,45}}</string>
                <key>sourceSize</key>
                <string>{169,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaoPi.pvr.ccz</string>
            <key>size</key>
            <string>{574,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9abd184f4fbdffb236049769755c7757:8f1cbfcebc5ec5f954a6e81689527d9b:b5586c2a007e0af3be4d0b7f57b92be2$</string>
            <key>textureFileName</key>
            <string>CaoPi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
