<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caopie-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{188,224}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,55},{188,224}}</string>
                <key>sourceSize</key>
                <string>{230,280}</string>
            </dict>
            <key>caopie-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,236},{123,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,171}}</string>
                <key>sourceSize</key>
                <string>{123,171}</string>
            </dict>
            <key>caopie-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,248},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>caopie-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,108},{141,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,108}}</string>
                <key>sourceSize</key>
                <string>{141,108}</string>
            </dict>
            <key>caopie-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,284},{123,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,171}}</string>
                <key>sourceSize</key>
                <string>{123,171}</string>
            </dict>
            <key>caopie-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,248},{118,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,147}}</string>
                <key>sourceSize</key>
                <string>{118,147}</string>
            </dict>
            <key>caopie-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{141,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,108}}</string>
                <key>sourceSize</key>
                <string>{141,108}</string>
            </dict>
            <key>caopie-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,0},{210,236}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,236}}</string>
                <key>sourceSize</key>
                <string>{230,280}</string>
            </dict>
            <key>caopie-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{124,112}}</string>
                <key>offset</key>
                <string>{32,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,122},{124,112}}</string>
                <key>sourceSize</key>
                <string>{230,280}</string>
            </dict>
            <key>caopie-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,311},{100,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,77}}</string>
                <key>sourceSize</key>
                <string>{100,77}</string>
            </dict>
            <key>caopie-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,224},{184,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,97}}</string>
                <key>sourceSize</key>
                <string>{184,97}</string>
            </dict>
            <key>caopie-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,236},{137,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,144}}</string>
                <key>sourceSize</key>
                <string>{137,144}</string>
            </dict>
            <key>caopie-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,258}}</string>
                <key>sourceSize</key>
                <string>{284,258}</string>
            </dict>
            <key>caopie-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{248,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,210}}</string>
                <key>sourceSize</key>
                <string>{248,210}</string>
            </dict>
            <key>caopie-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,216},{102,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,95}}</string>
                <key>sourceSize</key>
                <string>{102,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaoPi_e.pvr.ccz</string>
            <key>size</key>
            <string>{1015,408}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64191b157892c11c196670df7fd4155:b702d79754b7869e7d55027ff1122878:0e1b8369d2ede5522f800f28d29c9e16$</string>
            <key>textureFileName</key>
            <string>CaoPi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
