<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corenzong-Lfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{33,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>corenzong-Lfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,38},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>corenzong-Lfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,50},{38,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>corenzong-Lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,39},{32,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{34,43}</string>
            </dict>
            <key>corenzong-Lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,53},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>corenzong-Lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,0},{24,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>corenzong-Rfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,43},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>corenzong-Rfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,0},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>corenzong-Rfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,50},{36,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,22}</string>
            </dict>
            <key>corenzong-Rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,50},{23,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,46}}</string>
                <key>sourceSize</key>
                <string>{25,46}</string>
            </dict>
            <key>corenzong-Rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,25},{20,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>corenzong-Rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,24},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>corenzong-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,32},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>corenzong-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,43},{35,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,29}</string>
            </dict>
            <key>corenzong-body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>corenzong-down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{25,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>corenzong-down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{32,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>corenzong-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,0},{63,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,70}}</string>
                <key>sourceSize</key>
                <string>{65,70}</string>
            </dict>
            <key>corenzong-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{61,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{61,70}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>corenzong-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{62,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,70}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>corenzong-head4.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,0},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>corenzong-headup.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>corenzong-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{104,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{104,50}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>corenzong-weapon copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{112,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,74}}</string>
                <key>sourceSize</key>
                <string>{112,74}</string>
            </dict>
            <key>corenzong-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{169,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,74}}</string>
                <key>sourceSize</key>
                <string>{169,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaoRen.pvr.ccz</string>
            <key>size</key>
            <string>{877,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd3293c2ea0df32bd0f314c0f31a8265:42c9b16a51f38c35f4838bc279f22ae6:885d020619689bceeca63a8216729096$</string>
            <key>textureFileName</key>
            <string>CaoRen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
