<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caorenzong-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,196},{247,208}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,208}}</string>
                <key>sourceSize</key>
                <string>{281,210}</string>
            </dict>
            <key>caorenzong-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,0},{329,231}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,231}}</string>
                <key>sourceSize</key>
                <string>{381,235}</string>
            </dict>
            <key>caorenzong-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,0},{324,230}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,230}}</string>
                <key>sourceSize</key>
                <string>{354,230}</string>
            </dict>
            <key>caorenzong-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,180},{243,225}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{243,225}}</string>
                <key>sourceSize</key>
                <string>{261,231}</string>
            </dict>
            <key>caorenzong-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,196},{200,221}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{200,221}}</string>
                <key>sourceSize</key>
                <string>{224,231}</string>
            </dict>
            <key>caorenzong-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,0},{241,199}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{241,199}}</string>
                <key>sourceSize</key>
                <string>{241,201}</string>
            </dict>
            <key>caorenzong-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,199},{233,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{233,180}}</string>
                <key>sourceSize</key>
                <string>{233,188}</string>
            </dict>
            <key>caorenzong-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{373,196}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{373,196}}</string>
                <key>sourceSize</key>
                <string>{389,196}</string>
            </dict>
            <key>caorenzong-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{361,180}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{361,180}}</string>
                <key>sourceSize</key>
                <string>{389,196}</string>
            </dict>
            <key>caorenzong-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{363,174}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{363,174}}</string>
                <key>sourceSize</key>
                <string>{389,196}</string>
            </dict>
            <key>caorenzong-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,231},{228,154}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{228,154}}</string>
                <key>sourceSize</key>
                <string>{242,180}</string>
            </dict>
            <key>caorenzong-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,231},{222,152}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{222,152}}</string>
                <key>sourceSize</key>
                <string>{232,168}</string>
            </dict>
            <key>caorenzong-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{365,230}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,230}}</string>
                <key>sourceSize</key>
                <string>{367,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CaoRen_e.pvr.ccz</string>
            <key>size</key>
            <string>{1993,409}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa36af99c766322c53cbcb6309027d53:3f3c42a41435216f73591e5f50917ad1:522d01d3a11314fada375a541607db0c$</string>
            <key>textureFileName</key>
            <string>CaoRen_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
