<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cgdf-2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,88},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>Cgdf-Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,74},{132,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{132,51}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>Cgdf-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,73},{42,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,24}</string>
            </dict>
            <key>Cgdf-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,115},{10,43}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{10,43}}</string>
                <key>sourceSize</key>
                <string>{16,47}</string>
            </dict>
            <key>Cgdf-Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,73},{29,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,49}}</string>
                <key>sourceSize</key>
                <string>{29,51}</string>
            </dict>
            <key>Cgdf-toubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{68,73}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>Cgdf-toubusdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{70,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Cgdf-toubuzou.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{68,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>Cgdf-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Cgdf-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,88}}</string>
                <key>sourceSize</key>
                <string>{77,88}</string>
            </dict>
            <key>Cgdf-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,73},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>Cgdf-yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,73},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>Cgdf-you bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{30,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>Cgdf-you hushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,93},{22,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,40}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>Cgdf-you qunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,46}}</string>
                <key>sourceSize</key>
                <string>{30,46}</string>
            </dict>
            <key>Cgdf-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,87},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Cgdf-you toujin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,56},{13,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,30}}</string>
                <key>sourceSize</key>
                <string>{13,32}</string>
            </dict>
            <key>Cgdf-you toujin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,46},{27,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,43}}</string>
                <key>sourceSize</key>
                <string>{27,43}</string>
            </dict>
            <key>Cgdf-you xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,48},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>Cgdf-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,44},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>Cgdf-youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>Cgdf-zuo  hushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,30},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>Cgdf-zuo bi.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,88},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>Cgdf-zuo qunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{23,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>Cgdf-zuo shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,107},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>Cgdf-zuo toujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,88},{15,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,37}}</string>
                <key>sourceSize</key>
                <string>{15,37}</string>
            </dict>
            <key>Cgdf-zuo xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,71},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>Cgdf-zuo xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,69},{29,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,18}}</string>
                <key>sourceSize</key>
                <string>{29,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChenGong.pvr.ccz</string>
            <key>size</key>
            <string>{410,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a208fde1bfa459b627d61959c41d635:3425de6e2321d7f0f182edd6af9efc89:409d807561304e847802d259c38d8ed9$</string>
            <key>textureFileName</key>
            <string>ChenGong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
