<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cpjij-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,662},{276,255}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,20},{276,255}}</string>
                <key>sourceSize</key>
                <string>{366,275}</string>
            </dict>
            <key>cpjij-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,823},{189,185}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,44},{189,185}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjij-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,280},{277,233}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{277,233}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjij-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,776},{229,209}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,9},{229,209}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjij-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,220},{157,157}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,50},{157,157}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjij-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,358},{304,253}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{304,253}}</string>
                <key>sourceSize</key>
                <string>{366,275}</string>
            </dict>
            <key>cpjij-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,748},{366,265}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{366,265}}</string>
                <key>sourceSize</key>
                <string>{366,275}</string>
            </dict>
            <key>cpjij-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,367},{358,253}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{358,253}}</string>
                <key>sourceSize</key>
                <string>{366,275}</string>
            </dict>
            <key>cpjij-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,0},{358,251}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{358,251}}</string>
                <key>sourceSize</key>
                <string>{366,275}</string>
            </dict>
            <key>cpjij-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,798},{217,245}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,14},{217,245}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjij-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,776},{203,219}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{203,219}}</string>
                <key>sourceSize</key>
                <string>{333,271}</string>
            </dict>
            <key>cpjis-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{211,329}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{211,329}}</string>
                <key>sourceSize</key>
                <string>{211,343}</string>
            </dict>
            <key>cpjis-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,569},{201,254}}</string>
                <key>offset</key>
                <string>{-40,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,34},{201,254}}</string>
                <key>sourceSize</key>
                <string>{285,292}</string>
            </dict>
            <key>cpjis-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,0},{239,280}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{239,280}}</string>
                <key>sourceSize</key>
                <string>{285,292}</string>
            </dict>
            <key>cpjis-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{257,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{257,292}}</string>
                <key>sourceSize</key>
                <string>{285,292}</string>
            </dict>
            <key>cpjis-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,557},{219,248}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,31},{219,248}}</string>
                <key>sourceSize</key>
                <string>{285,292}</string>
            </dict>
            <key>cpjis-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,0},{153,220}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,34},{153,220}}</string>
                <key>sourceSize</key>
                <string>{381,346}</string>
            </dict>
            <key>cpjis-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,399},{349,328}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{349,328}}</string>
                <key>sourceSize</key>
                <string>{381,346}</string>
            </dict>
            <key>cpjis-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,0},{367,274}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,57},{367,274}}</string>
                <key>sourceSize</key>
                <string>{381,346}</string>
            </dict>
            <key>cpjis-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{377,286}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,49},{377,286}}</string>
                <key>sourceSize</key>
                <string>{381,346}</string>
            </dict>
            <key>cpjis-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,292},{277,246}}</string>
                <key>offset</key>
                <string>{21,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,40},{277,246}}</string>
                <key>sourceSize</key>
                <string>{381,346}</string>
            </dict>
            <key>cpjis-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,399},{399,337}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{399,337}}</string>
                <key>sourceSize</key>
                <string>{405,343}</string>
            </dict>
            <key>cpjis-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{399,343}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{399,343}}</string>
                <key>sourceSize</key>
                <string>{405,343}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChengPu_e.pvr.ccz</string>
            <key>size</key>
            <string>{1812,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0498def88ab674d1209e2beb2b1230be:5e6eebc03317cb0fd4d4705e35363362:c4db38b2ead4b75351d2a5d45f7a1546$</string>
            <key>textureFileName</key>
            <string>ChengPu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
