<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cgdfe-Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,944},{156,79}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,133},{156,79}}</string>
                <key>sourceSize</key>
                <string>{176,223}</string>
            </dict>
            <key>Cgdfe-Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,814},{136,129}}</string>
                <key>offset</key>
                <string>{8,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,83},{136,129}}</string>
                <key>sourceSize</key>
                <string>{176,223}</string>
            </dict>
            <key>Cgdfe-Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,157},{124,175}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,37},{124,175}}</string>
                <key>sourceSize</key>
                <string>{176,223}</string>
            </dict>
            <key>Cgdfe-Tween 100.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,950},{173,64}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{173,64}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 101.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,777},{173,64}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{173,64}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 102.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,570},{181,68}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{181,68}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 103.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,876},{117,46}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,34},{117,46}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,721},{84,106}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,75},{84,106}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,515},{84,120}}</string>
                <key>offset</key>
                <string>{-21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,63},{84,120}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,712},{82,116}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,66},{82,116}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,365},{150,110}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,71},{150,110}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,751},{86,63}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{86,63}}</string>
                <key>sourceSize</key>
                <string>{104,93}</string>
            </dict>
            <key>Cgdfe-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,922},{86,78}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{86,78}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>Cgdfe-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,845},{84,54}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{84,54}}</string>
                <key>sourceSize</key>
                <string>{106,76}</string>
            </dict>
            <key>Cgdfe-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,0},{244,161}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{244,161}}</string>
                <key>sourceSize</key>
                <string>{244,187}</string>
            </dict>
            <key>Cgdfe-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,161},{228,142}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,31},{228,142}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,332},{156,68}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,94},{156,68}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,670},{112,70}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,91},{112,70}}</string>
                <key>sourceSize</key>
                <string>{248,220}</string>
            </dict>
            <key>Cgdfe-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,159},{222,114}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{222,114}}</string>
                <key>sourceSize</key>
                <string>{226,136}</string>
            </dict>
            <key>Cgdfe-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,814},{125,100}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,96},{125,100}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,381},{129,136}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,51},{129,136}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,572},{205,170}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,23},{205,170}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{291,170}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,34},{291,170}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{325,190}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{325,190}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 65.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,190},{153,170}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,23},{153,170}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 66.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,814},{129,130}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,58},{129,130}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 67.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,922},{101,100}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,97},{101,100}}</string>
                <key>sourceSize</key>
                <string>{383,254}</string>
            </dict>
            <key>Cgdfe-Tween 68.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,515},{107,86}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,98},{107,86}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 69.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,939},{123,84}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,99},{123,84}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 70.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,782},{123,94}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,86},{123,94}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 71.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,599},{121,106}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,75},{121,106}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 72.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,157},{91,122}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{91,122}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 73.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,517},{81,132}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,54},{81,132}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 74.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,805},{79,134}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,54},{79,134}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 75.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,705},{77,140}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,50},{77,140}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 76.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,400},{79,142}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,50},{79,142}}</string>
                <key>sourceSize</key>
                <string>{237,242}</string>
            </dict>
            <key>Cgdfe-Tween 77.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{202,219}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{202,219}}</string>
                <key>sourceSize</key>
                <string>{254,243}</string>
            </dict>
            <key>Cgdfe-Tween 78.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,579},{204,217}}</string>
                <key>offset</key>
                <string>{-15,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{204,217}}</string>
                <key>sourceSize</key>
                <string>{254,243}</string>
            </dict>
            <key>Cgdfe-Tween 79.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{192,203}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{192,203}}</string>
                <key>sourceSize</key>
                <string>{254,243}</string>
            </dict>
            <key>Cgdfe-Tween 80.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,565},{176,185}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{176,185}}</string>
                <key>sourceSize</key>
                <string>{254,243}</string>
            </dict>
            <key>Cgdfe-Tween 81.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,389},{176,185}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,36},{176,185}}</string>
                <key>sourceSize</key>
                <string>{254,243}</string>
            </dict>
            <key>Cgdfe-Tween 82.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,598},{115,114}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,60},{115,114}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>Cgdfe-Tween 83.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,601},{115,120}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{115,120}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>Cgdfe-Tween 84.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,400},{115,120}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,53},{115,120}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>Cgdfe-Tween 85.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,794},{99,120}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{99,120}}</string>
                <key>sourceSize</key>
                <string>{165,182}</string>
            </dict>
            <key>Cgdfe-Tween 86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,899},{105,42}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,37},{105,42}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,796},{173,64}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{173,64}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 88.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,750},{173,64}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{173,64}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 89.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,389},{181,68}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,22},{181,68}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,0},{117,46}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{117,46}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
            <key>Cgdfe-Tween 91.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{157,224}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{157,224}}</string>
                <key>sourceSize</key>
                <string>{181,250}</string>
            </dict>
            <key>Cgdfe-Tween 92.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,0},{159,224}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,3},{159,224}}</string>
                <key>sourceSize</key>
                <string>{181,250}</string>
            </dict>
            <key>Cgdfe-Tween 93.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,360},{165,212}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{165,212}}</string>
                <key>sourceSize</key>
                <string>{181,250}</string>
            </dict>
            <key>Cgdfe-Tween 94.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,159},{161,206}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{161,206}}</string>
                <key>sourceSize</key>
                <string>{181,250}</string>
            </dict>
            <key>Cgdfe-Tween 95.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,782},{82,63}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{82,63}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>Cgdfe-Tween 96.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,542},{86,81}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{86,81}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>Cgdfe-Tween 97.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,939},{84,99}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{84,99}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>Cgdfe-Tween 98.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,279},{52,61}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,43},{52,61}}</string>
                <key>sourceSize</key>
                <string>{140,105}</string>
            </dict>
            <key>Cgdfe-Tween 99.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,628},{105,42}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{105,42}}</string>
                <key>sourceSize</key>
                <string>{185,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChenGong_e.pvr.ccz</string>
            <key>size</key>
            <string>{1076,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f25e1e891e09ba8eff8189d3b3959bc:b815d13bddce9c4a3b0f20425b9b995c:2e0b5807becee33f8af5c0096ae3f900$</string>
            <key>textureFileName</key>
            <string>ChenGong_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
