<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cpjij-HBLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,368},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>cpjij-HBLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,338},{30,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>cpjij-HBLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,488},{27,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>cpjij-HBRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,280},{28,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,25}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>cpjij-HBRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,463},{32,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,18}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>cpjij-HBRfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,430},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>cpjij-HFLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,432},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{32,31}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>cpjij-HFLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,431},{40,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>cpjij-HFLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,332},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{27,21}}</string>
                <key>sourceSize</key>
                <string>{31,25}</string>
            </dict>
            <key>cpjij-HFRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,481},{29,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>cpjij-HFRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,461},{23,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>cpjij-HFRfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,475},{21,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>cpjij-Hbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,112},{144,130}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{144,130}}</string>
                <key>sourceSize</key>
                <string>{150,136}</string>
            </dict>
            <key>cpjij-Hhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,242},{93,115}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,115}}</string>
                <key>sourceSize</key>
                <string>{97,121}</string>
            </dict>
            <key>cpjij-Htail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,432},{20,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,29}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>cpjij-Htail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,400},{13,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>cpjij-Htail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,353},{22,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,35}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>cpjij-Lfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,482},{25,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,24}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>cpjij-Lfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,305},{27,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,27}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>cpjij-Lfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,375},{36,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,25}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>cpjij-Lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,471},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>cpjij-Lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,338},{19,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{19,27}}</string>
                <key>sourceSize</key>
                <string>{23,31}</string>
            </dict>
            <key>cpjij-Lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,21},{21,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,16}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>cpjij-Rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,313},{25,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,43}}</string>
                <key>sourceSize</key>
                <string>{27,47}</string>
            </dict>
            <key>cpjij-Rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,452},{23,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>cpjij-Rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{21,17}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>cpjij-back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,112},{50,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,80}}</string>
                <key>sourceSize</key>
                <string>{54,84}</string>
            </dict>
            <key>cpjij-back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,242},{36,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,49}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>cpjij-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{55,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,37}}</string>
                <key>sourceSize</key>
                <string>{59,41}</string>
            </dict>
            <key>cpjij-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,192},{50,55}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,55}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>cpjij-body3.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,291},{47,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{47,31}}</string>
                <key>sourceSize</key>
                <string>{51,35}</string>
            </dict>
            <key>cpjij-body4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,399},{33,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{37,35}</string>
            </dict>
            <key>cpjij-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,357},{57,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{57,74}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>cpjij-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,431},{57,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{57,73}}</string>
                <key>sourceSize</key>
                <string>{63,81}</string>
            </dict>
            <key>cpjij-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,357},{57,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{57,74}}</string>
                <key>sourceSize</key>
                <string>{61,78}</string>
            </dict>
            <key>cpjij-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,399},{57,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{57,75}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>cpjij-headup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,284},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,29}}</string>
                <key>sourceSize</key>
                <string>{41,31}</string>
            </dict>
            <key>cpjij-headup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,247},{28,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>cpjij-headup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,400},{33,30}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,30}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>cpjij-other1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,247},{37,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>cpjij-other2.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,488},{23,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{23,48}}</string>
                <key>sourceSize</key>
                <string>{27,52}</string>
            </dict>
            <key>cpjij-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,112}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{231,112}}</string>
                <key>sourceSize</key>
                <string>{265,156}</string>
            </dict>
            <key>cpjij-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{54,287}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,287}}</string>
                <key>sourceSize</key>
                <string>{56,291}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ChengPu.pvr.ccz</string>
            <key>size</key>
            <string>{248,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b9d755237ceb2c9c82d4a555319b4ca:4c0f5d3eb5701152beb8ea6517430532:8d58562be379f629976e9dfc67004ad4$</string>
            <key>textureFileName</key>
            <string>ChengPu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
