<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dqe34-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,0},{152,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,168}}</string>
                <key>sourceSize</key>
                <string>{152,168}</string>
            </dict>
            <key>dqe34-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{176,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,157}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>dqe34-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,176},{174,157}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,157}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>dqe34-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{200,98}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,98}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>dqe34-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{190,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{190,111}}</string>
                <key>sourceSize</key>
                <string>{190,113}</string>
            </dict>
            <key>dqe34-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,207},{199,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,108}}</string>
                <key>sourceSize</key>
                <string>{199,110}</string>
            </dict>
            <key>dqe34-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{139,201}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{139,201}}</string>
                <key>sourceSize</key>
                <string>{197,207}</string>
            </dict>
            <key>dqe34-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{185,207}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{185,207}}</string>
                <key>sourceSize</key>
                <string>{197,207}</string>
            </dict>
            <key>dqe34-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,406},{81,113}}</string>
                <key>offset</key>
                <string>{-58,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{81,113}}</string>
                <key>sourceSize</key>
                <string>{197,207}</string>
            </dict>
            <key>dqe34-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{152,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,183}}</string>
                <key>sourceSize</key>
                <string>{152,183}</string>
            </dict>
            <key>dqe34-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,0},{138,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,62}}</string>
                <key>sourceSize</key>
                <string>{140,62}</string>
            </dict>
            <key>dqe34-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,337},{148,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>dqe34-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,337},{148,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>dqe34-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,183},{153,180}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,180}}</string>
                <key>sourceSize</key>
                <string>{153,182}</string>
            </dict>
            <key>dqe34-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,190},{152,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,189}}</string>
                <key>sourceSize</key>
                <string>{152,189}</string>
            </dict>
            <key>dqe34-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,363},{139,175}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,175}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>dqe34-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,62},{117,153}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,153}}</string>
                <key>sourceSize</key>
                <string>{117,159}</string>
            </dict>
            <key>dqe34-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,379},{128,135}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,12},{128,135}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>dqe34-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,179},{158,149}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{158,149}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
            <key>dqe34-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,350},{158,149}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{158,149}}</string>
                <key>sourceSize</key>
                <string>{176,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DaQiao_e.pvr.ccz</string>
            <key>size</key>
            <string>{911,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:024ad6e7cb2fb3e1e7876a9662875a1f:3a372c0c8d800a9384cfe4345a394c27:0765a63502783106b447f4201c5b88d1$</string>
            <key>textureFileName</key>
            <string>DaQiao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
