<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dq34-FA.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,49},{8,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{8,24}</string>
            </dict>
            <key>dq34-FA1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,52},{6,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,25}}</string>
                <key>sourceSize</key>
                <string>{6,25}</string>
            </dict>
            <key>dq34-FA2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,47},{9,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,31}}</string>
                <key>sourceSize</key>
                <string>{9,31}</string>
            </dict>
            <key>dq34-Symbol gongj.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{59,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{59,67}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>dq34-TOU.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{59,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,71}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>dq34-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,58},{1,1}}</string>
                <key>offset</key>
                <string>{-73.5,19.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{148,40}</string>
            </dict>
            <key>dq34-bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,35},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>dq34-baiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,0},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>dq34-baiyou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,22},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>dq34-baizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,35},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>dq34-baizia.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,23},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>dq34-beigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,0},{58,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>dq34-daizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{7,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,29}}</string>
                <key>sourceSize</key>
                <string>{7,29}</string>
            </dict>
            <key>dq34-daizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,22},{13,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,31}}</string>
                <key>sourceSize</key>
                <string>{13,31}</string>
            </dict>
            <key>dq34-fa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,52},{7,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,24}}</string>
                <key>sourceSize</key>
                <string>{7,24}</string>
            </dict>
            <key>dq34-fahou.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,35},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>dq34-fahoum .png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{48,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,55}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>dq34-fawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{33,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{33,47}</string>
            </dict>
            <key>dq34-faweia.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>dq34-qin.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{119,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,23}}</string>
                <key>sourceSize</key>
                <string>{119,23}</string>
            </dict>
            <key>dq34-qing.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,23},{29,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,108}}</string>
                <key>sourceSize</key>
                <string>{29,108}</string>
            </dict>
            <key>dq34-shou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,48},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>dq34-shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,0},{14,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,42}}</string>
                <key>sourceSize</key>
                <string>{14,42}</string>
            </dict>
            <key>dq34-shoubii.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,29},{21,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>dq34-tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,29},{14,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,23}}</string>
                <key>sourceSize</key>
                <string>{14,23}</string>
            </dict>
            <key>dq34-tui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,20},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>dq34-xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,43},{13,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,22}}</string>
                <key>sourceSize</key>
                <string>{13,22}</string>
            </dict>
            <key>dq34-xiaotui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,31},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>dq34-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>dq34-xiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,0},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>dq34-xiuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,39},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>dq34-xiukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,22},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>dq34-xiukou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,14},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>dq34-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>dq34-yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,31},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>dq34-yaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,0},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{22,34}</string>
            </dict>
            <key>dq34-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{108,52}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>dq34-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,40},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>dq34-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,35},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>dq34-zuos.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,48},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DaQiao.pvr.ccz</string>
            <key>size</key>
            <string>{769,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71574f6287cd7e8415b216dffd55031b:eb5dfea44f423a36d6cef8580735c94b:b8c11ad30fded2188a8823cbf1c5b534$</string>
            <key>textureFileName</key>
            <string>DaQiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
