<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diao-dc1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{49,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,15}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>diao-dc_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>diao-dc_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,0},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>diao-dc_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>diao-dc_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,97}</string>
            </dict>
            <key>diao-dc_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{115,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,49}}</string>
                <key>sourceSize</key>
                <string>{131,49}</string>
            </dict>
            <key>diao-dc_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,94},{15,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{15,28}</string>
            </dict>
            <key>diao-dc_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,95},{16,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>diao-dc_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,95},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>diao-dc_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,107},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{13,23}</string>
            </dict>
            <key>diao-dc_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,49},{59,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,45}}</string>
                <key>sourceSize</key>
                <string>{59,45}</string>
            </dict>
            <key>diao-dc_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,51},{56,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,37}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>diao-dc_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,49},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{46,52}</string>
            </dict>
            <key>diao-dc_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,95},{18,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>diao-dc_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,95},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>diao-dc_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,51},{40,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>diao-dc_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,111},{11,11}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>diao-dc_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,111},{8,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>diao-dc_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,113},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,18}</string>
            </dict>
            <key>diao-dc_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,88},{7,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,23}}</string>
                <key>sourceSize</key>
                <string>{7,23}</string>
            </dict>
            <key>diao-dc_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,0},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>diao-dc_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,95},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,35}</string>
            </dict>
            <key>diao-dc_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,95},{23,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,31}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>diao-dc_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{25,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>diao-dc_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,103},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>diao-dc_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,95},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>diao-dc_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,94},{23,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,28}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>diao-dc_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,107},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>diao-dc_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,94},{19,22}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{19,22}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>diao-dc_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,88},{18,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>diao-dc_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,95},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>diao-dc_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,95},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>diao-dc_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,91},{16,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>diao-dc_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,95},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>diao-dc_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,95},{16,29}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>diao-dc_5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,116},{4,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,15}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>diao-dc_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,95},{18,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,39}}</string>
                <key>sourceSize</key>
                <string>{18,39}</string>
            </dict>
            <key>diao-dc_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,91},{19,12}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{19,12}}</string>
                <key>sourceSize</key>
                <string>{23,50}</string>
            </dict>
            <key>diao-dc_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,111},{11,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>diao-dc_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,113},{7,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,18}}</string>
                <key>sourceSize</key>
                <string>{7,18}</string>
            </dict>
            <key>diao-dc_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,114},{7,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,17}}</string>
                <key>sourceSize</key>
                <string>{7,17}</string>
            </dict>
            <key>diao-dc_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,113},{7,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,18}}</string>
                <key>sourceSize</key>
                <string>{7,18}</string>
            </dict>
            <key>diao-dc_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>diao-dc_5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,119},{3,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,16}}</string>
                <key>sourceSize</key>
                <string>{5,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DiaoChan.pvr.ccz</string>
            <key>size</key>
            <string>{504,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d591f9120ceb5d0cedde502c43abd2f9:142f1ff2c461479984c58629409c1b74:d16946388d91be98f9cfa978cfb2a95a$</string>
            <key>textureFileName</key>
            <string>DiaoChan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
