<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochanz-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,466},{226,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,114}}</string>
                <key>sourceSize</key>
                <string>{226,114}</string>
            </dict>
            <key>diaochanz-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,580},{183,136}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{183,136}}</string>
                <key>sourceSize</key>
                <string>{183,154}</string>
            </dict>
            <key>diaochanz-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1852},{175,138}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{175,138}}</string>
                <key>sourceSize</key>
                <string>{183,154}</string>
            </dict>
            <key>diaochanz-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1852},{175,138}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{175,138}}</string>
                <key>sourceSize</key>
                <string>{183,154}</string>
            </dict>
            <key>diaochanz-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1852},{167,132}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{167,132}}</string>
                <key>sourceSize</key>
                <string>{183,154}</string>
            </dict>
            <key>diaochanz-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1743},{121,139}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{121,139}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,158},{161,153}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{161,153}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,892},{153,155}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{153,155}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1600},{149,143}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{149,143}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1150},{167,161}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{167,161}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,1047},{159,143}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{159,143}}</string>
                <key>sourceSize</key>
                <string>{169,165}</string>
            </dict>
            <key>diaochanz-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1564},{235,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,124}}</string>
                <key>sourceSize</key>
                <string>{235,124}</string>
            </dict>
            <key>diaochanz-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1799},{231,53}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{231,53}}</string>
                <key>sourceSize</key>
                <string>{237,65}</string>
            </dict>
            <key>diaochanz-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1564},{193,63}}</string>
                <key>offset</key>
                <string>{20,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{193,63}}</string>
                <key>sourceSize</key>
                <string>{237,65}</string>
            </dict>
            <key>diaochanz-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1600},{77,63}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{237,65}</string>
            </dict>
            <key>diaochanz-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,457},{234,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{234,122}}</string>
                <key>sourceSize</key>
                <string>{234,126}</string>
            </dict>
            <key>diaochanz-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1311},{180,109}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,109}}</string>
                <key>sourceSize</key>
                <string>{190,109}</string>
            </dict>
            <key>diaochanz-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,311},{157,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,155}}</string>
                <key>sourceSize</key>
                <string>{157,155}</string>
            </dict>
            <key>diaochanz-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{158,163}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,163}}</string>
                <key>sourceSize</key>
                <string>{168,163}</string>
            </dict>
            <key>diaochanz-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1306},{147,154}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,154}}</string>
                <key>sourceSize</key>
                <string>{157,154}</string>
            </dict>
            <key>diaochanz-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,691},{68,108}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{68,108}}</string>
                <key>sourceSize</key>
                <string>{106,110}</string>
            </dict>
            <key>diaochanz-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1036},{173,114}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{173,114}}</string>
                <key>sourceSize</key>
                <string>{183,154}</string>
            </dict>
            <key>diaochanz-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1460},{146,140}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,101},{146,140}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{202,260}}</string>
                <key>offset</key>
                <string>{42,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,17},{202,260}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1588},{166,264}}</string>
                <key>offset</key>
                <string>{39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,15},{166,264}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,790},{176,246}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{176,246}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1318},{142,246}}</string>
                <key>offset</key>
                <string>{45,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,1},{142,246}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,311},{210,146}}</string>
                <key>offset</key>
                <string>{-24,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{210,146}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,716},{176,148}}</string>
                <key>offset</key>
                <string>{7,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,8},{176,148}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1882},{132,116}}</string>
                <key>offset</key>
                <string>{9,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,126},{132,116}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1190},{116,164}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,102},{116,164}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{166,270}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,13},{166,270}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{180,258}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,24},{180,258}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,266}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,22},{200,266}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{198,264}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,15},{198,264}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{182,270}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,13},{182,270}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
            <key>diaochanz-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{202,262}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,23},{202,262}}</string>
                <key>sourceSize</key>
                <string>{286,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DiaoChan_e.pvr.ccz</string>
            <key>size</key>
            <string>{565,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49119b5a41e76adc6d8977a78ef9c8e4:2a7ce5121e8a9604832a6545b3c596bc:7ceafa77013f94b7ff79ebb696c0a060$</string>
            <key>textureFileName</key>
            <string>DiaoChan_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
