<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dzfhgh-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{132,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{132,51}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>dzfhgh-diaozui1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,51},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>dzfhgh-hou piaobu2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,33},{36,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,63}}</string>
                <key>sourceSize</key>
                <string>{36,63}</string>
            </dict>
            <key>dzfhgh-qian piaobu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,0},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>dzfhgh-toubu 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>dzfhgh-toubu 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>dzfhgh-toubu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>dzfhgh-toubu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,0},{70,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,77}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>dzfhgh-wuqi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{165,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,66}}</string>
                <key>sourceSize</key>
                <string>{165,66}</string>
            </dict>
            <key>dzfhgh-xiongbu  copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,0},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,54}</string>
            </dict>
            <key>dzfhgh-yao bu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,0},{73,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,33}}</string>
                <key>sourceSize</key>
                <string>{73,33}</string>
            </dict>
            <key>dzfhgh-you jian copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,30},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>dzfhgh-you qunzi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,0},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>dzfhgh-you shangbi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,0},{36,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,33}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>dzfhgh-you shou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,0},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>dzfhgh-you xiaobi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>dzfhgh-you xiezi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,0},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>dzfhgh-zuo  xiaobi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{34,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>dzfhgh-zuo dabi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,32},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>dzfhgh-zuo jian copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,33},{35,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,47}}</string>
                <key>sourceSize</key>
                <string>{35,47}</string>
            </dict>
            <key>dzfhgh-zuo qunzi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,51},{17,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,44}}</string>
                <key>sourceSize</key>
                <string>{17,44}</string>
            </dict>
            <key>dzfhgh-zuo shou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,51},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>dzfhgh-zuo xiaotui copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,51},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>dzfhgh-zuo xiezi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,32},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DongZhuo.pvr.ccz</string>
            <key>size</key>
            <string>{969,70}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c323da9f9324078987d14154d0c915a3:a1c6a349913ca02d3f5e8b804b87bcf4:1955dfce90d5d84042d1747e8ba17bef$</string>
            <key>textureFileName</key>
            <string>DongZhuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
