<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Assets-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,597},{227,135}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{227,135}}</string>
                <key>sourceSize</key>
                <string>{239,159}</string>
            </dict>
            <key>Assets-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1188},{242,209}}</string>
                <key>offset</key>
                <string>{37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,39},{242,209}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,726},{244,157}}</string>
                <key>offset</key>
                <string>{59,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,13},{244,157}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1138},{366,243}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{366,243}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,571},{362,253}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{362,253}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,1118},{238,243}}</string>
                <key>offset</key>
                <string>{-61,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{238,243}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1731},{90,50}}</string>
                <key>offset</key>
                <string>{41,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,183},{90,50}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,883},{224,174}}</string>
                <key>offset</key>
                <string>{44,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,102},{224,174}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1361},{280,194}}</string>
                <key>offset</key>
                <string>{63,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,79},{280,194}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,824},{364,162}}</string>
                <key>offset</key>
                <string>{41,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,115},{364,162}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,597},{310,202}}</string>
                <key>offset</key>
                <string>{55,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,87},{310,202}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,383},{376,188}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,104},{376,188}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,1641},{193,167}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{193,167}}</string>
                <key>sourceSize</key>
                <string>{199,203}</string>
            </dict>
            <key>Assets-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1274},{147,167}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{147,167}}</string>
                <key>sourceSize</key>
                <string>{199,203}</string>
            </dict>
            <key>Assets-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1759},{133,133}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{133,133}}</string>
                <key>sourceSize</key>
                <string>{199,203}</string>
            </dict>
            <key>Assets-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,322},{123,107}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{123,107}}</string>
                <key>sourceSize</key>
                <string>{199,203}</string>
            </dict>
            <key>Assets-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1903},{93,299}}</string>
                <key>offset</key>
                <string>{14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,37},{93,299}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,799},{245,319}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,37},{245,319}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,328},{269,321}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,38},{269,321}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1636},{267,329}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,32},{267,329}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1381},{255,331}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,28},{255,331}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,1057},{217,141}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{217,141}}</string>
                <key>sourceSize</key>
                <string>{239,159}</string>
            </dict>
            <key>Assets-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{463,427}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,49},{463,427}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,427},{459,393}}</string>
                <key>offset</key>
                <string>{11,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,75},{459,393}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{431,383}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,80},{431,383}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{397,309}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,102},{397,309}}</string>
                <key>sourceSize</key>
                <string>{501,481}</string>
            </dict>
            <key>Assets-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1397},{306,280}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,78},{306,280}}</string>
                <key>sourceSize</key>
                <string>{406,382}</string>
            </dict>
            <key>Assets-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,0},{322,292}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,76},{322,292}}</string>
                <key>sourceSize</key>
                <string>{406,382}</string>
            </dict>
            <key>Assets-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1129},{346,304}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,67},{346,304}}</string>
                <key>sourceSize</key>
                <string>{406,382}</string>
            </dict>
            <key>Assets-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1677},{300,192}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,115},{300,192}}</string>
                <key>sourceSize</key>
                <string>{406,382}</string>
            </dict>
            <key>Assets-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,322},{182,176}}</string>
                <key>offset</key>
                <string>{53,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,120},{182,176}}</string>
                <key>sourceSize</key>
                <string>{406,382}</string>
            </dict>
            <key>Assets-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,1827},{215,131}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{215,131}}</string>
                <key>sourceSize</key>
                <string>{239,159}</string>
            </dict>
            <key>Assets-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1361},{282,166}}</string>
                <key>offset</key>
                <string>{46,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,130},{282,166}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1869},{292,150}}</string>
                <key>offset</key>
                <string>{44,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,152},{292,150}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,0},{324,328}}</string>
                <key>offset</key>
                <string>{26,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{324,328}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,824},{314,318}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{314,318}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1094},{232,154}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,119},{232,154}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,824},{270,140}}</string>
                <key>offset</key>
                <string>{36,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,127},{270,140}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1731},{286,288}}</string>
                <key>offset</key>
                <string>{32,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{286,288}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1433},{336,298}}</string>
                <key>offset</key>
                <string>{36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{336,298}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,504},{242,222}}</string>
                <key>offset</key>
                <string>{58,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,42},{242,222}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1643},{182,184}}</string>
                <key>offset</key>
                <string>{36,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,87},{182,184}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1808},{180,184}}</string>
                <key>offset</key>
                <string>{36,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,87},{180,184}}</string>
                <key>sourceSize</key>
                <string>{470,400}</string>
            </dict>
            <key>Assets-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1892},{123,135}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,18},{123,135}}</string>
                <key>sourceSize</key>
                <string>{239,159}</string>
            </dict>
            <key>Assets-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,1612},{144,147}}</string>
                <key>offset</key>
                <string>{17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,113},{144,147}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
            <key>Assets-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1441},{162,171}}</string>
                <key>offset</key>
                <string>{25,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,97},{162,171}}</string>
                <key>sourceSize</key>
                <string>{386,273}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DongZhuo_e.pvr.ccz</string>
            <key>size</key>
            <string>{1519,2019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69b84991340df517acea732e8842868e:00b3d06c8fc91b7619978d3b48b68c58:68cb61bea1559497a76ac34e94946dfe$</string>
            <key>textureFileName</key>
            <string>DongZhuo_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
