<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfsf-chuiziyou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,53}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>sfsf-chuizizuo copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,0},{85,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,52}}</string>
                <key>sourceSize</key>
                <string>{85,54}</string>
            </dict>
            <key>sfsf-dabi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,52},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>sfsf-dabi_1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>sfsf-jianjia copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,52},{60,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,50}}</string>
                <key>sourceSize</key>
                <string>{60,50}</string>
            </dict>
            <key>sfsf-kudang copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,90},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{51,29}</string>
            </dict>
            <key>sfsf-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{95,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{95,47}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>sfsf-shenti copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{86,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{86,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>sfsf-tou copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
            <key>sfsf-tou copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{67,90}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{67,90}}</string>
                <key>sourceSize</key>
                <string>{69,90}</string>
            </dict>
            <key>sfsf-tou copy 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{68,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,90}}</string>
                <key>sourceSize</key>
                <string>{68,90}</string>
            </dict>
            <key>sfsf-tou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
            <key>sfsf-xiaobi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,95},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>sfsf-xiaotuzuoi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>sfsf-yaodai copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,90},{58,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,24}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>sfsf-yijiao copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,91},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>sfsf-youdatui copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,95},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>sfsf-youjiao copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,114},{23,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{23,11}</string>
            </dict>
            <key>sfsf-youshou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,90},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sfsf-youxiaobi copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,90},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>sfsf-youxiaotui copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,90},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>sfsf-zuodatui copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,91},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>sfsf-zuoshou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,90},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>sfsf-zuotui copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,112},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EBa.pvr.ccz</string>
            <key>size</key>
            <string>{541,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a02dbd8fbe5d62e0b521afc121d55d0:19ce74491cf87d6e0102687fdf83727b:a1866df0fe88d6abc93be21dc0a57eee$</string>
            <key>textureFileName</key>
            <string>EBa.pvr.ccz</string>
        </dict>
    </dict>
</plist>
