<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eba_ess-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,758},{412,136}}</string>
                <key>offset</key>
                <string>{52,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,47},{412,136}}</string>
                <key>sourceSize</key>
                <string>{516,214}</string>
            </dict>
            <key>eba_ess-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1364},{476,166}}</string>
                <key>offset</key>
                <string>{18,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,31},{476,166}}</string>
                <key>sourceSize</key>
                <string>{516,214}</string>
            </dict>
            <key>eba_ess-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1523},{404,192}}</string>
                <key>offset</key>
                <string>{-28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,19},{404,192}}</string>
                <key>sourceSize</key>
                <string>{516,214}</string>
            </dict>
            <key>eba_ess-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{318,88}}</string>
                <key>offset</key>
                <string>{15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,76},{318,88}}</string>
                <key>sourceSize</key>
                <string>{516,214}</string>
            </dict>
            <key>eba_ess-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1333},{193,190}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{193,190}}</string>
                <key>sourceSize</key>
                <string>{217,240}</string>
            </dict>
            <key>eba_ess-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{173,196}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,43},{173,196}}</string>
                <key>sourceSize</key>
                <string>{217,240}</string>
            </dict>
            <key>eba_ess-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1927},{97,192}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,45},{97,192}}</string>
                <key>sourceSize</key>
                <string>{217,240}</string>
            </dict>
            <key>eba_ess-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1938},{81,82}}</string>
                <key>offset</key>
                <string>{75,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,55},{81,82}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,960},{203,200}}</string>
                <key>offset</key>
                <string>{81,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,2},{203,200}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,758},{205,202}}</string>
                <key>offset</key>
                <string>{79,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,0},{205,202}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{349,220}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,68},{349,220}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{333,226}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,68},{333,226}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{295,224}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,70},{295,224}}</string>
                <key>sourceSize</key>
                <string>{367,308}</string>
            </dict>
            <key>eba_ess-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1840},{98,65}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,65},{98,65}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
            <key>eba_ess-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1840},{102,77}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,52},{102,77}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
            <key>eba_ess-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1269},{114,95}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{114,95}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
            <key>eba_ess-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1170},{122,99}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{122,99}}</string>
                <key>sourceSize</key>
                <string>{184,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EBa_e.pvr.ccz</string>
            <key>size</key>
            <string>{359,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ecc807bebfdae90c7dffce91152e108:d9f64414be54bd9eb4f6ca2f2578c6e4:29e1d4dae246f06163ea837425185093$</string>
            <key>textureFileName</key>
            <string>EBa_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
