<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gfras-beigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,817},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>gfras-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>gfras-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,683},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>gfras-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,183},{299,101}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{299,101}}</string>
                <key>sourceSize</key>
                <string>{353,143}</string>
            </dict>
            <key>gfras-zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,616},{70,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,67}}</string>
                <key>sourceSize</key>
                <string>{70,67}</string>
            </dict>
            <key>gfras-元件 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,14},{10,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{10,29}</string>
            </dict>
            <key>gfras-元件 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,226},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>gfras-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,111},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>gfras-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,43},{3,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,65}}</string>
                <key>sourceSize</key>
                <string>{3,67}</string>
            </dict>
            <key>gfras-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,524},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>gfras-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,748},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>gfras-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,296},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>gfras-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,813},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>gfras-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,239},{33,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,17}}</string>
                <key>sourceSize</key>
                <string>{33,17}</string>
            </dict>
            <key>gfras-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,482},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>gfras-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,272},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>gfras-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,43},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>gfras-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{14,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,11}}</string>
                <key>sourceSize</key>
                <string>{14,11}</string>
            </dict>
            <key>gfras-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,848},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>gfras-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,559},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>gfras-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,781},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>gfras-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{78,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,134}}</string>
                <key>sourceSize</key>
                <string>{78,134}</string>
            </dict>
            <key>gfras-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{183,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,111}}</string>
                <key>sourceSize</key>
                <string>{183,111}</string>
            </dict>
            <key>gfras-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,588},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>gfras-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,624},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,51}</string>
            </dict>
            <key>gfras-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,183},{21,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,43}}</string>
                <key>sourceSize</key>
                <string>{21,43}</string>
            </dict>
            <key>gfras-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,43},{3,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,65}}</string>
                <key>sourceSize</key>
                <string>{3,67}</string>
            </dict>
            <key>gfras-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,43},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>gfras-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,43},{3,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,65}}</string>
                <key>sourceSize</key>
                <string>{3,67}</string>
            </dict>
            <key>gfras-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,43},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>gfras-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,43},{3,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,65}}</string>
                <key>sourceSize</key>
                <string>{3,67}</string>
            </dict>
            <key>gfras-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,43},{7,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,68}}</string>
                <key>sourceSize</key>
                <string>{7,68}</string>
            </dict>
            <key>gfras-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,43},{3,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,65}}</string>
                <key>sourceSize</key>
                <string>{3,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GanFuRen.pvr.ccz</string>
            <key>size</key>
            <string>{122,907}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2f9d855f175f49efe027c28c1bc73a:06704adf96bdcd38d571ece75f99c182:7a034ba7f1b9305bd1e4391301dd9f1b$</string>
            <key>textureFileName</key>
            <string>GanFuRen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
