<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gfrzs-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,319},{83,84}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,40},{83,84}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,123},{79,139}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,1},{79,139}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,291},{81,139}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{81,139}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,207},{89,137}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{89,137}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,296},{87,113}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{87,113}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,262},{57,63}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,42},{57,63}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,225},{49,29}}</string>
                <key>offset</key>
                <string>{22,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,79},{49,29}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,440},{29,9}}</string>
                <key>offset</key>
                <string>{25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,94},{29,9}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,169},{125,127}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{125,127}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,287},{157,161}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{157,161}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,0},{169,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,173}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,255},{147,152}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{147,152}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,281},{167,173}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{167,173}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,225},{137,149}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{137,149}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,169},{117,135}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{117,135}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,207},{127,139}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{127,139}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,344},{95,105}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,43},{95,105}}</string>
                <key>sourceSize</key>
                <string>{169,173}</string>
            </dict>
            <key>gfrzs-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,277},{159,151}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,281},{159,151}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{159,151}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,346},{121,101}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{121,101}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,296},{93,111}}</string>
                <key>offset</key>
                <string>{-33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{93,111}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,291},{115,121}}</string>
                <key>offset</key>
                <string>{-39,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{115,121}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,0},{185,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,164}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,164},{127,127}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{127,127}}</string>
                <key>sourceSize</key>
                <string>{213,151}</string>
            </dict>
            <key>gfrzs-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,287}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{300,287}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{302,281}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{302,281}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{274,277}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{274,277}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{161,164}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{161,164}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{248,255}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{248,255}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,0},{224,225}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,44},{224,225}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,0},{218,207}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{218,207}}</string>
                <key>sourceSize</key>
                <string>{346,315}</string>
            </dict>
            <key>gfrzs-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,277},{155,158}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{155,158}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,0},{123,108}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,35},{123,108}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,255},{185,120}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{185,120}}</string>
                <key>sourceSize</key>
                <string>{187,164}</string>
            </dict>
            <key>gfrzs-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,255},{21,23}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,51},{21,23}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
            <key>gfrzs-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,374},{63,125}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{63,125}}</string>
                <key>sourceSize</key>
                <string>{95,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GanFuRen_e.pvr.ccz</string>
            <key>size</key>
            <string>{2038,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d17f2d7749d9e2dca19ae0e3e63c66b:2c3d3a8df143d03e0d8cd2bf05f82d26:5fcfd64877ebab048e88368f6900bf59$</string>
            <key>textureFileName</key>
            <string>GanFuRen_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
