<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganni-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,204},{35,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>ganni-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,211},{34,29}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{34,29}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>ganni-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,155},{37,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{41,29}</string>
            </dict>
            <key>ganni-Lqunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,204},{48,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,35}}</string>
                <key>sourceSize</key>
                <string>{48,35}</string>
            </dict>
            <key>ganni-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,235},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>ganni-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>ganni-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,184},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>ganni-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,214},{21,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>ganni-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,237},{18,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,30}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>ganni-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,214},{39,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,23}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>ganni-Rqunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,239},{16,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,35}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>ganni-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,69},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>ganni-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,214},{21,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>ganni-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,39},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>ganni-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,102},{109,54}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,13},{109,54}}</string>
                <key>sourceSize</key>
                <string>{165,76}</string>
            </dict>
            <key>ganni-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,179},{60,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,35}}</string>
                <key>sourceSize</key>
                <string>{60,35}</string>
            </dict>
            <key>ganni-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>ganni-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{75,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,102}}</string>
                <key>sourceSize</key>
                <string>{75,102}</string>
            </dict>
            <key>ganni-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{75,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,101}}</string>
                <key>sourceSize</key>
                <string>{75,101}</string>
            </dict>
            <key>ganni-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,102},{74,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,102}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>ganni-wuqi-.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,179}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{144,179}}</string>
                <key>sourceSize</key>
                <string>{212,245}</string>
            </dict>
            <key>ganni-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,101},{49,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{49,54}}</string>
                <key>sourceSize</key>
                <string>{53,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GanNing.pvr.ccz</string>
            <key>size</key>
            <string>{322,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd43e1e2d95842ed57eed482f2814083:32303c50f059e457b2119e1287adadc2:a20fccb5119ae812abd48ef687825b70$</string>
            <key>textureFileName</key>
            <string>GanNing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
