<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GaoShunaf-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,0},{132,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{132,51}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>GaoShunaf-dunpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{43,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,73}}</string>
                <key>sourceSize</key>
                <string>{43,75}</string>
            </dict>
            <key>GaoShunaf-guabu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,70},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>GaoShunaf-toubu 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,51},{83,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,70}}</string>
                <key>sourceSize</key>
                <string>{85,70}</string>
            </dict>
            <key>GaoShunaf-toubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,51},{81,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>GaoShunaf-toubu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,0},{80,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>GaoShunaf-toubu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>GaoShunaf-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{132,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,79}}</string>
                <key>sourceSize</key>
                <string>{132,79}</string>
            </dict>
            <key>GaoShunaf-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,70},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>GaoShunaf-you datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,43},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>GaoShunaf-you jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,79},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>GaoShunaf-you kuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>GaoShunaf-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,101},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>GaoShunaf-you xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,70},{24,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>GaoShunaf-you xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,79},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>GaoShunaf-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,80},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>GaoShunaf-zuo datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,98},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>GaoShunaf-zuo jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,79},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>GaoShunaf-zuo xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,98},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>GaoShunaf-zuo xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,101},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,20}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>GaoShunaf-zuokuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,80},{18,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{20,35}</string>
            </dict>
            <key>GaoShunaf-zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,92},{19,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,29}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GaoShun.pvr.ccz</string>
            <key>size</key>
            <string>{491,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3936051192776443dc40a77a9facdffe:6aeec8cb726bf3beb47c2f0b4704c324:8902e17ee1c6154c765a0460041db15b$</string>
            <key>textureFileName</key>
            <string>GaoShun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
