<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gaod_e-Tween 100.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,234},{203,242}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{203,242}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
            <key>Gaod_e-Tween 101.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{203,242}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{203,242}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
            <key>Gaod_e-Tween 102.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,805},{147,41}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,72},{147,41}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 103.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,881},{183,57}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,64},{183,57}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 104.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,201},{205,63}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,61},{205,63}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 105.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,730},{207,65}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,60},{207,65}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 106.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,264},{203,65}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,60},{203,65}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 107.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,234},{1,1}}</string>
                <key>offset</key>
                <string>{-107,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{215,135}</string>
            </dict>
            <key>Gaod_e-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,256},{202,48}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{202,48}}</string>
                <key>sourceSize</key>
                <string>{228,68}</string>
            </dict>
            <key>Gaod_e-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,488},{200,154}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,40},{200,154}}</string>
                <key>sourceSize</key>
                <string>{228,194}</string>
            </dict>
            <key>Gaod_e-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,74},{203,182}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{203,182}}</string>
                <key>sourceSize</key>
                <string>{229,204}</string>
            </dict>
            <key>Gaod_e-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,1097},{90,128}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,54},{90,128}}</string>
                <key>sourceSize</key>
                <string>{108,190}</string>
            </dict>
            <key>Gaod_e-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,730},{268,158}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{268,158}}</string>
                <key>sourceSize</key>
                <string>{302,162}</string>
            </dict>
            <key>Gaod_e-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,0},{338,74}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,74}}</string>
                <key>sourceSize</key>
                <string>{358,80}</string>
            </dict>
            <key>Gaod_e-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,862},{158,120}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{158,120}}</string>
                <key>sourceSize</key>
                <string>{172,142}</string>
            </dict>
            <key>Gaod_e-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,998},{229,161}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{229,161}}</string>
                <key>sourceSize</key>
                <string>{237,179}</string>
            </dict>
            <key>Gaod_e-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,621},{160,116}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{160,116}}</string>
                <key>sourceSize</key>
                <string>{172,142}</string>
            </dict>
            <key>Gaod_e-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,74},{121,171}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{121,171}}</string>
                <key>sourceSize</key>
                <string>{237,179}</string>
            </dict>
            <key>Gaod_e-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,781},{160,118}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{160,118}}</string>
                <key>sourceSize</key>
                <string>{172,142}</string>
            </dict>
            <key>Gaod_e-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1099},{99,131}}</string>
                <key>offset</key>
                <string>{-65,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{99,131}}</string>
                <key>sourceSize</key>
                <string>{237,179}</string>
            </dict>
            <key>Gaod_e-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,842},{158,122}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{158,122}}</string>
                <key>sourceSize</key>
                <string>{172,142}</string>
            </dict>
            <key>Gaod_e-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,467},{170,154}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{170,154}}</string>
                <key>sourceSize</key>
                <string>{206,182}</string>
            </dict>
            <key>Gaod_e-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,465},{168,156}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{168,156}}</string>
                <key>sourceSize</key>
                <string>{206,182}</string>
            </dict>
            <key>Gaod_e-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,941},{144,112}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{144,112}}</string>
                <key>sourceSize</key>
                <string>{206,182}</string>
            </dict>
            <key>Gaod_e-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,234},{1,1}}</string>
                <key>offset</key>
                <string>{-102.5,90.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{206,182}</string>
            </dict>
            <key>Gaod_e-Tween 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,769},{156,93}}</string>
                <key>offset</key>
                <string>{1,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,150},{156,93}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1000},{158,99}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,124},{158,99}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,457},{164,97}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,105},{164,97}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,245},{134,99}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,84},{134,99}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 65.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,688},{154,193}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{154,193}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 66.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,256},{174,201}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{174,201}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 67.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,264},{180,201}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{180,201}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 68.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,637},{168,155}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{168,155}}</string>
                <key>sourceSize</key>
                <string>{194,257}</string>
            </dict>
            <key>Gaod_e-Tween 81.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1099},{163,97}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{163,97}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>Gaod_e-Tween 82.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,984},{163,113}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{163,113}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>Gaod_e-Tween 83.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,938},{167,111}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,32},{167,111}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>Gaod_e-Tween 84.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,982},{161,117}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,27},{161,117}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>Gaod_e-Tween 85.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1049},{161,117}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{161,117}}</string>
                <key>sourceSize</key>
                <string>{237,189}</string>
            </dict>
            <key>Gaod_e-Tween 86.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,846},{145,138}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,14},{145,138}}</string>
                <key>sourceSize</key>
                <string>{203,162}</string>
            </dict>
            <key>Gaod_e-Tween 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1099},{131,136}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,15},{131,136}}</string>
                <key>sourceSize</key>
                <string>{203,162}</string>
            </dict>
            <key>Gaod_e-Tween 88.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,344},{121,132}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{121,132}}</string>
                <key>sourceSize</key>
                <string>{203,162}</string>
            </dict>
            <key>Gaod_e-Tween 89.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1053},{105,98}}</string>
                <key>offset</key>
                <string>{-13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{105,98}}</string>
                <key>sourceSize</key>
                <string>{203,162}</string>
            </dict>
            <key>Gaod_e-Tween 90.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1000},{188,52}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,130},{188,52}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 91.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,465},{190,68}}</string>
                <key>offset</key>
                <string>{5,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,122},{190,68}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 92.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,655},{190,62}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,128},{190,62}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 93.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,476},{192,162}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,25},{192,162}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 94.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,668},{174,154}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,17},{174,154}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 95.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,621},{156,148}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,23},{156,148}}</string>
                <key>sourceSize</key>
                <string>{262,192}</string>
            </dict>
            <key>Gaod_e-Tween 96.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,0},{219,234}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{219,234}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
            <key>Gaod_e-Tween 97.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{219,242}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{219,242}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
            <key>Gaod_e-Tween 98.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{219,246}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{219,246}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
            <key>Gaod_e-Tween 99.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{201,240}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{201,240}}</string>
                <key>sourceSize</key>
                <string>{223,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GaoShun_e.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b25956277c20b728ddb557fb3350dbd5:75d5300cef051a4a40302c0c3e1571fb:2992089f0b776fe1c9e20ea0df81d364$</string>
            <key>textureFileName</key>
            <string>GaoShun_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
