<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dfa-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,253},{81,75}}</string>
                <key>offset</key>
                <string>{-12,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,243},{81,75}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,264},{171,95}}</string>
                <key>offset</key>
                <string>{7,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,245},{171,95}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,257},{121,89}}</string>
                <key>offset</key>
                <string>{1,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,235},{121,89}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,253},{207,147}}</string>
                <key>offset</key>
                <string>{5,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,190},{207,147}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,729},{225,207}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,133},{225,207}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,346},{245,253}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{245,253}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,740},{195,197}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,124},{195,197}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,359},{243,257}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{243,257}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,739},{195,195}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,123},{195,195}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,253},{237,253}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{237,253}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,364},{286,138}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{286,138}}</string>
                <key>sourceSize</key>
                <string>{318,206}</string>
            </dict>
            <key>dfa-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,0},{264,140}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,39},{264,140}}</string>
                <key>sourceSize</key>
                <string>{318,206}</string>
            </dict>
            <key>dfa-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{339,204}}</string>
                <key>offset</key>
                <string>{-36,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,116},{339,204}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,599},{234,122}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{234,122}}</string>
                <key>sourceSize</key>
                <string>{318,206}</string>
            </dict>
            <key>dfa-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,391},{389,286}}</string>
                <key>offset</key>
                <string>{-17,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,32},{389,286}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,740},{143,196}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{143,196}}</string>
                <key>sourceSize</key>
                <string>{227,224}</string>
            </dict>
            <key>dfa-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,616},{113,149}}</string>
                <key>offset</key>
                <string>{-11,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,163},{113,149}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,506},{149,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,22},{149,180}}</string>
                <key>sourceSize</key>
                <string>{227,224}</string>
            </dict>
            <key>dfa-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,772},{165,166}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,31},{165,166}}</string>
                <key>sourceSize</key>
                <string>{227,224}</string>
            </dict>
            <key>dfa-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,391},{381,268}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{381,268}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,736},{199,164}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,33},{199,164}}</string>
                <key>sourceSize</key>
                <string>{227,224}</string>
            </dict>
            <key>dfa-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,780},{173,156}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,35},{173,156}}</string>
                <key>sourceSize</key>
                <string>{227,224}</string>
            </dict>
            <key>dfa-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{391,292}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,42},{391,292}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,0},{295,117}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,96},{295,117}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,371},{369,280}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,58},{369,280}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{297,119}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,99},{297,119}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{371,280}}</string>
                <key>offset</key>
                <string>{-25,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,55},{371,280}}</string>
                <key>sourceSize</key>
                <string>{449,358}</string>
            </dict>
            <key>dfa-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,650},{183,89}}</string>
                <key>offset</key>
                <string>{44,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,105},{183,89}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,719},{221,213}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,25},{221,213}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,721},{243,213}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,25},{243,213}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,506},{221,213}}</string>
                <key>offset</key>
                <string>{49,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,25},{221,213}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,629},{107,237}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,58},{107,237}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{263,157}}</string>
                <key>offset</key>
                <string>{-15,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,86},{263,157}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,0},{245,253}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{245,253}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,0},{243,257}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{243,257}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,295},{67,165}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,46},{67,165}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
            <key>dfa-Tween 70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,0},{237,253}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{237,253}}</string>
                <key>sourceSize</key>
                <string>{309,267}</string>
            </dict>
            <key>dfa-Tween 71.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,362},{267,159}}</string>
                <key>offset</key>
                <string>{-12,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,87},{267,159}}</string>
                <key>sourceSize</key>
                <string>{353,263}</string>
            </dict>
            <key>dfa-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,297},{67,173}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,33},{67,173}}</string>
                <key>sourceSize</key>
                <string>{315,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GongSunZan_e.pvr.ccz</string>
            <key>size</key>
            <string>{2007,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b59d882eff29bbecf34a4ae274b76c80:cdf84257ed0ec1a635b377fbe3328f6b:662d53e4eee36256e0067fb6b667ace7$</string>
            <key>textureFileName</key>
            <string>GongSunZan_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
