<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu_ess-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,271},{37,31}}</string>
                <key>offset</key>
                <string>{-16,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,187},{37,31}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,274},{87,77}}</string>
                <key>offset</key>
                <string>{-18,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,143},{87,77}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1408},{135,117}}</string>
                <key>offset</key>
                <string>{-19,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,106},{135,117}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,351},{263,141}}</string>
                <key>offset</key>
                <string>{47,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,82},{263,141}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,475},{269,139}}</string>
                <key>offset</key>
                <string>{53,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,83},{269,139}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,271},{273,137}}</string>
                <key>offset</key>
                <string>{51,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,85},{273,137}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,340},{273,135}}</string>
                <key>offset</key>
                <string>{51,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,87},{273,135}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,653},{265,135}}</string>
                <key>offset</key>
                <string>{52,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,87},{265,135}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,559},{267,131}}</string>
                <key>offset</key>
                <string>{48,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,91},{267,131}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,518},{267,135}}</string>
                <key>offset</key>
                <string>{49,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,87},{267,135}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,690},{263,137}}</string>
                <key>offset</key>
                <string>{51,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,85},{263,137}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{241,221}}</string>
                <key>offset</key>
                <string>{-68,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{241,221}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,761},{239,225}}</string>
                <key>offset</key>
                <string>{-69,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{239,225}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,765},{239,221}}</string>
                <key>offset</key>
                <string>{-69,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{239,221}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,827},{239,203}}</string>
                <key>offset</key>
                <string>{-69,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{239,203}}</string>
                <key>sourceSize</key>
                <string>{377,239}</string>
            </dict>
            <key>guanyu_ess-Tween 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,986},{162,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,176}}</string>
                <key>sourceSize</key>
                <string>{164,176}</string>
            </dict>
            <key>guanyu_ess-Tween 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,986},{162,176}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,176}}</string>
                <key>sourceSize</key>
                <string>{164,176}</string>
            </dict>
            <key>guanyu_ess-Tween 65.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,986},{158,174}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{158,174}}</string>
                <key>sourceSize</key>
                <string>{164,176}</string>
            </dict>
            <key>guanyu_ess-Tween 66.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1236},{154,172}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,172}}</string>
                <key>sourceSize</key>
                <string>{164,176}</string>
            </dict>
            <key>guanyu_ess-Tween 67.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,79},{73,81}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,53},{73,81}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 68.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1303},{81,81}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,53},{81,81}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 69.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1148},{155,141}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,39},{155,141}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 70.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1151},{199,151}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{199,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 71.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1365},{205,151}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,29},{205,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 72.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1009},{211,151}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{211,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 73.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,614},{209,151}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{209,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 74.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{205,157}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,30},{205,157}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 75.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1365},{203,151}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{203,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 76.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1344},{195,151}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,29},{195,151}}</string>
                <key>sourceSize</key>
                <string>{225,187}</string>
            </dict>
            <key>guanyu_ess-Tween 77.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1030},{133,124}}</string>
                <key>offset</key>
                <string>{44,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,55},{133,124}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 78.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,160},{93,114}}</string>
                <key>offset</key>
                <string>{43,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{93,114}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 79.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{79,74}}</string>
                <key>offset</key>
                <string>{43,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,78},{79,74}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 80.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1360},{191,200}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{191,200}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 81.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1160},{191,200}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{191,200}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 82.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1160},{76,169}}</string>
                <key>offset</key>
                <string>{-86,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{76,169}}</string>
                <key>sourceSize</key>
                <string>{264,231}</string>
            </dict>
            <key>guanyu_ess-Tween 83.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1148},{101,196}}</string>
                <key>offset</key>
                <string>{-63,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,196}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 84.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1350},{101,196}}</string>
                <key>offset</key>
                <string>{-63,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,196}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 85.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1148},{97,192}}</string>
                <key>offset</key>
                <string>{-65,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,192}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 86.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1408},{69,152}}</string>
                <key>offset</key>
                <string>{-79,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{69,152}}</string>
                <key>sourceSize</key>
                <string>{227,208}</string>
            </dict>
            <key>guanyu_ess-Tween 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1030},{149,121}}</string>
                <key>offset</key>
                <string>{-5,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,145},{149,121}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 88.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,614},{263,147}}</string>
                <key>offset</key>
                <string>{28,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,164},{263,147}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 89.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,408},{271,151}}</string>
                <key>offset</key>
                <string>{31,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,160},{271,151}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 90.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{293,123}}</string>
                <key>offset</key>
                <string>{44,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,188},{293,123}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 91.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{321,243}}</string>
                <key>offset</key>
                <string>{-31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{321,243}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 92.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,0},{319,271}}</string>
                <key>offset</key>
                <string>{-30,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{319,271}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 93.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{317,275}}</string>
                <key>offset</key>
                <string>{-31,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{317,275}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
            <key>guanyu_ess-Tween 94.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,123},{217,273}}</string>
                <key>offset</key>
                <string>{-81,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{217,273}}</string>
                <key>sourceSize</key>
                <string>{395,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu_e.pvr.ccz</string>
            <key>size</key>
            <string>{1007,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4882000c58e1b933586536ff5c646b3c:c12cf0f84ab58b5cf483f556caf5e843:ed2e1b1310d6e41c94a56b4872a09c80$</string>
            <key>textureFileName</key>
            <string>guanyu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
