<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gjsd-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,117},{222,209}}</string>
                <key>offset</key>
                <string>{-2,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,176},{222,209}}</string>
                <key>sourceSize</key>
                <string>{240,385}</string>
            </dict>
            <key>gjsd-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,220},{220,220}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{220,220}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
            <key>gjsd-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,0},{220,220}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{220,220}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
            <key>gjsd-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,0},{236,117}}</string>
                <key>offset</key>
                <string>{1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{236,117}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,287},{290,145}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{290,145}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,280},{272,129}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,45},{272,129}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,328},{244,113}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{244,113}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,328},{190,97}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,21},{190,97}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{152,75}}</string>
                <key>offset</key>
                <string>{-13,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,16},{152,75}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,357},{128,55}}</string>
                <key>offset</key>
                <string>{-13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,14},{128,55}}</string>
                <key>sourceSize</key>
                <string>{390,213}</string>
            </dict>
            <key>gjsd-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{234,287}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,90},{234,287}}</string>
                <key>sourceSize</key>
                <string>{240,385}</string>
            </dict>
            <key>gjsd-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,0},{238,353}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{238,353}}</string>
                <key>sourceSize</key>
                <string>{240,385}</string>
            </dict>
            <key>gjsd-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,357}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,357}}</string>
                <key>sourceSize</key>
                <string>{240,385}</string>
            </dict>
            <key>gjsd-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{210,285}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{210,285}}</string>
                <key>sourceSize</key>
                <string>{240,385}</string>
            </dict>
            <key>gjsd-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,164},{306,164}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,164}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
            <key>gjsd-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,0},{306,164}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,164}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
            <key>gjsd-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{280,222}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{280,222}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
            <key>gjsd-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,210},{240,220}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{240,220}}</string>
                <key>sourceSize</key>
                <string>{306,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuoJia_e.pvr.ccz</string>
            <key>size</key>
            <string>{2028,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53812405ba9271348f9b87dd3e94c0ab:02d59da0beaab5c3877fa95df8e1cce1:c357b074193b794f5dadc446b22f52b7$</string>
            <key>textureFileName</key>
            <string>GuoJia_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
