<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfaswee-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,157},{148,108}}</string>
                <key>offset</key>
                <string>{-77,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{148,108}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
            <key>sfaswee-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,211},{136,60}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,12},{136,60}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>sfaswee-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,202},{130,74}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{130,74}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>sfaswee-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,202},{104,76}}</string>
                <key>offset</key>
                <string>{-33,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,76}}</string>
                <key>sourceSize</key>
                <string>{170,76}</string>
            </dict>
            <key>sfaswee-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{219,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,221}}</string>
                <key>sourceSize</key>
                <string>{219,221}</string>
            </dict>
            <key>sfaswee-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>sfaswee-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,0},{164,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,211}}</string>
                <key>sourceSize</key>
                <string>{164,211}</string>
            </dict>
            <key>sfaswee-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,0},{138,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,183}}</string>
                <key>sourceSize</key>
                <string>{138,183}</string>
            </dict>
            <key>sfaswee-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,162},{112,134}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,134}}</string>
                <key>sourceSize</key>
                <string>{112,154}</string>
            </dict>
            <key>sfaswee-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,174},{88,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,125}}</string>
                <key>sourceSize</key>
                <string>{88,125}</string>
            </dict>
            <key>sfaswee-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,0},{195,122}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,122}}</string>
                <key>sourceSize</key>
                <string>{195,128}</string>
            </dict>
            <key>sfaswee-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,0},{162,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,128}}</string>
                <key>sourceSize</key>
                <string>{162,128}</string>
            </dict>
            <key>sfaswee-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,183},{91,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,163}}</string>
                <key>sourceSize</key>
                <string>{91,163}</string>
            </dict>
            <key>sfaswee-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,221},{125,59}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{125,59}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,221},{117,53}}</string>
                <key>offset</key>
                <string>{30,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,53},{117,53}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{25,39}}</string>
                <key>offset</key>
                <string>{59,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,66},{25,39}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,0},{145,143}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{145,143}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,0},{147,157}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{147,157}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,0},{155,165}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,165}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,165},{115,145}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,11},{115,145}}</string>
                <key>sourceSize</key>
                <string>{183,165}</string>
            </dict>
            <key>sfaswee-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,0},{162,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,202}}</string>
                <key>sourceSize</key>
                <string>{162,202}</string>
            </dict>
            <key>sfaswee-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,0},{147,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,174}}</string>
                <key>sourceSize</key>
                <string>{147,174}</string>
            </dict>
            <key>sfaswee-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,0},{162,155}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,0},{162,155}}</string>
                <key>sourceSize</key>
                <string>{302,155}</string>
            </dict>
            <key>sfaswee-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,162},{112,138}}</string>
                <key>offset</key>
                <string>{69,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,13},{112,138}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
            <key>sfaswee-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,145},{136,126}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,25},{136,126}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
            <key>sfaswee-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,195},{194,84}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{194,84}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
            <key>sfaswee-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,0},{186,106}}</string>
                <key>offset</key>
                <string>{-53,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{186,106}}</string>
                <key>sourceSize</key>
                <string>{302,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuoNvWang_e.pvr.ccz</string>
            <key>size</key>
            <string>{2001,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f9bc043151e0a2b983c32011fd1f980:86ecbed11eaa17a86073220fb2ce0cae:b7cb8e4f10aeadac807ace8bdc3854c7$</string>
            <key>textureFileName</key>
            <string>GuoNvWang_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
