<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>asfw3-gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,70},{23,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,42}}</string>
                <key>sourceSize</key>
                <string>{25,42}</string>
            </dict>
            <key>asfw3-gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,43},{36,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,72}}</string>
                <key>sourceSize</key>
                <string>{38,72}</string>
            </dict>
            <key>asfw3-gong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,92},{42,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,15}}</string>
                <key>sourceSize</key>
                <string>{42,15}</string>
            </dict>
            <key>asfw3-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,43},{73,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>asfw3-hudiejie.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,70},{34,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>asfw3-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,0},{113,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,43}}</string>
                <key>sourceSize</key>
                <string>{113,43}</string>
            </dict>
            <key>asfw3-ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{74,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,70}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>asfw3-qun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,70},{36,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>asfw3-qun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{66,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{66,43}}</string>
                <key>sourceSize</key>
                <string>{70,51}</string>
            </dict>
            <key>asfw3-qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,60},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>asfw3-qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,77},{21,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,16}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>asfw3-qunbai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,93},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>asfw3-qunnei.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,104},{49,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,17}}</string>
                <key>sourceSize</key>
                <string>{49,17}</string>
            </dict>
            <key>asfw3-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>asfw3-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{73,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{75,72}</string>
            </dict>
            <key>asfw3-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{51,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,78}}</string>
                <key>sourceSize</key>
                <string>{51,78}</string>
            </dict>
            <key>asfw3-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,103},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>asfw3-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,43},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,47}</string>
            </dict>
            <key>asfw3-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,52},{25,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>asfw3-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,70},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>asfw3-xuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,70},{23,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,48}}</string>
                <key>sourceSize</key>
                <string>{23,48}</string>
            </dict>
            <key>asfw3-xuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,70},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>asfw3-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{42,18}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,18}}</string>
                <key>sourceSize</key>
                <string>{48,30}</string>
            </dict>
            <key>asfw3-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,52}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{109,52}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>asfw3-youshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,93},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>asfw3-youshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,100},{19,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>asfw3-youshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,43},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>asfw3-youtui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,93},{16,28}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{16,28}}</string>
                <key>sourceSize</key>
                <string>{20,52}</string>
            </dict>
            <key>asfw3-youtuo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,93},{22,22}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>asfw3-zoushou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,98},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>asfw3-zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,100},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>asfw3-zuoshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,70},{17,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{27,20}</string>
            </dict>
            <key>asfw3-zuotui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,77},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>asfw3-zuotui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,93},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GuoNvWang.pvr.ccz</string>
            <key>size</key>
            <string>{508,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ecba29d58ca8d108b91abceec02612d:42bb0587dc9f374487927cd7e27e0cd1:f05840a9934cad797146ac848dcba149$</string>
            <key>textureFileName</key>
            <string>GuoNvWang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
