<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyy345-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,382},{16,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>hyy345-L_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,354},{19,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,28}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>hyy345-L_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,354},{18,28}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>hyy345-L_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,350},{14,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,13}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>hyy345-L_shouyingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,370},{15,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{15,14}}</string>
                <key>sourceSize</key>
                <string>{19,22}</string>
            </dict>
            <key>hyy345-L_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,311},{18,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{18,19}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>hyy345-L_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,329},{15,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{15,21}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>hyy345-L_xiuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,382},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>hyy345-L_xiuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{28,12}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,12}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>hyy345-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,287},{16,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>hyy345-R_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,169},{14,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>hyy345-R_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,311},{16,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,26}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>hyy345-R_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,152},{14,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>hyy345-R_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,64},{32,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,22}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>hyy345-R_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,185},{20,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{20,21}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>hyy345-X_L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,379},{8,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>hyy345-X_L_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,399},{5,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,13}}</string>
                <key>sourceSize</key>
                <string>{7,15}</string>
            </dict>
            <key>hyy345-X_L_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,371},{8,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{8,11}}</string>
                <key>sourceSize</key>
                <string>{10,13}</string>
            </dict>
            <key>hyy345-X_R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,277},{8,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>hyy345-X_R_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,302},{8,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,9}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>hyy345-X_R_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,392},{9,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{9,10}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>hyy345-X_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,287},{14,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,15}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>hyy345-X_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,263},{23,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>hyy345-gongjilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,198},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,64}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>hyy345-qunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,39},{32,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>hyy345-qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,263},{10,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{10,14}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>hyy345-qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,235},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,16}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>hyy345-shengzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,337},{16,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{16,18}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>hyy345-shengzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,392},{12,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{12,16}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>hyy345-shengzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,185},{10,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,13}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>hyy345-shengzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,363},{8,14}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{8,14}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>hyy345-shengzi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,384},{8,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,13}}</string>
                <key>sourceSize</key>
                <string>{10,15}</string>
            </dict>
            <key>hyy345-shengzi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,371},{11,11}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>hyy345-shoujilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,64}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>hyy345-siwanglian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,263},{53,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{53,65}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>hyy345-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{54,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{54,65}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>hyy345-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,121},{29,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,31}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>hyy345-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,311},{43,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{43,39}}</string>
                <key>sourceSize</key>
                <string>{47,45}</string>
            </dict>
            <key>hyy345-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,263},{41,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,48}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>hyy345-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,384},{15,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{15,15}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
            <key>hyy345-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,206},{16,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{16,29}}</string>
                <key>sourceSize</key>
                <string>{20,33}</string>
            </dict>
            <key>hyy345-toufa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,152},{18,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,37}</string>
            </dict>
            <key>hyy345-toufa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,355},{16,15}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{16,15}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>hyy345-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hyy345-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,86},{35,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{39,28}</string>
            </dict>
            <key>hyy345-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,95}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{198,95}}</string>
                <key>sourceSize</key>
                <string>{274,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangYueYing.pvr.ccz</string>
            <key>size</key>
            <string>{127,404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43be0057ca6d82d4bbf0af1a3d0a1e95:6f33c930e501379c9f2e5a2f2094a75d:607a35c43b4a1fa8bb95df0be331eea2$</string>
            <key>textureFileName</key>
            <string>HuangYueYing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
