<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangsdhdfh-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1163},{71,71}}</string>
                <key>offset</key>
                <string>{-37,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,64},{71,71}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1332},{171,121}}</string>
                <key>offset</key>
                <string>{70,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,27},{171,121}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
            <key>huangsdhdfh-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1453},{171,119}}</string>
                <key>offset</key>
                <string>{70,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,27},{171,119}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
            <key>huangsdhdfh-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,620},{219,119}}</string>
                <key>offset</key>
                <string>{35,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,27},{219,119}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
            <key>huangsdhdfh-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{181,135}}</string>
                <key>offset</key>
                <string>{-66,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,135}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
            <key>huangsdhdfh-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,490},{284,223}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{284,223}}</string>
                <key>sourceSize</key>
                <string>{292,235}</string>
            </dict>
            <key>huangsdhdfh-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,251},{307,239}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{307,239}}</string>
                <key>sourceSize</key>
                <string>{343,255}</string>
            </dict>
            <key>huangsdhdfh-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,251}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,251}}</string>
                <key>sourceSize</key>
                <string>{343,257}</string>
            </dict>
            <key>huangsdhdfh-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1453},{153,154}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{153,154}}</string>
                <key>sourceSize</key>
                <string>{179,190}</string>
            </dict>
            <key>huangsdhdfh-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1453},{94,95}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{94,95}}</string>
                <key>sourceSize</key>
                <string>{110,117}</string>
            </dict>
            <key>huangsdhdfh-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1211},{261,159}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{261,159}}</string>
                <key>sourceSize</key>
                <string>{263,171}</string>
            </dict>
            <key>huangsdhdfh-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1163},{171,169}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{171,169}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,135},{294,171}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{294,171}}</string>
                <key>sourceSize</key>
                <string>{322,171}</string>
            </dict>
            <key>huangsdhdfh-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1234},{148,57}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{148,57}}</string>
                <key>sourceSize</key>
                <string>{158,57}</string>
            </dict>
            <key>huangsdhdfh-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1119},{246,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{246,44}}</string>
                <key>sourceSize</key>
                <string>{252,46}</string>
            </dict>
            <key>huangsdhdfh-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,930},{197,189}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,56},{197,189}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,429},{203,191}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,57},{203,191}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,739},{201,191}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,56},{201,191}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,713},{251,271}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{251,271}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,964},{247,263}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{247,263}}</string>
                <key>sourceSize</key>
                <string>{255,273}</string>
            </dict>
            <key>huangsdhdfh-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1370},{121,121}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,26},{121,121}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
            <key>huangsdhdfh-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1491},{145,119}}</string>
                <key>offset</key>
                <string>{72,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,27},{145,119}}</string>
                <key>sourceSize</key>
                <string>{313,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangZhong_e.pvr.ccz</string>
            <key>size</key>
            <string>{511,1628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb7da3371d1376df37330fe42cb5ef4e:aa08a84eda5733ba21c2978f436f4779:13b67621ef01ea590e565537cec612e6$</string>
            <key>textureFileName</key>
            <string>HuangZhong_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
