<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hyy_e342-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1700},{143,176}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{143,176}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1572},{121,168}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{121,168}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,856},{113,118}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,57},{113,118}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1494},{68,80}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,110},{68,80}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1410},{82,84}}</string>
                <key>offset</key>
                <string>{-4,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,106},{82,84}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1701},{128,184}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{128,184}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1572},{128,182}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{128,182}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1700},{120,184}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{120,184}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1899},{124,182}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{124,182}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1885},{138,176}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{138,176}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1410},{130,162}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{130,162}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1410},{145,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,190}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1886},{136,142}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{136,142}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1410},{152,144}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{152,144}}</string>
                <key>sourceSize</key>
                <string>{158,190}</string>
            </dict>
            <key>hyy_e342-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,562},{254,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,329}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1572},{254,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{254,327}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,308},{254,329}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,329}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,816},{254,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{254,327}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,662},{100,107}}</string>
                <key>offset</key>
                <string>{14,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,51},{100,107}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,562},{100,107}}</string>
                <key>offset</key>
                <string>{13,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,52},{100,107}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,762},{94,101}}</string>
                <key>offset</key>
                <string>{12,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,58},{94,101}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,974},{86,95}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,66},{86,95}}</string>
                <key>sourceSize</key>
                <string>{254,329}</string>
            </dict>
            <key>hyy_e342-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1555},{147,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,188}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1702},{137,188}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{137,188}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,0},{308,352}}</string>
                <key>offset</key>
                <string>{26,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,100},{308,352}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{610,452}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,100},{610,452}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{702,470}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,100},{702,470}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{640,488}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,100},{640,488}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1070},{502,470}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,117},{502,470}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1572},{129,184}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{129,184}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1843},{140,150}}</string>
                <key>offset</key>
                <string>{35,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,376},{140,150}}</string>
                <key>sourceSize</key>
                <string>{764,674}</string>
            </dict>
            <key>hyy_e342-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1702},{133,184}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{133,184}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1890},{133,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{133,188}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1702},{129,188}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{129,188}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
            <key>hyy_e342-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1899},{123,174}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{123,174}}</string>
                <key>sourceSize</key>
                <string>{147,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuangYueYing_e.pvr.ccz</string>
            <key>size</key>
            <string>{1081,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:309476a2e42b5470c2a62b22f5e3f320:3c032451abbdd6dfd5352095e39bada0:e1d1252cfa2a2ccc87b7da07c5254f38$</string>
            <key>textureFileName</key>
            <string>HuangYueYing_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
