<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huatde-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1722},{139,148}}</string>
                <key>offset</key>
                <string>{19,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{139,148}}</string>
                <key>sourceSize</key>
                <string>{183,210}</string>
            </dict>
            <key>huatde-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1895},{137,141}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{137,141}}</string>
                <key>sourceSize</key>
                <string>{163,151}</string>
            </dict>
            <key>huatde-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,301},{142,130}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{142,130}}</string>
                <key>sourceSize</key>
                <string>{164,136}</string>
            </dict>
            <key>huatde-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1809},{127,117}}</string>
                <key>offset</key>
                <string>{8,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,1},{127,117}}</string>
                <key>sourceSize</key>
                <string>{151,149}</string>
            </dict>
            <key>huatde-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1722},{122,87}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,18},{122,87}}</string>
                <key>sourceSize</key>
                <string>{218,125}</string>
            </dict>
            <key>huatde-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1537},{156,95}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{156,95}}</string>
                <key>sourceSize</key>
                <string>{218,125}</string>
            </dict>
            <key>huatde-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1333},{192,100}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{192,100}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>huatde-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1433},{204,104}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{204,104}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>huatde-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1632},{152,90}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{152,90}}</string>
                <key>sourceSize</key>
                <string>{214,122}</string>
            </dict>
            <key>huatde-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1131},{183,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{183,100}}</string>
                <key>sourceSize</key>
                <string>{183,118}</string>
            </dict>
            <key>huatde-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1645},{151,110}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{151,110}}</string>
                <key>sourceSize</key>
                <string>{183,118}</string>
            </dict>
            <key>huatde-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{241,259}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,51},{241,259}}</string>
                <key>sourceSize</key>
                <string>{273,353}</string>
            </dict>
            <key>huatde-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,0},{151,116}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{151,116}}</string>
                <key>sourceSize</key>
                <string>{183,118}</string>
            </dict>
            <key>huatde-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{290,200}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,31},{290,200}}</string>
                <key>sourceSize</key>
                <string>{350,232}</string>
            </dict>
            <key>huatde-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,619},{252,208}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,16},{252,208}}</string>
                <key>sourceSize</key>
                <string>{350,232}</string>
            </dict>
            <key>huatde-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,151},{116,150}}</string>
                <key>offset</key>
                <string>{47,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,71},{116,150}}</string>
                <key>sourceSize</key>
                <string>{350,232}</string>
            </dict>
            <key>huatde-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1231},{193,102}}</string>
                <key>offset</key>
                <string>{77,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,35},{193,102}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1348},{211,112}}</string>
                <key>offset</key>
                <string>{77,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,30},{211,112}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1226},{229,122}}</string>
                <key>offset</key>
                <string>{77,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,26},{229,122}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,725},{229,170}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,4},{229,170}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1027},{199,240}}</string>
                <key>offset</key>
                <string>{21,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,38},{199,240}}</string>
                <key>sourceSize</key>
                <string>{275,306}</string>
            </dict>
            <key>huatde-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{307,178}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{307,178}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,443},{129,160}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,7},{129,160}}</string>
                <key>sourceSize</key>
                <string>{387,184}</string>
            </dict>
            <key>huatde-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,827},{200,242}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,42},{200,242}}</string>
                <key>sourceSize</key>
                <string>{292,322}</string>
            </dict>
            <key>huatde-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1460},{186,185}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,41},{186,185}}</string>
                <key>sourceSize</key>
                <string>{256,275}</string>
            </dict>
            <key>huatde-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,954},{181,177}}</string>
                <key>offset</key>
                <string>{30,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,21},{181,177}}</string>
                <key>sourceSize</key>
                <string>{279,237}</string>
            </dict>
            <key>huatde-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,572},{157,153}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,49},{157,153}}</string>
                <key>sourceSize</key>
                <string>{231,229}</string>
            </dict>
            <key>huatde-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1861},{138,142}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{138,142}}</string>
                <key>sourceSize</key>
                <string>{190,162}</string>
            </dict>
            <key>huatde-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1755},{144,140}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{144,140}}</string>
                <key>sourceSize</key>
                <string>{152,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuaTuo_e.pvr.ccz</string>
            <key>size</key>
            <string>{423,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2674030ef06ab371d692a37ad16662c8:da20916fff54d7188e20be90ec22cb5d:ff8e5866e930c2ccd59f74727f9593ab$</string>
            <key>textureFileName</key>
            <string>HuaTuo_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
