<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaxiong23-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{283,284}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{283,284}}</string>
                <key>sourceSize</key>
                <string>{321,312}</string>
            </dict>
            <key>huaxiong23-toubu copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,215},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,54}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>huaxiong23-toubu copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,325},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>huaxiong23-toubu copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,278},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>huaxiong23-toubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,284},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>huaxiong23-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,150},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>huaxiong23-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,150},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>huaxiong23-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{266,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,147}}</string>
                <key>sourceSize</key>
                <string>{266,147}</string>
            </dict>
            <key>huaxiong23-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,372},{42,35}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{48,39}</string>
            </dict>
            <key>huaxiong23-yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,390},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>huaxiong23-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,431},{165,80}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{165,80}}</string>
                <key>sourceSize</key>
                <string>{191,90}</string>
            </dict>
            <key>huaxiong23-you datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,437},{34,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>huaxiong23-you jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,338},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>huaxiong23-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,102},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>huaxiong23-you xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,437},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>huaxiong23-you xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,407},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>huaxiong23-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,470},{26,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{28,21}</string>
            </dict>
            <key>huaxiong23-youkuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,431},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>huaxiong23-zhutou.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,431},{58,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,91}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>huaxiong23-zhuwei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,489},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{21,24}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>huaxiong23-zhuwei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,372},{34,11}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,11}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>huaxiong23-zhuwei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,134},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,15}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>huaxiong23-zhuxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{82,82}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>huaxiong23-zhuyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,82},{65,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,68}}</string>
                <key>sourceSize</key>
                <string>{69,72}</string>
            </dict>
            <key>huaxiong23-zhuyoudatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,491},{21,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{21,20}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>huaxiong23-zhuyoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,502},{13,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{13,9}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>huaxiong23-zhuyoushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,407},{18,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{18,14}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>huaxiong23-zhuyouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,443},{17,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{17,12}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>huaxiong23-zhuyouxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,425},{17,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,18}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>huaxiong23-zhuzuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,250},{28,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{28,36}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>huaxiong23-zhuzuodatui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,203},{36,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{36,47}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>huaxiong23-zhuzuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,471},{31,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>huaxiong23-zhuzuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,119},{19,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{19,15}}</string>
                <key>sourceSize</key>
                <string>{27,19}</string>
            </dict>
            <key>huaxiong23-zhuzuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,269},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{23,15}</string>
            </dict>
            <key>huaxiong23-zhuzuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,489},{22,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{22,23}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>huaxiong23-zhuzuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,489},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{17,22}}</string>
                <key>sourceSize</key>
                <string>{25,28}</string>
            </dict>
            <key>huaxiong23-zuo dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,468},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,34}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>huaxiong23-zuo shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,82},{20,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>huaxiong23-zuo xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,489},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuaXiong.pvr.ccz</string>
            <key>size</key>
            <string>{367,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ba108aa13af4bfb8966ed27a519d80:e4eb1315aac9f172f63c61a283bf5d4f:7464d40e8f939a175b6ef908cfbbd068$</string>
            <key>textureFileName</key>
            <string>HuaXiong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
