<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hxde-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,493},{228,296}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{228,296}}</string>
                <key>sourceSize</key>
                <string>{230,310}</string>
            </dict>
            <key>hxde-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,308},{165,316}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,21},{165,316}}</string>
                <key>sourceSize</key>
                <string>{237,374}</string>
            </dict>
            <key>hxde-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{352,322}}</string>
                <key>offset</key>
                <string>{-19,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,78},{352,322}}</string>
                <key>sourceSize</key>
                <string>{546,444}</string>
            </dict>
            <key>hxde-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{362,346}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{362,346}}</string>
                <key>sourceSize</key>
                <string>{546,444}</string>
            </dict>
            <key>hxde-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{392,368}}</string>
                <key>offset</key>
                <string>{-50,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,53},{392,368}}</string>
                <key>sourceSize</key>
                <string>{546,444}</string>
            </dict>
            <key>hxde-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,507},{191,279}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{191,279}}</string>
                <key>sourceSize</key>
                <string>{227,307}</string>
            </dict>
            <key>hxde-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,786},{191,136}}</string>
                <key>offset</key>
                <string>{-52,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,180},{191,136}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,276},{231,176}}</string>
                <key>offset</key>
                <string>{-39,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,138},{231,176}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,721},{281,244}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,62},{281,244}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,756},{281,230}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,62},{281,230}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,360},{303,124}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,61},{303,124}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,680},{281,124}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{281,124}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,322},{171,332}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{171,332}}</string>
                <key>sourceSize</key>
                <string>{237,374}</string>
            </dict>
            <key>hxde-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,473},{283,134}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{283,134}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1639,680},{271,124}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,61},{271,124}}</string>
                <key>sourceSize</key>
                <string>{351,342}</string>
            </dict>
            <key>hxde-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,484},{265,254}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,48},{265,254}}</string>
                <key>sourceSize</key>
                <string>{355,326}</string>
            </dict>
            <key>hxde-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,721},{265,254}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,49},{265,254}}</string>
                <key>sourceSize</key>
                <string>{355,326}</string>
            </dict>
            <key>hxde-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,738},{241,226}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,64},{241,226}}</string>
                <key>sourceSize</key>
                <string>{355,326}</string>
            </dict>
            <key>hxde-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,507},{231,216}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,70},{231,216}}</string>
                <key>sourceSize</key>
                <string>{355,326}</string>
            </dict>
            <key>hxde-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,507},{229,214}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,70},{229,214}}</string>
                <key>sourceSize</key>
                <string>{355,326}</string>
            </dict>
            <key>hxde-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,228},{352,132}}</string>
                <key>offset</key>
                <string>{51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,59},{352,132}}</string>
                <key>sourceSize</key>
                <string>{502,198}</string>
            </dict>
            <key>hxde-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{410,174}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{410,174}}</string>
                <key>sourceSize</key>
                <string>{502,198}</string>
            </dict>
            <key>hxde-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,174},{400,134}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{400,134}}</string>
                <key>sourceSize</key>
                <string>{502,198}</string>
            </dict>
            <key>hxde-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,738},{236,138}}</string>
                <key>offset</key>
                <string>{-25,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,189},{236,138}}</string>
                <key>sourceSize</key>
                <string>{318,374}</string>
            </dict>
            <key>hxde-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,482},{278,198}}</string>
                <key>offset</key>
                <string>{-4,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,138},{278,198}}</string>
                <key>sourceSize</key>
                <string>{318,374}</string>
            </dict>
            <key>hxde-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{274,324}}</string>
                <key>offset</key>
                <string>{-6,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{274,324}}</string>
                <key>sourceSize</key>
                <string>{318,374}</string>
            </dict>
            <key>hxde-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,0},{214,342}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,21},{214,342}}</string>
                <key>sourceSize</key>
                <string>{318,374}</string>
            </dict>
            <key>hxde-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,0},{228,348}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,26},{228,348}}</string>
                <key>sourceSize</key>
                <string>{318,374}</string>
            </dict>
            <key>hxde-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,0},{276,126}}</string>
                <key>offset</key>
                <string>{90,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,195},{276,126}}</string>
                <key>sourceSize</key>
                <string>{546,444}</string>
            </dict>
            <key>hxde-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,214},{288,268}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,107},{288,268}}</string>
                <key>sourceSize</key>
                <string>{546,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HuaXiong_e.pvr.ccz</string>
            <key>size</key>
            <string>{1971,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfd94da7bd4e2e52e807090c9ba3d14f:53d7cc2841137926a53091d1ef3a2886:36ddf2f7ea940aed3e7d38651a7c4b1f$</string>
            <key>textureFileName</key>
            <string>HuaXiong_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
