<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxudf-Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{184,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{184,186}}</string>
                <key>sourceSize</key>
                <string>{184,190}</string>
            </dict>
            <key>jiaxudf-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,48},{132,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{132,51}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>jiaxudf-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,146},{20,15}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{20,15}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>jiaxudf-asf.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,122},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,40}}</string>
                <key>sourceSize</key>
                <string>{14,40}</string>
            </dict>
            <key>jiaxudf-hu yao .png</key>
            <dict>
                <key>frame</key>
                <string>{{339,99},{42,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,50}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>jiaxudf-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,166},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>jiaxudf-piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,174},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>jiaxudf-piaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,154},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>jiaxudf-piaodai4.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,149},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>jiaxudf-qunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,47},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>jiaxudf-qunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,154},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,45}}</string>
                <key>sourceSize</key>
                <string>{23,45}</string>
            </dict>
            <key>jiaxudf-tou 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,99},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>jiaxudf-tou copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,48},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>jiaxudf-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,99},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>jiaxudf-tou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,99},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>jiaxudf-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,154},{20,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>jiaxudf-touguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,0},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{29,37}</string>
            </dict>
            <key>jiaxudf-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{184,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{184,48}}</string>
                <key>sourceSize</key>
                <string>{184,52}</string>
            </dict>
            <key>jiaxudf-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,91},{42,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,47}}</string>
                <key>sourceSize</key>
                <string>{42,47}</string>
            </dict>
            <key>jiaxudf-you datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,162},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,22}}</string>
                <key>sourceSize</key>
                <string>{18,22}</string>
            </dict>
            <key>jiaxudf-you hushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,138},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>jiaxudf-you jianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{57,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,47}}</string>
                <key>sourceSize</key>
                <string>{59,47}</string>
            </dict>
            <key>jiaxudf-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,61},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>jiaxudf-you xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,154},{20,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>jiaxudf-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,37},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>jiaxudf-zuo hushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,91},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>jiaxudf-zuo jianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,154},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,37}</string>
            </dict>
            <key>jiaxudf-zuo shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,149},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>jiaxudf-zuo xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,122},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JiaXu.pvr.ccz</string>
            <key>size</key>
            <string>{456,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c765978322f12d4f500be4b9f7953a:f902929de631ed2e6efc2d48e0922986:e6f6beb456f5581fcfa3f6f13ba57ce1$</string>
            <key>textureFileName</key>
            <string>JiaXu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
