<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxsudf-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1776},{137,141}}</string>
                <key>offset</key>
                <string>{111,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,107},{137,141}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1273},{234,186}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,71},{234,186}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>jiaxsudf-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1459},{232,186}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,71},{232,186}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>jiaxsudf-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1648},{240,172}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,70},{240,172}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>jiaxsudf-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1776},{240,162}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,80},{240,162}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>jiaxsudf-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1476},{240,172}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,70},{240,172}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>jiaxsudf-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1671},{182,105}}</string>
                <key>offset</key>
                <string>{-2,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,216},{182,105}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,261},{344,245}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,77},{344,245}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,0},{348,261}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,62},{348,261}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,506},{316,189}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,165},{316,189}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{346,157}}</string>
                <key>offset</key>
                <string>{-6,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,200},{346,157}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,435},{328,90}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{328,90}}</string>
                <key>sourceSize</key>
                <string>{350,170}</string>
            </dict>
            <key>jiaxsudf-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{344,137}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,196},{344,137}}</string>
                <key>sourceSize</key>
                <string>{462,383}</string>
            </dict>
            <key>jiaxsudf-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1466},{262,205}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,25},{262,205}}</string>
                <key>sourceSize</key>
                <string>{330,241}</string>
            </dict>
            <key>jiaxsudf-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1269},{262,207}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{262,207}}</string>
                <key>sourceSize</key>
                <string>{330,241}</string>
            </dict>
            <key>jiaxsudf-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,739},{250,199}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,31},{250,199}}</string>
                <key>sourceSize</key>
                <string>{330,241}</string>
            </dict>
            <key>jiaxsudf-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1880},{193,147}}</string>
                <key>offset</key>
                <string>{82,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,98},{193,147}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1818},{185,129}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,75},{185,129}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1645},{239,131}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,66},{239,131}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{367,141}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,69},{367,141}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,261},{295,63}}</string>
                <key>offset</key>
                <string>{-47,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,123},{295,63}}</string>
                <key>sourceSize</key>
                <string>{483,275}</string>
            </dict>
            <key>jiaxsudf-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{213,285}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{213,285}}</string>
                <key>sourceSize</key>
                <string>{321,327}</string>
            </dict>
            <key>jiaxsudf-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1820},{232,60}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{232,60}}</string>
                <key>sourceSize</key>
                <string>{350,170}</string>
            </dict>
            <key>jiaxsudf-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,989},{219,195}}</string>
                <key>offset</key>
                <string>{7,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,119},{219,195}}</string>
                <key>sourceSize</key>
                <string>{321,327}</string>
            </dict>
            <key>jiaxsudf-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1184},{209,89}}</string>
                <key>offset</key>
                <string>{41,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,220},{209,89}}</string>
                <key>sourceSize</key>
                <string>{321,327}</string>
            </dict>
            <key>jiaxsudf-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,695},{276,263}}</string>
                <key>offset</key>
                <string>{-16,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,109},{276,263}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>jiaxsudf-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,738},{270,267}}</string>
                <key>offset</key>
                <string>{-11,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,88},{270,267}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>jiaxsudf-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,958},{266,259}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{266,259}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>jiaxsudf-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1005},{264,265}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,73},{264,265}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>jiaxsudf-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1217},{262,249}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,83},{262,249}}</string>
                <key>sourceSize</key>
                <string>{400,379}</string>
            </dict>
            <key>jiaxsudf-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,0},{188,46}}</string>
                <key>offset</key>
                <string>{-61,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,56},{188,46}}</string>
                <key>sourceSize</key>
                <string>{350,170}</string>
            </dict>
            <key>jiaxsudf-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,556},{114,107}}</string>
                <key>offset</key>
                <string>{-9,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,146},{114,107}}</string>
                <key>sourceSize</key>
                <string>{250,309}</string>
            </dict>
            <key>jiaxsudf-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1913},{106,103}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,130},{106,103}}</string>
                <key>sourceSize</key>
                <string>{250,309}</string>
            </dict>
            <key>jiaxsudf-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1671},{98,147}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,108},{98,147}}</string>
                <key>sourceSize</key>
                <string>{250,309}</string>
            </dict>
            <key>jiaxsudf-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,1913},{120,103}}</string>
                <key>offset</key>
                <string>{-11,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,152},{120,103}}</string>
                <key>sourceSize</key>
                <string>{250,309}</string>
            </dict>
            <key>jiaxsudf-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,663},{108,76}}</string>
                <key>offset</key>
                <string>{3,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,221},{108,76}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JiaXu_e.pvr.ccz</string>
            <key>size</key>
            <string>{763,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:713e3ec833420ed03641b686c2fe49cd:d68678b31708fb07b63b20ff9618ce70:b72529dddbd9adb8f774a12185707320$</string>
            <key>textureFileName</key>
            <string>JiaXu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
