<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiling1-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{323,274}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{323,274}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{317,274}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{317,274}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{313,276}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{313,276}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1112},{305,278}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,15},{305,278}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1680},{295,286}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{295,286}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1390},{291,290}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{291,290}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{295,288}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{295,288}}</string>
                <key>sourceSize</key>
                <string>{329,294}</string>
            </dict>
            <key>jiling1-beida.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,691},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiling1-gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,654},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiling1-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,609},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiling1-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,0},{299,101}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,22},{299,101}}</string>
                <key>sourceSize</key>
                <string>{353,143}</string>
            </dict>
            <key>jiling1-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,69},{7,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,21}}</string>
                <key>sourceSize</key>
                <string>{7,21}</string>
            </dict>
            <key>jiling1-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,209},{9,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,22}}</string>
                <key>sourceSize</key>
                <string>{9,22}</string>
            </dict>
            <key>jiling1-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,182},{11,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,27}}</string>
                <key>sourceSize</key>
                <string>{11,27}</string>
            </dict>
            <key>jiling1-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,299},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>jiling1-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,164},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>jiling1-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,572},{59,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,82}</string>
            </dict>
            <key>jiling1-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,354},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>jiling1-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,502},{61,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,45}}</string>
                <key>sourceSize</key>
                <string>{61,45}</string>
            </dict>
            <key>jiling1-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,773},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>jiling1-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,299},{55,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,33}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>jiling1-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,446},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>jiling1-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,929},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>jiling1-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,401},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>jiling1-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,808},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>jiling1-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,943},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jiling1-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,905},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>jiling1-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,865},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>jiling1-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>jiling1-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,38},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>jiling1-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,927},{38,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,22}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>jiling1-补间 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,910},{33,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>jiling1-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,835},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>jiling1-补间 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,736},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>jiling1-补间 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,563},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>jiling1-补间 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,431},{141,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,73}}</string>
                <key>sourceSize</key>
                <string>{141,73}</string>
            </dict>
            <key>jiling1-补间 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,105},{28,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,17}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>jiling1-补间 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,843},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>jiling1-补间 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,69},{36,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,14}}</string>
                <key>sourceSize</key>
                <string>{38,14}</string>
            </dict>
            <key>jiling1-补间 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,777},{44,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,31}</string>
            </dict>
            <key>jiling1-补间 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,898},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>jiling1-补间 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,133},{31,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,14}}</string>
                <key>sourceSize</key>
                <string>{31,14}</string>
            </dict>
            <key>jiling1-补间 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,868},{35,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,30}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>jiling1-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,898},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>jiling1-补间 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,835},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,38}</string>
            </dict>
            <key>jiling1-补间 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,865},{25,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,40}}</string>
                <key>sourceSize</key>
                <string>{25,40}</string>
            </dict>
            <key>jiling1-补间 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,971},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>jiling1-补间 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,2}</string>
            </dict>
            <key>jiling1-补间 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,2}</string>
            </dict>
            <key>jiling1-补间 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,0},{1,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,3}}</string>
                <key>sourceSize</key>
                <string>{1,3}</string>
            </dict>
            <key>jiling1-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,964},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>jiling1-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1680},{244,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,159}}</string>
                <key>sourceSize</key>
                <string>{244,159}</string>
            </dict>
            <key>jiling1-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,873},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>jiling1-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,898},{27,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,33}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>jiling1-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,182},{10,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,28}}</string>
                <key>sourceSize</key>
                <string>{10,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JiLing.pvr.ccz</string>
            <key>size</key>
            <string>{445,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88bf834619c61bcb9401078fd40f0244:ab8a11d0d9248c0ca656f5ae6b8df05d:c2c5982b87278d96715e376528f23433$</string>
            <key>textureFileName</key>
            <string>JiLing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
