<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>junshi3nvzong-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,0},{157,159}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{157,159}}</string>
                <key>sourceSize</key>
                <string>{203,193}</string>
            </dict>
            <key>junshi3nvzong-beiganf.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,213},{112,125}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{112,125}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>junshi3nvzong-bi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,300},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,35}</string>
            </dict>
            <key>junshi3nvzong-bibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,307},{31,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,53}}</string>
                <key>sourceSize</key>
                <string>{31,53}</string>
            </dict>
            <key>junshi3nvzong-dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,297},{30,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>junshi3nvzong-faa.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,297},{39,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,26}}</string>
                <key>sourceSize</key>
                <string>{39,26}</string>
            </dict>
            <key>junshi3nvzong-fad.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{52,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,41}</string>
            </dict>
            <key>junshi3nvzong-fada.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,256},{56,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,73}</string>
            </dict>
            <key>junshi3nvzong-fajian.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,256},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>junshi3nvzong-faw.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,297},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>junshi3nvzong-fawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,283},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>junshi3nvzong-faww.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,297},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>junshi3nvzong-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,213},{112,125}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{112,125}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>junshi3nvzong-j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,339}}</string>
                <key>sourceSize</key>
                <string>{297,339}</string>
            </dict>
            <key>junshi3nvzong-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,0},{213,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,302}}</string>
                <key>sourceSize</key>
                <string>{213,302}</string>
            </dict>
            <key>junshi3nvzong-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,143},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>junshi3nvzong-jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,302},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>junshi3nvzong-jiao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,159},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>junshi3nvzong-ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,125},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>junshi3nvzong-kuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,297},{26,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,41}}</string>
                <key>sourceSize</key>
                <string>{26,41}</string>
            </dict>
            <key>junshi3nvzong-neiku.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,230},{60,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,26}}</string>
                <key>sourceSize</key>
                <string>{60,26}</string>
            </dict>
            <key>junshi3nvzong-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,297},{32,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,47}}</string>
                <key>sourceSize</key>
                <string>{32,47}</string>
            </dict>
            <key>junshi3nvzong-piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,312},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>junshi3nvzong-pif.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{111,125}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,125}}</string>
                <key>sourceSize</key>
                <string>{111,127}</string>
            </dict>
            <key>junshi3nvzong-piff.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,143},{69,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,87}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>junshi3nvzong-pifff.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,283},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>junshi3nvzong-san.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,0},{91,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,143}}</string>
                <key>sourceSize</key>
                <string>{91,143}</string>
            </dict>
            <key>junshi3nvzong-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,256},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>junshi3nvzong-silas.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,213},{112,125}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{112,125}}</string>
                <key>sourceSize</key>
                <string>{132,137}</string>
            </dict>
            <key>junshi3nvzong-soo.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,192},{21,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,19}}</string>
                <key>sourceSize</key>
                <string>{21,19}</string>
            </dict>
            <key>junshi3nvzong-sous.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,279},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>junshi3nvzong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,159},{110,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,124}}</string>
                <key>sourceSize</key>
                <string>{110,124}</string>
            </dict>
            <key>junshi3nvzong-tuiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,297},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>junshi3nvzong-tuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,312},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>junshi3nvzong-xiaot.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,125},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{33,51}</string>
            </dict>
            <key>junshi3nvzong-xiaoy.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,300},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>junshi3nvzong-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,256},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>junshi3nvzong-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,159},{141,67}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{141,67}}</string>
                <key>sourceSize</key>
                <string>{165,95}</string>
            </dict>
            <key>junshi3nvzong-zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,300},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junshi3nv.pvr.ccz</string>
            <key>size</key>
            <string>{1014,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25f397f20ddd2574642b7e1d33ef3da8:3307fbae60fc170ddc4a8e9778b38b58:60acac3c59a73dc544706dc6e602aae1$</string>
            <key>textureFileName</key>
            <string>junshi3nv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
