<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>junshi2zong-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,739},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>junshi2zong-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,235},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>junshi2zong-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,714},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>junshi2zong-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,164},{33,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,40}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>junshi2zong-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,388},{44,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,28}}</string>
                <key>sourceSize</key>
                <string>{44,28}</string>
            </dict>
            <key>junshi2zong-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,293},{67,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,31}}</string>
                <key>sourceSize</key>
                <string>{67,31}</string>
            </dict>
            <key>junshi2zong-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,265},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>junshi2zong-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,118},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>junshi2zong-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,477},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>junshi2zong-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,688},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>junshi2zong-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,82}}</string>
                <key>sourceSize</key>
                <string>{252,82}</string>
            </dict>
            <key>junshi2zong-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,204},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{33,31}</string>
            </dict>
            <key>junshi2zong-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,932},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>junshi2zong-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,573},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,41}}</string>
                <key>sourceSize</key>
                <string>{55,41}</string>
            </dict>
            <key>junshi2zong-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,518},{41,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>junshi2zong-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1059},{79,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,56}}</string>
                <key>sourceSize</key>
                <string>{79,56}</string>
            </dict>
            <key>junshi2zong-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,764},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>junshi2zong-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,360},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>junshi2zong-beigan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1258},{113,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{113,139}}</string>
                <key>sourceSize</key>
                <string>{125,149}</string>
            </dict>
            <key>junshi2zong-fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,842},{71,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,44}}</string>
                <key>sourceSize</key>
                <string>{71,44}</string>
            </dict>
            <key>junshi2zong-faa.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,789},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>junshi2zong-faaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,110},{8,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,36}}</string>
                <key>sourceSize</key>
                <string>{8,36}</string>
            </dict>
            <key>junshi2zong-fat.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,628},{22,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{22,40}</string>
            </dict>
            <key>junshi2zong-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1145},{113,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,139}}</string>
                <key>sourceSize</key>
                <string>{125,149}</string>
            </dict>
            <key>junshi2zong-j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{154,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,141}}</string>
                <key>sourceSize</key>
                <string>{154,141}</string>
            </dict>
            <key>junshi2zong-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{216,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,174}}</string>
                <key>sourceSize</key>
                <string>{216,174}</string>
            </dict>
            <key>junshi2zong-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{216,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,174}}</string>
                <key>sourceSize</key>
                <string>{216,174}</string>
            </dict>
            <key>junshi2zong-j4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{211,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,174}}</string>
                <key>sourceSize</key>
                <string>{211,174}</string>
            </dict>
            <key>junshi2zong-j5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{211,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,171}}</string>
                <key>sourceSize</key>
                <string>{211,171}</string>
            </dict>
            <key>junshi2zong-j6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,775},{204,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,157}}</string>
                <key>sourceSize</key>
                <string>{204,157}</string>
            </dict>
            <key>junshi2zong-junsia-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1073},{151,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{151,72}}</string>
                <key>sourceSize</key>
                <string>{177,102}</string>
            </dict>
            <key>junshi2zong-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,996},{82,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,63}}</string>
                <key>sourceSize</key>
                <string>{82,63}</string>
            </dict>
            <key>junshi2zong-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1145},{113,139}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,139}}</string>
                <key>sourceSize</key>
                <string>{125,149}</string>
            </dict>
            <key>junshi2zong-soubi .png</key>
            <dict>
                <key>frame</key>
                <string>{{211,650},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>junshi2zong-soubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,82},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>junshi2zong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1284},{112,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,138}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>junshi2zong-weis.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,432},{42,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,45}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junshi2.pvr.ccz</string>
            <key>size</key>
            <string>{253,1422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:669203fbf40e1321ab828cc5d1aa70f7:54227ac1f5afef870c7238934607cf88:c72278eb73c64a78ee60211dab2d9c41$</string>
            <key>textureFileName</key>
            <string>junshi2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
