<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>junshi1zong_y-bbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,51},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>junshi1zong_y-bia.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,60},{39,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,44}}</string>
                <key>sourceSize</key>
                <string>{39,44}</string>
            </dict>
            <key>junshi1zong_y-bibi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,27},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>junshi1zong_y-dai.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,71},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>junshi1zong_y-dass.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{71,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,59}}</string>
                <key>sourceSize</key>
                <string>{71,59}</string>
            </dict>
            <key>junshi1zong_y-fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,54},{13,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,24}</string>
            </dict>
            <key>junshi1zong_y-faa.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,60},{18,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,43}}</string>
                <key>sourceSize</key>
                <string>{18,43}</string>
            </dict>
            <key>junshi1zong_y-fawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{47,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,75}</string>
            </dict>
            <key>junshi1zong_y-gognj.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{88,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{88,104}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>junshi1zong_y-jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,60},{42,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,25}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>junshi1zong_y-jiaod.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,72},{45,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,31}</string>
            </dict>
            <key>junshi1zong_y-jiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,73},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>junshi1zong_y-piao.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{60,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,41}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>junshi1zong_y-piaoa.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,72},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>junshi1zong_y-piii.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,71},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,29}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>junshi1zong_y-saaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,29},{17,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>junshi1zong_y-san.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,0},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>junshi1zong_y-saws.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{94,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,52}}</string>
                <key>sourceSize</key>
                <string>{94,52}</string>
            </dict>
            <key>junshi1zong_y-shan.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{138,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,100}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>junshi1zong_y-shoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,72},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>junshi1zong_y-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>junshi1zong_y-sou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>junshi1zong_y-sous.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,104}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{88,104}}</string>
                <key>sourceSize</key>
                <string>{128,116}</string>
            </dict>
            <key>junshi1zong_y-ssa.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,77},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>junshi1zong_y-tee.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{22,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,47}}</string>
                <key>sourceSize</key>
                <string>{22,47}</string>
            </dict>
            <key>junshi1zong_y-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{87,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,100}}</string>
                <key>sourceSize</key>
                <string>{87,100}</string>
            </dict>
            <key>junshi1zong_y-toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,0},{60,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>junshi1zong_y-tuitui.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,73},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>junshi1zong_y-tuiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,72},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>junshi1zong_y-wei.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,47},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>junshi1zong_y-xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,52},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>junshi1zong_y-xiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,0},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>junshi1zong_y-xiaofa.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,0},{17,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,36}}</string>
                <key>sourceSize</key>
                <string>{17,36}</string>
            </dict>
            <key>junshi1zong_y-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,0},{151,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{151,72}}</string>
                <key>sourceSize</key>
                <string>{177,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>junshi1_y.pvr.ccz</string>
            <key>size</key>
            <string>{1023,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0446d01612f4d6faa8d53d9fd667c6e0:4ca6572d46fcce13e948236e9995f7a2:be37a2e846a76e4844227e2e81f998a6$</string>
            <key>textureFileName</key>
            <string>junshi1_y.pvr.ccz</string>
        </dict>
    </dict>
</plist>
