<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>laojiuguiq-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1990},{53,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,66}}</string>
                <key>sourceSize</key>
                <string>{55,72}</string>
            </dict>
            <key>laojiuguiq-Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1082},{21,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{21,22}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>laojiuguiq-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1457},{342,164}}</string>
                <key>offset</key>
                <string>{19,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,43},{342,164}}</string>
                <key>sourceSize</key>
                <string>{514,236}</string>
            </dict>
            <key>laojiuguiq-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1799},{104,136}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{104,136}}</string>
                <key>sourceSize</key>
                <string>{130,176}</string>
            </dict>
            <key>laojiuguiq-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1859},{107,131}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{107,131}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>laojiuguiq-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1903},{105,133}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{105,133}}</string>
                <key>sourceSize</key>
                <string>{133,147}</string>
            </dict>
            <key>laojiuguiq-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{215,201}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{215,201}}</string>
                <key>sourceSize</key>
                <string>{249,229}</string>
            </dict>
            <key>laojiuguiq-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1251},{211,206}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{211,206}}</string>
                <key>sourceSize</key>
                <string>{227,260}</string>
            </dict>
            <key>laojiuguiq-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1045},{214,206}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{214,206}}</string>
                <key>sourceSize</key>
                <string>{234,244}</string>
            </dict>
            <key>laojiuguiq-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{217,215}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{217,215}}</string>
                <key>sourceSize</key>
                <string>{239,231}</string>
            </dict>
            <key>laojiuguiq-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,629},{215,217}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{215,217}}</string>
                <key>sourceSize</key>
                <string>{225,227}</string>
            </dict>
            <key>laojiuguiq-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{235,223}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{235,223}}</string>
                <key>sourceSize</key>
                <string>{241,231}</string>
            </dict>
            <key>laojiuguiq-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{191,245}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{191,245}}</string>
                <key>sourceSize</key>
                <string>{205,249}</string>
            </dict>
            <key>laojiuguiq-agdfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,915},{47,40}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,40}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>laojiuguiq-asfg.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,865},{40,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,50}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>laojiuguiq-gag.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1990},{66,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,53}}</string>
                <key>sourceSize</key>
                <string>{74,53}</string>
            </dict>
            <key>laojiuguiq-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1712},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>laojiuguiq-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1638},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>laojiuguiq-souji.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1564},{83,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,74}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>laojiuguiq-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,289},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
            <key>laojiuguiq-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1786},{83,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,73}}</string>
                <key>sourceSize</key>
                <string>{83,73}</string>
            </dict>
            <key>laojiuguiq-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,242},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>laojiuguiq-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,268},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>laojiuguiq-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1251},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>laojiuguiq-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,616},{36,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,26}</string>
            </dict>
            <key>laojiuguiq-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,564},{27,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,37}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>laojiuguiq-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,962},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>laojiuguiq-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,221},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>laojiuguiq-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,790},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>laojiuguiq-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,504},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>laojiuguiq-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,642},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>laojiuguiq-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,304},{16,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
            <key>laojiuguiq-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,10}</string>
            </dict>
            <key>laojiuguiq-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,838},{32,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>laojiuguiq-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,701},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>laojiuguiq-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,191},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,20}}</string>
                <key>sourceSize</key>
                <string>{30,20}</string>
            </dict>
            <key>laojiuguiq-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,674},{27,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,34}</string>
            </dict>
            <key>laojiuguiq-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1457},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>laojiuguiq-补间 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,329},{21,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,15}}</string>
                <key>sourceSize</key>
                <string>{21,15}</string>
            </dict>
            <key>laojiuguiq-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1016},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>laojiuguiq-补间 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,414},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
            <key>laojiuguiq-补间 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,591},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{25,37}</string>
            </dict>
            <key>laojiuguiq-补间 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,732},{58,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,32}}</string>
                <key>sourceSize</key>
                <string>{58,32}</string>
            </dict>
            <key>laojiuguiq-补间 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,990},{26,27}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{30,49}</string>
            </dict>
            <key>laojiuguiq-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1039},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>laojiuguiq-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1060},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>laojiuguiq-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,536},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laojiugui.pvr.ccz</string>
            <key>size</key>
            <string>{255,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b88c82da4d8d7d8ef4ffa16a64c5a1a2:8d3aa71d99b3d792374d7fd56d412e76:ba59c7e062f8761ba4b0dbe002d37bcf$</string>
            <key>textureFileName</key>
            <string>laojiugui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
