<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1177},{240,210}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,76},{240,210}}</string>
                <key>sourceSize</key>
                <string>{316,314}</string>
            </dict>
            <key>Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{270,246}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{270,246}}</string>
                <key>sourceSize</key>
                <string>{316,314}</string>
            </dict>
            <key>Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,681},{300,282}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{300,282}}</string>
                <key>sourceSize</key>
                <string>{316,314}</string>
            </dict>
            <key>Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{314,314}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,314}}</string>
                <key>sourceSize</key>
                <string>{316,314}</string>
            </dict>
            <key>Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{316,310}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{316,310}}</string>
                <key>sourceSize</key>
                <string>{316,314}</string>
            </dict>
            <key>lid_e-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1177},{219,219}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{219,219}}</string>
                <key>sourceSize</key>
                <string>{243,247}</string>
            </dict>
            <key>lid_e-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,246},{270,188}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{270,188}}</string>
                <key>sourceSize</key>
                <string>{276,198}</string>
            </dict>
            <key>lid_e-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1820},{276,186}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{276,186}}</string>
                <key>sourceSize</key>
                <string>{276,198}</string>
            </dict>
            <key>lid_e-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,963},{204,164}}</string>
                <key>offset</key>
                <string>{-33,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,24},{204,164}}</string>
                <key>sourceSize</key>
                <string>{276,198}</string>
            </dict>
            <key>lid_e-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{285,339}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{285,339}}</string>
                <key>sourceSize</key>
                <string>{419,341}</string>
            </dict>
            <key>lid_e-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,905},{257,251}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,50},{257,251}}</string>
                <key>sourceSize</key>
                <string>{419,341}</string>
            </dict>
            <key>lid_e-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1531},{289,264}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{289,264}}</string>
                <key>sourceSize</key>
                <string>{305,284}</string>
            </dict>
            <key>lid_e-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,295},{277,310}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{277,310}}</string>
                <key>sourceSize</key>
                <string>{291,312}</string>
            </dict>
            <key>lid_e-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1531},{287,310}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{287,310}}</string>
                <key>sourceSize</key>
                <string>{291,312}</string>
            </dict>
            <key>lid_e-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1619},{215,221}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{215,221}}</string>
                <key>sourceSize</key>
                <string>{237,253}</string>
            </dict>
            <key>lid_e-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,605},{283,300}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{283,300}}</string>
                <key>sourceSize</key>
                <string>{291,312}</string>
            </dict>
            <key>lid_e-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1226},{293,305}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{293,305}}</string>
                <key>sourceSize</key>
                <string>{299,309}</string>
            </dict>
            <key>lid_e-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,434},{247,303}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{247,303}}</string>
                <key>sourceSize</key>
                <string>{299,309}</string>
            </dict>
            <key>lid_e-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1841},{183,281}}</string>
                <key>offset</key>
                <string>{-58,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{183,281}}</string>
                <key>sourceSize</key>
                <string>{299,309}</string>
            </dict>
            <key>lid_e-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1396},{216,222}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{216,222}}</string>
                <key>sourceSize</key>
                <string>{226,238}</string>
            </dict>
            <key>lid_e-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1618},{200,198}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{200,198}}</string>
                <key>sourceSize</key>
                <string>{218,216}</string>
            </dict>
            <key>lid_e-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1396},{215,223}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{215,223}}</string>
                <key>sourceSize</key>
                <string>{231,235}</string>
            </dict>
            <key>lid_e-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,963},{214,244}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{214,244}}</string>
                <key>sourceSize</key>
                <string>{232,252}</string>
            </dict>
            <key>lid_e-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{396,295}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,131},{396,295}}</string>
                <key>sourceSize</key>
                <string>{404,433}</string>
            </dict>
            <key>lid_e-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{335,301}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{335,301}}</string>
                <key>sourceSize</key>
                <string>{337,317}</string>
            </dict>
            <key>lid_e-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1226},{209,293}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{209,293}}</string>
                <key>sourceSize</key>
                <string>{209,301}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiDian_e.pvr.ccz</string>
            <key>size</key>
            <string>{1005,2025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba0569df2a0c74178be885709b5056de:6c9333fcf8384ed8d939a71ac3d11f08:995098df33c5eb63aead97f88229a11a$</string>
            <key>textureFileName</key>
            <string>LiDian_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
