<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lidianzong-HBLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,667},{46,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,53}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>lidianzong-HBLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,526},{35,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,33}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>lidianzong-HBLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{40,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,19}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>lidianzong-HBRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,495},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{36,31}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>lidianzong-HBRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,144},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,18}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>lidianzong-HBRfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,379},{38,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,15}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>lidianzong-HFLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,559},{43,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,58}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>lidianzong-HFLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,783},{34,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{34,28}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>lidianzong-HFLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,73},{31,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,19}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>lidianzong-HFLfoot4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,236},{40,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,23}}</string>
                <key>sourceSize</key>
                <string>{42,25}</string>
            </dict>
            <key>lidianzong-HFRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,753},{30,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>lidianzong-HFRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,720},{46,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{46,33}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>lidianzong-Hbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{141,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{141,74}}</string>
                <key>sourceSize</key>
                <string>{147,78}</string>
            </dict>
            <key>lidianzong-Hhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{134,97}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,97}}</string>
                <key>sourceSize</key>
                <string>{140,101}</string>
            </dict>
            <key>lidianzong-Hother1.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,350},{41,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,29}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>lidianzong-Hother2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,430},{33,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,36}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>lidianzong-Htail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,189},{31,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{31,16}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>lidianzong-Htail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,463},{36,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,32}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>lidianzong-Lfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,894},{29,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>lidianzong-Lfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,922},{29,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,26}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>lidianzong-Lfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,865},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>lidianzong-Lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,312},{22,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,31}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>lidianzong-Lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,220},{16,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,24}</string>
            </dict>
            <key>lidianzong-Lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,126},{18,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>lidianzong-Lother1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,782},{11,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,28}}</string>
                <key>sourceSize</key>
                <string>{15,32}</string>
            </dict>
            <key>lidianzong-Lother2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,753},{12,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,29}}</string>
                <key>sourceSize</key>
                <string>{14,31}</string>
            </dict>
            <key>lidianzong-Rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,40},{19,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,33}}</string>
                <key>sourceSize</key>
                <string>{19,33}</string>
            </dict>
            <key>lidianzong-Rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,104},{22,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>lidianzong-Rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,172},{18,17}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>lidianzong-Rother1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,301},{11,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,23}}</string>
                <key>sourceSize</key>
                <string>{13,27}</string>
            </dict>
            <key>lidianzong-Rother2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,343},{7,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{7,22}}</string>
                <key>sourceSize</key>
                <string>{11,26}</string>
            </dict>
            <key>lidianzong-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,617},{43,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,50}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>lidianzong-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,811},{54,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,32}}</string>
                <key>sourceSize</key>
                <string>{56,34}</string>
            </dict>
            <key>lidianzong-bodydown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,276},{23,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>lidianzong-bodydown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,394},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>lidianzong-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{78,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,68}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>lidianzong-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{80,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,68}}</string>
                <key>sourceSize</key>
                <string>{82,74}</string>
            </dict>
            <key>lidianzong-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{80,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,69}}</string>
                <key>sourceSize</key>
                <string>{82,73}</string>
            </dict>
            <key>lidianzong-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{79,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{79,68}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>lidianzong-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{211,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,20},{211,102}}</string>
                <key>sourceSize</key>
                <string>{241,142}</string>
            </dict>
            <key>lidianzong-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,759},{73,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{73,202}}</string>
                <key>sourceSize</key>
                <string>{77,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiDian.pvr.ccz</string>
            <key>size</key>
            <string>{121,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef498c39fe460896cff09a006619752:a38b875f6efcaa36f8970c10ff07fae5:741acda0cdf44a74026ca2c285a16a52$</string>
            <key>textureFileName</key>
            <string>LiDian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
