<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubeidzon3-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,295},{270,216}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,216}}</string>
                <key>sourceSize</key>
                <string>{270,222}</string>
            </dict>
            <key>liubeidzon3-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1693},{173,171}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{173,171}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1805},{147,129}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{147,129}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1936},{113,107}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,51},{113,107}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1934},{105,105}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{105,105}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1549},{253,144}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{253,144}}</string>
                <key>sourceSize</key>
                <string>{259,190}</string>
            </dict>
            <key>liubeidzon3-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1359},{257,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{257,190}}</string>
                <key>sourceSize</key>
                <string>{259,190}</string>
            </dict>
            <key>liubeidzon3-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1444},{251,188}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{251,188}}</string>
                <key>sourceSize</key>
                <string>{259,190}</string>
            </dict>
            <key>liubeidzon3-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,813},{302,279}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{302,279}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>liubeidzon3-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1092},{292,267}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{292,267}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>liubeidzon3-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1181},{272,263}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{272,263}}</string>
                <key>sourceSize</key>
                <string>{320,293}</string>
            </dict>
            <key>liubeidzon3-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{295,225}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{295,225}}</string>
                <key>sourceSize</key>
                <string>{295,241}</string>
            </dict>
            <key>liubeidzon3-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{338,271}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{338,271}}</string>
                <key>sourceSize</key>
                <string>{396,311}</string>
            </dict>
            <key>liubeidzon3-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,869},{312,257}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{312,257}}</string>
                <key>sourceSize</key>
                <string>{396,311}</string>
            </dict>
            <key>liubeidzon3-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,565},{304,255}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,42},{304,255}}</string>
                <key>sourceSize</key>
                <string>{396,311}</string>
            </dict>
            <key>liubeidzon3-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{273,320}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{273,320}}</string>
                <key>sourceSize</key>
                <string>{285,320}</string>
            </dict>
            <key>liubeidzon3-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{269,348}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{269,348}}</string>
                <key>sourceSize</key>
                <string>{275,380}</string>
            </dict>
            <key>liubeidzon3-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1803},{143,176}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{143,176}}</string>
                <key>sourceSize</key>
                <string>{151,208}</string>
            </dict>
            <key>liubeidzon3-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1803},{133,105}}</string>
                <key>offset</key>
                <string>{-25,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{133,105}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1864},{179,125}}</string>
                <key>offset</key>
                <string>{-2,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,98},{179,125}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1632},{173,149}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,72},{173,149}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
            <key>liubeidzon3-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1632},{173,171}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,44},{173,171}}</string>
                <key>sourceSize</key>
                <string>{183,223}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiuBei_e.pvr.ccz</string>
            <key>size</key>
            <string>{575,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5045943e47b4c4ee1aa504b5565b3ef8:2f0372a2e331e22bbafe4bf88d4dc5a0:7d8c73dd7a433ff9aa9a8dbb3ed2cba0$</string>
            <key>textureFileName</key>
            <string>LiuBei_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
