<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubeizong-Symbol 1a.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,439},{72,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,66}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>liubeizong-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,363},{71,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,66}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
            <key>liubeizong-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,363},{74,67}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,67}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>liubeizong-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,434},{31,50}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,50}}</string>
                <key>sourceSize</key>
                <string>{37,56}</string>
            </dict>
            <key>liubeizong-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,363},{144,47}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{144,47}}</string>
                <key>sourceSize</key>
                <string>{170,67}</string>
            </dict>
            <key>liubeizong-元件 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{30,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,146}}</string>
                <key>sourceSize</key>
                <string>{30,146}</string>
            </dict>
            <key>liubeizong-元件 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,138},{22,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>liubeizong-元件 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,434},{43,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>liubeizong-元件 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,484},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>liubeizong-元件 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,363},{36,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,45}}</string>
                <key>sourceSize</key>
                <string>{36,45}</string>
            </dict>
            <key>liubeizong-元件 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,221},{17,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,15}}</string>
                <key>sourceSize</key>
                <string>{17,15}</string>
            </dict>
            <key>liubeizong-元件 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,482},{43,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,29}}</string>
                <key>sourceSize</key>
                <string>{43,29}</string>
            </dict>
            <key>liubeizong-元件 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,481},{23,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>liubeizong-元件 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,449},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>liubeizong-元件 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,236},{15,26}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{15,26}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>liubeizong-元件 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,363},{28,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{28,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>liubeizong-元件 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,160},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>liubeizong-元件 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,363},{60,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,76}}</string>
                <key>sourceSize</key>
                <string>{60,76}</string>
            </dict>
            <key>liubeizong-元件 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,433},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>liubeizong-元件 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,484},{27,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,30}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>liubeizong-元件 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,193},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>liubeizong-元件 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,38},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>liubeizong-元件 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,408},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>liubeizong-元件 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,391},{34,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,22}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>liubeizong-元件 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,102},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>liubeizong-元件 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,437},{73,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,67}}</string>
                <key>sourceSize</key>
                <string>{73,67}</string>
            </dict>
            <key>liubeizong-元件 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,262},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>liubeizong-元件 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,413},{31,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>liubeizong-元件 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{327,363}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{327,363}}</string>
                <key>sourceSize</key>
                <string>{357,397}</string>
            </dict>
            <key>liubeizong-元件 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,288},{12,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,35}}</string>
                <key>sourceSize</key>
                <string>{12,35}</string>
            </dict>
            <key>liubeizong-元件 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,68},{15,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{15,21}</string>
            </dict>
            <key>liubeizong-元件 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{21,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,38}}</string>
                <key>sourceSize</key>
                <string>{21,38}</string>
            </dict>
            <key>liubeizong-元件 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,83},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiuBei.pvr.ccz</string>
            <key>size</key>
            <string>{348,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55afcabd3db1ad6a5a16d86cea168a2d:305b70a8c1648cd5c90ba39326cc9160:355cc9c4c7633c4262661ba60256ad9a$</string>
            <key>textureFileName</key>
            <string>LiuBei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
