<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liulangjianke_ess-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1513},{308,268}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{308,268}}</string>
                <key>sourceSize</key>
                <string>{358,294}</string>
            </dict>
            <key>liulangjianke_ess-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1169},{145,498}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{145,498}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1828},{139,78}}</string>
                <key>offset</key>
                <string>{16,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,416},{139,78}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1781},{133,64}}</string>
                <key>offset</key>
                <string>{15,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,432},{133,64}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1160},{304,270}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{304,270}}</string>
                <key>sourceSize</key>
                <string>{358,294}</string>
            </dict>
            <key>liulangjianke_ess-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,186},{186,186}}</string>
                <key>offset</key>
                <string>{-15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{186,186}}</string>
                <key>sourceSize</key>
                <string>{286,250}</string>
            </dict>
            <key>liulangjianke_ess-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1667},{161,183}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{161,183}}</string>
                <key>sourceSize</key>
                <string>{297,279}</string>
            </dict>
            <key>liulangjianke_ess-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1859},{140,127}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{140,127}}</string>
                <key>sourceSize</key>
                <string>{204,181}</string>
            </dict>
            <key>liulangjianke_ess-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,372},{101,72}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{101,72}}</string>
                <key>sourceSize</key>
                <string>{173,106}</string>
            </dict>
            <key>liulangjianke_ess-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1169},{347,344}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,55},{347,344}}</string>
                <key>sourceSize</key>
                <string>{415,442}</string>
            </dict>
            <key>liulangjianke_ess-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{471,355}}</string>
                <key>offset</key>
                <string>{18,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,23},{471,355}}</string>
                <key>sourceSize</key>
                <string>{541,413}</string>
            </dict>
            <key>liulangjianke_ess-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{586,444}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,34},{586,444}}</string>
                <key>sourceSize</key>
                <string>{706,516}</string>
            </dict>
            <key>liulangjianke_ess-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{583,370}}</string>
                <key>offset</key>
                <string>{61,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,24},{583,370}}</string>
                <key>sourceSize</key>
                <string>{799,396}</string>
            </dict>
            <key>liulangjianke_ess-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,892},{294,268}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{294,268}}</string>
                <key>sourceSize</key>
                <string>{358,294}</string>
            </dict>
            <key>liulangjianke_ess-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1464},{252,266}}</string>
                <key>offset</key>
                <string>{-23,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,11},{252,266}}</string>
                <key>sourceSize</key>
                <string>{358,294}</string>
            </dict>
            <key>liulangjianke_ess-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1716},{143,142}}</string>
                <key>offset</key>
                <string>{-10,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,355},{143,142}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1716},{151,150}}</string>
                <key>offset</key>
                <string>{-8,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,348},{151,150}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{187,186}}</string>
                <key>offset</key>
                <string>{-2,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,316},{187,186}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1781},{205,234}}</string>
                <key>offset</key>
                <string>{5,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,268},{205,234}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
            <key>liulangjianke_ess-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,444},{203,448}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,50},{203,448}}</string>
                <key>sourceSize</key>
                <string>{277,502}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liulangjianke_e.pvr.ccz</string>
            <key>size</key>
            <string>{786,1986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663849e3f28f0c39fa9b926a098b34e3:60574d9aa0333e134ca7e4933cce3050:8a80702d3e5f7389978e1f4a79af11e1$</string>
            <key>textureFileName</key>
            <string>liulangjianke_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
