<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liulangjianke_ss-Symbol 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,106},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>liulangjianke_ss-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,106},{25,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{25,19}}</string>
                <key>sourceSize</key>
                <string>{29,25}</string>
            </dict>
            <key>liulangjianke_ss-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{95,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{95,47}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>liulangjianke_ss-刀 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{211,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,106}}</string>
                <key>sourceSize</key>
                <string>{211,106}</string>
            </dict>
            <key>liulangjianke_ss-发梢1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,106},{16,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,29}}</string>
                <key>sourceSize</key>
                <string>{16,31}</string>
            </dict>
            <key>liulangjianke_ss-发梢2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,106},{17,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,29}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>liulangjianke_ss-右手 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,41},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>liulangjianke_ss-右腿 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,64},{25,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,12}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>liulangjianke_ss-大腿 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,91},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{38,24}</string>
            </dict>
            <key>liulangjianke_ss-大腿 副本 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,95},{32,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,27}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>liulangjianke_ss-大臂 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,95},{31,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,32}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>liulangjianke_ss-大臂 副本 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,94},{28,37}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{28,37}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>liulangjianke_ss-头发4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,73},{39,45}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>liulangjianke_ss-头正常 copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>liulangjianke_ss-头正常 copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>liulangjianke_ss-头正常 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>liulangjianke_ss-头正常.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,64},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,63}}</string>
                <key>sourceSize</key>
                <string>{50,63}</string>
            </dict>
            <key>liulangjianke_ss-小腿 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,65},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>liulangjianke_ss-小腿 副本 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,65},{26,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,22}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>liulangjianke_ss-小臂 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,65},{26,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,28}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>liulangjianke_ss-小臂 副本 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,92},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>liulangjianke_ss-小臂2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,65},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>liulangjianke_ss-左手 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,25},{25,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{25,16}</string>
            </dict>
            <key>liulangjianke_ss-左手1 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>liulangjianke_ss-左腿 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,73},{16,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{16,10}</string>
            </dict>
            <key>liulangjianke_ss-腰带 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,83},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
            <key>liulangjianke_ss-裤裆.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>liulangjianke_ss-身体 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{61,65}</string>
            </dict>
            <key>liulangjianke_ss-钱袋 副本 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,65},{23,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>liulangjianke_ss-飘带.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,95},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>liulangjianke_ss-鬓角1.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,63},{10,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{10,22}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>liulangjianke_ss-鬓角2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,106},{19,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,53}}</string>
                <key>sourceSize</key>
                <string>{21,53}</string>
            </dict>
            <key>liulangjianke_ss-鬓角3.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,106},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liulangjianke.pvr.ccz</string>
            <key>size</key>
            <string>{494,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64fa0421b6575267d726ef47bbef8799:db8ad7f4918dbb0546b499dccb3ac06c:45fdb033cb79c28c9e343230d78ee777$</string>
            <key>textureFileName</key>
            <string>liulangjianke.pvr.ccz</string>
        </dict>
    </dict>
</plist>
