<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lbsghA-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,902},{325,199}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,3},{325,199}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>lbsghA-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,626},{321,163}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{321,163}}</string>
                <key>sourceSize</key>
                <string>{363,205}</string>
            </dict>
            <key>lbsghA-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,451},{451,451}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,3},{451,451}}</string>
                <key>sourceSize</key>
                <string>{515,455}</string>
            </dict>
            <key>lbsghA-Tween 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,0},{503,451}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{503,451}}</string>
                <key>sourceSize</key>
                <string>{515,455}</string>
            </dict>
            <key>lbsghA-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{513,453}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{513,453}}</string>
                <key>sourceSize</key>
                <string>{515,455}</string>
            </dict>
            <key>lbsghA-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,453},{246,352}}</string>
                <key>offset</key>
                <string>{-44,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{246,352}}</string>
                <key>sourceSize</key>
                <string>{348,352}</string>
            </dict>
            <key>lbsghA-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,476},{344,302}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,46},{344,302}}</string>
                <key>sourceSize</key>
                <string>{348,352}</string>
            </dict>
            <key>lbsghA-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,316},{214,148}}</string>
                <key>offset</key>
                <string>{16,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,293},{214,148}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,0},{476,404}}</string>
                <key>offset</key>
                <string>{-23,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{476,404}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,453},{228,398}}</string>
                <key>offset</key>
                <string>{-144,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,55},{228,398}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,851},{198,378}}</string>
                <key>offset</key>
                <string>{-157,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,73},{198,378}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,902},{238,156}}</string>
                <key>offset</key>
                <string>{24,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,285},{238,156}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,0},{258,230}}</string>
                <key>offset</key>
                <string>{33,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,204},{258,230}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,798},{308,324}}</string>
                <key>offset</key>
                <string>{55,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,68},{308,324}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,476},{322,336}}</string>
                <key>offset</key>
                <string>{69,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,68},{322,336}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,798},{314,326}}</string>
                <key>offset</key>
                <string>{81,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,27},{314,326}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,0},{316,326}}</string>
                <key>offset</key>
                <string>{82,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,27},{316,326}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,778},{324,322}}</string>
                <key>offset</key>
                <string>{80,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,28},{324,322}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
            <key>lbsghA-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,316},{310,304}}</string>
                <key>offset</key>
                <string>{83,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,33},{310,304}}</string>
                <key>sourceSize</key>
                <string>{536,458}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LvBu_e.pvr.ccz</string>
            <key>size</key>
            <string>{1979,1114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed79ae0c82b24a30d3a46de2aa9da6c:890f371fd0db3d1466f2da504087f689:ec93259f305ffd266279a5b27ff663d2$</string>
            <key>textureFileName</key>
            <string>LvBu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
