<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbdfz-GONGJI.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,321},{77,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,92}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>lvbdfz-SIWANG.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,184},{77,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,92}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>lvbdfz-Symbol 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,371},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>lvbdfz-Symbol 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,474},{20,37}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{20,37}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>lvbdfz-Symbol 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,468},{43,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>lvbdfz-Symbol 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,390},{34,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>lvbdfz-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,92},{77,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,92}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>lvbdfz-Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,321},{20,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,48}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>lvbdfz-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,433},{23,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,51}}</string>
                <key>sourceSize</key>
                <string>{23,51}</string>
            </dict>
            <key>lvbdfz-Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,472},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>lvbdfz-Symbol 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,419},{39,47}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>lvbdfz-Symbol 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,413},{24,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lvbdfz-Symbol 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,427},{27,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,34}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>lvbdfz-Symbol 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,432},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>lvbdfz-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,276},{51,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,25}}</string>
                <key>sourceSize</key>
                <string>{51,25}</string>
            </dict>
            <key>lvbdfz-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,466},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>lvbdfz-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,301},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>lvbdfz-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,301},{68,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,94}}</string>
                <key>sourceSize</key>
                <string>{68,96}</string>
            </dict>
            <key>lvbdfz-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,495},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>lvbdfz-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,495},{16,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>lvbdfz-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,495},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>lvbdfz-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,495},{17,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,14}}</string>
                <key>sourceSize</key>
                <string>{17,14}</string>
            </dict>
            <key>lvbdfz-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,413},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>lvbdfz-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,466},{13,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,18}}</string>
                <key>sourceSize</key>
                <string>{13,18}</string>
            </dict>
            <key>lvbdfz-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,483},{14,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,17}}</string>
                <key>sourceSize</key>
                <string>{14,17}</string>
            </dict>
            <key>lvbdfz-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,500},{18,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,11}}</string>
                <key>sourceSize</key>
                <string>{18,11}</string>
            </dict>
            <key>lvbdfz-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,438},{36,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,27}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>lvbdfz-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,474},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>lvbdfz-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,312},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>lvbdfz-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,301},{75,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,72}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>lvbdfz-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,321},{34,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,69}}</string>
                <key>sourceSize</key>
                <string>{34,69}</string>
            </dict>
            <key>lvbdfz-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,456},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,36}</string>
            </dict>
            <key>lvbdfz-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,466},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lvbdfz-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,438},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>lvbdfz-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{140,301}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,301}}</string>
                <key>sourceSize</key>
                <string>{144,301}</string>
            </dict>
            <key>lvbdfz-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,378},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>lvbdfz-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{39,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,87}}</string>
                <key>sourceSize</key>
                <string>{39,87}</string>
            </dict>
            <key>lvbdfz-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,373},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>lvbdfz-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,468},{43,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,54}}</string>
                <key>sourceSize</key>
                <string>{43,56}</string>
            </dict>
            <key>lvbdfz-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,497},{14,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,29}}</string>
                <key>sourceSize</key>
                <string>{14,29}</string>
            </dict>
            <key>lvbdfz-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,433},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>lvbdfz-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,437},{20,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,18}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>lvbdfz-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,338},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>lvbdfz-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,461},{48,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>lvbdfz-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,373},{74,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,65}}</string>
                <key>sourceSize</key>
                <string>{74,65}</string>
            </dict>
            <key>lvbdfz-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,276},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>lvbdfz-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,456},{31,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,44}}</string>
                <key>sourceSize</key>
                <string>{31,44}</string>
            </dict>
            <key>lvbdfz-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,456},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>lvbdfz-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{84,94}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,94}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>lvbdfz-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,369},{64,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,83}}</string>
                <key>sourceSize</key>
                <string>{64,83}</string>
            </dict>
            <key>lvbdfz-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,438},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>lvbdfz-ZHENGC .png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{77,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,92}}</string>
                <key>sourceSize</key>
                <string>{77,92}</string>
            </dict>
            <key>lvbdfz-daa.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{300,321}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{300,321}}</string>
                <key>sourceSize</key>
                <string>{332,345}</string>
            </dict>
            <key>lvbdfz-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{165,57}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{165,57}}</string>
                <key>sourceSize</key>
                <string>{195,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LvBu.pvr.ccz</string>
            <key>size</key>
            <string>{521,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e27b8e8c2719c30f92262c6623949a4:6adac42441d60a7bd4a31b9b87e3fd8a:c462a6511ccd57519fe52e16c396c193$</string>
            <key>textureFileName</key>
            <string>LvBu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
