<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,926},{354,104}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{354,104}}</string>
                <key>sourceSize</key>
                <string>{408,112}</string>
            </dict>
            <key>Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{392,106}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{392,106}}</string>
                <key>sourceSize</key>
                <string>{408,112}</string>
            </dict>
            <key>Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,633},{364,102}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{364,102}}</string>
                <key>sourceSize</key>
                <string>{408,112}</string>
            </dict>
            <key>Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,531},{372,96}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{372,96}}</string>
                <key>sourceSize</key>
                <string>{408,112}</string>
            </dict>
            <key>Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,627},{366,100}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{366,100}}</string>
                <key>sourceSize</key>
                <string>{408,112}</string>
            </dict>
            <key>Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{401,364}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{401,364}}</string>
                <key>sourceSize</key>
                <string>{409,370}</string>
            </dict>
            <key>Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,106},{381,360}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{381,360}}</string>
                <key>sourceSize</key>
                <string>{409,370}</string>
            </dict>
            <key>Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,727},{309,358}}</string>
                <key>offset</key>
                <string>{-37,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{309,358}}</string>
                <key>sourceSize</key>
                <string>{409,370}</string>
            </dict>
            <key>lmdges-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1294},{65,95}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,46},{65,95}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1294},{69,97}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,46},{69,97}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,364},{29,19}}</string>
                <key>offset</key>
                <string>{-20,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,47},{29,19}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,862},{101,57}}</string>
                <key>offset</key>
                <string>{63,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,151},{101,57}}</string>
                <key>sourceSize</key>
                <string>{495,285}</string>
            </dict>
            <key>lmdges-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,318},{215,145}}</string>
                <key>offset</key>
                <string>{91,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,63},{215,145}}</string>
                <key>sourceSize</key>
                <string>{495,285}</string>
            </dict>
            <key>lmdges-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,175},{233,143}}</string>
                <key>offset</key>
                <string>{96,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,63},{233,143}}</string>
                <key>sourceSize</key>
                <string>{495,285}</string>
            </dict>
            <key>lmdges-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{379,167}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{379,167}}</string>
                <key>sourceSize</key>
                <string>{495,285}</string>
            </dict>
            <key>lmdges-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,466},{375,167}}</string>
                <key>offset</key>
                <string>{28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,60},{375,167}}</string>
                <key>sourceSize</key>
                <string>{495,285}</string>
            </dict>
            <key>lmdges-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1030},{336,241}}</string>
                <key>offset</key>
                <string>{22,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,92},{336,241}}</string>
                <key>sourceSize</key>
                <string>{498,375}</string>
            </dict>
            <key>lmdges-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1036},{336,241}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,93},{336,241}}</string>
                <key>sourceSize</key>
                <string>{498,375}</string>
            </dict>
            <key>lmdges-Tween 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1036},{336,241}}</string>
                <key>offset</key>
                <string>{21,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,92},{336,241}}</string>
                <key>sourceSize</key>
                <string>{498,375}</string>
            </dict>
            <key>lmdges-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,606},{261,191}}</string>
                <key>offset</key>
                <string>{14,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,75},{261,191}}</string>
                <key>sourceSize</key>
                <string>{399,301}</string>
            </dict>
            <key>lmdges-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,797},{265,193}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,75},{265,193}}</string>
                <key>sourceSize</key>
                <string>{399,301}</string>
            </dict>
            <key>lmdges-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,735},{267,191}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,74},{267,191}}</string>
                <key>sourceSize</key>
                <string>{399,301}</string>
            </dict>
            <key>lmdges-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,990},{261,149}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,75},{261,149}}</string>
                <key>sourceSize</key>
                <string>{399,301}</string>
            </dict>
            <key>lmdges-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,463},{207,143}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,53},{207,143}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{215,175}}</string>
                <key>offset</key>
                <string>{31,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,5},{215,175}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1139},{147,155}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,23},{147,155}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
            <key>lmdges-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,735},{123,127}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,46},{123,127}}</string>
                <key>sourceSize</key>
                <string>{343,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LvMeng_e.pvr.ccz</string>
            <key>size</key>
            <string>{1015,1372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6358d09dc84c4d5fa7634e3b3a744c16:94698d45e3ede4791ddcb9de72c471fc:f5caf31ecbfa97527bac3b07707752ac$</string>
            <key>textureFileName</key>
            <string>LvMeng_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
