<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lmdgs-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,68},{29,32}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{29,32}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>lmdgs-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,0},{30,29}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{30,29}}</string>
                <key>sourceSize</key>
                <string>{48,41}</string>
            </dict>
            <key>lmdgs-Lhoudabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,67},{24,28}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{24,28}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>lmdgs-Lhoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,79},{18,17}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{18,17}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>lmdgs-Lhouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,0},{16,36}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>lmdgs-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,78},{21,30}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{21,30}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>lmdgs-Lqiandabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,52},{35,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{35,45}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>lmdgs-Lqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,77},{20,15}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{20,15}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>lmdgs-Lqianxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,36},{14,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,6},{14,26}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>lmdgs-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,78},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{22,23}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>lmdgs-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{26,36}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{26,36}}</string>
                <key>sourceSize</key>
                <string>{54,48}</string>
            </dict>
            <key>lmdgs-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,68},{31,32}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{31,32}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>lmdgs-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,29},{26,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{26,30}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>lmdgs-Rhoudabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,77},{19,21}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{19,21}}</string>
                <key>sourceSize</key>
                <string>{33,29}</string>
            </dict>
            <key>lmdgs-Rhoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,48},{17,14}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{17,14}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>lmdgs-Rhouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,77},{13,23}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{13,23}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>lmdgs-Rqiandabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{25,31}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{25,31}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>lmdgs-Rqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,31},{17,14}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{17,14}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>lmdgs-Rqianxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,36},{14,25}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{14,25}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>lmdgs-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,50},{18,17}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{18,17}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
            <key>lmdgs-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,55},{25,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{25,24}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>lmdgs-jiangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,77},{21,21}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{21,21}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>lmdgs-jiangsheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,67},{40,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,33}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>lmdgs-jiangsheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{18,51}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{18,51}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>lmdgs-jiangsheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,67},{29,13}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{29,13}}</string>
                <key>sourceSize</key>
                <string>{47,21}</string>
            </dict>
            <key>lmdgs-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,67},{54,31}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,31}}</string>
                <key>sourceSize</key>
                <string>{66,37}</string>
            </dict>
            <key>lmdgs-maan.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{73,77}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{73,77}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>lmdgs-mabozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,0},{55,93}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{55,93}}</string>
                <key>sourceSize</key>
                <string>{65,105}</string>
            </dict>
            <key>lmdgs-makua.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{40,78}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{40,78}}</string>
                <key>sourceSize</key>
                <string>{48,104}</string>
            </dict>
            <key>lmdgs-matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{63,94}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{63,94}}</string>
                <key>sourceSize</key>
                <string>{89,106}</string>
            </dict>
            <key>lmdgs-mawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,52},{44,45}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,45}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>lmdgs-mawei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,51},{36,37}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,37}}</string>
                <key>sourceSize</key>
                <string>{58,47}</string>
            </dict>
            <key>lmdgs-mawei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,61},{49,37}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,37}}</string>
                <key>sourceSize</key>
                <string>{57,47}</string>
            </dict>
            <key>lmdgs-maxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{53,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{53,61}}</string>
                <key>sourceSize</key>
                <string>{65,67}</string>
            </dict>
            <key>lmdgs-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,67},{52,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{52,31}}</string>
                <key>sourceSize</key>
                <string>{56,41}</string>
            </dict>
            <key>lmdgs-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,0},{55,68}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{55,68}}</string>
                <key>sourceSize</key>
                <string>{73,84}</string>
            </dict>
            <key>lmdgs-toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,66},{40,31}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{40,31}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>lmdgs-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,52},{30,44}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{30,44}}</string>
                <key>sourceSize</key>
                <string>{44,76}</string>
            </dict>
            <key>lmdgs-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,67}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>lmdgs-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{66,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{66,65}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>lmdgs-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,0},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,67}}</string>
                <key>sourceSize</key>
                <string>{74,85}</string>
            </dict>
            <key>lmdgs-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{230,99}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{230,99}}</string>
                <key>sourceSize</key>
                <string>{252,115}</string>
            </dict>
            <key>lmdgs-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,52},{42,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{42,45}}</string>
                <key>sourceSize</key>
                <string>{70,47}</string>
            </dict>
            <key>lmdgs-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{154,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{154,52}}</string>
                <key>sourceSize</key>
                <string>{182,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LvMeng.pvr.ccz</string>
            <key>size</key>
            <string>{1017,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc4ede7130a1df83f765a42024024976:8e890beac003957abe02e7e560506783:f368732c23cf87efa0aa07076a5431e4$</string>
            <key>textureFileName</key>
            <string>LvMeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
