<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>machao1-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,68},{46,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,54}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>machao1-L_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,0},{33,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>machao1-L_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,81},{44,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>machao1-L_forearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,89},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{35,45}</string>
            </dict>
            <key>machao1-L_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,62},{40,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,27}}</string>
                <key>sourceSize</key>
                <string>{42,29}</string>
            </dict>
            <key>machao1-L_kuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,68},{41,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{41,60}}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>machao1-L_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,97},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>machao1-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{33,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>machao1-R_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,0},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>machao1-R_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,61},{43,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,34}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>machao1-R_forearm.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,96},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{38,29}</string>
            </dict>
            <key>machao1-R_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>machao1-R_kuijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,62},{21,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,44}}</string>
                <key>sourceSize</key>
                <string>{21,46}</string>
            </dict>
            <key>machao1-R_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,0},{31,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{31,33}}</string>
                <key>sourceSize</key>
                <string>{31,35}</string>
            </dict>
            <key>machao1-bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{46,74}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{46,74}}</string>
                <key>sourceSize</key>
                <string>{58,86}</string>
            </dict>
            <key>machao1-hair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,114},{13,12}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{13,12}}</string>
                <key>sourceSize</key>
                <string>{17,22}</string>
            </dict>
            <key>machao1-hair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,101},{24,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,42}}</string>
                <key>sourceSize</key>
                <string>{28,46}</string>
            </dict>
            <key>machao1-hair03.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,67},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{26,44}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>machao1-hair04.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,67},{27,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{27,59}}</string>
                <key>sourceSize</key>
                <string>{29,65}</string>
            </dict>
            <key>machao1-head01.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,0},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>machao1-head02_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,0},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>machao1-head03_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,0},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>machao1-head04_dead.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,0},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,62}</string>
            </dict>
            <key>machao1-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,62},{67,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,60}}</string>
                <key>sourceSize</key>
                <string>{67,62}</string>
            </dict>
            <key>machao1-longhair01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,68},{56,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,59}}</string>
                <key>sourceSize</key>
                <string>{58,61}</string>
            </dict>
            <key>machao1-longhair02.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,0},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,96}}</string>
                <key>sourceSize</key>
                <string>{78,98}</string>
            </dict>
            <key>machao1-maan.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,0},{59,61}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{59,61}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>machao1-madu.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,80},{44,48}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{44,48}}</string>
                <key>sourceSize</key>
                <string>{52,64}</string>
            </dict>
            <key>machao1-makai.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,101},{41,24}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{41,24}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>machao1-mapi.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,68},{33,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{33,61}}</string>
                <key>sourceSize</key>
                <string>{39,67}</string>
            </dict>
            <key>machao1-matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,68},{52,76}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,76}}</string>
                <key>sourceSize</key>
                <string>{62,86}</string>
            </dict>
            <key>machao1-red01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,94},{42,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>machao1-red02.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,83},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>machao1-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,34},{173,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{173,84}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>machao1-sheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,34},{31,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{31,27}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>machao1-sheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,109},{15,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{15,41}}</string>
                <key>sourceSize</key>
                <string>{29,47}</string>
            </dict>
            <key>machao1-sheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,62},{17,17}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{17,17}}</string>
                <key>sourceSize</key>
                <string>{37,33}</string>
            </dict>
            <key>machao1-sheng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,114},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{24,12}}</string>
                <key>sourceSize</key>
                <string>{40,22}</string>
            </dict>
            <key>machao1-upbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{67,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,74}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>machao1-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,381}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,381}}</string>
                <key>sourceSize</key>
                <string>{70,385}</string>
            </dict>
            <key>machao1-wei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,61},{36,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>machao1-wei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,96},{30,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{30,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>machao1-wei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,93},{39,30}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{39,30}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>machao1-youhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,62},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{14,18}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>machao1-youhou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,114},{11,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{11,18}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>machao1-youhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,62},{14,13}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,13}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>machao1-youqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,62},{15,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{15,19}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>machao1-youqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,114},{11,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{11,21}}</string>
                <key>sourceSize</key>
                <string>{15,25}</string>
            </dict>
            <key>machao1-youqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,104},{13,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,13}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>machao1-zuohou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,62},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{19,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>machao1-zuohou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,109},{13,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{13,28}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>machao1-zuohou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,62},{16,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>machao1-zuoqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{23,27}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,27}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>machao1-zuoqian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,114},{12,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{12,22}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>machao1-zuoqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,62},{17,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{17,13}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaChao.pvr.ccz</string>
            <key>size</key>
            <string>{1079,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:149bb51ae85a9ecb97f2a3fe20149ccb:9aa685a6ee7fc22aa81b9d030470760b:5c0f06ae7fdc5e3583f5bf363f199c09$</string>
            <key>textureFileName</key>
            <string>MaChao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
