<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>machao2-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,0},{263,123}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,173},{263,123}}</string>
                <key>sourceSize</key>
                <string>{271,305}</string>
            </dict>
            <key>machao2-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,297},{280,191}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{280,191}}</string>
                <key>sourceSize</key>
                <string>{306,217}</string>
            </dict>
            <key>machao2-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{355,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,255}}</string>
                <key>sourceSize</key>
                <string>{355,271}</string>
            </dict>
            <key>machao2-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,704},{180,174}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{180,174}}</string>
                <key>sourceSize</key>
                <string>{204,194}</string>
            </dict>
            <key>machao2-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{228,230}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,59},{228,230}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,676},{286,306}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{286,306}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{290,316}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{290,316}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,342},{334,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,324}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,615},{284,292}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{284,292}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,0},{276,248}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,34},{276,248}}</string>
                <key>sourceSize</key>
                <string>{334,324}</string>
            </dict>
            <key>machao2-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,0},{261,297}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,297}}</string>
                <key>sourceSize</key>
                <string>{271,305}</string>
            </dict>
            <key>machao2-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,372},{359,354}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{359,354}}</string>
                <key>sourceSize</key>
                <string>{429,364}</string>
            </dict>
            <key>machao2-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,704},{171,175}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{171,175}}</string>
                <key>sourceSize</key>
                <string>{189,201}</string>
            </dict>
            <key>machao2-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,731},{230,233}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{230,233}}</string>
                <key>sourceSize</key>
                <string>{242,247}</string>
            </dict>
            <key>machao2-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,276},{272,235}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{272,235}}</string>
                <key>sourceSize</key>
                <string>{288,257}</string>
            </dict>
            <key>machao2-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,316},{261,299}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{261,299}}</string>
                <key>sourceSize</key>
                <string>{271,305}</string>
            </dict>
            <key>machao2-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,734},{271,209}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{271,209}}</string>
                <key>sourceSize</key>
                <string>{271,305}</string>
            </dict>
            <key>machao2-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,511},{261,193}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,109},{261,193}}</string>
                <key>sourceSize</key>
                <string>{271,305}</string>
            </dict>
            <key>machao2-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{357,372}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{357,372}}</string>
                <key>sourceSize</key>
                <string>{369,372}</string>
            </dict>
            <key>machao2-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{302,362}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{302,362}}</string>
                <key>sourceSize</key>
                <string>{302,366}</string>
            </dict>
            <key>machao2-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{195,342}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{195,342}}</string>
                <key>sourceSize</key>
                <string>{207,392}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MaChao_e.pvr.ccz</string>
            <key>size</key>
            <string>{1731,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d64ceb122df9ef37d212a450543f2c:6c811da7105c0aace306bbc76726ec29:accdd4ed5842c253323b5100f4f25289$</string>
            <key>textureFileName</key>
            <string>MaChao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
