<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menghfs-Lfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,56},{21,23}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>menghfs-Lfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,54},{27,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>menghfs-Lfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,55},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>menghfs-Lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,54},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>menghfs-Lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,55},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>menghfs-Lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,56},{19,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>menghfs-Rfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,67},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>menghfs-Rfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,67},{20,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{20,14}</string>
            </dict>
            <key>menghfs-Rfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,55},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>menghfs-Rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,56},{19,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>menghfs-Rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,56},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>menghfs-Rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,56},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>menghfs-Rhanddown.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,56},{19,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>menghfs-back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,0},{72,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,35}}</string>
                <key>sourceSize</key>
                <string>{80,35}</string>
            </dict>
            <key>menghfs-back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{95,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{95,67}}</string>
                <key>sourceSize</key>
                <string>{103,67}</string>
            </dict>
            <key>menghfs-back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,0},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>menghfs-back4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,0},{54,63}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{54,63}}</string>
                <key>sourceSize</key>
                <string>{96,81}</string>
            </dict>
            <key>menghfs-back5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,55},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,25}}</string>
                <key>sourceSize</key>
                <string>{68,25}</string>
            </dict>
            <key>menghfs-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{95,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{97,66}</string>
            </dict>
            <key>menghfs-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,0},{51,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,47}}</string>
                <key>sourceSize</key>
                <string>{53,47}</string>
            </dict>
            <key>menghfs-bodydown.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,51},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>menghfs-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,0},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>menghfs-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{79,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>menghfs-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,0},{81,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,89}}</string>
                <key>sourceSize</key>
                <string>{81,89}</string>
            </dict>
            <key>menghfs-headup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,35},{24,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{28,41}</string>
            </dict>
            <key>menghfs-headup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,35},{38,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>menghfs-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{156,55}}</string>
                <key>sourceSize</key>
                <string>{178,77}</string>
            </dict>
            <key>menghfs-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,0},{56,150}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,150}}</string>
                <key>sourceSize</key>
                <string>{82,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MengHuo.pvr.ccz</string>
            <key>size</key>
            <string>{990,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fcbbf9782a3b6ca1287b6be34db6526:32395b9c71c08fe8e6798bc5dacf7ca8:34a4b9de2ceb769e8d7e4f60e722f6bb$</string>
            <key>textureFileName</key>
            <string>MengHuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
