<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meneghsdg-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1356},{229,195}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{229,195}}</string>
                <key>sourceSize</key>
                <string>{239,197}</string>
            </dict>
            <key>meneghsdg-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1115},{296,241}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{296,241}}</string>
                <key>sourceSize</key>
                <string>{324,259}</string>
            </dict>
            <key>meneghsdg-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{354,302}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{354,302}}</string>
                <key>sourceSize</key>
                <string>{370,314}</string>
            </dict>
            <key>meneghsdg-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{356,286}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{356,286}}</string>
                <key>sourceSize</key>
                <string>{372,292}</string>
            </dict>
            <key>meneghsdg-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1220},{329,247}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,34},{329,247}}</string>
                <key>sourceSize</key>
                <string>{371,303}</string>
            </dict>
            <key>meneghsdg-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,274},{209,183}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{209,183}}</string>
                <key>sourceSize</key>
                <string>{239,197}</string>
            </dict>
            <key>meneghsdg-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1356},{201,183}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{201,183}}</string>
                <key>sourceSize</key>
                <string>{239,197}</string>
            </dict>
            <key>meneghsdg-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,1348},{167,165}}</string>
                <key>offset</key>
                <string>{-28,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{167,165}}</string>
                <key>sourceSize</key>
                <string>{239,197}</string>
            </dict>
            <key>meneghsdg-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{435,280}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,26},{435,280}}</string>
                <key>sourceSize</key>
                <string>{471,314}</string>
            </dict>
            <key>meneghsdg-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{437,282}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{437,282}}</string>
                <key>sourceSize</key>
                <string>{471,314}</string>
            </dict>
            <key>meneghsdg-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{415,274}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{415,274}}</string>
                <key>sourceSize</key>
                <string>{471,314}</string>
            </dict>
            <key>meneghsdg-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,562},{308,243}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{308,243}}</string>
                <key>sourceSize</key>
                <string>{324,259}</string>
            </dict>
            <key>meneghsdg-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,870},{300,245}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{300,245}}</string>
                <key>sourceSize</key>
                <string>{324,259}</string>
            </dict>
            <key>meneghsdg-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{163,153}}</string>
                <key>offset</key>
                <string>{-56,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{163,153}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1213},{257,135}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,90},{257,135}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,1030},{257,129}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,96},{257,129}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,163},{249,123}}</string>
                <key>offset</key>
                <string>{-5,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,102},{249,123}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,274},{259,187}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{259,187}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1030},{259,183}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{259,183}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,851},{259,179}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{259,179}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,483},{259,185}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{259,185}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,668},{259,183}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{259,183}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1287},{259,129}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,96},{259,129}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,742},{259,129}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,96},{259,129}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
            <key>meneghsdg-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,483},{259,129}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,96},{259,129}}</string>
                <key>sourceSize</key>
                <string>{299,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MengHuo_e.pvr.ccz</string>
            <key>size</key>
            <string>{1005,1557}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e99364ace7f230d796a0c69d319527f:6d499027dca0b2da75ae05075bd3e531:1733102298109ea87419d4ab7c414889$</string>
            <key>textureFileName</key>
            <string>MengHuo_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
