<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nucheM-AFASGG.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,488},{234,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,244}}</string>
                <key>sourceSize</key>
                <string>{234,244}</string>
            </dict>
            <key>nucheM-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,933},{286,138}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,35},{286,138}}</string>
                <key>sourceSize</key>
                <string>{428,196}</string>
            </dict>
            <key>nucheM-asgsdhdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{234,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,244}}</string>
                <key>sourceSize</key>
                <string>{234,244}</string>
            </dict>
            <key>nucheM-awgsjsdfjdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,244}}</string>
                <key>sourceSize</key>
                <string>{234,244}</string>
            </dict>
            <key>nucheM-dizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,732},{215,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,122}}</string>
                <key>sourceSize</key>
                <string>{215,122}</string>
            </dict>
            <key>nucheM-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,909},{164,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,24}}</string>
                <key>sourceSize</key>
                <string>{164,24}</string>
            </dict>
            <key>nucheM-jinshu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1219},{128,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,104}}</string>
                <key>sourceSize</key>
                <string>{128,104}</string>
            </dict>
            <key>nucheM-jinshu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1261},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>nucheM-longtou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{187,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,55}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>nucheM-longtou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,920},{65,45}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{65,45}}</string>
                <key>sourceSize</key>
                <string>{69,53}</string>
            </dict>
            <key>nucheM-lunzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1097},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>nucheM-lunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1097},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>nucheM-lunzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1219},{103,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,42}}</string>
                <key>sourceSize</key>
                <string>{103,42}</string>
            </dict>
            <key>nucheM-youyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1037},{77,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,60}}</string>
                <key>sourceSize</key>
                <string>{77,60}</string>
            </dict>
            <key>nucheM-zhicheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,854},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>nucheM-zhizcheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,894},{26,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,46}}</string>
                <key>sourceSize</key>
                <string>{26,46}</string>
            </dict>
            <key>nucheM-zuoyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,965},{95,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,72}}</string>
                <key>sourceSize</key>
                <string>{95,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nuche.pvr.ccz</string>
            <key>size</key>
            <string>{234,1325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13bac19da8197b1934c6b709e83c7cf6:6a030eb7c9a7e83c05ef183e75c5a94b:47214596ac06e06ef2cbed9f81843a15$</string>
            <key>textureFileName</key>
            <string>nuche.pvr.ccz</string>
        </dict>
    </dict>
</plist>
