<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtongzong-fengnu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{88,89}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{88,89}}</string>
                <key>sourceSize</key>
                <string>{102,97}</string>
            </dict>
            <key>pangtongzong-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>pangtongzong-pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{79,83}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{79,83}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>pangtongzong-pifeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,507},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,66}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>pangtongzong-pifeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,715},{51,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pangtongzong-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,433},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>pangtongzong-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{89,88}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{89,88}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>pangtongzong-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{88,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{88,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>pangtongzong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>pangtongzong-toupiaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,799},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>pangtongzong-toupiaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,575},{18,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>pangtongzong-xiongdai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{11,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{11,48}}</string>
                <key>sourceSize</key>
                <string>{17,54}</string>
            </dict>
            <key>pangtongzong-xiongdai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,525},{22,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,50}}</string>
                <key>sourceSize</key>
                <string>{22,50}</string>
            </dict>
            <key>pangtongzong-xiongpiaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{11,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,40}}</string>
                <key>sourceSize</key>
                <string>{11,40}</string>
            </dict>
            <key>pangtongzong-xiongpiaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{11,814},{11,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,39}}</string>
                <key>sourceSize</key>
                <string>{11,39}</string>
            </dict>
            <key>pangtongzong-yaopiaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,775},{45,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{51,26}</string>
            </dict>
            <key>pangtongzong-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,607},{108,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{108,52}}</string>
                <key>sourceSize</key>
                <string>{114,54}</string>
            </dict>
            <key>pangtongzong-youdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,814},{16,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{20,30}</string>
            </dict>
            <key>pangtongzong-youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,799},{15,13}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,13}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>pangtongzong-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,740},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>pangtongzong-youshou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,814},{21,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{23,26}</string>
            </dict>
            <key>pangtongzong-youshouqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,760},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,30}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>pangtongzong-youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,790},{24,43}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,43}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>pangtongzong-youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,835},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,17}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>pangtongzong-zouxiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,683},{33,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{33,30}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>pangtongzong-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,713},{33,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,27}}</string>
                <key>sourceSize</key>
                <string>{37,31}</string>
            </dict>
            <key>pangtongzong-zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,838},{20,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>pangtongzong-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,626},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>pangtongzong-zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,507},{23,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,18}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>pangtongzong-zuoshouqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,651},{32,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{32,33}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>pangtongzong-zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,593},{30,33}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,33}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>pangtongzong-zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,814},{25,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PangTong.pvr.ccz</string>
            <key>size</key>
            <string>{89,854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edb3e7438f3e5110d78ba523294d307c:b3359210bcef1f45abf4f39cfe5c2dd1:6889c7e6be27ad65f3e6f48a6bc03c27$</string>
            <key>textureFileName</key>
            <string>PangTong.pvr.ccz</string>
        </dict>
    </dict>
</plist>
