<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qibing2zong_y-HBLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,623},{32,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,33}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>qibing2zong_y-HBLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,996},{16,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,30}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>qibing2zong_y-HBLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1126},{21,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,28}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>qibing2zong_y-HBRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1070},{19,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>qibing2zong_y-HBRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,954},{14,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,26}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>qibing2zong_y-HBRfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1026},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,16}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>qibing2zong_y-HFLfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,586},{33,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>qibing2zong_y-HFLfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1044},{13,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{13,26}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>qibing2zong_y-HFLfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1103},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{25,22}</string>
            </dict>
            <key>qibing2zong_y-HFRfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1095},{19,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,24}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>qibing2zong_y-HFRfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,538},{15,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{19,29}</string>
            </dict>
            <key>qibing2zong_y-HFRfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,382},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{17,16}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>qibing2zong_y-Hbody1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,629},{62,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,102}}</string>
                <key>sourceSize</key>
                <string>{64,104}</string>
            </dict>
            <key>qibing2zong_y-Hbody2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,571},{58,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,65}}</string>
                <key>sourceSize</key>
                <string>{60,67}</string>
            </dict>
            <key>qibing2zong_y-Hbody3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{79,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,84}}</string>
                <key>sourceSize</key>
                <string>{83,88}</string>
            </dict>
            <key>qibing2zong_y-Hbody4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,712},{58,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,32}}</string>
                <key>sourceSize</key>
                <string>{60,34}</string>
            </dict>
            <key>qibing2zong_y-Hbody5.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,84},{32,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,78}}</string>
                <key>sourceSize</key>
                <string>{34,78}</string>
            </dict>
            <key>qibing2zong_y-Hhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,116},{72,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,96}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>qibing2zong_y-Hother1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1119},{25,23}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>qibing2zong_y-Hother2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,954},{43,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>qibing2zong_y-Hother3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,781},{19,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,56}}</string>
                <key>sourceSize</key>
                <string>{23,58}</string>
            </dict>
            <key>qibing2zong_y-Hother4.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,698},{34,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,14}}</string>
                <key>sourceSize</key>
                <string>{36,18}</string>
            </dict>
            <key>qibing2zong_y-Htail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,802},{50,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>qibing2zong_y-Htail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1029},{40,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>qibing2zong_y-Htail3.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,800},{55,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{55,41}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>qibing2zong_y-Lfoot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1103},{30,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>qibing2zong_y-Lfoot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1069},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>qibing2zong_y-Lfoot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1154},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>qibing2zong_y-Lhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,991},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,42}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>qibing2zong_y-Lhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,770},{32,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,44}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>qibing2zong_y-Lhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,361},{21,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>qibing2zong_y-Rhand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,553},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,33}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>qibing2zong_y-Rhand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1133},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,28}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>qibing2zong_y-Rhand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,980},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>qibing2zong_y-body1.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,731},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,60}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>qibing2zong_y-body2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,538},{71,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,33}}</string>
                <key>sourceSize</key>
                <string>{73,37}</string>
            </dict>
            <key>qibing2zong_y-g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1617},{323,246}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{323,246}}</string>
                <key>sourceSize</key>
                <string>{325,262}</string>
            </dict>
            <key>qibing2zong_y-g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1617},{319,239}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{319,239}}</string>
                <key>sourceSize</key>
                <string>{331,267}</string>
            </dict>
            <key>qibing2zong_y-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,304},{72,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,92}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>qibing2zong_y-head1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,212},{72,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{72,92}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>qibing2zong_y-head2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,468},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,92}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>qibing2zong_y-head3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,398},{70,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,92}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>qibing2zong_y-headup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,655},{43,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>qibing2zong_y-headup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1100},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>qibing2zong_y-j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{404,361}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{404,361}}</string>
                <key>sourceSize</key>
                <string>{414,371}</string>
            </dict>
            <key>qibing2zong_y-j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,941},{358,374}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{358,374}}</string>
                <key>sourceSize</key>
                <string>{410,388}</string>
            </dict>
            <key>qibing2zong_y-j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1299},{318,352}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,27},{318,352}}</string>
                <key>sourceSize</key>
                <string>{404,406}</string>
            </dict>
            <key>qibing2zong_y-p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,361},{387,291}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{387,291}}</string>
                <key>sourceSize</key>
                <string>{391,329}</string>
            </dict>
            <key>qibing2zong_y-p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{379,289}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{379,289}}</string>
                <key>sourceSize</key>
                <string>{385,315}</string>
            </dict>
            <key>qibing2zong_y-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,841},{113,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{113,53}}</string>
                <key>sourceSize</key>
                <string>{137,81}</string>
            </dict>
            <key>qibing2zong_y-weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,850},{52,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,253}}</string>
                <key>sourceSize</key>
                <string>{56,255}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qibing2_y.pvr.ccz</string>
            <key>size</key>
            <string>{485,1940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac237a4a7302c94010c89fe99ef46d7c:b4d1b8069901e61e756c0483dac0dca4:610c98b5c46dfeedbcb39b6e46e273cb$</string>
            <key>textureFileName</key>
            <string>qibing2_y.pvr.ccz</string>
        </dict>
    </dict>
</plist>
