<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suanming_ss-Symbol 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,446},{14,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>suanming_ss-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,432},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>suanming_ss-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,225},{27,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,35}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>suanming_ss-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,55},{32,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,43}}</string>
                <key>sourceSize</key>
                <string>{32,43}</string>
            </dict>
            <key>suanming_ss-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,301},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,49}}</string>
                <key>sourceSize</key>
                <string>{53,49}</string>
            </dict>
            <key>suanming_ss-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{25,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,55}}</string>
                <key>sourceSize</key>
                <string>{25,55}</string>
            </dict>
            <key>suanming_ss-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,260},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>suanming_ss-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{58,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,44}}</string>
                <key>sourceSize</key>
                <string>{58,44}</string>
            </dict>
            <key>suanming_ss-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,173},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>suanming_ss-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,237},{42,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>suanming_ss-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,279},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>suanming_ss-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,207},{18,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,31}}</string>
                <key>sourceSize</key>
                <string>{18,31}</string>
            </dict>
            <key>suanming_ss-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,472},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>suanming_ss-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,413},{19,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,49}}</string>
                <key>sourceSize</key>
                <string>{19,49}</string>
            </dict>
            <key>suanming_ss-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,138},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>suanming_ss-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,432},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>suanming_ss-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,444},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>suanming_ss-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{87,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,190}}</string>
                <key>sourceSize</key>
                <string>{87,190}</string>
            </dict>
            <key>suanming_ss-Tween 7 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,389},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>suanming_ss-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,350},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,63}}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>suanming_ss-Tween 73.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,279},{54,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>suanming_ss-Tween 74.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,333},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,63}}</string>
                <key>sourceSize</key>
                <string>{56,63}</string>
            </dict>
            <key>suanming_ss-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,472},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>suanming_ss-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,98},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>suanming_ss-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{95,47}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuanMing.pvr.ccz</string>
            <key>size</key>
            <string>{120,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2137eb6cd451112dd0a924a24a67d8d:e7cc511ee62eceaa5cef130296e06717:0a55a8f057008312caf21d3db861a9bb$</string>
            <key>textureFileName</key>
            <string>SuanMing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
