<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunjian01-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,77},{30,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>sunjian01-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,80},{31,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,36}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>sunjian01-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,73},{89,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>sunjian01-pifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,0},{111,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,55}}</string>
                <key>sourceSize</key>
                <string>{111,55}</string>
            </dict>
            <key>sunjian01-toubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>sunjian01-toubu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{62,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,65}}</string>
                <key>sourceSize</key>
                <string>{62,65}</string>
            </dict>
            <key>sunjian01-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,111},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>sunjian01-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,79},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>sunjian01-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,80},{27,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,42}}</string>
                <key>sourceSize</key>
                <string>{27,42}</string>
            </dict>
            <key>sunjian01-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,0},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>sunjian01-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,56}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>sunjian01-yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>sunjian01-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{166,80}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{166,80}}</string>
                <key>sourceSize</key>
                <string>{228,146}</string>
            </dict>
            <key>sunjian01-you datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,79},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>sunjian01-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,29},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>sunjian01-you wuqi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{85,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{89,79}</string>
            </dict>
            <key>sunjian01-you wuqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,65},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>sunjian01-you wuqi2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,0},{83,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,71}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>sunjian01-you xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,55},{22,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,31}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>sunjian01-you xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,55},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>sunjian01-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,54},{25,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,20}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
            <key>sunjian01-youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,71},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>sunjian01-zuo datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,75},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>sunjian01-zuo shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,55},{18,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,21}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>sunjian01-zuo wuqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,65},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>sunjian01-zuo xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,29},{25,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>sunjian01-zuo xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,99},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>sunjian01-zuo xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,55},{28,18}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,18}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>sunjian01-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,79},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>sunjian01-zuojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,79},{32,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunJian.pvr.ccz</string>
            <key>size</key>
            <string>{616,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3316a3eff11a3fe76b8103757827fc3a:ac1224c32d18097a1fc2de17257ea2e6:f2c98b670fb155b8e83669edd47a2dae$</string>
            <key>textureFileName</key>
            <string>SunJian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
