<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sj_e-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1874},{103,136}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,99},{103,136}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,836},{174,68}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,19},{174,68}}</string>
                <key>sourceSize</key>
                <string>{258,102}</string>
            </dict>
            <key>sj_e-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1698},{176,68}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{176,68}}</string>
                <key>sourceSize</key>
                <string>{258,102}</string>
            </dict>
            <key>sj_e-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1832},{174,68}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,20},{174,68}}</string>
                <key>sourceSize</key>
                <string>{258,102}</string>
            </dict>
            <key>sj_e-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1769},{171,263}}</string>
                <key>offset</key>
                <string>{-14,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,138},{171,263}}</string>
                <key>sourceSize</key>
                <string>{329,451}</string>
            </dict>
            <key>sj_e-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,649},{141,231}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,113},{141,231}}</string>
                <key>sourceSize</key>
                <string>{329,451}</string>
            </dict>
            <key>sj_e-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,213},{129,179}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,102},{129,179}}</string>
                <key>sourceSize</key>
                <string>{329,451}</string>
            </dict>
            <key>sj_e-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1839},{107,151}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,99},{107,151}}</string>
                <key>sourceSize</key>
                <string>{329,451}</string>
            </dict>
            <key>sj_e-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,412},{242,237}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{242,237}}</string>
                <key>sourceSize</key>
                <string>{262,245}</string>
            </dict>
            <key>sj_e-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{334,300}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{334,300}}</string>
                <key>sourceSize</key>
                <string>{348,316}</string>
            </dict>
            <key>sj_e-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{302,290}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{302,290}}</string>
                <key>sourceSize</key>
                <string>{348,316}</string>
            </dict>
            <key>sj_e-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1636},{148,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,60}}</string>
                <key>sourceSize</key>
                <string>{148,66}</string>
            </dict>
            <key>sj_e-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,915},{232,280}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{232,280}}</string>
                <key>sourceSize</key>
                <string>{348,316}</string>
            </dict>
            <key>sj_e-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,880},{206,182}}</string>
                <key>offset</key>
                <string>{10,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,232},{206,182}}</string>
                <key>sourceSize</key>
                <string>{300,428}</string>
            </dict>
            <key>sj_e-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1085},{208,186}}</string>
                <key>offset</key>
                <string>{11,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,229},{208,186}}</string>
                <key>sourceSize</key>
                <string>{300,428}</string>
            </dict>
            <key>sj_e-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,867},{218,212}}</string>
                <key>offset</key>
                <string>{15,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,173},{218,212}}</string>
                <key>sourceSize</key>
                <string>{300,428}</string>
            </dict>
            <key>sj_e-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,649},{216,218}}</string>
                <key>offset</key>
                <string>{19,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,138},{216,218}}</string>
                <key>sourceSize</key>
                <string>{300,428}</string>
            </dict>
            <key>sj_e-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,639},{191,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,30}}</string>
                <key>sourceSize</key>
                <string>{191,30}</string>
            </dict>
            <key>sj_e-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1696},{107,136}}</string>
                <key>offset</key>
                <string>{21,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,101},{107,136}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1482},{287,175}}</string>
                <key>offset</key>
                <string>{-36,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,30},{287,175}}</string>
                <key>sourceSize</key>
                <string>{361,245}</string>
            </dict>
            <key>sj_e-Tween 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1195},{287,205}}</string>
                <key>offset</key>
                <string>{37,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,2},{287,205}}</string>
                <key>sourceSize</key>
                <string>{361,245}</string>
            </dict>
            <key>sj_e-Tween 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{325,237}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,237}}</string>
                <key>sourceSize</key>
                <string>{361,245}</string>
            </dict>
            <key>sj_e-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,0},{355,213}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{355,213}}</string>
                <key>sourceSize</key>
                <string>{361,245}</string>
            </dict>
            <key>sj_e-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1271},{229,204}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{229,204}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,412},{171,227}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,8},{171,227}}</string>
                <key>sourceSize</key>
                <string>{361,245}</string>
            </dict>
            <key>sj_e-Tween 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1698},{143,141}}</string>
                <key>offset</key>
                <string>{4,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,127},{143,141}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 55.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1707},{207,151}}</string>
                <key>offset</key>
                <string>{4,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,121},{207,151}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1086},{207,189}}</string>
                <key>offset</key>
                <string>{4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,84},{207,189}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1475},{197,223}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{197,223}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,213},{199,245}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{199,245}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1482},{197,225}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{197,225}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1858},{169,172}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,43},{169,172}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1275},{199,227}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,65},{199,227}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,639},{197,83}}</string>
                <key>offset</key>
                <string>{3,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,190},{197,83}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1010},{107,45}}</string>
                <key>offset</key>
                <string>{4,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,211},{107,45}}</string>
                <key>sourceSize</key>
                <string>{263,309}</string>
            </dict>
            <key>sj_e-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1474},{149,162}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,41},{149,162}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1085},{1,1}}</string>
                <key>offset</key>
                <string>{-131,122.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{263,246}</string>
            </dict>
            <key>sj_e-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1858},{174,68}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{174,68}}</string>
                <key>sourceSize</key>
                <string>{258,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunJian_e.pvr.ccz</string>
            <key>size</key>
            <string>{718,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:703fe85a84b07b57602e36f5df8799ab:8219194b03f07dd3d8636a1a895d88ba:b0f66ce9b1a1a2916058db5b5c2000d9$</string>
            <key>textureFileName</key>
            <string>SunJian_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
