<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquanzong-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,168}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{231,168}}</string>
                <key>sourceSize</key>
                <string>{251,188}</string>
            </dict>
            <key>sunquanzong-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,756},{161,96}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{161,96}}</string>
                <key>sourceSize</key>
                <string>{179,124}</string>
            </dict>
            <key>sunquanzong-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{134,120}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{134,120}}</string>
                <key>sourceSize</key>
                <string>{182,140}</string>
            </dict>
            <key>sunquanzong-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{160,114}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{160,114}}</string>
                <key>sourceSize</key>
                <string>{182,140}</string>
            </dict>
            <key>sunquanzong-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,520},{162,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{162,122}}</string>
                <key>sourceSize</key>
                <string>{182,140}</string>
            </dict>
            <key>sunquanzong-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{239,102}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{239,102}}</string>
                <key>sourceSize</key>
                <string>{251,188}</string>
            </dict>
            <key>sunquanzong-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{239,122}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{239,122}}</string>
                <key>sourceSize</key>
                <string>{251,188}</string>
            </dict>
            <key>sunquanzong-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{249,128}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{249,128}}</string>
                <key>sourceSize</key>
                <string>{251,188}</string>
            </dict>
            <key>sunquanzong-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,917},{98,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{98,112}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>sunquanzong-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1015},{116,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{116,124}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>sunquanzong-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{120,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,130}}</string>
                <key>sourceSize</key>
                <string>{122,130}</string>
            </dict>
            <key>sunquanzong-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{143,124}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{143,124}}</string>
                <key>sourceSize</key>
                <string>{179,124}</string>
            </dict>
            <key>sunquanzong-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,520},{167,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{167,84}}</string>
                <key>sourceSize</key>
                <string>{179,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunQuan_e.pvr.ccz</string>
            <key>size</key>
            <string>{249,1145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a791306a475382c17dc971350b3fdf0d:9d8b142e08233c00e717256a50d1360b:0a4966d0ccd2160a1122aac7e05f56cb$</string>
            <key>textureFileName</key>
            <string>SunQuan_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
