<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquanz-baozhuqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,49},{6,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,33}}</string>
                <key>sourceSize</key>
                <string>{6,33}</string>
            </dict>
            <key>sunquanz-baozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,49},{95,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,32}}</string>
                <key>sourceSize</key>
                <string>{95,32}</string>
            </dict>
            <key>sunquanz-dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,24},{22,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>sunquanz-gong_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{32,77}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{32,77}}</string>
                <key>sourceSize</key>
                <string>{40,83}</string>
            </dict>
            <key>sunquanz-gong_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,60},{17,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{17,33}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>sunquanz-gong_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{29,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{29,24}}</string>
                <key>sourceSize</key>
                <string>{31,34}</string>
            </dict>
            <key>sunquanz-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,77},{13,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,105}}</string>
                <key>sourceSize</key>
                <string>{13,105}</string>
            </dict>
            <key>sunquanz-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,0},{52,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,31}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>sunquanz-maozhu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,84},{6,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,35}}</string>
                <key>sourceSize</key>
                <string>{6,35}</string>
            </dict>
            <key>sunquanz-maozhuhou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,85},{5,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{5,25}}</string>
                <key>sourceSize</key>
                <string>{7,25}</string>
            </dict>
            <key>sunquanz-maozhuhou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{5,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,24}}</string>
                <key>sourceSize</key>
                <string>{7,26}</string>
            </dict>
            <key>sunquanz-maozhuhou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{6,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,30}}</string>
                <key>sourceSize</key>
                <string>{6,30}</string>
            </dict>
            <key>sunquanz-maozhuhou7.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,49},{4,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,31}}</string>
                <key>sourceSize</key>
                <string>{4,31}</string>
            </dict>
            <key>sunquanz-maozhuqian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,49},{7,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,33}}</string>
                <key>sourceSize</key>
                <string>{7,33}</string>
            </dict>
            <key>sunquanz-maozhuqian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,49},{5,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,36}}</string>
                <key>sourceSize</key>
                <string>{5,36}</string>
            </dict>
            <key>sunquanz-pifenghou.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,0},{90,78}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>sunquanz-pifengyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,49},{39,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,45}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>sunquanz-shanggongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,57},{20,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,53}}</string>
                <key>sourceSize</key>
                <string>{20,53}</string>
            </dict>
            <key>sunquanz-shiping.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,81},{8,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{8,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>sunquanz-tou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{90,97}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>sunquanz-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,81},{8,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,19}}</string>
                <key>sourceSize</key>
                <string>{8,19}</string>
            </dict>
            <key>sunquanz-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,35},{14,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,28}}</string>
                <key>sourceSize</key>
                <string>{14,30}</string>
            </dict>
            <key>sunquanz-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,77},{8,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{8,23}}</string>
                <key>sourceSize</key>
                <string>{10,27}</string>
            </dict>
            <key>sunquanz-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,0},{10,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{12,25}</string>
            </dict>
            <key>sunquanz-toufa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,77},{13,24}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>sunquanz-toufa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,62},{15,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,34}}</string>
                <key>sourceSize</key>
                <string>{15,34}</string>
            </dict>
            <key>sunquanz-toufa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,81},{7,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{7,22}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>sunquanz-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,0},{88,97}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,97}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>sunquanz-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,0},{90,97}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,97}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>sunquanz-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,105}}</string>
                <key>sourceSize</key>
                <string>{92,107}</string>
            </dict>
            <key>sunquanz-tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,0},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>sunquanz-xiagongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{23,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,62}}</string>
                <key>sourceSize</key>
                <string>{23,62}</string>
            </dict>
            <key>sunquanz-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,0},{54,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,57}}</string>
                <key>sourceSize</key>
                <string>{54,57}</string>
            </dict>
            <key>sunquanz-yinyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{115,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{115,49}}</string>
                <key>sourceSize</key>
                <string>{131,49}</string>
            </dict>
            <key>sunquanz-youhujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,67},{19,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{19,21}</string>
            </dict>
            <key>sunquanz-youjianb.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,24},{25,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>sunquanz-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,0},{32,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>sunquanz-youpiaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,56},{11,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{11,34}}</string>
                <key>sourceSize</key>
                <string>{11,36}</string>
            </dict>
            <key>sunquanz-youpiaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,81},{9,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{9,21}}</string>
                <key>sourceSize</key>
                <string>{9,27}</string>
            </dict>
            <key>sunquanz-youpiaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,85},{5,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{5,20}}</string>
                <key>sourceSize</key>
                <string>{7,22}</string>
            </dict>
            <key>sunquanz-youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,0},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>sunquanz-youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,24},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>sunquanz-youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,46},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>sunquanz-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,6},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>sunquanz-zuohuwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,21},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sunquanz-zuojianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,52},{38,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,27}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
            <key>sunquanz-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,56},{33,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>sunquanz-zuopiaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,56},{9,34}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,34}}</string>
                <key>sourceSize</key>
                <string>{11,44}</string>
            </dict>
            <key>sunquanz-zuopiaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,67},{7,21}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,21}}</string>
                <key>sourceSize</key>
                <string>{9,25}</string>
            </dict>
            <key>sunquanz-zuopiaodai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,49},{5,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{5,18}}</string>
                <key>sourceSize</key>
                <string>{7,22}</string>
            </dict>
            <key>sunquanz-zuopifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,0},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>sunquanz-zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,49},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>sunquanz-zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,49},{25,35}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{25,35}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunQuan.pvr.ccz</string>
            <key>size</key>
            <string>{934,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b770ea3839e4bf7ff29b1c504139494d:2c79a77206f00daed8a901b5b2131341:3b753b877e7b1d5157e01b306bb57bf1$</string>
            <key>textureFileName</key>
            <string>SunQuan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
