<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SSXe-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,554},{264,230}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,230}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,659},{149,173}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,63},{149,173}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,596},{169,205}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,36},{169,205}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,175},{187,223}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{187,223}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,670},{167,241}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{167,241}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1002},{151,243}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{151,243}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1003},{149,235}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{149,235}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,808},{144,142}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,14},{144,142}}</string>
                <key>sourceSize</key>
                <string>{212,172}</string>
            </dict>
            <key>SSXe-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,931},{150,154}}</string>
                <key>offset</key>
                <string>{29,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,8},{150,154}}</string>
                <key>sourceSize</key>
                <string>{212,172}</string>
            </dict>
            <key>SSXe-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,765},{144,170}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{144,170}}</string>
                <key>sourceSize</key>
                <string>{212,172}</string>
            </dict>
            <key>SSXe-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,909},{138,170}}</string>
                <key>offset</key>
                <string>{27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{138,170}}</string>
                <key>sourceSize</key>
                <string>{212,172}</string>
            </dict>
            <key>SSXe-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{262,228}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{262,228}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{260,218}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{260,218}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,247},{258,214}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{258,214}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,228},{260,206}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{260,206}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,837},{234,166}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{234,166}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,434},{228,162}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{228,162}}</string>
                <key>sourceSize</key>
                <string>{266,232}</string>
            </dict>
            <key>SSXe-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,808},{163,123}}</string>
                <key>offset</key>
                <string>{-4,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,116},{163,123}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>SSXe-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,950},{151,147}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,89},{151,147}}</string>
                <key>sourceSize</key>
                <string>{189,245}</string>
            </dict>
            <key>Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,434},{222,225}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,63},{222,225}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
            <key>Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,461},{252,209}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,65},{252,209}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
            <key>Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{252,247}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{252,247}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
            <key>Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,275}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{302,275}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
            <key>Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{282,279}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,30},{282,279}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
            <key>Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{194,175}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,88},{194,175}}</string>
                <key>sourceSize</key>
                <string>{374,309}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SunShangXiang_e.pvr.ccz</string>
            <key>size</key>
            <string>{1010,1158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6025d4fda69e73b9a6b5eef597292a7:d642c02270ae5ae3167e7ca13f685adc:251fbbdbe8065dd22c06a50743deeacf$</string>
            <key>textureFileName</key>
            <string>SunShangXiang_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
