<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishicgs-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1921},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1944},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1814},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1814},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1921},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,500},{130,109}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,29},{130,109}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,798},{130,115}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,23},{130,115}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1396},{130,117}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{130,117}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1616},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,630},{168,107}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,34},{168,107}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,334},{166,87}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,53},{166,87}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,168},{166,85}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,55},{166,85}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,0},{168,85}}</string>
                <key>offset</key>
                <string>{11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,55},{168,85}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1646},{168,81}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,59},{168,81}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1719},{164,81}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,59},{164,81}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
            <key>taishicgs-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1472},{263,174}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{263,174}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1288},{263,184}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{263,184}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{263,188}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{263,188}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1224},{137,172}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{137,172}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,928},{137,172}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{137,172}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{327,208}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{327,208}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1800},{121,160}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,11},{121,160}}</string>
                <key>sourceSize</key>
                <string>{263,200}</string>
            </dict>
            <key>taishicgs-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{174,126}}</string>
                <key>offset</key>
                <string>{54,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,76},{174,126}}</string>
                <key>sourceSize</key>
                <string>{282,202}</string>
            </dict>
            <key>taishicgs-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1100},{124,158}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,10},{124,158}}</string>
                <key>sourceSize</key>
                <string>{282,202}</string>
            </dict>
            <key>taishicgs-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{281,208}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,11},{281,208}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,394},{313,206}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{313,206}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{337,186}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{337,186}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{307,180}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{307,180}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{313,112}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{313,112}}</string>
                <key>sourceSize</key>
                <string>{341,220}</string>
            </dict>
            <key>taishicgs-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1513},{130,103}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{130,103}}</string>
                <key>sourceSize</key>
                <string>{192,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TaiShiCi_e.pvr.ccz</string>
            <key>size</key>
            <string>{422,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad2b31eb3f92f864f80260bf32e92d60:e9651ba5be2e5f3c731ebaf8895023f3:a93404b5336df2c2136a79a66e4a8699$</string>
            <key>textureFileName</key>
            <string>TaiShiCi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
