<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishi-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1197},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>taishi-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1197},{23,35}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{23,35}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>taishi-Lhutui.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,232},{32,39}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,39}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>taishi-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,493},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,37}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>taishi-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,665},{19,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,15}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>taishi-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,557},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>taishi-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,643},{26,37}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>taishi-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1136},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>taishi-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1197},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>taishi-Rhutui.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,449},{18,31}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{18,31}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>taishi-Rjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1112},{24,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>taishi-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1158},{25,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{25,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>taishi-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,428},{15,20}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{15,20}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>taishi-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1183},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>taishi-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,577},{24,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{26,29}</string>
            </dict>
            <key>taishi-gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1197},{26,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>taishi-gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,122},{26,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{26,85}}</string>
                <key>sourceSize</key>
                <string>{32,91}</string>
            </dict>
            <key>taishi-gong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1159},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{17,24}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>taishi-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1112},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>taishi-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,386},{11,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{11,100}}</string>
                <key>sourceSize</key>
                <string>{15,104}</string>
            </dict>
            <key>taishi-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1192},{42,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,23}}</string>
                <key>sourceSize</key>
                <string>{42,27}</string>
            </dict>
            <key>taishi-piaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,601},{42,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,26}}</string>
                <key>sourceSize</key>
                <string>{42,26}</string>
            </dict>
            <key>taishi-piaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,386},{42,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>taishi-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1117},{68,80}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{68,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>taishi-pifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1112},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>taishi-qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,467},{26,29}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,29}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>taishi-qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,530},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>taishi-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,332},{113,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{113,54}}</string>
                <key>sourceSize</key>
                <string>{129,62}</string>
            </dict>
            <key>taishi-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1117},{62,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>taishi-siwang copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,148},{62,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>taishi-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,210},{60,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,81}}</string>
                <key>sourceSize</key>
                <string>{64,81}</string>
            </dict>
            <key>taishi-xian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,397},{10,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{10,52}}</string>
                <key>sourceSize</key>
                <string>{20,60}</string>
            </dict>
            <key>taishi-xian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,665},{12,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{12,60}}</string>
                <key>sourceSize</key>
                <string>{24,70}</string>
            </dict>
            <key>taishi-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1192},{44,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>taishi-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,1197},{38,34}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>taishi-元件 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{166,110}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{166,110}}</string>
                <key>sourceSize</key>
                <string>{268,136}</string>
            </dict>
            <key>taishi-元件 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,271},{118,61}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,59},{118,61}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{124,67}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,53},{124,67}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{128,69}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,52},{128,69}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{246,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{246,122}}</string>
                <key>sourceSize</key>
                <string>{268,136}</string>
            </dict>
            <key>taishi-元件 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,680},{126,73}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,48},{126,73}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,968},{124,73}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,47},{124,73}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,895},{124,73}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,48},{124,73}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1041},{124,71}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,50},{124,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,824},{126,71}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,50},{126,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,839},{128,71}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{128,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,768},{128,71}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,50},{128,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,753},{126,71}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{126,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,979},{124,71}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,49},{124,71}}</string>
                <key>sourceSize</key>
                <string>{130,121}</string>
            </dict>
            <key>taishi-元件 5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{268,128}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,128}}</string>
                <key>sourceSize</key>
                <string>{268,136}</string>
            </dict>
            <key>taishi-元件 7 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{268,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{268,134}}</string>
                <key>sourceSize</key>
                <string>{268,136}</string>
            </dict>
            <key>taishi-元件 9 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,397},{268,90}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,45},{268,90}}</string>
                <key>sourceSize</key>
                <string>{268,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TaiShiCi.pvr.ccz</string>
            <key>size</key>
            <string>{255,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e75222a0d69bf5472af5ea0b8ade9e19:ba1324d84188ae395556fc1e8208c240:9913ffb9b053f91db261e7c696ca4ffc$</string>
            <key>textureFileName</key>
            <string>TaiShiCi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
