<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tengjiabingM-Faf.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,0},{99,163}}</string>
                <key>offset</key>
                <string>{-16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{99,163}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>tengjiabingM-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,163},{146,146}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{146,146}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>tengjiabingM-afsagsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{121,173}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{121,173}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>tengjiabingM-assdhdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,317},{111,175}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{111,175}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>tengjiabingM-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,474},{61,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,104}}</string>
                <key>sourceSize</key>
                <string>{61,104}</string>
            </dict>
            <key>tengjiabingM-sfAF.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{115,173}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{115,173}}</string>
                <key>sourceSize</key>
                <string>{137,191}</string>
            </dict>
            <key>tengjiabingM-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,309},{61,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,104}}</string>
                <key>sourceSize</key>
                <string>{61,104}</string>
            </dict>
            <key>tengjiabingM-soushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,413},{61,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,104}}</string>
                <key>sourceSize</key>
                <string>{61,104}</string>
            </dict>
            <key>tengjiabingM-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{317,101}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{317,101}}</string>
                <key>sourceSize</key>
                <string>{375,143}</string>
            </dict>
            <key>tengjiabingM-补间 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,663},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,48}}</string>
                <key>sourceSize</key>
                <string>{28,48}</string>
            </dict>
            <key>tengjiabingM-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,474},{56,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,94}}</string>
                <key>sourceSize</key>
                <string>{56,94}</string>
            </dict>
            <key>tengjiabingM-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,709},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>tengjiabingM-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,628},{21,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,29}}</string>
                <key>sourceSize</key>
                <string>{21,29}</string>
            </dict>
            <key>tengjiabingM-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,120},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>tengjiabingM-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,746},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>tengjiabingM-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,65},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>tengjiabingM-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,568},{24,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,31}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>tengjiabingM-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,93},{27,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,21}</string>
            </dict>
            <key>tengjiabingM-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,36},{29,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,20}}</string>
                <key>sourceSize</key>
                <string>{29,20}</string>
            </dict>
            <key>tengjiabingM-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,599},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>tengjiabingM-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,36}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>tengjiabingM-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,117},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>tengjiabingM-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,36},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>tengjiabingM-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,750},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>tengjiabingM-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,711},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>tengjiabingM-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,93},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>tengjiabingM-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,137},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>tengjiabingM-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,64},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>tengjiabingM-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>tengjiabingM-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,309},{61,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,104}}</string>
                <key>sourceSize</key>
                <string>{61,104}</string>
            </dict>
            <key>tengjiabingM-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,663},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,46}}</string>
                <key>sourceSize</key>
                <string>{32,46}</string>
            </dict>
            <key>tengjiabingM-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,413},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>tengjiabingM-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,578},{103,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,85}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tengjiabing.pvr.ccz</string>
            <key>size</key>
            <string>{248,780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3dee4c35c9aae6d22046781a5c8b8edd:4555c86237691e0afc0918d4d0a83076:ab3bcf1764f2a16154182a2533dc4513$</string>
            <key>textureFileName</key>
            <string>tengjiabing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
