<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tengjiadunbingzong-Faf.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,251},{93,155}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{93,155}}</string>
                <key>sourceSize</key>
                <string>{129,179}</string>
            </dict>
            <key>tengjiadunbingzong-Symbol 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,113},{136,138}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{136,138}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>tengjiadunbingzong-afsagsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{113,161}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{113,161}}</string>
                <key>sourceSize</key>
                <string>{129,179}</string>
            </dict>
            <key>tengjiadunbingzong-assdhdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,297},{103,165}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{103,165}}</string>
                <key>sourceSize</key>
                <string>{129,179}</string>
            </dict>
            <key>tengjiadunbingzong-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,349},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>tengjiadunbingzong-sfAF.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{109,163}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{109,163}}</string>
                <key>sourceSize</key>
                <string>{129,179}</string>
            </dict>
            <key>tengjiadunbingzong-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,251},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>tengjiadunbingzong-soushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,554},{57,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,98}}</string>
                <key>sourceSize</key>
                <string>{57,98}</string>
            </dict>
            <key>tengjiadunbingzong-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{297,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{297,94}}</string>
                <key>sourceSize</key>
                <string>{351,134}</string>
            </dict>
            <key>tengjiadunbingzong-补间 1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,611},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>tengjiadunbingzong-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,406},{52,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>tengjiadunbingzong-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,185},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>tengjiadunbingzong-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,638},{20,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,27}}</string>
                <key>sourceSize</key>
                <string>{20,27}</string>
            </dict>
            <key>tengjiadunbingzong-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,220},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>tengjiadunbingzong-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,611},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>tengjiadunbingzong-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,113},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>tengjiadunbingzong-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,611},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{23,29}</string>
            </dict>
            <key>tengjiadunbingzong-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,165},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>tengjiadunbingzong-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,640},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>tengjiadunbingzong-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,610},{27,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>tengjiadunbingzong-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,625},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>tengjiadunbingzong-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,610},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>tengjiadunbingzong-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,139},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>tengjiadunbingzong-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,625},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>tengjiadunbingzong-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,544},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>tengjiadunbingzong-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,633},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>tengjiadunbingzong-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,641},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>tengjiadunbingzong-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,638},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>tengjiadunbingzong-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,641},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>tengjiadunbingzong-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,447},{57,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,97}}</string>
                <key>sourceSize</key>
                <string>{57,97}</string>
            </dict>
            <key>tengjiadunbingzong-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,580},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,43}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
            <key>tengjiadunbingzong-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,625},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>tengjiadunbingzong-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,458},{96,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,80}}</string>
                <key>sourceSize</key>
                <string>{96,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tengjiadunbing.pvr.ccz</string>
            <key>size</key>
            <string>{255,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e42121fc3fdfa53403e882d6c26dce01:57ab0a5fd2cc60be0a38647bc2b99d93:6e8a9281c4bdec6e8b6725b3c16c11b7$</string>
            <key>textureFileName</key>
            <string>tengjiadunbing.pvr.ccz</string>
        </dict>
    </dict>
</plist>
