<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Assets-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1833},{121,112}}</string>
                <key>offset</key>
                <string>{19,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,184},{121,112}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1510},{143,140}}</string>
                <key>offset</key>
                <string>{19,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,159},{143,140}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1235},{153,142}}</string>
                <key>offset</key>
                <string>{22,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,152},{153,142}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,550},{159,190}}</string>
                <key>offset</key>
                <string>{21,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,110},{159,190}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1244},{177,276}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,24},{177,276}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,303},{175,282}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,17},{175,282}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1750},{161,210}}</string>
                <key>offset</key>
                <string>{18,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,84},{161,210}}</string>
                <key>sourceSize</key>
                <string>{273,300}</string>
            </dict>
            <key>Assets-Tween 65.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,922},{161,172}}</string>
                <key>offset</key>
                <string>{-1,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,192},{161,172}}</string>
                <key>sourceSize</key>
                <string>{285,364}</string>
            </dict>
            <key>Assets-Tween 67.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,334},{181,214}}</string>
                <key>offset</key>
                <string>{10,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,150},{181,214}}</string>
                <key>sourceSize</key>
                <string>{285,364}</string>
            </dict>
            <key>Assets-Tween 68.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1233},{169,212}}</string>
                <key>offset</key>
                <string>{8,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,152},{169,212}}</string>
                <key>sourceSize</key>
                <string>{285,364}</string>
            </dict>
            <key>tidnfse-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,394},{191,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,96}}</string>
                <key>sourceSize</key>
                <string>{197,96}</string>
            </dict>
            <key>tidnfse-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,197},{197,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,106}}</string>
                <key>sourceSize</key>
                <string>{197,106}</string>
            </dict>
            <key>tidnfse-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{197,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,135}}</string>
                <key>sourceSize</key>
                <string>{197,135}</string>
            </dict>
            <key>tidnfse-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,779},{197,229}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{197,229}}</string>
                <key>sourceSize</key>
                <string>{197,259}</string>
            </dict>
            <key>tidnfse-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,550},{197,229}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{197,229}}</string>
                <key>sourceSize</key>
                <string>{197,259}</string>
            </dict>
            <key>tidnfse-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1917},{86,107}}</string>
                <key>offset</key>
                <string>{22,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,66},{86,107}}</string>
                <key>sourceSize</key>
                <string>{286,321}</string>
            </dict>
            <key>tidnfse-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1239},{216,283}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{216,283}}</string>
                <key>sourceSize</key>
                <string>{286,321}</string>
            </dict>
            <key>tidnfse-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1726},{86,107}}</string>
                <key>offset</key>
                <string>{-50,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,214},{86,107}}</string>
                <key>sourceSize</key>
                <string>{286,321}</string>
            </dict>
            <key>tidnfse-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1670},{80,103}}</string>
                <key>offset</key>
                <string>{-49,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,216},{80,103}}</string>
                <key>sourceSize</key>
                <string>{286,321}</string>
            </dict>
            <key>tidnfse-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,740},{182,164}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,13},{182,164}}</string>
                <key>sourceSize</key>
                <string>{224,198}</string>
            </dict>
            <key>tidnfse-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1086},{176,152}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{176,152}}</string>
                <key>sourceSize</key>
                <string>{224,198}</string>
            </dict>
            <key>tidnfse-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,585},{166,146}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{166,146}}</string>
                <key>sourceSize</key>
                <string>{224,198}</string>
            </dict>
            <key>tidnfse-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1094},{166,130}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{166,130}}</string>
                <key>sourceSize</key>
                <string>{224,198}</string>
            </dict>
            <key>tidnfse-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1914},{95,104}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{95,104}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1750},{167,116}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{167,116}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,920},{181,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{181,126}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1224},{181,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{181,126}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,731},{189,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{189,126}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1790},{117,124}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,7},{117,124}}</string>
                <key>sourceSize</key>
                <string>{193,132}</string>
            </dict>
            <key>tidnfse-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1522},{252,253}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{252,253}}</string>
                <key>sourceSize</key>
                <string>{366,347}</string>
            </dict>
            <key>tidnfse-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{268,281}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,34},{268,281}}</string>
                <key>sourceSize</key>
                <string>{366,347}</string>
            </dict>
            <key>tidnfse-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,303},{288,299}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{288,299}}</string>
                <key>sourceSize</key>
                <string>{366,347}</string>
            </dict>
            <key>tidnfse-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,303}}</string>
                <key>offset</key>
                <string>{-25,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{296,303}}</string>
                <key>sourceSize</key>
                <string>{366,347}</string>
            </dict>
            <key>tidnfse-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1767},{238,74}}</string>
                <key>offset</key>
                <string>{10,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,237},{238,74}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,334},{238,216}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,95},{238,216}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{238,292}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,19},{238,292}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,949},{238,290}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,21},{238,290}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1238},{142,256}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,21},{142,256}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,828},{146,258}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,20},{146,258}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1494},{110,256}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,21},{110,256}}</string>
                <key>sourceSize</key>
                <string>{390,352}</string>
            </dict>
            <key>tidnfse-Tween 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,602},{321,98}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,13},{321,98}}</string>
                <key>sourceSize</key>
                <string>{383,132}</string>
            </dict>
            <key>tidnfse-Tween 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,923},{321,94}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{321,94}}</string>
                <key>sourceSize</key>
                <string>{383,132}</string>
            </dict>
            <key>tidnfse-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,238},{321,96}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{321,96}}</string>
                <key>sourceSize</key>
                <string>{383,132}</string>
            </dict>
            <key>tidnfse-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1101},{134,120}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,120}}</string>
                <key>sourceSize</key>
                <string>{134,136}</string>
            </dict>
            <key>tidnfse-Tween 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1520},{187,247}}</string>
                <key>offset</key>
                <string>{28,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,138},{187,247}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 59.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,585},{173,243}}</string>
                <key>offset</key>
                <string>{28,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,141},{173,243}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1445},{142,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,134}}</string>
                <key>sourceSize</key>
                <string>{142,134}</string>
            </dict>
            <key>tidnfse-Tween 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1775},{189,243}}</string>
                <key>offset</key>
                <string>{31,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,143},{189,243}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 61.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1775},{197,243}}</string>
                <key>offset</key>
                <string>{32,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,145},{197,243}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1445},{147,225}}</string>
                <key>offset</key>
                <string>{26,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,151},{147,225}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 63.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,602},{195,347}}</string>
                <key>offset</key>
                <string>{13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,33},{195,347}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1008},{191,225}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{191,225}}</string>
                <key>sourceSize</key>
                <string>{287,407}</string>
            </dict>
            <key>tidnfse-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1587},{139,129}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>tidnfse-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,1650},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>tidnfse-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1377},{133,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,148}}</string>
                <key>sourceSize</key>
                <string>{133,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TianFeng_e.pvr.ccz</string>
            <key>size</key>
            <string>{991,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8252e75d8b99ec277a56830119178dbd:1d6e80830677509af24629cff3ffa8dc:8dbf5bd7c8ae1cab66ca67756207464c$</string>
            <key>textureFileName</key>
            <string>TianFeng_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
