<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tidnfs-2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,72},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>tidnfs-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,86},{30,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,54}}</string>
                <key>sourceSize</key>
                <string>{30,54}</string>
            </dict>
            <key>tidnfs-3 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,72},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tidnfs-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,92},{27,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,53}}</string>
                <key>sourceSize</key>
                <string>{27,53}</string>
            </dict>
            <key>tidnfs-4 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,101},{25,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,27}}</string>
                <key>sourceSize</key>
                <string>{25,27}</string>
            </dict>
            <key>tidnfs-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,65},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>tidnfs-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{132,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{132,51}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>tidnfs-Symbol 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{155,86}}</string>
                <key>sourceSize</key>
                <string>{163,86}</string>
            </dict>
            <key>tidnfs-Symbol 5 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,0},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{64,65}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>tidnfs-Symbol 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,51},{80,75}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,75}}</string>
                <key>sourceSize</key>
                <string>{86,93}</string>
            </dict>
            <key>tidnfs-guabu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,65},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>tidnfs-juanzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{62,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>tidnfs-maobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,51},{68,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,47}}</string>
                <key>sourceSize</key>
                <string>{68,49}</string>
            </dict>
            <key>tidnfs-qunzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,86},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>tidnfs-qunzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,37},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>tidnfs-toubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>tidnfs-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,0},{72,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,111}}</string>
                <key>sourceSize</key>
                <string>{74,111}</string>
            </dict>
            <key>tidnfs-xiongbu.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,64},{58,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,49}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>tidnfs-yaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,64},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,18}}</string>
                <key>sourceSize</key>
                <string>{40,18}</string>
            </dict>
            <key>tidnfs-you shangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,72},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>tidnfs-you shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,72},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>tidnfs-you xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,63},{14,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{14,12}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>tidnfs-youshangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{30,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,37}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>tidnfs-zuo shangbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,103},{22,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,27}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>tidnfs-zuo shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,104},{18,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>tidnfs-zuo xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,103},{21,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,39}}</string>
                <key>sourceSize</key>
                <string>{21,41}</string>
            </dict>
            <key>tidnfs-zuo xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,104},{14,13}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{14,13}}</string>
                <key>sourceSize</key>
                <string>{20,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TianFeng.pvr.ccz</string>
            <key>size</key>
            <string>{580,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2d6e44a9cbcdf221f3065590ca1ad6c:35fe521877ed261c5da52599ec23d851:d36cc0ca9e21f0a4d130b888c7a1f2e2$</string>
            <key>textureFileName</key>
            <string>TianFeng.pvr.ccz</string>
        </dict>
    </dict>
</plist>
