<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>toushiche_F- zhicheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,39},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>toushiche_F-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,80},{131,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,47}}</string>
                <key>sourceSize</key>
                <string>{131,47}</string>
            </dict>
            <key>toushiche_F-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,0},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>toushiche_F-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,0},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>toushiche_F-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,0},{113,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,50}}</string>
                <key>sourceSize</key>
                <string>{113,50}</string>
            </dict>
            <key>toushiche_F-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{245,118}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{245,118}}</string>
                <key>sourceSize</key>
                <string>{367,168}</string>
            </dict>
            <key>toushiche_F-cheshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,0},{158,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,72}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>toushiche_F-dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,39},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>toushiche_F-gunlun.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,62},{49,39}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>toushiche_F-houdang.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>toushiche_F-lilunzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,39},{33,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,35}}</string>
                <key>sourceSize</key>
                <string>{33,35}</string>
            </dict>
            <key>toushiche_F-paogan copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,72},{186,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{186,49}}</string>
                <key>sourceSize</key>
                <string>{190,67}</string>
            </dict>
            <key>toushiche_F-paogan.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,0},{185,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,39}}</string>
                <key>sourceSize</key>
                <string>{185,39}</string>
            </dict>
            <key>toushiche_F-shitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,85},{39,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,36}}</string>
                <key>sourceSize</key>
                <string>{39,36}</string>
            </dict>
            <key>toushiche_F-suolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,113},{10,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,47}}</string>
                <key>sourceSize</key>
                <string>{10,47}</string>
            </dict>
            <key>toushiche_F-xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,39},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>toushiche_F-zhicheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,90},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>toushiche_F-zuodangban.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,0},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>toushiche.pvr.ccz</string>
            <key>size</key>
            <string>{852,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288f917fc79b2d12c7d22b9d93ffade6:4c11638b7766e8f36d77e69e6a294822:3fa0e4b0f4209f51aca021eb39d6a2eb$</string>
            <key>textureFileName</key>
            <string>toushiche.pvr.ccz</string>
        </dict>
    </dict>
</plist>
