<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tuful-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,0},{240,115}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,30},{240,115}}</string>
                <key>sourceSize</key>
                <string>{360,165}</string>
            </dict>
            <key>tuful-agasgh.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,189}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{236,189}}</string>
                <key>sourceSize</key>
                <string>{252,205}</string>
            </dict>
            <key>tuful-asgasg.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,0},{217,189}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{217,189}}</string>
                <key>sourceSize</key>
                <string>{247,205}</string>
            </dict>
            <key>tuful-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,44},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>tuful-sghsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{208,186}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{208,186}}</string>
                <key>sourceSize</key>
                <string>{232,200}</string>
            </dict>
            <key>tuful-shoushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,200},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>tuful-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,132},{70,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,76}}</string>
                <key>sourceSize</key>
                <string>{70,76}</string>
            </dict>
            <key>tuful-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,203},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>tuful-补间 10 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,115},{102,107}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{102,107}}</string>
                <key>sourceSize</key>
                <string>{116,121}</string>
            </dict>
            <key>tuful-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,115},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>tuful-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,200},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>tuful-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,203},{38,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{38,35}</string>
            </dict>
            <key>tuful-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,208},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
            <key>tuful-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,50},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>tuful-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,208},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>tuful-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,203},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>tuful-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,217},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>tuful-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,208},{40,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,27}}</string>
                <key>sourceSize</key>
                <string>{40,27}</string>
            </dict>
            <key>tuful-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,208},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>tuful-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,208},{108,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,30}}</string>
                <key>sourceSize</key>
                <string>{108,32}</string>
            </dict>
            <key>tuful-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,120},{37,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,45}}</string>
                <key>sourceSize</key>
                <string>{37,45}</string>
            </dict>
            <key>tuful-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,120},{73,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,80}}</string>
                <key>sourceSize</key>
                <string>{73,80}</string>
            </dict>
            <key>tuful-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{83,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,44}}</string>
                <key>sourceSize</key>
                <string>{83,44}</string>
            </dict>
            <key>tuful-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,0},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{134,59}</string>
            </dict>
            <key>tuful-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,115},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>tuful-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,0},{50,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,39}}</string>
                <key>sourceSize</key>
                <string>{50,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tufu.pvr.ccz</string>
            <key>size</key>
            <string>{997,238}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae7bd53406630d0bb96bee2efeb491c7:536532572bab26c552581c3c0cd92fff:2f82404db42c24e2f7d49e972ddba97f$</string>
            <key>textureFileName</key>
            <string>tufu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
