<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangy-Lhoudabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>wangy-Lhoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,109},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>wangy-Lhouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,75},{17,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,35}}</string>
                <key>sourceSize</key>
                <string>{17,35}</string>
            </dict>
            <key>wangy-Lqiandabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,0},{30,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>wangy-Lqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,91},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{22,16}</string>
            </dict>
            <key>wangy-Lqianxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,89},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,28}}</string>
                <key>sourceSize</key>
                <string>{16,28}</string>
            </dict>
            <key>wangy-Rhoudabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,23},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>wangy-Rhoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,46},{19,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,16}}</string>
                <key>sourceSize</key>
                <string>{19,16}</string>
            </dict>
            <key>wangy-Rhouxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,101},{15,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>wangy-Rqiandabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,0},{19,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,23}}</string>
                <key>sourceSize</key>
                <string>{19,23}</string>
            </dict>
            <key>wangy-Rqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,59},{18,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>wangy-Rqianxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,111},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{15,27}</string>
            </dict>
            <key>wangy-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,111},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>wangy-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,101},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>wangy-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,111},{13,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,20}}</string>
                <key>sourceSize</key>
                <string>{13,20}</string>
            </dict>
            <key>wangy-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,110},{30,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,16}}</string>
                <key>sourceSize</key>
                <string>{30,16}</string>
            </dict>
            <key>wangy-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,83},{43,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>wangy-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,59},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>wangy-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,75},{19,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,36}}</string>
                <key>sourceSize</key>
                <string>{19,36}</string>
            </dict>
            <key>wangy-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,79},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>wangy-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{35,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,79}}</string>
                <key>sourceSize</key>
                <string>{35,79}</string>
            </dict>
            <key>wangy-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,0},{190,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,75}}</string>
                <key>sourceSize</key>
                <string>{190,75}</string>
            </dict>
            <key>wangy-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,99},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>wangy-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,83},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{43,37}</string>
            </dict>
            <key>wangy-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,75},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>wangy-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,83},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,42}</string>
            </dict>
            <key>wangy-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,75},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>wangy-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,75},{21,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,36}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>wangy-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,75},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,34}}</string>
                <key>sourceSize</key>
                <string>{30,34}</string>
            </dict>
            <key>wangy-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,30},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>wangy-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,83},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,36}</string>
            </dict>
            <key>wangy-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,75},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>wangy-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,62},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,22}}</string>
                <key>sourceSize</key>
                <string>{30,22}</string>
            </dict>
            <key>wangy-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>wangy-beigan .png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{83,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>wangy-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{83,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>wangy-jiangsheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,101},{24,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,23}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>wangy-jiangsheng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,83},{43,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{43,34}}</string>
                <key>sourceSize</key>
                <string>{59,46}</string>
            </dict>
            <key>wangy-jiangsheng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{18,53}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{18,53}}</string>
                <key>sourceSize</key>
                <string>{34,63}</string>
            </dict>
            <key>wangy-jiangsheng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,112},{35,14}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{35,14}}</string>
                <key>sourceSize</key>
                <string>{53,22}</string>
            </dict>
            <key>wangy-maan.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,0},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>wangy-mabozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{60,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,99}}</string>
                <key>sourceSize</key>
                <string>{60,99}</string>
            </dict>
            <key>wangy-makua.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,83},{43,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,83}}</string>
                <key>sourceSize</key>
                <string>{45,83}</string>
            </dict>
            <key>wangy-matou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{69,101}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{69,101}}</string>
                <key>sourceSize</key>
                <string>{77,107}</string>
            </dict>
            <key>wangy-mawei.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,80},{49,46}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{49,46}}</string>
                <key>sourceSize</key>
                <string>{59,64}</string>
            </dict>
            <key>wangy-mawei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,80},{38,39}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{38,39}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>wangy-mawei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,80},{53,39}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{53,39}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>wangy-maxiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,0},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{56,64}</string>
            </dict>
            <key>wangy-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,57},{54,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,32}}</string>
                <key>sourceSize</key>
                <string>{56,32}</string>
            </dict>
            <key>wangy-sisss.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{83,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,80}}</string>
                <key>sourceSize</key>
                <string>{83,86}</string>
            </dict>
            <key>wangy-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,0},{165,57}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{165,57}}</string>
                <key>sourceSize</key>
                <string>{195,79}</string>
            </dict>
            <key>wangy-元件 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,61},{176,59}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{176,59}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>wangy-元件 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,63},{180,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{180,63}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>wangy-元件 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,0},{194,61}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{194,61}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>wangy-元件 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,64},{204,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{204,61}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
            <key>wangy-元件 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{200,63}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{200,63}}</string>
                <key>sourceSize</key>
                <string>{210,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WangYuanJi.pvr.ccz</string>
            <key>size</key>
            <string>{1425,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c8b378f2697f4a84989cad2985bc6d8:3c6fb8e8317bc1c4d96c2b1f4b9bcf02:a6ba5d129834f42fa00873a5fad66f2d$</string>
            <key>textureFileName</key>
            <string>WangYuanJi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
