<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wangyizong-fengnu.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,178},{74,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{74,74}}</string>
                <key>sourceSize</key>
                <string>{84,82}</string>
            </dict>
            <key>wangyizong-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{47,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,23}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>wangyizong-mawei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,103},{18,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{18,40}}</string>
                <key>sourceSize</key>
                <string>{20,48}</string>
            </dict>
            <key>wangyizong-mawei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,84},{21,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{21,27}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>wangyizong-mawei3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,143},{30,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>wangyizong-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,103},{75,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{75,76}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>wangyizong-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,103},{75,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,75}}</string>
                <key>sourceSize</key>
                <string>{83,85}</string>
            </dict>
            <key>wangyizong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,179},{74,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{74,74}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>wangyizong-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{54,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{54,119}}</string>
                <key>sourceSize</key>
                <string>{56,125}</string>
            </dict>
            <key>wangyizong-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{41,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,36}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>wangyizong-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,36},{43,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>wangyizong-yinzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,103}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,26},{214,103}}</string>
                <key>sourceSize</key>
                <string>{320,147}</string>
            </dict>
            <key>wangyizong-youdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,137},{16,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,30}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>wangyizong-youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,111},{21,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,26}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>wangyizong-youfa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,167},{13,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{13,19}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>wangyizong-youfa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,180},{19,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>wangyizong-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,199},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,19}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>wangyizong-youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,79},{20,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>wangyizong-youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,241},{14,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,22}}</string>
                <key>sourceSize</key>
                <string>{16,24}</string>
            </dict>
            <key>wangyizong-youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,62},{19,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>wangyizong-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,174},{16,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{16,29}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>wangyizong-zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,36},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,26}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>wangyizong-zuofa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,99},{11,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,29}}</string>
                <key>sourceSize</key>
                <string>{13,33}</string>
            </dict>
            <key>wangyizong-zuofa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,190},{11,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{11,24}}</string>
                <key>sourceSize</key>
                <string>{13,28}</string>
            </dict>
            <key>wangyizong-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,217},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,17}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>wangyizong-zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,217},{16,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>wangyizong-zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,217},{14,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,30}</string>
            </dict>
            <key>wangyizong-zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,190},{15,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WangYi.pvr.ccz</string>
            <key>size</key>
            <string>{255,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cefc19740f1a2560d4d735670ca983f1:c6f33e04ab6ed50ce8606fc073047e32:682c45151dec43c1761136ba359d0dcf$</string>
            <key>textureFileName</key>
            <string>WangYi.pvr.ccz</string>
        </dict>
    </dict>
</plist>
