<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan1-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,223},{30,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,18}}</string>
                <key>sourceSize</key>
                <string>{34,22}</string>
            </dict>
            <key>weiyan1-L_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,211},{45,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,32}}</string>
                <key>sourceSize</key>
                <string>{49,34}</string>
            </dict>
            <key>weiyan1-L_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,183},{37,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{37,38}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>weiyan1-L_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,183},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,35}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>weiyan1-L_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{18,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>weiyan1-L_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,223},{21,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{21,35}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>weiyan1-L_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,154},{28,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{28,22}}</string>
                <key>sourceSize</key>
                <string>{32,26}</string>
            </dict>
            <key>weiyan1-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,211},{20,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>weiyan1-R_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,223},{27,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,19}}</string>
                <key>sourceSize</key>
                <string>{29,23}</string>
            </dict>
            <key>weiyan1-R_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,154},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>weiyan1-R_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,220},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,21}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>weiyan1-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,211},{29,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>weiyan1-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{235,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,107}}</string>
                <key>sourceSize</key>
                <string>{235,107}</string>
            </dict>
            <key>weiyan1-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,211},{32,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,36}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>weiyan1-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{211,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,3},{211,95}}</string>
                <key>sourceSize</key>
                <string>{235,107}</string>
            </dict>
            <key>weiyan1-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,217},{22,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>weiyan1-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,0},{183,83}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{183,83}}</string>
                <key>sourceSize</key>
                <string>{235,107}</string>
            </dict>
            <key>weiyan1-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{134,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{134,141}}</string>
                <key>sourceSize</key>
                <string>{140,147}</string>
            </dict>
            <key>weiyan1-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{157,69}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,12},{157,69}}</string>
                <key>sourceSize</key>
                <string>{235,107}</string>
            </dict>
            <key>weiyan1-gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,141},{77,82}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>weiyan1-pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,154},{54,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{54,63}}</string>
                <key>sourceSize</key>
                <string>{56,67}</string>
            </dict>
            <key>weiyan1-qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,217},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>weiyan1-qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,182},{34,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{34,30}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>weiyan1-shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,77},{77,82}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>weiyan1-si.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,0},{77,82}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{77,82}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>weiyan1-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,157},{77,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,82}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>weiyan1-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,183},{59,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,55}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>weiyan1-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,157},{49,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>weiyan1-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,0},{231,111}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,51},{231,111}}</string>
                <key>sourceSize</key>
                <string>{319,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeiYan.pvr.ccz</string>
            <key>size</key>
            <string>{693,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e8b911a71407793aa240fb2c9bfc652:bc145da2ed3b4dbb8ed678b2c02026f4:2d32f8c965ec5093cc52e77c9730c098$</string>
            <key>textureFileName</key>
            <string>WeiYan.pvr.ccz</string>
        </dict>
    </dict>
</plist>
