<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan1_e-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{407,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,203}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
            <key>weiyan1_e-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,184},{397,185}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,185}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
            <key>weiyan1_e-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,729},{273,185}}</string>
                <key>offset</key>
                <string>{43,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{273,185}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
            <key>weiyan1_e-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{418,334}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{418,334}}</string>
                <key>sourceSize</key>
                <string>{426,344}</string>
            </dict>
            <key>weiyan1_e-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{382,344}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{382,344}}</string>
                <key>sourceSize</key>
                <string>{426,344}</string>
            </dict>
            <key>weiyan1_e-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,0},{318,344}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{318,344}}</string>
                <key>sourceSize</key>
                <string>{426,344}</string>
            </dict>
            <key>weiyan1_e-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,369},{142,296}}</string>
                <key>offset</key>
                <string>{-142,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{142,296}}</string>
                <key>sourceSize</key>
                <string>{426,344}</string>
            </dict>
            <key>weiyan1_e-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,340},{112,252}}</string>
                <key>offset</key>
                <string>{-152,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,83},{112,252}}</string>
                <key>sourceSize</key>
                <string>{426,344}</string>
            </dict>
            <key>weiyan1_e-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,0},{184,411}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{184,411}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,334},{194,395}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{194,395}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,369},{194,371}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{194,371}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,563},{194,369}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{194,369}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,334},{196,383}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{196,383}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{206,375}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,35},{206,375}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,530},{198,379}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{198,379}}</string>
                <key>sourceSize</key>
                <string>{210,411}</string>
            </dict>
            <key>weiyan1_e-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,728},{313,251}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{313,251}}</string>
                <key>sourceSize</key>
                <string>{319,259}</string>
            </dict>
            <key>weiyan1_e-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,757},{287,259}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{287,259}}</string>
                <key>sourceSize</key>
                <string>{319,259}</string>
            </dict>
            <key>weiyan1_e-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,757},{233,257}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{233,257}}</string>
                <key>sourceSize</key>
                <string>{319,259}</string>
            </dict>
            <key>weiyan1_e-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,592},{105,217}}</string>
                <key>offset</key>
                <string>{-107,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{105,217}}</string>
                <key>sourceSize</key>
                <string>{319,259}</string>
            </dict>
            <key>weiyan1_e-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,914},{79,187}}</string>
                <key>offset</key>
                <string>{-116,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,62},{79,187}}</string>
                <key>sourceSize</key>
                <string>{319,259}</string>
            </dict>
            <key>weiyan1_e-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{372,123}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{372,123}}</string>
                <key>sourceSize</key>
                <string>{376,127}</string>
            </dict>
            <key>weiyan1_e-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,318},{364,121}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{364,121}}</string>
                <key>sourceSize</key>
                <string>{376,127}</string>
            </dict>
            <key>weiyan1_e-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1481,665},{314,115}}</string>
                <key>offset</key>
                <string>{-25,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{314,115}}</string>
                <key>sourceSize</key>
                <string>{376,127}</string>
            </dict>
            <key>weiyan1_e-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,0},{206,115}}</string>
                <key>offset</key>
                <string>{-84,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{206,115}}</string>
                <key>sourceSize</key>
                <string>{376,127}</string>
            </dict>
            <key>weiyan1_e-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,206},{134,107}}</string>
                <key>offset</key>
                <string>{-117,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{134,107}}</string>
                <key>sourceSize</key>
                <string>{376,127}</string>
            </dict>
            <key>weiyan1_e-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,203},{407,131}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{407,131}}</string>
                <key>sourceSize</key>
                <string>{407,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WeiYan_e.pvr.ccz</string>
            <key>size</key>
            <string>{1719,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a2c23a7c2024980b18c421c946aeebe:0b77975349eda7a91ff2776e71943d62:077f4b51ac1ff64eebe21e42c7800cc9$</string>
            <key>textureFileName</key>
            <string>WeiYan_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
