<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wczdf-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,1101},{296,325}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{296,325}}</string>
                <key>sourceSize</key>
                <string>{308,347}</string>
            </dict>
            <key>wczdf-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,0},{289,155}}</string>
                <key>offset</key>
                <string>{-8,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,157},{289,155}}</string>
                <key>sourceSize</key>
                <string>{381,333}</string>
            </dict>
            <key>wczdf-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,417},{352,283}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{352,283}}</string>
                <key>sourceSize</key>
                <string>{358,293}</string>
            </dict>
            <key>wczdf-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1426},{352,293}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{352,293}}</string>
                <key>sourceSize</key>
                <string>{358,293}</string>
            </dict>
            <key>wczdf-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1426},{170,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,289}}</string>
                <key>sourceSize</key>
                <string>{170,293}</string>
            </dict>
            <key>wczdf-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1778},{274,267}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{274,267}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>wczdf-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1388},{232,269}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{232,269}}</string>
                <key>sourceSize</key>
                <string>{280,275}</string>
            </dict>
            <key>wczdf-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1715},{170,261}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{170,261}}</string>
                <key>sourceSize</key>
                <string>{170,275}</string>
            </dict>
            <key>wczdf-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,588},{299,327}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{299,327}}</string>
                <key>sourceSize</key>
                <string>{325,347}</string>
            </dict>
            <key>wczdf-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{483,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,417}}</string>
                <key>sourceSize</key>
                <string>{483,417}</string>
            </dict>
            <key>wczdf-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,417},{430,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,373}}</string>
                <key>sourceSize</key>
                <string>{430,373}</string>
            </dict>
            <key>wczdf-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,289},{95,89}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{95,89}}</string>
                <key>sourceSize</key>
                <string>{121,115}</string>
            </dict>
            <key>wczdf-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1657},{248,220}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{248,220}}</string>
                <key>sourceSize</key>
                <string>{262,230}</string>
            </dict>
            <key>wczdf-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,0},{374,386}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{374,386}}</string>
                <key>sourceSize</key>
                <string>{378,398}</string>
            </dict>
            <key>wczdf-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1113},{287,275}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{287,275}}</string>
                <key>sourceSize</key>
                <string>{301,285}</string>
            </dict>
            <key>wczdf-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1426},{295,347}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{295,347}}</string>
                <key>sourceSize</key>
                <string>{313,347}</string>
            </dict>
            <key>wczdf-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1773},{266,287}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,53},{266,287}}</string>
                <key>sourceSize</key>
                <string>{318,347}</string>
            </dict>
            <key>wczdf-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,915},{198,293}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,34},{198,293}}</string>
                <key>sourceSize</key>
                <string>{236,347}</string>
            </dict>
            <key>wczdf-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,386},{202,301}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{202,301}}</string>
                <key>sourceSize</key>
                <string>{216,347}</string>
            </dict>
            <key>wczdf-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,790},{291,295}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{291,295}}</string>
                <key>sourceSize</key>
                <string>{381,333}</string>
            </dict>
            <key>wczdf-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{363,311}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{363,311}}</string>
                <key>sourceSize</key>
                <string>{381,333}</string>
            </dict>
            <key>wczdf-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1101},{343,325}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,325}}</string>
                <key>sourceSize</key>
                <string>{381,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>WenChou_e.pvr.ccz</string>
            <key>size</key>
            <string>{1014,2045}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b707e11d3f9c4118d81ad3cfcfdcd0c2:1387ec54945dc9ecef9399d4e2f29a98:ad4e3c599bad7a1c01ffff1350ea37f5$</string>
            <key>textureFileName</key>
            <string>WenChou_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
