<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiahouyuanzon-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,477},{158,131}}</string>
                <key>offset</key>
                <string>{103,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,8},{158,131}}</string>
                <key>sourceSize</key>
                <string>{368,149}</string>
            </dict>
            <key>xiahouyuanzon-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,1935},{80,69}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{80,69}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1866},{80,69}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{80,69}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1927},{90,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,477},{88,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,635},{80,93}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,93}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,572},{80,85}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{80,85}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1935},{56,57}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{56,57}}</string>
                <key>sourceSize</key>
                <string>{90,95}</string>
            </dict>
            <key>xiahouyuanzon-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,958},{168,91}}</string>
                <key>offset</key>
                <string>{78,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,181},{168,91}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1396},{166,91}}</string>
                <key>offset</key>
                <string>{78,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,181},{166,91}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1767},{160,115}}</string>
                <key>offset</key>
                <string>{79,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,158},{160,115}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1367},{162,115}}</string>
                <key>offset</key>
                <string>{78,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,159},{162,115}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1191},{170,101}}</string>
                <key>offset</key>
                <string>{76,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,172},{170,101}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1601},{166,103}}</string>
                <key>offset</key>
                <string>{78,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,169},{166,103}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1126},{52,89}}</string>
                <key>offset</key>
                <string>{68,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,159},{52,89}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,956},{134,151}}</string>
                <key>offset</key>
                <string>{24,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,94},{134,151}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1668},{108,93}}</string>
                <key>offset</key>
                <string>{-30,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,63},{108,93}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{232,233}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{232,233}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1601},{190,193}}</string>
                <key>offset</key>
                <string>{15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,62},{190,193}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,233},{224,241}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,22},{224,241}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,330},{74,53}}</string>
                <key>offset</key>
                <string>{71,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,210},{74,53}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,404},{70,55}}</string>
                <key>offset</key>
                <string>{73,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,208},{70,55}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,652},{68,55}}</string>
                <key>offset</key>
                <string>{76,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,207},{68,55}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,652},{60,53}}</string>
                <key>offset</key>
                <string>{75,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,207},{60,53}}</string>
                <key>sourceSize</key>
                <string>{330,289}</string>
            </dict>
            <key>xiahouyuanzon-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,211},{177,119}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,126},{177,119}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1794},{217,109}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,129},{217,109}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1529},{139,135}}</string>
                <key>offset</key>
                <string>{2,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,143},{139,135}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1396},{205,191}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,110},{205,191}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{245,217}}</string>
                <key>offset</key>
                <string>{5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,82},{245,217}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 46.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1794},{203,99}}</string>
                <key>offset</key>
                <string>{-2,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,181},{203,99}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1191},{201,205}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,76},{201,205}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 48.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,0},{203,211}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,70},{203,211}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,719},{215,239}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,43},{215,239}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 50.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,719},{221,237}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,43},{221,237}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,958},{211,233}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{211,233}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 52.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{1,1}}</string>
                <key>offset</key>
                <string>{-132,169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{265,339}</string>
            </dict>
            <key>xiahouyuanzon-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,330},{148,147}}</string>
                <key>offset</key>
                <string>{102,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{368,149}</string>
            </dict>
            <key>xiahouyuanzon-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1107},{134,135}}</string>
                <key>offset</key>
                <string>{102,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,6},{134,135}}</string>
                <key>sourceSize</key>
                <string>{368,149}</string>
            </dict>
            <key>xiahouyuanzon-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1242},{126,125}}</string>
                <key>offset</key>
                <string>{102,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,12},{126,125}}</string>
                <key>sourceSize</key>
                <string>{368,149}</string>
            </dict>
            <key>xiahouyuanzon-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1761},{104,105}}</string>
                <key>offset</key>
                <string>{102,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,21},{104,105}}</string>
                <key>sourceSize</key>
                <string>{368,149}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiaHouYuan_e.pvr.ccz</string>
            <key>size</key>
            <string>{436,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d4f02cb154baad11507539c18cd053:d65533679b080b2fa8e4826a6439f396:d93bbcae67a71c1d2b9c37223492aaa3$</string>
            <key>textureFileName</key>
            <string>XiaHouYuan_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
