<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xhderd-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{344,135}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{344,135}}</string>
                <key>sourceSize</key>
                <string>{368,153}</string>
            </dict>
            <key>xhderd-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1259},{173,181}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{173,181}}</string>
                <key>sourceSize</key>
                <string>{177,183}</string>
            </dict>
            <key>xhderd-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1757},{219,227}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{219,227}}</string>
                <key>sourceSize</key>
                <string>{229,227}</string>
            </dict>
            <key>xhderd-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1357},{245,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{245,270}}</string>
                <key>sourceSize</key>
                <string>{245,278}</string>
            </dict>
            <key>xhderd-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,429},{318,236}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{318,236}}</string>
                <key>sourceSize</key>
                <string>{324,264}</string>
            </dict>
            <key>xhderd-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{318,221}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,221}}</string>
                <key>sourceSize</key>
                <string>{318,267}</string>
            </dict>
            <key>xhderd-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{277,214}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{277,214}}</string>
                <key>sourceSize</key>
                <string>{283,216}</string>
            </dict>
            <key>xhderd-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1772},{217,210}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{217,210}}</string>
                <key>sourceSize</key>
                <string>{219,222}</string>
            </dict>
            <key>xhderd-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1432},{238,157}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{238,157}}</string>
                <key>sourceSize</key>
                <string>{238,161}</string>
            </dict>
            <key>xhderd-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,844},{234,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,132}}</string>
                <key>sourceSize</key>
                <string>{234,136}</string>
            </dict>
            <key>xhderd-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1602},{247,155}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{247,155}}</string>
                <key>sourceSize</key>
                <string>{281,161}</string>
            </dict>
            <key>xhderd-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{360,141}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{360,141}}</string>
                <key>sourceSize</key>
                <string>{368,153}</string>
            </dict>
            <key>xhderd-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1269},{272,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{272,88}}</string>
                <key>sourceSize</key>
                <string>{274,90}</string>
            </dict>
            <key>xhderd-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{274,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,87}}</string>
                <key>sourceSize</key>
                <string>{274,89}</string>
            </dict>
            <key>xhderd-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1187},{273,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{273,82}}</string>
                <key>sourceSize</key>
                <string>{273,86}</string>
            </dict>
            <key>xhderd-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{368,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,153}}</string>
                <key>sourceSize</key>
                <string>{368,153}</string>
            </dict>
            <key>xhderd-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,104}}</string>
                <key>sourceSize</key>
                <string>{244,104}</string>
            </dict>
            <key>xhderd-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1670},{221,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{221,102}}</string>
                <key>sourceSize</key>
                <string>{225,104}</string>
            </dict>
            <key>xhderd-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,579},{265,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,145}}</string>
                <key>sourceSize</key>
                <string>{265,145}</string>
            </dict>
            <key>xhderd-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,338},{241,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,125}}</string>
                <key>sourceSize</key>
                <string>{241,125}</string>
            </dict>
            <key>xhderd-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1078},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>xhderd-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,244},{94,105}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{94,105}}</string>
                <key>sourceSize</key>
                <string>{96,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiaHouDun_e.pvr.ccz</string>
            <key>size</key>
            <string>{472,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87c2342d45f8e23695c7868b081736d6:c9e5ac8047bafac37587a1469cc96c18:f839991656ddd7f5db72417ce0a812e2$</string>
            <key>textureFileName</key>
            <string>XiaHouDun_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
