<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xhder-bq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,919},{75,92}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{123,96}</string>
            </dict>
            <key>xhder-bq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,887},{75,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>xhder-bq3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,887},{75,92}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{91,96}</string>
            </dict>
            <key>xhder-kaijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,258},{27,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,31}}</string>
                <key>sourceSize</key>
                <string>{27,33}</string>
            </dict>
            <key>xhder-kaijia1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,337},{15,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,25}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>xhder-kaijia2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,211},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,23}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>xhder-pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,919},{74,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{74,82}}</string>
                <key>sourceSize</key>
                <string>{84,92}</string>
            </dict>
            <key>xhder-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,149},{27,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{27,39}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>xhder-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,887},{76,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{80,95}</string>
            </dict>
            <key>xhder-toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,54},{27,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{27,49}}</string>
                <key>sourceSize</key>
                <string>{33,53}</string>
            </dict>
            <key>xhder-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,103},{30,46}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>xhder-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,188},{23,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,24}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>xhder-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,0},{54,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,45}}</string>
                <key>sourceSize</key>
                <string>{56,47}</string>
            </dict>
            <key>xhder-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,188},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>xhder-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,526},{108,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{108,52}}</string>
                <key>sourceSize</key>
                <string>{124,74}</string>
            </dict>
            <key>xhder-youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,634},{22,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>xhder-youdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,54},{17,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,29}</string>
            </dict>
            <key>xhder-youdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,526},{59,119}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{59,119}}</string>
                <key>sourceSize</key>
                <string>{71,129}</string>
            </dict>
            <key>xhder-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,980},{31,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{31,19}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>xhder-youkai.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,980},{16,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,39}}</string>
                <key>sourceSize</key>
                <string>{20,39}</string>
            </dict>
            <key>xhder-youquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,79},{16,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>xhder-youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,634},{22,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{24,31}</string>
            </dict>
            <key>xhder-zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,314},{21,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,23}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>xhder-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,289},{23,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>xhder-zuodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,887},{70,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,111}}</string>
                <key>sourceSize</key>
                <string>{76,115}</string>
            </dict>
            <key>xhder-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,963},{34,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,25}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>xhder-zuokai.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,919},{34,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,44}}</string>
                <key>sourceSize</key>
                <string>{36,48}</string>
            </dict>
            <key>xhder-zuoquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,980},{14,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{18,21}</string>
            </dict>
            <key>xhder-zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,226},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,32}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>xhder-元件 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,367},{373,289}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,28},{373,289}}</string>
                <key>sourceSize</key>
                <string>{461,369}</string>
            </dict>
            <key>xhder-元件 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,656},{263,201}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,76},{263,201}}</string>
                <key>sourceSize</key>
                <string>{461,369}</string>
            </dict>
            <key>xhder-元件 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,367},{159,123}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,118},{159,123}}</string>
                <key>sourceSize</key>
                <string>{461,369}</string>
            </dict>
            <key>xhder-元件 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{299,231}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,59},{299,231}}</string>
                <key>sourceSize</key>
                <string>{461,369}</string>
            </dict>
            <key>xhder-元件 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{459,367}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,367}}</string>
                <key>sourceSize</key>
                <string>{461,369}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiaHouDun.pvr.ccz</string>
            <key>size</key>
            <string>{504,999}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:591a506ca50f85766f056202ab84a062:623af5680a2890b09150faece313326f:c0c45e8221ac66cb32a852b89b5dae28$</string>
            <key>textureFileName</key>
            <string>XiaHouDun.pvr.ccz</string>
        </dict>
    </dict>
</plist>
