<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xqdf-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,376},{41,60}}</string>
                <key>offset</key>
                <string>{-54,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{41,60}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xqdf-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{149,172}}</string>
                <key>offset</key>
                <string>{13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{149,172}}</string>
                <key>sourceSize</key>
                <string>{207,188}</string>
            </dict>
            <key>xqdf-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{183,184}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{183,184}}</string>
                <key>sourceSize</key>
                <string>{207,188}</string>
            </dict>
            <key>xqdf-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{207,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,188}}</string>
                <key>sourceSize</key>
                <string>{207,188}</string>
            </dict>
            <key>xqdf-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{201,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{201,188}}</string>
                <key>sourceSize</key>
                <string>{207,188}</string>
            </dict>
            <key>xqdf-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1163},{166,155}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,155}}</string>
                <key>sourceSize</key>
                <string>{170,159}</string>
            </dict>
            <key>xqdf-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1659},{147,133}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{147,133}}</string>
                <key>sourceSize</key>
                <string>{167,159}</string>
            </dict>
            <key>xqdf-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1860},{108,85}}</string>
                <key>offset</key>
                <string>{-15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,36},{108,85}}</string>
                <key>sourceSize</key>
                <string>{170,159}</string>
            </dict>
            <key>xqdf-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1327},{67,92}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{67,92}}</string>
                <key>sourceSize</key>
                <string>{75,118}</string>
            </dict>
            <key>xqdf-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1660},{92,100}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{122,100}</string>
            </dict>
            <key>xqdf-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1806},{99,103}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{99,103}}</string>
                <key>sourceSize</key>
                <string>{125,123}</string>
            </dict>
            <key>xqdf-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1905},{94,91}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{96,93}</string>
            </dict>
            <key>xqdf-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1600},{60,62}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>xqdf-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1419},{63,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{63,83}}</string>
                <key>sourceSize</key>
                <string>{75,89}</string>
            </dict>
            <key>xqdf-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1163},{57,81}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>xqdf-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1244},{54,83}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{54,83}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>xqdf-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1760},{100,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,92}}</string>
                <key>sourceSize</key>
                <string>{100,92}</string>
            </dict>
            <key>xqdf-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1502},{98,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,82}</string>
            </dict>
            <key>xqdf-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{191,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{191,152}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xqdf-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,709},{191,152}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{191,152}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xqdf-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1013},{189,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{189,150}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xqdf-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,559},{199,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,150}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
            <key>xqdf-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1490},{169,144}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{169,144}}</string>
                <key>sourceSize</key>
                <string>{201,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiaoQiao_e.pvr.ccz</string>
            <key>size</key>
            <string>{226,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38dafccc0838643fe42e127fde829de3:bc769bac60cb711ac2fa01ab94a3f60d:a3a9c0e1a2fa5fe8cc549accc8c76f7c$</string>
            <key>textureFileName</key>
            <string>XiaoQiao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
