<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xqeutr-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,178},{25,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,25}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>xqeutr-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,0},{24,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>xqeutr-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,75},{19,19}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>xqeutr-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,76},{15,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{19,15}</string>
            </dict>
            <key>xqeutr-Lshoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,193},{23,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>xqeutr-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,166},{30,37}}</string>
                <key>offset</key>
                <string>{23,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,146},{30,37}}</string>
                <key>sourceSize</key>
                <string>{84,187}</string>
            </dict>
            <key>xqeutr-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,124},{22,31}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,31}}</string>
                <key>sourceSize</key>
                <string>{26,37}</string>
            </dict>
            <key>xqeutr-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,178},{16,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,26}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>xqeutr-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,24},{17,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{21,23}</string>
            </dict>
            <key>xqeutr-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,76},{24,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>xqeutr-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,76},{15,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>xqeutr-Rshoushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,193},{11,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,9}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>xqeutr-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,177},{24,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,41}}</string>
                <key>sourceSize</key>
                <string>{24,43}</string>
            </dict>
            <key>xqeutr-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,178},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{23,27}</string>
            </dict>
            <key>xqeutr-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,193},{11,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{11,30}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>xqeutr-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,193},{11,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{11,30}}</string>
                <key>sourceSize</key>
                <string>{19,42}</string>
            </dict>
            <key>xqeutr-fashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,200},{4,11}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{4,11}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>xqeutr-gong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,178},{26,27}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{26,27}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>xqeutr-gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,177},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>xqeutr-gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1527,146},{20,53}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,53}}</string>
                <key>sourceSize</key>
                <string>{30,65}</string>
            </dict>
            <key>xqeutr-gongxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,166},{34,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,35}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>xqeutr-gongxian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,124},{40,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>xqeutr-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,75},{43,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,49}}</string>
                <key>sourceSize</key>
                <string>{47,51}</string>
            </dict>
            <key>xqeutr-q11.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,0},{193,178}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{193,178}}</string>
                <key>sourceSize</key>
                <string>{195,196}</string>
            </dict>
            <key>xqeutr-q13.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{166,200}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{166,200}}</string>
                <key>sourceSize</key>
                <string>{166,210}</string>
            </dict>
            <key>xqeutr-q15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,0},{158,178}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{158,178}}</string>
                <key>sourceSize</key>
                <string>{158,212}</string>
            </dict>
            <key>xqeutr-q17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{175,177}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{175,177}}</string>
                <key>sourceSize</key>
                <string>{175,179}</string>
            </dict>
            <key>xqeutr-q5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{205,229}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{205,229}}</string>
                <key>sourceSize</key>
                <string>{229,237}</string>
            </dict>
            <key>xqeutr-q7.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{215,198}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{215,198}}</string>
                <key>sourceSize</key>
                <string>{231,214}</string>
            </dict>
            <key>xqeutr-q9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,0},{216,203}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{216,203}}</string>
                <key>sourceSize</key>
                <string>{224,221}</string>
            </dict>
            <key>xqeutr-qunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,178},{16,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,26}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>xqeutr-qunbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1487,94},{23,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>xqeutr-qunbai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,177},{25,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{25,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>xqeutr-qunbai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,193},{8,24}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{8,24}}</string>
                <key>sourceSize</key>
                <string>{14,26}</string>
            </dict>
            <key>xqeutr-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,91},{75,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{75,75}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>xqeutr-toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,178},{16,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,27}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>xqeutr-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,75},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>xqeutr-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,76},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{13,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>xqeutr-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,76},{14,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{14,15}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>xqeutr-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,193},{11,20}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,20}}</string>
                <key>sourceSize</key>
                <string>{15,22}</string>
            </dict>
            <key>xqeutr-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,0},{76,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{76,75}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>xqeutr-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,0},{75,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{75,74}}</string>
                <key>sourceSize</key>
                <string>{91,90}</string>
            </dict>
            <key>xqeutr-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,91},{76,75}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{76,75}}</string>
                <key>sourceSize</key>
                <string>{82,85}</string>
            </dict>
            <key>xqeutr-toyfa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,167},{37,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{37,55}}</string>
                <key>sourceSize</key>
                <string>{39,61}</string>
            </dict>
            <key>xqeutr-wiqijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,177},{97,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{97,24}}</string>
                <key>sourceSize</key>
                <string>{107,32}</string>
            </dict>
            <key>xqeutr-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,178},{47,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,25}}</string>
                <key>sourceSize</key>
                <string>{49,25}</string>
            </dict>
            <key>xqeutr-xiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,166},{36,20}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,20}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>xqeutr-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,0},{91,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{91,44}}</string>
                <key>sourceSize</key>
                <string>{107,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XiaoQiao.pvr.ccz</string>
            <key>size</key>
            <string>{1559,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e32c743ce1da6f6170ba53425ea847f:ece8e2eefb02e7fe460c1859b8a7364c:946c56d651735af89f0af8ead32cbde7$</string>
            <key>textureFileName</key>
            <string>XiaoQiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
