<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuhuangE-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,324},{189,297}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,297}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,642},{212,171}}</string>
                <key>offset</key>
                <string>{-44,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{212,171}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
            <key>xuhuangE-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{76,155}}</string>
                <key>offset</key>
                <string>{-110,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{76,155}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
            <key>xuhuangE-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{398,318}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{398,318}}</string>
                <key>sourceSize</key>
                <string>{406,330}</string>
            </dict>
            <key>xuhuangE-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{362,328}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{362,328}}</string>
                <key>sourceSize</key>
                <string>{406,330}</string>
            </dict>
            <key>xuhuangE-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,0},{300,326}}</string>
                <key>offset</key>
                <string>{-51,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{300,326}}</string>
                <key>sourceSize</key>
                <string>{406,330}</string>
            </dict>
            <key>xuhuangE-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,546},{132,272}}</string>
                <key>offset</key>
                <string>{-137,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{132,272}}</string>
                <key>sourceSize</key>
                <string>{406,330}</string>
            </dict>
            <key>xuhuangE-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,678},{98,234}}</string>
                <key>offset</key>
                <string>{-148,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,81},{98,234}}</string>
                <key>sourceSize</key>
                <string>{406,330}</string>
            </dict>
            <key>xuhuangE-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{333,324}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{333,324}}</string>
                <key>sourceSize</key>
                <string>{343,338}</string>
            </dict>
            <key>xuhuangE-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,0},{279,326}}</string>
                <key>offset</key>
                <string>{-25,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{279,326}}</string>
                <key>sourceSize</key>
                <string>{343,338}</string>
            </dict>
            <key>xuhuangE-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,324},{209,318}}</string>
                <key>offset</key>
                <string>{-66,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{209,318}}</string>
                <key>sourceSize</key>
                <string>{343,338}</string>
            </dict>
            <key>xuhuangE-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,597},{193,293}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{193,293}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,228},{139,288}}</string>
                <key>offset</key>
                <string>{-102,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{139,288}}</string>
                <key>sourceSize</key>
                <string>{343,338}</string>
            </dict>
            <key>xuhuangE-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,561},{105,248}}</string>
                <key>offset</key>
                <string>{-113,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,84},{105,248}}</string>
                <key>sourceSize</key>
                <string>{343,338}</string>
            </dict>
            <key>xuhuangE-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,0},{228,332}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,2},{228,332}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,0},{228,294}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,22},{228,294}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,574},{224,246}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,49},{224,246}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,571},{214,220}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,63},{214,220}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,371},{206,200}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,69},{206,200}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,371},{190,182}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,73},{190,182}}</string>
                <key>sourceSize</key>
                <string>{410,334}</string>
            </dict>
            <key>xuhuangE-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,300},{193,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,297}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,300},{193,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,297}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,621},{189,295}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{189,295}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,279},{193,295}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,295}}</string>
                <key>sourceSize</key>
                <string>{193,297}</string>
            </dict>
            <key>xuhuangE-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,228},{302,143}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{302,143}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
            <key>xuhuangE-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{234,167}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{234,167}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
            <key>xuhuangE-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,367},{204,179}}</string>
                <key>offset</key>
                <string>{-47,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{204,179}}</string>
                <key>sourceSize</key>
                <string>{320,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XuHuang_e.pvr.ccz</string>
            <key>size</key>
            <string>{2013,813}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb15508ebc356b2ab4f650897b5c4fda:8364a0033de278a892afc712adca7fb5:dfa25157b5641c58b4327d66cf1cf446$</string>
            <key>textureFileName</key>
            <string>XuHuang_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
