<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xunshou_ess-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,420},{136,116}}</string>
                <key>offset</key>
                <string>{-47,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,86},{136,116}}</string>
                <key>sourceSize</key>
                <string>{360,236}</string>
            </dict>
            <key>xunshou_ess-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{340,218}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{340,218}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{340,220}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{340,220}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,420},{324,216}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{324,216}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,842},{118,148}}</string>
                <key>offset</key>
                <string>{-42,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,77},{118,148}}</string>
                <key>sourceSize</key>
                <string>{360,236}</string>
            </dict>
            <key>xunshou_ess-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,842},{112,158}}</string>
                <key>offset</key>
                <string>{-40,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,65},{112,158}}</string>
                <key>sourceSize</key>
                <string>{360,236}</string>
            </dict>
            <key>xunshou_ess-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{379,184}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,85},{379,184}}</string>
                <key>sourceSize</key>
                <string>{421,350}</string>
            </dict>
            <key>xunshou_ess-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{375,180}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,84},{375,180}}</string>
                <key>sourceSize</key>
                <string>{421,350}</string>
            </dict>
            <key>xunshou_ess-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,636},{359,172}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,87},{359,172}}</string>
                <key>sourceSize</key>
                <string>{421,350}</string>
            </dict>
            <key>xunshou_ess-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,420},{224,214}}</string>
                <key>offset</key>
                <string>{20,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,19},{224,214}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,644},{214,194}}</string>
                <key>offset</key>
                <string>{19,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,36},{214,194}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,0},{238,216}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,57},{238,216}}</string>
                <key>sourceSize</key>
                <string>{362,278}</string>
            </dict>
            <key>xunshou_ess-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,556},{137,112}}</string>
                <key>offset</key>
                <string>{-3,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,161},{137,112}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,811},{137,118}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,155},{137,118}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,693},{139,118}}</string>
                <key>offset</key>
                <string>{-3,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,155},{139,118}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,636},{273,206}}</string>
                <key>offset</key>
                <string>{-56,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,67},{273,206}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{383,234}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{383,234}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,220},{337,200}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,78},{337,200}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,216},{205,204}}</string>
                <key>offset</key>
                <string>{-12,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,77},{205,204}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
            <key>xunshou_ess-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,838},{189,178}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,79},{189,178}}</string>
                <key>sourceSize</key>
                <string>{415,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XunShou_e.pvr.ccz</string>
            <key>size</key>
            <string>{994,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f753194a3522fb82ddca87d17a5dc21d:c689b0c527024d2be68e10fff6c471d9:3089d56fd05334d426032d507e277560$</string>
            <key>textureFileName</key>
            <string>XunShou_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
