<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>XunShou-ss-Symbol 1 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{86,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,107}}</string>
                <key>sourceSize</key>
                <string>{86,107}</string>
            </dict>
            <key>XunShou-ss-Symbol 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{211,207}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{211,207}}</string>
                <key>sourceSize</key>
                <string>{231,211}</string>
            </dict>
            <key>XunShou-ss-Symbol 2 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,0},{76,111}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,111}}</string>
                <key>sourceSize</key>
                <string>{78,111}</string>
            </dict>
            <key>XunShou-ss-Symbol 3 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,0},{87,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,126}}</string>
                <key>sourceSize</key>
                <string>{87,126}</string>
            </dict>
            <key>XunShou-ss-Symbol 4 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{83,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,107}}</string>
                <key>sourceSize</key>
                <string>{85,107}</string>
            </dict>
            <key>XunShou-ss-Symbol 5 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,107},{77,110}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,110}}</string>
                <key>sourceSize</key>
                <string>{77,116}</string>
            </dict>
            <key>XunShou-ss-Symbol 6 副本.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{82,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>XunShou-ss-chibangzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,107},{113,49}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,49}}</string>
                <key>sourceSize</key>
                <string>{117,49}</string>
            </dict>
            <key>XunShou-ss-niaocby.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,107},{88,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,60}}</string>
                <key>sourceSize</key>
                <string>{90,60}</string>
            </dict>
            <key>XunShou-ss-niaoneck1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,192},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>XunShou-ss-niaoneck2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,217},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>XunShou-ss-niaoneck3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,195},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>XunShou-ss-niaoshenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,126},{87,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,92}}</string>
                <key>sourceSize</key>
                <string>{87,92}</string>
            </dict>
            <key>XunShou-ss-niaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,144},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>XunShou-ss-niaowei.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,150},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,48}}</string>
                <key>sourceSize</key>
                <string>{58,48}</string>
            </dict>
            <key>XunShou-ss-niaoyoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,220},{34,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,21}}</string>
                <key>sourceSize</key>
                <string>{34,21}</string>
            </dict>
            <key>XunShou-ss-niaoyoutui.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,212},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>XunShou-ss-niaozhuazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,144},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>XunShou-ss-niaozuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,212},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,42}</string>
            </dict>
            <key>XunShou-ss-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{95,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{95,47}}</string>
                <key>sourceSize</key>
                <string>{113,65}</string>
            </dict>
            <key>XunShou-ss-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,208},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>XunShou-ss-tou 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,76},{63,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{63,74}}</string>
                <key>sourceSize</key>
                <string>{63,76}</string>
            </dict>
            <key>XunShou-ss-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,70},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>XunShou-ss-tou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,76},{62,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>XunShou-ss-tou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,150},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,76}</string>
            </dict>
            <key>XunShou-ss-toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,220},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>XunShou-ss-yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,220},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>XunShou-ss-youdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,76},{17,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,25}}</string>
                <key>sourceSize</key>
                <string>{17,25}</string>
            </dict>
            <key>XunShou-ss-youdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,207},{44,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>XunShou-ss-youdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,0},{29,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>XunShou-ss-youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,239},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>XunShou-ss-youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,179},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>XunShou-ss-youxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,220},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>XunShou-ss-youxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,221},{27,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{27,21}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>XunShou-ss-zuodabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,206},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>XunShou-ss-zuodao.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,207},{56,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,43}}</string>
                <key>sourceSize</key>
                <string>{56,43}</string>
            </dict>
            <key>XunShou-ss-zuodatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,220},{33,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>XunShou-ss-zuojianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,217},{35,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,28}}</string>
                <key>sourceSize</key>
                <string>{35,28}</string>
            </dict>
            <key>XunShou-ss-zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,239},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>XunShou-ss-zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,52},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>XunShou-ss-zuoxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,29},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>XunShou-ss-zuoxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,192},{29,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>XunShou.pvr.ccz</string>
            <key>size</key>
            <string>{682,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:960b0eeec0d32774fc7f8f775b64e245:5fdc51243c96fe232950390069deef49:f9a2f06137f5c74d6e7ee3bc5e1b4966$</string>
            <key>textureFileName</key>
            <string>XunShou.pvr.ccz</string>
        </dict>
    </dict>
</plist>
