<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YanLiangM-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1297},{38,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{38,65}}</string>
                <key>sourceSize</key>
                <string>{42,73}</string>
            </dict>
            <key>YanLiangM-Lguajian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,801},{13,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{13,32}}</string>
                <key>sourceSize</key>
                <string>{21,36}</string>
            </dict>
            <key>YanLiangM-Lguajian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,415},{12,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,32}}</string>
                <key>sourceSize</key>
                <string>{16,36}</string>
            </dict>
            <key>YanLiangM-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1341},{20,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{20,17}}</string>
                <key>sourceSize</key>
                <string>{22,21}</string>
            </dict>
            <key>YanLiangM-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1268},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{22,33}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>YanLiangM-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1290},{29,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>YanLiangM-Rguajian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,473},{10,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{10,26}}</string>
                <key>sourceSize</key>
                <string>{10,30}</string>
            </dict>
            <key>YanLiangM-Rguajian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,447},{10,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,26}}</string>
                <key>sourceSize</key>
                <string>{12,28}</string>
            </dict>
            <key>YanLiangM-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1371},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>YanLiangM-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1343},{28,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>YanLiangM-SLHjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1297},{44,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,22}}</string>
                <key>sourceSize</key>
                <string>{50,24}</string>
            </dict>
            <key>YanLiangM-SLHtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1237},{54,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,60}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>YanLiangM-SLHxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,843},{39,38}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{39,38}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>YanLiangM-SLQdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1001},{48,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{48,66}}</string>
                <key>sourceSize</key>
                <string>{52,72}</string>
            </dict>
            <key>YanLiangM-SLQjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1237},{46,29}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,29}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>YanLiangM-SLQxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1228},{40,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,32}}</string>
                <key>sourceSize</key>
                <string>{44,38}</string>
            </dict>
            <key>YanLiangM-SLQxiaotuihuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,922},{36,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{36,20}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>YanLiangM-SRHdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,568},{42,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,35}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>YanLiangM-SRHjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1283},{44,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,18}}</string>
                <key>sourceSize</key>
                <string>{52,20}</string>
            </dict>
            <key>YanLiangM-SRHxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1376},{33,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,21}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>YanLiangM-SRQdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1362},{34,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{34,40}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>YanLiangM-SRQjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,729},{50,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,38}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>YanLiangM-Sshenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{161,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{161,86}}</string>
                <key>sourceSize</key>
                <string>{165,92}</string>
            </dict>
            <key>YanLiangM-Stou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{153,109}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{153,109}}</string>
                <key>sourceSize</key>
                <string>{167,109}</string>
            </dict>
            <key>YanLiangM-dang.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1343},{23,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,33}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>YanLiangM-dangjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1121},{43,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{43,50}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>YanLiangM-dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,241},{121,174}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{121,174}}</string>
                <key>sourceSize</key>
                <string>{131,184}</string>
            </dict>
            <key>YanLiangM-datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,694},{29,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{29,32}}</string>
                <key>sourceSize</key>
                <string>{35,36}</string>
            </dict>
            <key>YanLiangM-dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1154},{78,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{78,83}}</string>
                <key>sourceSize</key>
                <string>{86,91}</string>
            </dict>
            <key>YanLiangM-jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,610},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{35,37}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>YanLiangM-mawei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1327},{37,16}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,16}}</string>
                <key>sourceSize</key>
                <string>{39,18}</string>
            </dict>
            <key>YanLiangM-mawei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,882},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>YanLiangM-shengzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,801},{37,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>YanLiangM-shengzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,767},{47,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{47,34}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>YanLiangM-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,942},{51,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{55,61}</string>
            </dict>
            <key>YanLiangM-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1048},{70,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,106}}</string>
                <key>sourceSize</key>
                <string>{72,106}</string>
            </dict>
            <key>YanLiangM-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1067},{48,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,54}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>YanLiangM-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,647},{33,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,47}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>YanLiangM-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1171},{38,57}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,57}}</string>
                <key>sourceSize</key>
                <string>{44,61}</string>
            </dict>
            <key>YanLiangM-tougongjilian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{71,106}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{71,106}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>YanLiangM-toushouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{70,106}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{70,106}}</string>
                <key>sourceSize</key>
                <string>{78,120}</string>
            </dict>
            <key>YanLiangM-tousiwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,729},{71,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{71,107}}</string>
                <key>sourceSize</key>
                <string>{81,113}</string>
            </dict>
            <key>YanLiangM-xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1358},{27,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,36}}</string>
                <key>sourceSize</key>
                <string>{31,38}</string>
            </dict>
            <key>YanLiangM-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{241,116}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{241,116}}</string>
                <key>sourceSize</key>
                <string>{295,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YanLiang.pvr.ccz</string>
            <key>size</key>
            <string>{121,1397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0624124fc3bce9940dd0fba3bb85ddc8:2b636124d668f5eb9d3494880ef4d35c:17b5872e83a185cad3f0ab6105013a3d$</string>
            <key>textureFileName</key>
            <string>YanLiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
