<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YanLiangE-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,785},{263,375}}</string>
                <key>offset</key>
                <string>{-9,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,170},{263,375}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1048},{272,186}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{272,186}}</string>
                <key>sourceSize</key>
                <string>{294,216}</string>
            </dict>
            <key>YanLiangE-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,593},{278,192}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{278,192}}</string>
                <key>sourceSize</key>
                <string>{294,216}</string>
            </dict>
            <key>YanLiangE-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,320},{276,188}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{276,188}}</string>
                <key>sourceSize</key>
                <string>{294,216}</string>
            </dict>
            <key>YanLiangE-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,0},{251,401}}</string>
                <key>offset</key>
                <string>{-10,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,153},{251,401}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,928},{295,453}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,68},{295,453}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,469},{369,511}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,511}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{359,487}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{359,487}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,816},{339,299}}</string>
                <key>offset</key>
                <string>{-2,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{339,299}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,593},{223,249}}</string>
                <key>offset</key>
                <string>{-3,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,51},{223,249}}</string>
                <key>sourceSize</key>
                <string>{373,555}</string>
            </dict>
            <key>YanLiangE-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,508},{274,186}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{274,186}}</string>
                <key>sourceSize</key>
                <string>{294,216}</string>
            </dict>
            <key>YanLiangE-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,1048},{272,184}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{272,184}}</string>
                <key>sourceSize</key>
                <string>{294,216}</string>
            </dict>
            <key>YanLiangE-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{471,276}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{471,276}}</string>
                <key>sourceSize</key>
                <string>{473,344}</string>
            </dict>
            <key>YanLiangE-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,0},{345,320}}</string>
                <key>offset</key>
                <string>{-41,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{345,320}}</string>
                <key>sourceSize</key>
                <string>{473,344}</string>
            </dict>
            <key>YanLiangE-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,251},{301,342}}</string>
                <key>offset</key>
                <string>{-69,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{301,342}}</string>
                <key>sourceSize</key>
                <string>{473,344}</string>
            </dict>
            <key>YanLiangE-补间 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,877},{315,328}}</string>
                <key>offset</key>
                <string>{-66,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{315,328}}</string>
                <key>sourceSize</key>
                <string>{473,344}</string>
            </dict>
            <key>YanLiangE-补间 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1223},{113,296}}</string>
                <key>offset</key>
                <string>{-162,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{113,296}}</string>
                <key>sourceSize</key>
                <string>{473,344}</string>
            </dict>
            <key>YanLiangE-补间 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1223},{290,111}}</string>
                <key>offset</key>
                <string>{135,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,34},{290,111}}</string>
                <key>sourceSize</key>
                <string>{608,181}</string>
            </dict>
            <key>YanLiangE-补间 49.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,411},{478,157}}</string>
                <key>offset</key>
                <string>{63,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,11},{478,157}}</string>
                <key>sourceSize</key>
                <string>{608,181}</string>
            </dict>
            <key>YanLiangE-补间 51.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,276},{568,135}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,15},{568,135}}</string>
                <key>sourceSize</key>
                <string>{608,181}</string>
            </dict>
            <key>YanLiangE-补间 53.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,411},{466,117}}</string>
                <key>offset</key>
                <string>{-70,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,17},{466,117}}</string>
                <key>sourceSize</key>
                <string>{608,181}</string>
            </dict>
            <key>YanLiangE-补间 54.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{469,457}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{469,457}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
            <key>YanLiangE-补间 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,469},{397,459}}</string>
                <key>offset</key>
                <string>{-36,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{397,459}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
            <key>YanLiangE-补间 58.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,0},{291,447}}</string>
                <key>offset</key>
                <string>{-93,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{291,447}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
            <key>YanLiangE-补间 60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,411},{197,405}}</string>
                <key>offset</key>
                <string>{-144,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{197,405}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
            <key>YanLiangE-补间 62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1155},{149,349}}</string>
                <key>offset</key>
                <string>{-160,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,118},{149,349}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
            <key>YanLiangE-补间 64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1205},{127,195}}</string>
                <key>offset</key>
                <string>{-143,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,277},{127,195}}</string>
                <key>sourceSize</key>
                <string>{485,477}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YanLiang_e.pvr.ccz</string>
            <key>size</key>
            <string>{1987,1339}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f2036663b98dba7427ac9d45dbb5220:5b1bffa34f7923e592fb140ee4182b94:2caac80fcaab1bb7671947b4addaf15e$</string>
            <key>textureFileName</key>
            <string>YanLiang_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
