<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoshi_ess-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,424},{81,102}}</string>
                <key>offset</key>
                <string>{-72,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,54},{81,102}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>yaoshi_ess-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,0},{220,273}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{220,273}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,342},{168,275}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,3},{168,275}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,206},{108,120}}</string>
                <key>offset</key>
                <string>{35,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,327},{108,120}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,366},{106,112}}</string>
                <key>offset</key>
                <string>{36,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,325},{106,112}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,104},{108,94}}</string>
                <key>offset</key>
                <string>{21,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,330},{108,94}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,0},{196,278}}</string>
                <key>offset</key>
                <string>{5,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,199},{196,278}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,273},{216,272}}</string>
                <key>offset</key>
                <string>{5,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,200},{216,272}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{218,318}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,146},{218,318}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,0},{220,342}}</string>
                <key>offset</key>
                <string>{5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,119},{220,342}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{268,438}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{268,438}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,0},{201,102}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{201,102}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>yaoshi_ess-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{284,442}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{284,442}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{262,436}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{262,436}}</string>
                <key>sourceSize</key>
                <string>{334,484}</string>
            </dict>
            <key>yaoshi_ess-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,102},{197,104}}</string>
                <key>offset</key>
                <string>{17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{197,104}}</string>
                <key>sourceSize</key>
                <string>{251,162}</string>
            </dict>
            <key>yaoshi_ess-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,314},{110,113}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,151},{110,113}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,0},{104,95}}</string>
                <key>offset</key>
                <string>{1,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,161},{104,95}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,206},{94,79}}</string>
                <key>offset</key>
                <string>{-2,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,166},{94,79}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,285},{88,81}}</string>
                <key>offset</key>
                <string>{-2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,162},{88,81}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,318},{198,127}}</string>
                <key>offset</key>
                <string>{7,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,157},{198,127}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
            <key>yaoshi_ess-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,278},{206,233}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{206,233}}</string>
                <key>sourceSize</key>
                <string>{234,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoshi_e.pvr.ccz</string>
            <key>size</key>
            <string>{1984,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3ae81f26ba739e3478fb94705c81b7:33f190dedc63076734e81a5d90740650:25f5d1f3e30f6693326dabf61110f74b$</string>
            <key>textureFileName</key>
            <string>yaoshi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
