<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanshao1-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,52},{46,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,45}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>yuanshao1-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{165,79}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{165,79}}</string>
                <key>sourceSize</key>
                <string>{195,113}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,109},{18,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,104},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,73},{17,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,16}}</string>
                <key>sourceSize</key>
                <string>{17,16}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,104},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,93},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 16 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,97},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 17 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,95},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 18 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,97},{26,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,93},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,52},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,93},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{74,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,84}}</string>
                <key>sourceSize</key>
                <string>{74,84}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,74},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,38}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,97},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,52},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,74},{40,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,29}}</string>
                <key>sourceSize</key>
                <string>{40,29}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,109},{28,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,18}}</string>
                <key>sourceSize</key>
                <string>{28,18}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,79},{35,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,44}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,93},{16,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,41}}</string>
                <key>sourceSize</key>
                <string>{16,41}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,52},{21,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,17}}</string>
                <key>sourceSize</key>
                <string>{21,17}</string>
            </dict>
            <key>yuanshao1-图层 24 拷贝 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,103},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>yuanshao1-图层 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,104},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>yuanshao1-头 copy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,52},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>yuanshao1-头 copy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,41},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>yuanshao1-头 copy4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>yuanshao1-头 copycc.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>yuanshao1-头.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>yuanshao1-武器 拷贝 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>yuanshao1-武器 拷贝.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{132,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,41}}</string>
                <key>sourceSize</key>
                <string>{132,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YuanShao.pvr.ccz</string>
            <key>size</key>
            <string>{568,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:415821a5a12510944054e7eafe77f2ae:b453a6619029139eb93d94b9f962e0a1:0cd6281e2a0a388356eed91d50eea9d0$</string>
            <key>textureFileName</key>
            <string>YuanShao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
