<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuanshasdo1-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,315},{133,180}}</string>
                <key>offset</key>
                <string>{-1,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,140},{133,180}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,145},{145,166}}</string>
                <key>offset</key>
                <string>{-6,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,154},{145,166}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,455},{145,188}}</string>
                <key>offset</key>
                <string>{-7,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,140},{145,188}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,391},{139,306}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{139,306}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,147},{143,190}}</string>
                <key>offset</key>
                <string>{-9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,139},{143,190}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,145},{149,170}}</string>
                <key>offset</key>
                <string>{-9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,150},{149,170}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,0},{145,176}}</string>
                <key>offset</key>
                <string>{-6,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,151},{145,176}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,314},{141,194}}</string>
                <key>offset</key>
                <string>{-8,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,142},{141,194}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1475,0},{147,188}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,139},{147,188}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,0},{143,158}}</string>
                <key>offset</key>
                <string>{-7,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,161},{143,158}}</string>
                <key>sourceSize</key>
                <string>{233,350}</string>
            </dict>
            <key>yuanshasdo1-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,0},{148,231}}</string>
                <key>offset</key>
                <string>{-13,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,226},{148,231}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,448},{144,146}}</string>
                <key>offset</key>
                <string>{68,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,217},{144,146}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,311},{132,178}}</string>
                <key>offset</key>
                <string>{56,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,180},{132,178}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,505},{104,196}}</string>
                <key>offset</key>
                <string>{65,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,167},{104,196}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,193},{128,235}}</string>
                <key>offset</key>
                <string>{-12,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,222},{128,235}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,385},{230,144}}</string>
                <key>offset</key>
                <string>{-2,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,247},{230,144}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,391},{266,224}}</string>
                <key>offset</key>
                <string>{-2,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,238},{266,224}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,0},{338,268}}</string>
                <key>offset</key>
                <string>{-6,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,194},{338,268}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,338},{338,256}}</string>
                <key>offset</key>
                <string>{-5,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,191},{338,256}}</string>
                <key>sourceSize</key>
                <string>{424,480}</string>
            </dict>
            <key>yuanshasdo1-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{262,379}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,52},{262,379}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{278,391}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{278,391}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 56.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,529},{320,57}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,57}}</string>
                <key>sourceSize</key>
                <string>{328,57}</string>
            </dict>
            <key>yuanshasdo1-Tween 57.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,530},{349,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,64}}</string>
                <key>sourceSize</key>
                <string>{351,64}</string>
            </dict>
            <key>yuanshasdo1-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,0},{256,385}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{256,385}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,489},{130,121}}</string>
                <key>offset</key>
                <string>{-13,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,310},{130,121}}</string>
                <key>sourceSize</key>
                <string>{364,457}</string>
            </dict>
            <key>yuanshasdo1-Tween 83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,314},{168,191}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,66},{168,191}}</string>
                <key>sourceSize</key>
                <string>{250,257}</string>
            </dict>
            <key>yuanshasdo1-Tween 84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,148},{166,195}}</string>
                <key>offset</key>
                <string>{-5,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,62},{166,195}}</string>
                <key>sourceSize</key>
                <string>{250,257}</string>
            </dict>
            <key>yuanshasdo1-Tween 85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,0},{180,193}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{180,193}}</string>
                <key>sourceSize</key>
                <string>{250,257}</string>
            </dict>
            <key>yuanshasdo1-Tween 87.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,338},{182,191}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,66},{182,191}}</string>
                <key>sourceSize</key>
                <string>{250,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YuanShao_e.pvr.ccz</string>
            <key>size</key>
            <string>{1997,615}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bd33dbddfa7fb82f04326ee28e024a7:194349dd057ec6545da3e5bc62267bc3:3a596542d2b0af9262474cfe8f3c6a44$</string>
            <key>textureFileName</key>
            <string>YuanShao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
