<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yujinzong-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,633},{30,28}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{46,34}</string>
            </dict>
            <key>yujinzong-L_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,622},{27,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{27,24}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>yujinzong-L_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,673},{41,31}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,31}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>yujinzong-L_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,693},{22,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,17}}</string>
                <key>sourceSize</key>
                <string>{22,17}</string>
            </dict>
            <key>yujinzong-L_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,423},{23,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,21}}</string>
                <key>sourceSize</key>
                <string>{23,21}</string>
            </dict>
            <key>yujinzong-L_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,398},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>yujinzong-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,633},{30,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,33}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>yujinzong-R_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,646},{28,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{28,23}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>yujinzong-R_jjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,633},{38,40}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{38,40}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>yujinzong-R_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,683},{21,19}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{21,19}}</string>
                <key>sourceSize</key>
                <string>{43,25}</string>
            </dict>
            <key>yujinzong-R_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,666},{25,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>yujinzong-R_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,422},{25,22}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,22}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>yujinzong-gong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,240},{36,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,85}}</string>
                <key>sourceSize</key>
                <string>{38,89}</string>
            </dict>
            <key>yujinzong-gong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,588},{23,53}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,7},{23,53}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>yujinzong-gong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,611},{22,53}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{22,53}}</string>
                <key>sourceSize</key>
                <string>{36,89}</string>
            </dict>
            <key>yujinzong-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,315},{70,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>yujinzong-jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{21,142}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{21,142}}</string>
                <key>sourceSize</key>
                <string>{31,208}</string>
            </dict>
            <key>yujinzong-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{59,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>yujinzong-pifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,529},{44,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{44,55}}</string>
                <key>sourceSize</key>
                <string>{72,77}</string>
            </dict>
            <key>yujinzong-pifeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,325},{36,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,42}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>yujinzong-pifeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,367},{31,36}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{31,36}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>yujinzong-quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,84},{6,81}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{6,81}}</string>
                <key>sourceSize</key>
                <string>{16,97}</string>
            </dict>
            <key>yujinzong-qun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,398},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,21}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>yujinzong-qun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,663},{28,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,20}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>yujinzong-qun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,588},{29,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>yujinzong-qun4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,690},{18,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{18,21}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>yujinzong-shoushang.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,519},{69,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{69,68}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>yujinzong-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,240},{70,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{70,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>yujinzong-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{79,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{79,60}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>yujinzong-xuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{7,84}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{7,84}}</string>
                <key>sourceSize</key>
                <string>{31,88}</string>
            </dict>
            <key>yujinzong-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{49,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,42}}</string>
                <key>sourceSize</key>
                <string>{53,44}</string>
            </dict>
            <key>yujinzong-yiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,669},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,21}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>yujinzong-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{240,116}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,52},{240,116}}</string>
                <key>sourceSize</key>
                <string>{332,212}</string>
            </dict>
            <key>yujinzong-zhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,450},{68,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{68,69}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YuJin.pvr.ccz</string>
            <key>size</key>
            <string>{127,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21936113bb6a4cf9494367acfbd94dc7:1b89a6adbbf2ddf2bf323abf8a419bc7:28c48f0d7f35ffd677a30600b7938860$</string>
            <key>textureFileName</key>
            <string>YuJin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
