<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>YuJinE-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,678},{210,241}}</string>
                <key>offset</key>
                <string>{5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,124},{210,241}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{244,351}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{244,351}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{258,355}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{258,355}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,365}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,365},{274,357}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{274,357}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,355},{268,353}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{268,353}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,351},{258,327}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{258,327}}</string>
                <key>sourceSize</key>
                <string>{274,365}</string>
            </dict>
            <key>YuJinE-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,708},{320,294}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{320,294}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,872},{142,132}}</string>
                <key>offset</key>
                <string>{-98,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{142,132}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,432},{190,190}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{190,190}}</string>
                <key>sourceSize</key>
                <string>{234,224}</string>
            </dict>
            <key>YuJinE-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{230,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{230,224}}</string>
                <key>sourceSize</key>
                <string>{234,224}</string>
            </dict>
            <key>YuJinE-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,919},{120,82}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{120,82}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>YuJinE-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,919},{112,88}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,88}}</string>
                <key>sourceSize</key>
                <string>{136,88}</string>
            </dict>
            <key>YuJinE-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{304,278}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{304,278}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,224},{216,208}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,29},{216,208}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,224},{134,126}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,89},{134,126}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,784},{162,134}}</string>
                <key>offset</key>
                <string>{-58,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{162,134}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,586},{154,156}}</string>
                <key>offset</key>
                <string>{-92,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{154,156}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,740},{142,132}}</string>
                <key>offset</key>
                <string>{-98,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{142,132}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,622},{162,134}}</string>
                <key>offset</key>
                <string>{-58,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{162,134}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
            <key>YuJinE-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,432},{154,156}}</string>
                <key>offset</key>
                <string>{-92,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{154,156}}</string>
                <key>sourceSize</key>
                <string>{340,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YuJin_e.pvr.ccz</string>
            <key>size</key>
            <string>{1146,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:506c90be271c264719a6653d6fd9010f:9fcbec80166e8e4c252506104e2bd92b:d790610df5356017291dce40c869459f$</string>
            <key>textureFileName</key>
            <string>YuJin_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
