<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjdf-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,177},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>zjdf-L_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,198},{31,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,22}}</string>
                <key>sourceSize</key>
                <string>{31,22}</string>
            </dict>
            <key>zjdf-L_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,199},{36,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>sourceSize</key>
                <string>{36,28}</string>
            </dict>
            <key>zjdf-L_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,227},{19,21}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>zjdf-L_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,216},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>zjdf-L_yidai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,168},{44,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,31}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>zjdf-L_yidai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,114},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>zjdf-L_yidai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,229},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>zjdf-L_yixiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,170},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>zjdf-L_yixiu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,201},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>zjdf-L_yixiu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,146},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>zjdf-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,90},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>zjdf-R_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,150},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>zjdf-R_piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,229},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,30}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>zjdf-R_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,150},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>zjdf-R_xiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,199},{26,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
            <key>zjdf-R_yidai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,227},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{19,20}</string>
            </dict>
            <key>zjdf-R_yidai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,170},{19,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>zjdf-R_yidai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,149},{15,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,28}}</string>
                <key>sourceSize</key>
                <string>{17,28}</string>
            </dict>
            <key>zjdf-R_yixiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,50},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>zjdf-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,168},{41,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{43,48}</string>
            </dict>
            <key>zjdf-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,199},{47,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{49,28}</string>
            </dict>
            <key>zjdf-aida.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,50},{53,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,65}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>zjdf-fuwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,128},{101,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,100}}</string>
                <key>sourceSize</key>
                <string>{101,100}</string>
            </dict>
            <key>zjdf-fuzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,201},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>zjdf-l_xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,199},{15,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,18}}</string>
                <key>sourceSize</key>
                <string>{15,18}</string>
            </dict>
            <key>zjdf-shengqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,50},{52,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{52,64}}</string>
                <key>sourceSize</key>
                <string>{58,72}</string>
            </dict>
            <key>zjdf-shengti.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,115},{53,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>zjdf-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,134},{52,65}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{52,65}}</string>
                <key>sourceSize</key>
                <string>{66,81}</string>
            </dict>
            <key>zjdf-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,50},{51,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,67}</string>
            </dict>
            <key>zjdf-toufa_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,113},{18,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,36}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>zjdf-toufa_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,114},{34,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,54}}</string>
                <key>sourceSize</key>
                <string>{34,54}</string>
            </dict>
            <key>zjdf-toufa_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,72},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{18,33}</string>
            </dict>
            <key>zjdf-toufa_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,124},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{22,32}</string>
            </dict>
            <key>zjdf-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,0},{50,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,181}}</string>
                <key>sourceSize</key>
                <string>{56,181}</string>
            </dict>
            <key>zjdf-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,134},{231,111}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{231,111}}</string>
                <key>sourceSize</key>
                <string>{319,205}</string>
            </dict>
            <key>zjdf-yishi 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,229},{38,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,17}}</string>
                <key>sourceSize</key>
                <string>{40,17}</string>
            </dict>
            <key>zjdf-yishi 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,170},{27,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,18}}</string>
                <key>sourceSize</key>
                <string>{27,18}</string>
            </dict>
            <key>zjdf-yishi 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,216},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>zjdf-yishi 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,229},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>zjdf-元件 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,128},{177,118}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,16},{177,118}}</string>
                <key>sourceSize</key>
                <string>{291,144}</string>
            </dict>
            <key>zjdf-元件 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,0},{261,128}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{261,128}}</string>
                <key>sourceSize</key>
                <string>{291,144}</string>
            </dict>
            <key>zjdf-元件 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,0},{283,134}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{283,134}}</string>
                <key>sourceSize</key>
                <string>{291,144}</string>
            </dict>
            <key>zjdf-元件 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{283,144}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{283,144}}</string>
                <key>sourceSize</key>
                <string>{291,144}</string>
            </dict>
            <key>zjdf-元件 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{283,96}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{283,96}}</string>
                <key>sourceSize</key>
                <string>{291,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangJiao.pvr.ccz</string>
            <key>size</key>
            <string>{1016,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c36ed02146497480f4c792d3db07566:cbe72e27caeeb0cab02c002d53911089:e2b7314980ed4fcab5dbb02330fc57c4$</string>
            <key>textureFileName</key>
            <string>ZhangJiao.pvr.ccz</string>
        </dict>
    </dict>
</plist>
