<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangliaozong-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,355},{295,317}}</string>
                <key>offset</key>
                <string>{-22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{295,317}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
            <key>zhangliaozong-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,699},{186,256}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,6},{186,256}}</string>
                <key>sourceSize</key>
                <string>{242,276}</string>
            </dict>
            <key>zhangliaozong-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,0},{238,274}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,274}}</string>
                <key>sourceSize</key>
                <string>{242,276}</string>
            </dict>
            <key>zhangliaozong-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,0},{230,254}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{230,254}}</string>
                <key>sourceSize</key>
                <string>{242,276}</string>
            </dict>
            <key>zhangliaozong-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,254},{226,198}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,72},{226,198}}</string>
                <key>sourceSize</key>
                <string>{242,276}</string>
            </dict>
            <key>zhangliaozong-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,452},{247,225}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,16},{247,225}}</string>
                <key>sourceSize</key>
                <string>{313,261}</string>
            </dict>
            <key>zhangliaozong-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{305,257}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{305,257}}</string>
                <key>sourceSize</key>
                <string>{313,261}</string>
            </dict>
            <key>zhangliaozong-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,355},{311,257}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{311,257}}</string>
                <key>sourceSize</key>
                <string>{313,261}</string>
            </dict>
            <key>zhangliaozong-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{298,281}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{298,281}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>zhangliaozong-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,666},{298,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{298,279}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>zhangliaozong-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,305},{276,249}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{276,249}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>zhangliaozong-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,699},{264,265}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{264,265}}</string>
                <key>sourceSize</key>
                <string>{298,297}</string>
            </dict>
            <key>zhangliaozong-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{301,355}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{301,355}}</string>
                <key>sourceSize</key>
                <string>{363,361}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangLiao_e.pvr.ccz</string>
            <key>size</key>
            <string>{1032,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a2e49bcf95f39daec328a341d8d528e:2cf2ae2cd02dad51c7966df430cf580d:764100e1f3d84cf8de7981b574fab2b9$</string>
            <key>textureFileName</key>
            <string>ZhangLiao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
