<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfeiss-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,379},{60,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>zhangfeiss-bai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,570},{23,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>zhangfeiss-bai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,624},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>zhangfeiss-bai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,507},{29,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,22}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>zhangfeiss-changqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,324},{131,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,246}}</string>
                <key>sourceSize</key>
                <string>{131,246}</string>
            </dict>
            <key>zhangfeiss-pif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,560},{78,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>sourceSize</key>
                <string>{78,50}</string>
            </dict>
            <key>zhangfeiss-pif2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,106},{65,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,42}}</string>
                <key>sourceSize</key>
                <string>{65,42}</string>
            </dict>
            <key>zhangfeiss-pif3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,407},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>zhangfeiss-shenti .png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,321},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>zhangfeiss-shou nei s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,19},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>zhangfeiss-shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,195},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>zhangfeiss-shoubi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1987,171},{24,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{24,42}</string>
            </dict>
            <key>zhangfeiss-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,547},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>zhangfeiss-touzhengchang copy 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,456},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>zhangfeiss-touzhengchang copy 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,0},{83,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,96}}</string>
                <key>sourceSize</key>
                <string>{83,96}</string>
            </dict>
            <key>zhangfeiss-touzhengchang copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,165},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>zhangfeiss-touzhengchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,83},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>zhangfeiss-tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,458},{39,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,30}}</string>
                <key>sourceSize</key>
                <string>{39,30}</string>
            </dict>
            <key>zhangfeiss-tui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,77},{34,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,29}}</string>
                <key>sourceSize</key>
                <string>{34,29}</string>
            </dict>
            <key>zhangfeiss-xiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,547},{23,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{23,25}</string>
            </dict>
            <key>zhangfeiss-xiaobi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,547},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>zhangfeiss-yaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,488},{39,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,19}}</string>
                <key>sourceSize</key>
                <string>{39,19}</string>
            </dict>
            <key>zhangfeiss-yaodai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,589},{16,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>zhangfeiss-yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,0},{203,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{203,64}}</string>
                <key>sourceSize</key>
                <string>{239,92}</string>
            </dict>
            <key>zhangfeiss-youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,60},{36,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,17}}</string>
                <key>sourceSize</key>
                <string>{36,17}</string>
            </dict>
            <key>zhangfeiss-youtui 2 .png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,570},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>zhangfeiss-youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,507},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>zhangfeiss-zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,0},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>zhangfeiss-zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1978,587},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>zhangfeiss-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,247},{193,74}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{193,74}}</string>
                <key>sourceSize</key>
                <string>{221,90}</string>
            </dict>
            <key>zhangfeiss-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,0},{324,208}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{324,208}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,336},{300,238}}</string>
                <key>offset</key>
                <string>{-65,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{300,238}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,324},{320,236}}</string>
                <key>offset</key>
                <string>{-67,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,236}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,0},{322,228}}</string>
                <key>offset</key>
                <string>{-66,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{322,228}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,0},{324,226}}</string>
                <key>offset</key>
                <string>{-65,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{324,226}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{324,224}}</string>
                <key>offset</key>
                <string>{-65,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{324,224}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,0},{324,218}}</string>
                <key>offset</key>
                <string>{-65,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{324,218}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,322},{316,212}}</string>
                <key>offset</key>
                <string>{-64,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,25},{316,212}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,324},{308,206}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{308,206}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{298,200}}</string>
                <key>offset</key>
                <string>{-59,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,36},{298,200}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,560},{207,78}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{207,78}}</string>
                <key>sourceSize</key>
                <string>{221,90}</string>
            </dict>
            <key>zhangfeiss-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,340},{290,192}}</string>
                <key>offset</key>
                <string>{-56,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{290,192}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,247},{209,70}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{209,70}}</string>
                <key>sourceSize</key>
                <string>{221,90}</string>
            </dict>
            <key>zhangfeiss-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,570},{207,68}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{207,68}}</string>
                <key>sourceSize</key>
                <string>{221,90}</string>
            </dict>
            <key>zhangfeiss-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,340},{284,182}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,55},{284,182}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,324},{310,202}}</string>
                <key>offset</key>
                <string>{49,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,35},{310,202}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,0},{336,222}}</string>
                <key>offset</key>
                <string>{58,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,16},{336,222}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{340,222}}</string>
                <key>offset</key>
                <string>{28,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,16},{340,222}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
            <key>zhangfeiss-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{340,218}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,20},{340,218}}</string>
                <key>sourceSize</key>
                <string>{454,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangFei.pvr.ccz</string>
            <key>size</key>
            <string>{2030,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b3d7ea19e0c3f08d9f3aa9ada450a8:f4cbf6e67a461ef5cf10c8e799231106:8ceedfb7db19942d9f793b9d4202d191$</string>
            <key>textureFileName</key>
            <string>ZhangFei.pvr.ccz</string>
        </dict>
    </dict>
</plist>
