<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangxiuM-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,245},{25,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{25,31}}</string>
                <key>sourceSize</key>
                <string>{35,41}</string>
            </dict>
            <key>zhangxiuM-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,919},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,32}}</string>
                <key>sourceSize</key>
                <string>{28,36}</string>
            </dict>
            <key>zhangxiuM-Lhujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,71},{23,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,22}}</string>
                <key>sourceSize</key>
                <string>{31,28}</string>
            </dict>
            <key>zhangxiuM-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,926},{34,19}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{34,19}}</string>
                <key>sourceSize</key>
                <string>{40,25}</string>
            </dict>
            <key>zhangxiuM-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,288},{22,20}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>zhangxiuM-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,269},{28,25}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,25}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>zhangxiuM-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,93},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>zhangxiuM-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,962},{32,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{32,46}}</string>
                <key>sourceSize</key>
                <string>{36,52}</string>
            </dict>
            <key>zhangxiuM-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,295},{28,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,26}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>zhangxiuM-Rhuji.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,189},{44,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,29}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>zhangxiuM-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,962},{31,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{31,25}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>zhangxiuM-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,244},{20,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,19}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>zhangxiuM-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,37},{23,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,34}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>zhangxiuM-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,270},{24,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{28,20}</string>
            </dict>
            <key>zhangxiuM-YHLdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,269},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{28,26}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>zhangxiuM-YHLjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,274},{28,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,21}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>zhangxiuM-YHLxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,945},{32,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{32,17}}</string>
                <key>sourceSize</key>
                <string>{40,19}</string>
            </dict>
            <key>zhangxiuM-YHRdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,962},{38,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{38,32}}</string>
                <key>sourceSize</key>
                <string>{46,40}</string>
            </dict>
            <key>zhangxiuM-YHRjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,297},{27,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{27,22}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>zhangxiuM-YHRxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,945},{30,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{30,39}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>zhangxiuM-YLQdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,885},{34,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{34,32}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>zhangxiuM-YQLjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,233},{29,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{29,21}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>zhangxiuM-YQLxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,145},{41,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{41,41}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>zhangxiuM-YRQdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,244},{30,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,25}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>zhangxiuM-YRQjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,295},{21,22}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,22}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>zhangxiuM-YRQxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,940},{24,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{24,20}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>zhangxiuM-Yshengzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,186},{38,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{38,37}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>zhangxiuM-Yshengzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,890},{24,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{24,50}}</string>
                <key>sourceSize</key>
                <string>{34,64}</string>
            </dict>
            <key>zhangxiuM-Yshenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,116},{148,134}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{148,134}}</string>
                <key>sourceSize</key>
                <string>{158,148}</string>
            </dict>
            <key>zhangxiuM-Ytou.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,890},{97,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{97,120}}</string>
                <key>sourceSize</key>
                <string>{109,134}</string>
            </dict>
            <key>zhangxiuM-Yweiba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,254},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{20,29}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>zhangxiuM-Yweiba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,984},{15,10}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,10}}</string>
                <key>sourceSize</key>
                <string>{21,16}</string>
            </dict>
            <key>zhangxiuM-Yweiba3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,0},{23,37}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,37}}</string>
                <key>sourceSize</key>
                <string>{29,43}</string>
            </dict>
            <key>zhangxiuM-Zhujia.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,885},{35,41}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,41}}</string>
                <key>sourceSize</key>
                <string>{39,45}</string>
            </dict>
            <key>zhangxiuM-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,250},{72,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,82}}</string>
                <key>sourceSize</key>
                <string>{80,88}</string>
            </dict>
            <key>zhangxiuM-pifeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,960},{34,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{34,41}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>zhangxiuM-qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,859},{31,268}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{31,268}}</string>
                <key>sourceSize</key>
                <string>{43,284}</string>
            </dict>
            <key>zhangxiuM-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,189},{49,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{49,55}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>zhangxiuM-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,890},{62,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{62,70}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>zhangxiuM-tou_gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,116},{62,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{62,73}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>zhangxiuM-tou_shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,250},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{62,72}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>zhangxiuM-tou_siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,890},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,72}}</string>
                <key>sourceSize</key>
                <string>{70,80}</string>
            </dict>
            <key>zhangxiuM-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,116},{29,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{29,54}}</string>
                <key>sourceSize</key>
                <string>{33,62}</string>
            </dict>
            <key>zhangxiuM-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,960},{28,33}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{28,33}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>zhangxiuM-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,223},{22,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{22,36}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>zhangxiuM-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,659},{12,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{12,39}}</string>
                <key>sourceSize</key>
                <string>{16,43}</string>
            </dict>
            <key>zhangxiuM-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,859},{52,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,26}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>zhangxiuM-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{241,116}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{241,116}}</string>
                <key>sourceSize</key>
                <string>{295,152}</string>
            </dict>
            <key>zhangxiuM-元件 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,594},{330,265}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{330,265}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{330,329}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{330,329}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,669},{320,317}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{320,317}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{338,329}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{338,329}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,659},{328,265}}</string>
                <key>offset</key>
                <string>{-8,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{328,265}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,329},{342,265}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{342,265}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,329},{330,265}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{330,265}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
            <key>zhangxiuM-元件 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,329},{340,325}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{340,325}}</string>
                <key>sourceSize</key>
                <string>{344,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangXiu.pvr.ccz</string>
            <key>size</key>
            <string>{932,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11c64fa4eaabf681ad5b3c8637519b1:d6f6e97704060cba9d599c1979be48ec:70e3a6791c9c376f7e6291425c57d4c9$</string>
            <key>textureFileName</key>
            <string>ZhangXiu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
