<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangxiuE-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,726},{289,323}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{289,323}}</string>
                <key>sourceSize</key>
                <string>{329,333}</string>
            </dict>
            <key>zhangxiuE-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,726},{299,254}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{299,254}}</string>
                <key>sourceSize</key>
                <string>{309,278}</string>
            </dict>
            <key>zhangxiuE-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{247,228}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{247,228}}</string>
                <key>sourceSize</key>
                <string>{253,246}</string>
            </dict>
            <key>zhangxiuE-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,774},{260,233}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{260,233}}</string>
                <key>sourceSize</key>
                <string>{300,253}</string>
            </dict>
            <key>zhangxiuE-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,828},{176,130}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,130}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>zhangxiuE-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,828},{176,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,132}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>zhangxiuE-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,317},{176,132}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,132}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>zhangxiuE-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,795},{176,126}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,126}}</string>
                <key>sourceSize</key>
                <string>{180,134}</string>
            </dict>
            <key>zhangxiuE-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,357},{509,119}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{509,119}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,333},{517,119}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{517,119}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,607},{517,119}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{517,119}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,476},{511,131}}</string>
                <key>offset</key>
                <string>{-5,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{511,131}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,347},{333,225}}</string>
                <key>offset</key>
                <string>{6,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,150},{333,225}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,0},{339,317}}</string>
                <key>offset</key>
                <string>{48,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,58},{339,317}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,0},{347,375}}</string>
                <key>offset</key>
                <string>{46,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,0},{347,375}}</string>
                <key>sourceSize</key>
                <string>{521,377}</string>
            </dict>
            <key>zhangxiuE-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{477,380}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{477,380}}</string>
                <key>sourceSize</key>
                <string>{487,396}</string>
            </dict>
            <key>zhangxiuE-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{435,394}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{435,394}}</string>
                <key>sourceSize</key>
                <string>{487,396}</string>
            </dict>
            <key>zhangxiuE-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,0},{357,388}}</string>
                <key>offset</key>
                <string>{-63,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{357,388}}</string>
                <key>sourceSize</key>
                <string>{487,396}</string>
            </dict>
            <key>zhangxiuE-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,452},{416,185}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{416,185}}</string>
                <key>sourceSize</key>
                <string>{418,231}</string>
            </dict>
            <key>zhangxiuE-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,637},{408,191}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{408,191}}</string>
                <key>sourceSize</key>
                <string>{418,231}</string>
            </dict>
            <key>zhangxiuE-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,828},{136,173}}</string>
                <key>offset</key>
                <string>{109,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,0},{136,173}}</string>
                <key>sourceSize</key>
                <string>{418,231}</string>
            </dict>
            <key>zhangxiuE-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,452},{343,300}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{343,300}}</string>
                <key>sourceSize</key>
                <string>{351,312}</string>
            </dict>
            <key>zhangxiuE-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{333,372}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{333,372}}</string>
                <key>sourceSize</key>
                <string>{339,382}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangXiu_e.pvr.ccz</string>
            <key>size</key>
            <string>{1951,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12a83ed9b8ffe2080421b1090b4c150b:5c906d2a2b7d88800aaa05f269a19db3:5e20a57c2881b08275d4f3122288953c$</string>
            <key>textureFileName</key>
            <string>ZhangXiu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
