<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhas-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1275},{145,184}}</string>
                <key>offset</key>
                <string>{13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{145,184}}</string>
                <key>sourceSize</key>
                <string>{277,214}</string>
            </dict>
            <key>zhas-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,377},{274,199}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{274,199}}</string>
                <key>sourceSize</key>
                <string>{294,227}</string>
            </dict>
            <key>zhas-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,565},{284,123}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,87},{284,123}}</string>
                <key>sourceSize</key>
                <string>{294,227}</string>
            </dict>
            <key>zhas-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,294},{284,143}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,68},{284,143}}</string>
                <key>sourceSize</key>
                <string>{294,227}</string>
            </dict>
            <key>zhas-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{294,153}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,73},{294,153}}</string>
                <key>sourceSize</key>
                <string>{294,227}</string>
            </dict>
            <key>zhas-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1275},{181,157}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,95},{181,157}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1129},{223,219}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,65},{223,219}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,809},{231,251}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,61},{231,251}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1040},{235,241}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,64},{235,241}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,578},{231,217}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,75},{231,217}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,0},{423,377}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{423,377}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,377},{259,188}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{259,188}}</string>
                <key>sourceSize</key>
                <string>{277,214}</string>
            </dict>
            <key>zhas-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{431,377}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{431,377}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{431,369}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{431,369}}</string>
                <key>sourceSize</key>
                <string>{441,391}</string>
            </dict>
            <key>zhas-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,753},{376,251}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,251}}</string>
                <key>sourceSize</key>
                <string>{382,251}</string>
            </dict>
            <key>zhas-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,377},{376,251}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{376,251}}</string>
                <key>sourceSize</key>
                <string>{382,251}</string>
            </dict>
            <key>zhas-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1009},{370,247}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{370,247}}</string>
                <key>sourceSize</key>
                <string>{382,251}</string>
            </dict>
            <key>zhas-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1379},{309,92}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{309,92}}</string>
                <key>sourceSize</key>
                <string>{309,120}</string>
            </dict>
            <key>zhas-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,849},{283,120}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{283,120}}</string>
                <key>sourceSize</key>
                <string>{309,120}</string>
            </dict>
            <key>zhas-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1009},{261,120}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{261,120}}</string>
                <key>sourceSize</key>
                <string>{309,120}</string>
            </dict>
            <key>zhas-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1270},{154,195}}</string>
                <key>offset</key>
                <string>{14,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{154,195}}</string>
                <key>sourceSize</key>
                <string>{294,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangXingCai_e.pvr.ccz</string>
            <key>size</key>
            <string>{1014,1471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bed6dece5d976bf8086761f0803b68c8:f09ae4788cda0094531489f7e9e50f9c:69390587e7a512fbaba165bcab4feef9$</string>
            <key>textureFileName</key>
            <string>ZhangXingCai_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
