<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zjdger-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,555},{63,50}}</string>
                <key>offset</key>
                <string>{65,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,38},{63,50}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>zjdger-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,873},{61,84}}</string>
                <key>offset</key>
                <string>{62,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{61,84}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>zjdger-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,957},{83,62}}</string>
                <key>offset</key>
                <string>{60,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,8},{83,62}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>zjdger-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,803},{97,70}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{97,70}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>zjdger-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,873},{35,40}}</string>
                <key>offset</key>
                <string>{64,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,78},{35,40}}</string>
                <key>sourceSize</key>
                <string>{205,118}</string>
            </dict>
            <key>zjdger-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,892},{183,116}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{183,116}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{184,220}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{184,220}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{190,216}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{190,216}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,238}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,29},{188,238}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,242},{194,204}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{194,204}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{188,224}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,43},{188,224}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{166,242}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,16},{166,242}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{195,116}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,21},{195,116}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,898},{199,110}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{199,110}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,612},{191,104}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,32},{191,104}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,195},{179,94}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{179,94}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,804},{179,88}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,49},{179,88}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,374},{181,86}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,51},{181,86}}</string>
                <key>sourceSize</key>
                <string>{209,144}</string>
            </dict>
            <key>zjdger-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,612},{180,192}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,75},{180,192}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
            <key>zjdger-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,446},{166,196}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,63},{166,196}}</string>
                <key>sourceSize</key>
                <string>{230,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangJiao_e.pvr.ccz</string>
            <key>size</key>
            <string>{478,1019}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0062b2f9087d110f8f010b99b8286be3:bca2fa442602dac4875b94c0e554e332:d1cbc3f14efcf0367bbf376d23ce383c$</string>
            <key>textureFileName</key>
            <string>ZhangJiao_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
