<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zf_es-补间 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,484},{169,69}}</string>
                <key>offset</key>
                <string>{53,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,56},{169,69}}</string>
                <key>sourceSize</key>
                <string>{295,203}</string>
            </dict>
            <key>zf_es-补间 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1394},{179,160}}</string>
                <key>offset</key>
                <string>{57,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,59},{179,160}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1244},{221,202}}</string>
                <key>offset</key>
                <string>{-28,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,58},{221,202}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,713},{255,262}}</string>
                <key>offset</key>
                <string>{-57,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{255,262}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,972},{205,272}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,24},{205,272}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{219,282}}</string>
                <key>offset</key>
                <string>{-36,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,18},{219,282}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1593},{231,236}}</string>
                <key>offset</key>
                <string>{-46,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,41},{231,236}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1239},{245,248}}</string>
                <key>offset</key>
                <string>{-54,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,34},{245,248}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1227},{273,130}}</string>
                <key>offset</key>
                <string>{-1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,105},{273,130}}</string>
                <key>sourceSize</key>
                <string>{389,278}</string>
            </dict>
            <key>zf_es-补间 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1266},{269,128}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,101},{269,128}}</string>
                <key>sourceSize</key>
                <string>{389,278}</string>
            </dict>
            <key>zf_es-补间 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{389,252}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{389,252}}</string>
                <key>sourceSize</key>
                <string>{389,278}</string>
            </dict>
            <key>zf_es-补间 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,256},{228,122}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,57},{228,122}}</string>
                <key>sourceSize</key>
                <string>{304,216}</string>
            </dict>
            <key>zf_es-补间 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,0},{381,256}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,29},{381,256}}</string>
                <key>sourceSize</key>
                <string>{405,300}</string>
            </dict>
            <key>zf_es-补间 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,281},{251,172}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,86},{251,172}}</string>
                <key>sourceSize</key>
                <string>{405,300}</string>
            </dict>
            <key>zf_es-补间 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{263,329}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,20},{263,329}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{281,251}}</string>
                <key>offset</key>
                <string>{49,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,65},{281,251}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1465},{229,215}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,107},{229,215}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1394},{187,145}}</string>
                <key>offset</key>
                <string>{45,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,141},{187,145}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,515},{313,297}}</string>
                <key>offset</key>
                <string>{-31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{313,297}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,256},{319,301}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{319,301}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,557},{313,295}}</string>
                <key>offset</key>
                <string>{-28,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,14},{313,295}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{263,329}}</string>
                <key>offset</key>
                <string>{41,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,20},{263,329}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,1694},{222,147}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{222,147}}</string>
                <key>sourceSize</key>
                <string>{298,207}</string>
            </dict>
            <key>zf_es-补间 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{281,251}}</string>
                <key>offset</key>
                <string>{49,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,65},{281,251}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1465},{229,215}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,107},{229,215}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1394},{187,145}}</string>
                <key>offset</key>
                <string>{45,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,141},{187,145}}</string>
                <key>sourceSize</key>
                <string>{409,349}</string>
            </dict>
            <key>zf_es-补间 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,852},{280,240}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{280,240}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1357},{236,246}}</string>
                <key>offset</key>
                <string>{-28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,45},{236,246}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,453},{248,260}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,42},{248,260}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,975},{256,264}}</string>
                <key>offset</key>
                <string>{-31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{256,264}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1031},{196,278}}</string>
                <key>offset</key>
                <string>{-61,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{196,278}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1092},{174,276}}</string>
                <key>offset</key>
                <string>{-41,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,46},{174,276}}</string>
                <key>sourceSize</key>
                <string>{318,340}</string>
            </dict>
            <key>zf_es-补间 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1484},{229,183}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{229,183}}</string>
                <key>sourceSize</key>
                <string>{297,205}</string>
            </dict>
            <key>zf_es-补间 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1593},{243,196}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{243,196}}</string>
                <key>sourceSize</key>
                <string>{299,206}</string>
            </dict>
            <key>zf_es-补间 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1694},{159,130}}</string>
                <key>offset</key>
                <string>{83,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,94},{159,130}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,653},{171,142}}</string>
                <key>offset</key>
                <string>{88,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,91},{171,142}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1667},{167,176}}</string>
                <key>offset</key>
                <string>{105,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,76},{167,176}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
            <key>zf_es-补间 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,824},{141,148}}</string>
                <key>offset</key>
                <string>{105,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,91},{141,148}}</string>
                <key>sourceSize</key>
                <string>{409,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhangFei_e.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1841}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd92693d3ab08940c42bdc9f7998698:b039eccb9c8a0c3d64698bfee232dfa6:316c03626162baa9d0b0ec8bac2e06fb$</string>
            <key>textureFileName</key>
            <string>ZhangFei_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
