<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zyue1-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{397,278}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{397,278}}</string>
                <key>sourceSize</key>
                <string>{429,284}</string>
            </dict>
            <key>zyue1-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{411,260}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{411,260}}</string>
                <key>sourceSize</key>
                <string>{429,284}</string>
            </dict>
            <key>zyue1-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{192,220}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,19},{192,220}}</string>
                <key>sourceSize</key>
                <string>{224,250}</string>
            </dict>
            <key>zyue1-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,832},{206,240}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{206,240}}</string>
                <key>sourceSize</key>
                <string>{224,250}</string>
            </dict>
            <key>zyue1-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,832},{208,238}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{208,238}}</string>
                <key>sourceSize</key>
                <string>{224,250}</string>
            </dict>
            <key>zyue1-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,864},{178,108}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{178,108}}</string>
                <key>sourceSize</key>
                <string>{224,250}</string>
            </dict>
            <key>zyue1-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,282},{76,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,105}}</string>
                <key>sourceSize</key>
                <string>{78,105}</string>
            </dict>
            <key>zyue1-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,468},{302,283}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{302,283}}</string>
                <key>sourceSize</key>
                <string>{310,291}</string>
            </dict>
            <key>zyue1-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,579},{284,253}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{284,253}}</string>
                <key>sourceSize</key>
                <string>{292,261}</string>
            </dict>
            <key>zyue1-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,538},{257,209}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{257,209}}</string>
                <key>sourceSize</key>
                <string>{267,215}</string>
            </dict>
            <key>zyue1-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,220},{248,184}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{248,184}}</string>
                <key>sourceSize</key>
                <string>{256,194}</string>
            </dict>
            <key>zyue1-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,538},{136,127}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{136,127}}</string>
                <key>sourceSize</key>
                <string>{160,147}</string>
            </dict>
            <key>zyue1-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,751},{113,121}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{113,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>zyue1-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,282},{324,297}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{324,297}}</string>
                <key>sourceSize</key>
                <string>{324,299}</string>
            </dict>
            <key>zyue1-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,751},{304,305}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{304,305}}</string>
                <key>sourceSize</key>
                <string>{308,305}</string>
            </dict>
            <key>zyue1-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,751},{178,160}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{178,160}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>zyue1-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,911},{175,158}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,158}}</string>
                <key>sourceSize</key>
                <string>{183,158}</string>
            </dict>
            <key>zyue1-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,0},{407,282}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,282}}</string>
                <key>sourceSize</key>
                <string>{429,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhouYu_e.pvr.ccz</string>
            <key>size</key>
            <string>{1023,1079}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc0eb5ddd0eac120b06141b509c1e52:293ba94ba4be875987bf8030b4ff57b1:dc9488aa33feb64cf2d1b067f00d477b$</string>
            <key>textureFileName</key>
            <string>ZhouYu_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
