<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhoutaizong-Ldabi .png</key>
            <dict>
                <key>frame</key>
                <string>{{221,130},{38,45}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{38,45}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zhoutaizong-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,54},{21,18}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{21,18}}</string>
                <key>sourceSize</key>
                <string>{43,32}</string>
            </dict>
            <key>zhoutaizong-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,130},{36,38}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{36,38}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>zhoutaizong-Lkuajia.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,107},{29,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>zhoutaizong-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,154},{18,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{18,18}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>zhoutaizong-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,109},{19,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,25}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>zhoutaizong-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,128},{23,19}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{23,19}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>zhoutaizong-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,133},{28,37}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{28,37}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>zhoutaizong-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,75},{19,18}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{19,18}}</string>
                <key>sourceSize</key>
                <string>{35,30}</string>
            </dict>
            <key>zhoutaizong-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,54},{36,31}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{36,31}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>zhoutaizong-Rkuajia.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,147},{19,19}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{19,19}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>zhoutaizong-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,156},{19,16}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{19,16}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>zhoutaizong-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,131},{23,21}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{23,21}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>zhoutaizong-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,94},{22,15}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{22,15}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>zhoutaizong-dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,63},{64,67}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{64,67}}</string>
                <key>sourceSize</key>
                <string>{74,87}</string>
            </dict>
            <key>zhoutaizong-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,130},{50,36}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{50,36}}</string>
                <key>sourceSize</key>
                <string>{64,46}</string>
            </dict>
            <key>zhoutaizong-piaodai.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,106},{25,21}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,21}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>zhoutaizong-piaodai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,106},{39,27}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>zhoutaizong-piaodai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,130},{46,35}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{46,35}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>zhoutaizong-piaodai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,85},{32,22}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,22}}</string>
                <key>sourceSize</key>
                <string>{40,26}</string>
            </dict>
            <key>zhoutaizong-pifeng .png</key>
            <dict>
                <key>frame</key>
                <string>{{301,0},{61,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{61,65}}</string>
                <key>sourceSize</key>
                <string>{77,83}</string>
            </dict>
            <key>zhoutaizong-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{71,52}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{71,52}}</string>
                <key>sourceSize</key>
                <string>{81,70}</string>
            </dict>
            <key>zhoutaizong-qiang .png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{171,172}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{171,172}}</string>
                <key>sourceSize</key>
                <string>{183,194}</string>
            </dict>
            <key>zhoutaizong-qiangying.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,136},{28,27}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{28,27}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>zhoutaizong-qiangying1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,128},{47,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{47,28}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>zhoutaizong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,61},{54,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{54,67}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zhoutaizong-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,63},{54,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{54,67}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zhoutaizong-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,0},{54,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{54,67}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zhoutaizong-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,63},{54,67}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{54,67}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zhoutaizong-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,54},{60,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{60,52}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>zhoutaizong-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,0},{130,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{130,63}}</string>
                <key>sourceSize</key>
                <string>{154,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhouTai.pvr.ccz</string>
            <key>size</key>
            <string>{511,172}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d1343efa1774e04d2f556c0ad4843fb:9648a479af4cda9018868c80e220021e:46448c64725154902ff79af3b23619af$</string>
            <key>textureFileName</key>
            <string>ZhouTai.pvr.ccz</string>
        </dict>
    </dict>
</plist>
