<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhoutd-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{305,244}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{305,244}}</string>
                <key>sourceSize</key>
                <string>{311,288}</string>
            </dict>
            <key>zhoutd-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1689},{212,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,217}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>zhoutd-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1723},{166,197}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{166,197}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>zhoutd-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1901},{112,167}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,5},{112,167}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>zhoutd-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1901},{149,129}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{149,129}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1889},{143,149}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{143,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,231},{139,149}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{139,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1723},{137,149}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{137,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,841},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,380},{137,151}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,531},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,151}</string>
            </dict>
            <key>zhoutd-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{307,244}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{307,244}}</string>
                <key>sourceSize</key>
                <string>{311,288}</string>
            </dict>
            <key>zhoutd-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{301,228}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,49},{301,228}}</string>
                <key>sourceSize</key>
                <string>{311,288}</string>
            </dict>
            <key>zhoutd-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1158},{295,237}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{295,237}}</string>
                <key>sourceSize</key>
                <string>{299,243}</string>
            </dict>
            <key>zhoutd-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1221},{293,243}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{293,243}}</string>
                <key>sourceSize</key>
                <string>{299,243}</string>
            </dict>
            <key>zhoutd-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1464},{225,243}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{225,243}}</string>
                <key>sourceSize</key>
                <string>{299,243}</string>
            </dict>
            <key>zhoutd-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{325,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{325,91}}</string>
                <key>sourceSize</key>
                <string>{325,131}</string>
            </dict>
            <key>zhoutd-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,625},{305,115}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{305,115}}</string>
                <key>sourceSize</key>
                <string>{325,131}</string>
            </dict>
            <key>zhoutd-Tween 36.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,0},{231,121}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{231,121}}</string>
                <key>sourceSize</key>
                <string>{325,131}</string>
            </dict>
            <key>zhoutd-Tween 37.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1592},{231,131}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,0},{231,131}}</string>
                <key>sourceSize</key>
                <string>{325,131}</string>
            </dict>
            <key>zhoutd-Tween 38.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1395},{197,284}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,29},{197,284}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 39.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{205,296}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{205,296}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,990},{263,164}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,84},{263,164}}</string>
                <key>sourceSize</key>
                <string>{311,288}</string>
            </dict>
            <key>zhoutd-Tween 40.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,211},{207,308}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{207,308}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 41.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,740},{207,304}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{207,304}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 42.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,947},{211,300}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{211,300}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 43.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,91},{209,316}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{209,316}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 44.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,0},{211,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,318}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 45.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,418},{207,306}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{207,306}}</string>
                <key>sourceSize</key>
                <string>{211,318}</string>
            </dict>
            <key>zhoutd-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1253},{174,169}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{174,169}}</string>
                <key>sourceSize</key>
                <string>{198,191}</string>
            </dict>
            <key>zhoutd-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1422},{189,195}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,195}}</string>
                <key>sourceSize</key>
                <string>{195,207}</string>
            </dict>
            <key>zhoutd-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,680},{161,149}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{161,149}}</string>
                <key>sourceSize</key>
                <string>{191,193}</string>
            </dict>
            <key>zhoutd-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1828},{212,111}}</string>
                <key>offset</key>
                <string>{0,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{212,111}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
            <key>zhoutd-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1617},{212,211}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{212,211}}</string>
                <key>sourceSize</key>
                <string>{212,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhouTai_e.pvr.ccz</string>
            <key>size</key>
            <string>{766,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:536d97d21c41231e3a97e46f69d050fe:65759a4a58fcfe129ea3f6d75f7a6160:66399967b4bc66de1b0ad305de370d88$</string>
            <key>textureFileName</key>
            <string>ZhouTai_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
