<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyuzong-Ldabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,325},{27,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{27,38}}</string>
                <key>sourceSize</key>
                <string>{41,44}</string>
            </dict>
            <key>zhouyuzong-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,220},{21,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{21,23}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>zhouyuzong-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,288},{37,28}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,28}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>zhouyuzong-Lshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,496},{23,22}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{23,22}}</string>
                <key>sourceSize</key>
                <string>{35,40}</string>
            </dict>
            <key>zhouyuzong-Lxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,243},{23,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,21}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>zhouyuzong-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,470},{26,29}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{26,29}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>zhouyuzong-Rdabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{17,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{17,24}}</string>
                <key>sourceSize</key>
                <string>{27,30}</string>
            </dict>
            <key>zhouyuzong-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{16,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{16,17}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>zhouyuzong-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,154},{35,20}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{35,20}}</string>
                <key>sourceSize</key>
                <string>{43,38}</string>
            </dict>
            <key>zhouyuzong-Rshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,113},{17,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{17,18}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>zhouyuzong-Rxiaobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,679},{25,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{25,27}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>zhouyuzong-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,266},{17,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{17,22}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>zhouyuzong-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{111,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,84}}</string>
                <key>sourceSize</key>
                <string>{111,86}</string>
            </dict>
            <key>zhouyuzong-fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,189},{31,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{31,20}}</string>
                <key>sourceSize</key>
                <string>{37,22}</string>
            </dict>
            <key>zhouyuzong-gongji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{107,73}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{107,73}}</string>
                <key>sourceSize</key>
                <string>{119,75}</string>
            </dict>
            <key>zhouyuzong-kua.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,363},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,35}}</string>
                <key>sourceSize</key>
                <string>{45,35}</string>
            </dict>
            <key>zhouyuzong-pifeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,519},{62,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,11},{62,50}}</string>
                <key>sourceSize</key>
                <string>{92,74}</string>
            </dict>
            <key>zhouyuzong-pifeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{81,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,54}}</string>
                <key>sourceSize</key>
                <string>{81,54}</string>
            </dict>
            <key>zhouyuzong-qunbai.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,679},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>zhouyuzong-shouji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,209},{106,74}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{122,76}</string>
            </dict>
            <key>zhouyuzong-siwang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{92,60}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{92,60}}</string>
                <key>sourceSize</key>
                <string>{114,76}</string>
            </dict>
            <key>zhouyuzong-tou2 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,283},{99,73}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{99,73}}</string>
                <key>sourceSize</key>
                <string>{105,73}</string>
            </dict>
            <key>zhouyuzong-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,470},{22,32}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{22,32}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>zhouyuzong-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{22,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{22,34}}</string>
                <key>sourceSize</key>
                <string>{34,50}</string>
            </dict>
            <key>zhouyuzong-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,84},{19,29}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{19,29}}</string>
                <key>sourceSize</key>
                <string>{31,47}</string>
            </dict>
            <key>zhouyuzong-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,408},{31,34}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{31,34}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>zhouyuzong-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,627},{55,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{55,52}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>zhouyuzong-toufa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,439},{45,80}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{45,80}}</string>
                <key>sourceSize</key>
                <string>{65,92}</string>
            </dict>
            <key>zhouyuzong-wuqi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,519},{61,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,183}}</string>
                <key>sourceSize</key>
                <string>{61,183}</string>
            </dict>
            <key>zhouyuzong-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,569},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>zhouyuzong-yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{108,52}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{108,52}}</string>
                <key>sourceSize</key>
                <string>{150,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhouYu.pvr.ccz</string>
            <key>size</key>
            <string>{127,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc5fb1613de86f8500653b75f97d881e:ffa5be673359dd28466bc9626d143e37:2708a0ed4cfb318e1ecb0910a9e8f70d$</string>
            <key>textureFileName</key>
            <string>ZhouYu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
