<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zgg234-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{227,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{227,137}}</string>
                <key>sourceSize</key>
                <string>{227,141}</string>
            </dict>
            <key>zgg234-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{156,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,95}}</string>
                <key>sourceSize</key>
                <string>{156,97}</string>
            </dict>
            <key>zgg234-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,480},{164,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,71}}</string>
                <key>sourceSize</key>
                <string>{164,71}</string>
            </dict>
            <key>zgg234-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,733},{135,152}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{135,152}}</string>
                <key>sourceSize</key>
                <string>{139,162}</string>
            </dict>
            <key>zgg234-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{170,158}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{170,158}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>zgg234-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{231,155}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,155}}</string>
                <key>sourceSize</key>
                <string>{231,161}</string>
            </dict>
            <key>zgg234-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{224,188}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{224,188}}</string>
                <key>sourceSize</key>
                <string>{248,196}</string>
            </dict>
            <key>zgg234-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,768},{102,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,116}}</string>
                <key>sourceSize</key>
                <string>{102,118}</string>
            </dict>
            <key>zgg234-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,644},{92,124}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,124}}</string>
                <key>sourceSize</key>
                <string>{94,124}</string>
            </dict>
            <key>zgg234-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,884},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,102}}</string>
                <key>sourceSize</key>
                <string>{106,102}</string>
            </dict>
            <key>zgg234-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,989},{109,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,105}}</string>
                <key>sourceSize</key>
                <string>{109,105}</string>
            </dict>
            <key>zgg234-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{121,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,130}}</string>
                <key>sourceSize</key>
                <string>{121,130}</string>
            </dict>
            <key>zgg234-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,989},{114,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{118,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuGeGuo_e.pvr.ccz</string>
            <key>size</key>
            <string>{254,1103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7449107dcbe0d64e0842f7edf01095a2:14fda3936aa511a0a2263d8b49d92368:ef5f43e5ec70f49b3123584974121c85$</string>
            <key>textureFileName</key>
            <string>ZhuGeGuo_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
