<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZhuGeLiangzong-Ldatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,101},{29,26}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{29,26}}</string>
                <key>sourceSize</key>
                <string>{43,36}</string>
            </dict>
            <key>ZhuGeLiangzong-Ljiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,101},{29,26}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{43,30}</string>
            </dict>
            <key>ZhuGeLiangzong-Lshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,99},{24,26}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{24,26}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>ZhuGeLiangzong-Lshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,99},{27,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{27,28}}</string>
                <key>sourceSize</key>
                <string>{31,36}</string>
            </dict>
            <key>ZhuGeLiangzong-Lshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{33,21}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{33,21}}</string>
                <key>sourceSize</key>
                <string>{35,33}</string>
            </dict>
            <key>ZhuGeLiangzong-Lshou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,76},{32,25}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,25}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>ZhuGeLiangzong-Lshou5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,104},{22,19}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{22,19}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>ZhuGeLiangzong-Lxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,104},{31,23}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{31,23}}</string>
                <key>sourceSize</key>
                <string>{47,27}</string>
            </dict>
            <key>ZhuGeLiangzong-Rdatui.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,103},{19,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{19,20}}</string>
                <key>sourceSize</key>
                <string>{29,22}</string>
            </dict>
            <key>ZhuGeLiangzong-Rjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,89},{34,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{34,20}}</string>
                <key>sourceSize</key>
                <string>{46,24}</string>
            </dict>
            <key>ZhuGeLiangzong-Rshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,76},{19,25}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,25}}</string>
                <key>sourceSize</key>
                <string>{27,35}</string>
            </dict>
            <key>ZhuGeLiangzong-Rshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,70},{19,17}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{19,17}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>ZhuGeLiangzong-Rshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,106},{21,22}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{21,22}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>ZhuGeLiangzong-Rxiaotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,83},{20,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,14}}</string>
                <key>sourceSize</key>
                <string>{26,16}</string>
            </dict>
            <key>ZhuGeLiangzong-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,75},{14,42}}</string>
                <key>offset</key>
                <string>{29,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,27},{14,42}}</string>
                <key>sourceSize</key>
                <string>{76,72}</string>
            </dict>
            <key>ZhuGeLiangzong-daizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,47},{57,23}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{57,23}}</string>
                <key>sourceSize</key>
                <string>{73,35}</string>
            </dict>
            <key>ZhuGeLiangzong-daizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,91},{13,24}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{13,24}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>ZhuGeLiangzong-daizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,106},{26,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{26,16}}</string>
                <key>sourceSize</key>
                <string>{38,22}</string>
            </dict>
            <key>ZhuGeLiangzong-daizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{15,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{15,23}}</string>
                <key>sourceSize</key>
                <string>{21,27}</string>
            </dict>
            <key>ZhuGeLiangzong-fubu.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,47},{36,18}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{36,18}}</string>
                <key>sourceSize</key>
                <string>{68,24}</string>
            </dict>
            <key>ZhuGeLiangzong-houbai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,91},{13,32}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{13,32}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>ZhuGeLiangzong-houbai2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,70},{39,29}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{39,29}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>ZhuGeLiangzong-houbai2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,77},{29,27}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{29,27}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>ZhuGeLiangzong-houbai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,0},{75,47}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{75,47}}</string>
                <key>sourceSize</key>
                <string>{89,61}</string>
            </dict>
            <key>ZhuGeLiangzong-shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{109,52}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{109,52}}</string>
                <key>sourceSize</key>
                <string>{143,94}</string>
            </dict>
            <key>ZhuGeLiangzong-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,0},{76,83}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{76,83}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>ZhuGeLiangzong-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,109},{16,32}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{16,32}}</string>
                <key>sourceSize</key>
                <string>{32,86}</string>
            </dict>
            <key>ZhuGeLiangzong-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,76},{15,23}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{15,23}}</string>
                <key>sourceSize</key>
                <string>{25,45}</string>
            </dict>
            <key>ZhuGeLiangzong-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,106},{21,28}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{21,28}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>ZhuGeLiangzong-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,74},{19,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{19,51}}</string>
                <key>sourceSize</key>
                <string>{21,61}</string>
            </dict>
            <key>ZhuGeLiangzong-tougong.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{77,84}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{77,84}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>ZhuGeLiangzong-toushou.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,0},{75,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,84}}</string>
                <key>sourceSize</key>
                <string>{79,84}</string>
            </dict>
            <key>ZhuGeLiangzong-tousi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{74,83}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{74,83}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>ZhuGeLiangzong-wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{113,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{113,54}}</string>
                <key>sourceSize</key>
                <string>{121,66}</string>
            </dict>
            <key>ZhuGeLiangzong-xiabai1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,77},{50,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{50,31}}</string>
                <key>sourceSize</key>
                <string>{66,41}</string>
            </dict>
            <key>ZhuGeLiangzong-xiabai2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,104},{38,23}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{38,23}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>ZhuGeLiangzong-xiaobai3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,75},{36,16}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{36,16}}</string>
                <key>sourceSize</key>
                <string>{54,32}</string>
            </dict>
            <key>ZhuGeLiangzong-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,74},{65,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{65,53}}</string>
                <key>sourceSize</key>
                <string>{83,61}</string>
            </dict>
            <key>ZhuGeLiangzong-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,77},{45,27}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{45,27}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuGeLiang.pvr.ccz</string>
            <key>size</key>
            <string>{522,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f412ca16be37220600d0169d63b382:4461ab959a3b83b1315d33c068184446:6da04732beba09e1bcad23f40c0d56fe$</string>
            <key>textureFileName</key>
            <string>ZhuGeLiang.pvr.ccz</string>
        </dict>
    </dict>
</plist>
