<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zgler3-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,513},{299,264}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,264}}</string>
                <key>sourceSize</key>
                <string>{301,270}</string>
            </dict>
            <key>zgler3-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{297,258}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{297,258}}</string>
                <key>sourceSize</key>
                <string>{301,270}</string>
            </dict>
            <key>zgler3-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1035},{289,264}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{289,264}}</string>
                <key>sourceSize</key>
                <string>{301,270}</string>
            </dict>
            <key>zgler3-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1315},{235,166}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,66},{235,166}}</string>
                <key>sourceSize</key>
                <string>{301,270}</string>
            </dict>
            <key>zgler3-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1537},{137,255}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{137,255}}</string>
                <key>sourceSize</key>
                <string>{137,261}</string>
            </dict>
            <key>zgler3-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1537},{121,247}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{121,247}}</string>
                <key>sourceSize</key>
                <string>{121,253}</string>
            </dict>
            <key>zgler3-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,0},{192,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{192,189}}</string>
                <key>sourceSize</key>
                <string>{194,189}</string>
            </dict>
            <key>zgler3-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,189},{192,172}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{192,172}}</string>
                <key>sourceSize</key>
                <string>{200,202}</string>
            </dict>
            <key>zgler3-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,563},{221,201}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,51},{221,201}}</string>
                <key>sourceSize</key>
                <string>{299,253}</string>
            </dict>
            <key>zgler3-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,784},{210,200}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{210,200}}</string>
                <key>sourceSize</key>
                <string>{246,212}</string>
            </dict>
            <key>zgler3-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,361},{202,202}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{202,202}}</string>
                <key>sourceSize</key>
                <string>{212,206}</string>
            </dict>
            <key>zgler3-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1299},{271,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,238}}</string>
                <key>sourceSize</key>
                <string>{271,238}</string>
            </dict>
            <key>zgler3-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{313,269}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,269}}</string>
                <key>sourceSize</key>
                <string>{321,269}</string>
            </dict>
            <key>zgler3-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,269},{302,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{302,244}}</string>
                <key>sourceSize</key>
                <string>{304,244}</string>
            </dict>
            <key>zgler3-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,994},{164,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,195}}</string>
                <key>sourceSize</key>
                <string>{164,195}</string>
            </dict>
            <key>zgler3-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1158},{157,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,181}}</string>
                <key>sourceSize</key>
                <string>{159,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuGeLiang_e.pvr.ccz</string>
            <key>size</key>
            <string>{506,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a738bbf7e02835302cbcef0962bcee6:29963dffc2c73da40a3d77a3176ceedf:7066c94305b5576e0ed39f70b6911ee0$</string>
            <key>textureFileName</key>
            <string>ZhuGeLiang_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
