<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeguozong-bang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{23,84}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{23,84}}</string>
                <key>sourceSize</key>
                <string>{27,94}</string>
            </dict>
            <key>zhugeguozong-guajian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,115},{11,18}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{11,18}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>zhugeguozong-guajian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,106},{21,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>zhugeguozong-quan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,51},{32,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>zhugeguozong-qun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,76},{35,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{35,33}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>zhugeguozong-qun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,76},{39,20}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,3},{39,20}}</string>
                <key>sourceSize</key>
                <string>{65,24}</string>
            </dict>
            <key>zhugeguozong-qun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,76},{45,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{45,20}}</string>
                <key>sourceSize</key>
                <string>{67,24}</string>
            </dict>
            <key>zhugeguozong-qun5.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,108},{19,19}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,19}}</string>
                <key>sourceSize</key>
                <string>{21,25}</string>
            </dict>
            <key>zhugeguozong-shen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,76},{38,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{38,35}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>zhugeguozong-shen2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,17},{29,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,23}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>zhugeguozong-tou_1 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,0},{70,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>zhugeguozong-tou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{70,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{70,74}}</string>
                <key>sourceSize</key>
                <string>{84,96}</string>
            </dict>
            <key>zhugeguozong-tou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{71,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{71,76}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>zhugeguozong-tou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{71,76}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{71,76}}</string>
                <key>sourceSize</key>
                <string>{85,96}</string>
            </dict>
            <key>zhugeguozong-toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,113},{23,14}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{23,14}}</string>
                <key>sourceSize</key>
                <string>{39,24}</string>
            </dict>
            <key>zhugeguozong-toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,113},{17,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{17,14}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>zhugeguozong-toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,109},{29,18}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{29,18}}</string>
                <key>sourceSize</key>
                <string>{35,24}</string>
            </dict>
            <key>zhugeguozong-toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,82},{18,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{18,17}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>zhugeguozong-toufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,76},{36,37}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{36,37}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>zhugeguozong-toufa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{40,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>zhugeguozong-toufa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,114},{13,17}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{13,17}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>zhugeguozong-toufa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,106},{16,21}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,21}}</string>
                <key>sourceSize</key>
                <string>{16,23}</string>
            </dict>
            <key>zhugeguozong-toufa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,115},{17,9}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{17,9}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>zhugeguozong-yingyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,74},{68,32}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{68,32}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>zhugeguozong-youshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,82},{17,18}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{17,18}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>zhugeguozong-youshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,74},{27,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{27,35}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>zhugeguozong-youshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,0},{25,17}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{25,17}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>zhugeguozong-youtui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,106},{19,13}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{19,13}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>zhugeguozong-youtui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,74},{25,34}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{33,42}</string>
            </dict>
            <key>zhugeguozong-youtui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,33},{18,18}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{18,18}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>zhugeguozong-zuoshou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,0},{18,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,22}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>zhugeguozong-zuoshou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,106},{27,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{27,21}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>zhugeguozong-zuoshou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,99},{17,15}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{17,15}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>zhugeguozong-zuotui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,114},{13,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{13,24}}</string>
                <key>sourceSize</key>
                <string>{21,34}</string>
            </dict>
            <key>zhugeguozong-zuotui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,111},{16,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{16,32}}</string>
                <key>sourceSize</key>
                <string>{22,36}</string>
            </dict>
            <key>zhugeguozong-zuotui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,18},{22,15}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{22,15}}</string>
                <key>sourceSize</key>
                <string>{38,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuGeGuo.pvr.ccz</string>
            <key>size</key>
            <string>{352,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d2b0573f7bfea028edf16372cfd71c:57b6daea8b23449ec089261f71aa991e:224224933e391a3c79f505d05916593b$</string>
            <key>textureFileName</key>
            <string>ZhuGeGuo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
