<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zrfrz-L_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,32},{17,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{17,24}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>zrfrz-L_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,420},{23,25}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{23,25}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>zrfrz-L_feilun.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{66,52}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{66,52}}</string>
                <key>sourceSize</key>
                <string>{90,68}</string>
            </dict>
            <key>zrfrz-L_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,420},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,16}}</string>
                <key>sourceSize</key>
                <string>{20,16}</string>
            </dict>
            <key>zrfrz-L_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,363},{12,13}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,13}}</string>
                <key>sourceSize</key>
                <string>{18,15}</string>
            </dict>
            <key>zrfrz-L_shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,52},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>zrfrz-L_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,262},{22,30}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{22,30}}</string>
                <key>sourceSize</key>
                <string>{28,50}</string>
            </dict>
            <key>zrfrz-L_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,440},{28,26}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,23},{28,26}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>zrfrz-L_toufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{42,62}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{42,62}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>zrfrz-L_toufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,109},{38,88}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,88}}</string>
                <key>sourceSize</key>
                <string>{60,98}</string>
            </dict>
            <key>zrfrz-L_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,83},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>zrfrz-R_dabi.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,420},{20,23}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{20,23}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>zrfrz-R_datui.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,56},{17,21}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{17,21}}</string>
                <key>sourceSize</key>
                <string>{25,29}</string>
            </dict>
            <key>zrfrz-R_feilun.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,375},{52,45}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{52,45}}</string>
                <key>sourceSize</key>
                <string>{74,63}</string>
            </dict>
            <key>zrfrz-R_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,363},{24,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,12}}</string>
                <key>sourceSize</key>
                <string>{24,12}</string>
            </dict>
            <key>zrfrz-R_shou.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,443},{15,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{15,14}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>zrfrz-R_shoubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,442},{26,28}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{26,28}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>zrfrz-R_toufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{28,43}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{28,43}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>zrfrz-R_toufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,197},{29,38}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{29,38}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>zrfrz-R_tui.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,0},{18,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,32}}</string>
                <key>sourceSize</key>
                <string>{18,32}</string>
            </dict>
            <key>zrfrz-fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,348},{27,20}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,20}}</string>
                <key>sourceSize</key>
                <string>{31,20}</string>
            </dict>
            <key>zrfrz-gongji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{88,75}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{88,75}}</string>
                <key>sourceSize</key>
                <string>{106,81}</string>
            </dict>
            <key>zrfrz-qunbai_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,335},{29,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{29,28}</string>
            </dict>
            <key>zrfrz-qunbai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,443},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,17}}</string>
                <key>sourceSize</key>
                <string>{17,17}</string>
            </dict>
            <key>zrfrz-shouji.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,275},{88,73}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{88,73}}</string>
                <key>sourceSize</key>
                <string>{106,85}</string>
            </dict>
            <key>zrfrz-siwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{88,73}}</string>
                <key>sourceSize</key>
                <string>{104,83}</string>
            </dict>
            <key>zrfrz-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{88,75}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{88,75}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>zrfrz-xiong.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,226},{37,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,36}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>zrfrz-yao.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,284},{51,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>zrfrz-yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{109,52}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{109,52}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuRongFuRen.pvr.ccz</string>
            <key>size</key>
            <string>{127,471}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a7da2ab7db4bc300e84956420a5d94c:f2b910a871cec5e827dd6baa4215b005:f45605a29e75caf4fafc080b0e706e22$</string>
            <key>textureFileName</key>
            <string>ZhuRongFuRen.pvr.ccz</string>
        </dict>
    </dict>
</plist>
