<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zrfrze-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,0},{110,224}}</string>
                <key>offset</key>
                <string>{-5,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,217},{110,224}}</string>
                <key>sourceSize</key>
                <string>{380,494}</string>
            </dict>
            <key>zrfrze-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,0},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,212},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,0},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,296},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>zrfrze-Tween 15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,212},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>zrfrze-Tween 17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,0},{84,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{84,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>zrfrze-Tween 19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,212},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,0},{272,322}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,131},{272,322}}</string>
                <key>sourceSize</key>
                <string>{380,494}</string>
            </dict>
            <key>zrfrze-Tween 20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,224},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,212},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,0},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,0},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,224},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,212},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,0},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{378,450}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{378,450}}</string>
                <key>sourceSize</key>
                <string>{380,494}</string>
            </dict>
            <key>zrfrze-Tween 30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,224},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,224},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,0},{104,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{378,448}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{378,448}}</string>
                <key>sourceSize</key>
                <string>{380,494}</string>
            </dict>
            <key>zrfrze-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,450}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,450}}</string>
                <key>sourceSize</key>
                <string>{380,494}</string>
            </dict>
            <key>zrfrze-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,212},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,108},{104,108}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>zrfrze-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,104},{108,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{108,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZhuRongFuRen_e.pvr.ccz</string>
            <key>size</key>
            <string>{2038,380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd90fc381765f105466e190780c5a66c:ef0fd733bf2fd2fec21c0d341733f65f:8fd89e98f3519aa1863af74c20fe0519$</string>
            <key>textureFileName</key>
            <string>ZhuRongFuRen_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
