<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zcewr-Tween 1.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,125},{175,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{175,174}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{274,109}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,18},{274,109}}</string>
                <key>sourceSize</key>
                <string>{392,127}</string>
            </dict>
            <key>zcewr-Tween 11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,119}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{384,119}}</string>
                <key>sourceSize</key>
                <string>{392,127}</string>
            </dict>
            <key>zcewr-Tween 12.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{202,125}}</string>
                <key>offset</key>
                <string>{92,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,2},{202,125}}</string>
                <key>sourceSize</key>
                <string>{392,127}</string>
            </dict>
            <key>zcewr-Tween 13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,337},{206,127}}</string>
                <key>offset</key>
                <string>{93,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,0},{206,127}}</string>
                <key>sourceSize</key>
                <string>{392,127}</string>
            </dict>
            <key>zcewr-Tween 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,300},{177,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{177,162}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,333},{155,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{155,156}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,125},{175,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{175,174}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 5.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,317},{177,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{177,162}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 6.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,333},{155,156}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{155,156}}</string>
                <key>sourceSize</key>
                <string>{177,176}</string>
            </dict>
            <key>zcewr-Tween 7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{211,218}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,9},{211,218}}</string>
                <key>sourceSize</key>
                <string>{249,228}</string>
            </dict>
            <key>zcewr-Tween 8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,119},{209,214}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{209,214}}</string>
                <key>sourceSize</key>
                <string>{249,228}</string>
            </dict>
            <key>zcewr-Tween 9.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,109},{211,208}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{211,208}}</string>
                <key>sourceSize</key>
                <string>{249,228}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZuoCi_e.pvr.ccz</string>
            <key>size</key>
            <string>{980,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05864f5cf224d3dc77355d8c20df5d93:e63733ee4579e9eebe5a1785cd9a205b:b427d9eb60e170df47ad966f242797bf$</string>
            <key>textureFileName</key>
            <string>ZuoCi_e.pvr.ccz</string>
        </dict>
    </dict>
</plist>
