<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chouka_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,597},{95,57}}</string>
                <key>offset</key>
                <string>{6,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,246},{95,57}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,436},{161,97}}</string>
                <key>offset</key>
                <string>{5,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,216},{161,97}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,237},{199,119}}</string>
                <key>offset</key>
                <string>{5,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,199},{199,119}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,0},{237,137}}</string>
                <key>offset</key>
                <string>{5,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,182},{237,137}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,702},{275,153}}</string>
                <key>offset</key>
                <string>{5,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,166},{275,153}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,702},{313,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{313,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,702},{333,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{333,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,351},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,702},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,351},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,0},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,702},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,351},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{351,319}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{351,319}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,351},{351,189}}</string>
                <key>offset</key>
                <string>{5,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,130},{351,189}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,0},{351,207}}</string>
                <key>offset</key>
                <string>{5,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,112},{351,207}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,0},{351,203}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,116},{351,203}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,351},{351,237}}</string>
                <key>offset</key>
                <string>{5,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,82},{351,237}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,351},{351,233}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,86},{351,233}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,0},{351,249}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,70},{351,249}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
            <key>chouka_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,702},{203,265}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{203,265}}</string>
                <key>sourceSize</key>
                <string>{363,319}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chouka.png</string>
            <key>size</key>
            <string>{1753,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0a7a35f6c36b5ba283abfbc83179859:57f9dc482f5ab120214e2cb43b05850b:5b7561575c236e3b5218e7e5b8e709b6$</string>
            <key>textureFileName</key>
            <string>chouka.png</string>
        </dict>
    </dict>
</plist>
