<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jxlz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{443,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,321}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{443,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,321}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{443,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{443,321}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,963},{383,321}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{383,321}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,1398},{313,291}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,30},{313,291}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1689},{253,265}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,45},{253,265}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,279},{221,213}}</string>
                <key>offset</key>
                <string>{9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,77},{221,213}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,890},{173,179}}</string>
                <key>offset</key>
                <string>{3,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,98},{173,179}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,492},{211,207}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,77},{211,207}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,699},{195,191}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,88},{195,191}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,0},{279,241}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,76},{279,241}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1567},{307,263}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,56},{307,263}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{323,283}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,38},{323,283}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1063},{335,293}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,28},{335,293}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
            <key>jxlz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1830},{199,139}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,110},{199,139}}</string>
                <key>sourceSize</key>
                <string>{443,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jxlz.png</string>
            <key>size</key>
            <string>{684,1969}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03c0778d64b5bc84c6160deec44861c4:120ed65007274389dcace8938362a1e0:0cdeab70a0f9347453f3ca530edb40d2$</string>
            <key>textureFileName</key>
            <string>jxlz.png</string>
        </dict>
    </dict>
</plist>
