<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LevelUp_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1457},{89,109}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{89,109}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1350},{91,107}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{91,107}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1217},{99,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{99,133}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,673},{101,133}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{101,133}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,401},{103,135}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{103,135}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1084},{99,133}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{99,133}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,945},{99,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{99,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{99,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,536},{101,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{101,137}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{103,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{103,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{105,139}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{105,139}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
            <key>LevelUp_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{105,123}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{137,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LevelUp.png</string>
            <key>size</key>
            <string>{105,1566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8382d7f4cef4b15525552d50d9331459:cea453875004849190986eb529f7ba8c:1d190cc6ff6a11efa42c0d518f30a677$</string>
            <key>textureFileName</key>
            <string>LevelUp.png</string>
        </dict>
    </dict>
</plist>
