<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,500},{19,28}}</string>
                <key>offset</key>
                <string>{-106,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,148},{19,28}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,668},{25,56}}</string>
                <key>offset</key>
                <string>{-102,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,120},{25,56}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1336},{141,84}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,92},{141,84}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1484},{141,108}}</string>
                <key>offset</key>
                <string>{-45,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,68},{141,108}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1624},{141,124}}</string>
                <key>offset</key>
                <string>{-45,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,52},{141,124}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1484},{141,140}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{141,140}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{235,166}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{235,166}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{235,166}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{235,166}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{233,168}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{233,168}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{227,168}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{227,168}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,668},{215,168}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{215,168}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{211,168}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{211,168}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1004},{199,166}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,20},{199,166}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1170},{169,166}}</string>
                <key>offset</key>
                <string>{34,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,20},{169,166}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1336},{161,148}}</string>
                <key>offset</key>
                <string>{30,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,20},{161,148}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1625},{111,96}}</string>
                <key>offset</key>
                <string>{28,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,34},{111,96}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1170},{83,74}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,33},{83,74}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1253},{69,66}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,33},{69,66}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
            <key>lz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1004},{49,48}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,34},{49,48}}</string>
                <key>sourceSize</key>
                <string>{267,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lz.png</string>
            <key>size</key>
            <string>{249,1748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c9691862b61a037cd7076c1b8934d6:0b1a68dd8f19b06a8b0443af5189c3f7:dcc0ac37f63a691cad7784c2b3d08b16$</string>
            <key>textureFileName</key>
            <string>lz.png</string>
        </dict>
    </dict>
</plist>
