<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_halo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{102,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{102,100}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,0},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{104,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{106,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{106,98}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{98,106}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{106,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{106,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{104,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{100,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{98,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{98,102}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>hero_halo_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{94,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{94,104}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_halo.png</string>
            <key>size</key>
            <string>{1018,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a77b64ce143a7810d79cdd4d3f19bb78:b30ef8e893bb9ca3a57c7151d0bebd83:64ce8a85bae789d5aa77da5a363aceaf$</string>
            <key>textureFileName</key>
            <string>hero_halo.png</string>
        </dict>
    </dict>
</plist>
