<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beauty_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{108,95}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{108,95}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,0},{110,93}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{110,93}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,0},{120,89}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{120,89}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{130,97}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{130,97}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{136,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,105}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{134,99}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,99}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
            <key>beauty_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,0},{126,93}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{126,93}}</string>
                <key>sourceSize</key>
                <string>{136,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beauty_eff.png</string>
            <key>size</key>
            <string>{864,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e83cb81275288194d1a896036c684ac:c4c691d5c5f94ddf70d1f3a5d40adda4:ef806cfbc2eb36836ca8b39212a8f0d4$</string>
            <key>textureFileName</key>
            <string>beauty_eff.png</string>
        </dict>
    </dict>
</plist>
