<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{66,55}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{66,55}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,0},{58,61}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{58,61}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,59}}</string>
                <key>offset</key>
                <string>{-15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{66,59}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,0},{72,53}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{72,53}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,0},{84,37}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,37},{84,37}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,39},{92,19}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,52},{92,19}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,37},{88,19}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,54},{88,19}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,0},{78,43}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,53},{78,43}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,0},{78,49}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,53},{78,49}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,0},{68,39}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,55},{68,39}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,0},{74,41}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{74,41}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
            <key>bird_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,0},{74,35}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,42},{74,35}}</string>
                <key>sourceSize</key>
                <string>{134,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird.png</string>
            <key>size</key>
            <string>{721,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7458f8d5b29fe93bd4ca252665f7bc3:2f819672cbfca64cc5905135acbbd389:5af5b3fbab807b4ca11b45d111eeecdf$</string>
            <key>textureFileName</key>
            <string>bird.png</string>
        </dict>
    </dict>
</plist>
