<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1596},{97,65}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>activity_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,985},{105,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>assign_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1534},{95,65}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{95,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>assign_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,1090},{103,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,65}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>bag_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1406},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bag_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1338},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>beauty_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{237,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,147}}</string>
                <key>sourceSize</key>
                <string>{237,147}</string>
            </dict>
            <key>beauty_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-85,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{171,149}</string>
            </dict>
            <key>carbon_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{191,193}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,31},{191,193}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>carbon_eff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,929},{116,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,109}}</string>
                <key>sourceSize</key>
                <string>{116,109}</string>
            </dict>
            <key>carbon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{223,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,177}}</string>
                <key>sourceSize</key>
                <string>{223,177}</string>
            </dict>
            <key>carbon_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-94,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{189,171}</string>
            </dict>
            <key>choose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1398},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>choose_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dailytask_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1498},{100,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>dailytask_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1238},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equip_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1298},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>equip_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1206},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>expedition_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,237},{216,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,154}}</string>
                <key>sourceSize</key>
                <string>{216,154}</string>
            </dict>
            <key>expedition_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-100.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{202,180}</string>
            </dict>
            <key>fire_source.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1661},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>guoguan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{176,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,185}}</string>
                <key>sourceSize</key>
                <string>{176,185}</string>
            </dict>
            <key>guoguan_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-67.5,87.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>head_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,857},{249,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,107}}</string>
                <key>sourceSize</key>
                <string>{249,107}</string>
            </dict>
            <key>hero_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1506},{100,94}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hero_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1138},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>herostar_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,295},{197,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,93}}</string>
                <key>sourceSize</key>
                <string>{197,93}</string>
            </dict>
            <key>herostar_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,492},{193,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,89}}</string>
                <key>sourceSize</key>
                <string>{193,89}</string>
            </dict>
            <key>herostar_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-73,83.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{147,168}</string>
            </dict>
            <key>league_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,295},{222,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,207}}</string>
                <key>sourceSize</key>
                <string>{222,207}</string>
            </dict>
            <key>league_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>legend_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1454},{137,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,179}}</string>
                <key>sourceSize</key>
                <string>{137,179}</string>
            </dict>
            <key>legend_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-53.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{108,180}</string>
            </dict>
            <key>light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{317,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,295}}</string>
                <key>sourceSize</key>
                <string>{317,295}</string>
            </dict>
            <key>mail_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,685},{92,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,144}}</string>
                <key>sourceSize</key>
                <string>{92,144}</string>
            </dict>
            <key>mail_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,69.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>pvp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,453},{190,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,158}}</string>
                <key>sourceSize</key>
                <string>{190,158}</string>
            </dict>
            <key>pvp_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-94,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{189,160}</string>
            </dict>
            <key>rank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1591},{114,49}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{114,49}}</string>
                <key>sourceSize</key>
                <string>{136,65}</string>
            </dict>
            <key>rank_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,857},{128,59}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,59}}</string>
                <key>sourceSize</key>
                <string>{136,65}</string>
            </dict>
            <key>reward_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1600},{91,47}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{91,47}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>reward_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1591},{105,55}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{105,55}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>soulshop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1278},{176,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,182}}</string>
                <key>sourceSize</key>
                <string>{176,182}</string>
            </dict>
            <key>soulshop_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-68,79.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{137,160}</string>
            </dict>
            <key>state_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1438},{98,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>state_open_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1106},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1038},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>store_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,829},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tech_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1101},{177,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,183}}</string>
                <key>sourceSize</key>
                <string>{177,183}</string>
            </dict>
            <key>tech_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-71.5,89.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{144,180}</string>
            </dict>
            <key>title_beauty_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1856},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_beauty_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1720},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_beauty_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1856},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_carbon_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1720},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_carbon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1797},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_carbon_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1763},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_expedition_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1729},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_expedition_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1973},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_expedition_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1939},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_guoguan_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1905},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_guoguan_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1871},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_guoguan_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1837},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_herostar_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1803},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_herostar_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1769},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_herostar_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1695},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_league_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1661},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_league_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1735},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_league_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1977},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_legend_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1943},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_legend_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1909},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_legend_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1875},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_mail_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1841},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_mail_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1599},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1599},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_pvp_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1969},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_pvp_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1833},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_pvp_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1833},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_soulshop_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1833},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_soulshop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1705},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_soulshop_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1599},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tech_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1697},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tech_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1697},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tech_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1697},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tower_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,774},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tower_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,638},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>title_tower_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,502},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>tower_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,643},{214,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,173}}</string>
                <key>sourceSize</key>
                <string>{214,173}</string>
            </dict>
            <key>tower_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,0},{1,1}}</string>
                <key>offset</key>
                <string>{-67,78.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{135,158}</string>
            </dict>
            <key>zhaocai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1646},{95,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{95,51}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
            <key>zhaocai_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1193},{105,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,63}}</string>
                <key>sourceSize</key>
                <string>{107,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homePics.png</string>
            <key>size</key>
            <string>{484,2011}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1990d98cda6f714cf4d548a32eaefb35:8de6fb97e109a2edd33028a748abbdd8:f586f7cf32aead0c3ee013e94751c64a$</string>
            <key>textureFileName</key>
            <string>homePics.png</string>
        </dict>
    </dict>
</plist>
