<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>league_effL_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
            <key>league_effL_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{44,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,72}}</string>
                <key>sourceSize</key>
                <string>{44,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>league_effL.png</string>
            <key>size</key>
            <string>{44,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc4c4ba62cdcd40efea3a024bc6ab1a3:1d1be00f62ae1116023d956da3967644:5092a08893d1df5cf6308563fab8d5f8$</string>
            <key>textureFileName</key>
            <string>league_effL.png</string>
        </dict>
    </dict>
</plist>
