<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>legend_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,736},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{36,178}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{36,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,558},{36,178}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{36,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,186},{40,182}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{40,182}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{44,186}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{44,186}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,368},{48,190}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{48,190}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{58,204}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,204}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{58,204}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{58,204}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,202}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,202}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{50,196}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{50,196}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{50,196}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{50,196}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,806},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,806},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,806},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,806},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
            <key>legend_eff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,806},{34,178}}</string>
                <key>offset</key>
                <string>{14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{34,178}}</string>
                <key>sourceSize</key>
                <string>{62,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>legend_eff.png</string>
            <key>size</key>
            <string>{106,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c3a090f7a9c4212f3003cb9bc799397:6496b769a1f0e86f74155761ce6e022d:293219c1ad5252c57d87f1d40597c036$</string>
            <key>textureFileName</key>
            <string>legend_eff.png</string>
        </dict>
    </dict>
</plist>
