<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_eff2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{51,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{55,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{53,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,0},{47,55}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{47,55}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{47,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>pvp_eff2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,0},{49,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{49,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_eff2.png</string>
            <key>size</key>
            <string>{1004,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2243a5274559b655f01071227c333bd3:ff55cc2f0f5f1c079925734fd3e16d07:8a8bb5d75dfdeadd7feaca58cde1c902$</string>
            <key>textureFileName</key>
            <string>pvp_eff2.png</string>
        </dict>
    </dict>
</plist>
