<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pvp_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,27},{12,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{12,11}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,27},{16,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{16,17}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{20,21}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{20,21}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,21},{20,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{20,19}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{38,37}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,37}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
            <key>pvp_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{28,27}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{28,27}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pvp_eff.png</string>
            <key>size</key>
            <string>{124,43}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72edfe61ebd24dc72acccc78f90ada57:3bd881b1586f8f794a63a85bf77f65d5:ef5dafb4ee0b542d86fb00c910baf4bc$</string>
            <key>textureFileName</key>
            <string>pvp_eff.png</string>
        </dict>
    </dict>
</plist>
