<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soulshop_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>soulshop_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,0},{48,38}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,38}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>soulshop_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,0},{46,40}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>soulshop_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{48,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,36}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soulshop_eff.png</string>
            <key>size</key>
            <string>{192,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1941fe5da4d4ac0ca0a40d38a55a056:b81e8487dcc6a509e55b2cb927498bb2:5ffe7e024d07a47422205206a8891cae$</string>
            <key>textureFileName</key>
            <string>soulshop_eff.png</string>
        </dict>
    </dict>
</plist>
