<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tech_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,0},{79,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,61}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{75,63}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>tech_eff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tech_eff.png</string>
            <key>size</key>
            <string>{628,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d91050283debb3053228aa7b3dac732e:5b5f9eebc281b5ada89ed61866658c55:72d2639ca0cde91be349f97469d34732$</string>
            <key>textureFileName</key>
            <string>tech_eff.png</string>
        </dict>
    </dict>
</plist>
