<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,364},{53,52}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{53,52}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,78},{69,54}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{69,54}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,289},{75,54}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{75,54}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,132},{75,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{75,66}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{75,66}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{75,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,416},{51,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{51,82}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{51,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{51,90}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{51,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{51,96}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{51,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{51,84}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{53,84}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{53,84}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,207},{55,82}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{55,82}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{1,1}}</string>
                <key>offset</key>
                <string>{-37,48.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{1,1}}</string>
                <key>offset</key>
                <string>{-37,48.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{1,1}}</string>
                <key>offset</key>
                <string>{-37,48.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
            <key>tower_eff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{1,1}}</string>
                <key>offset</key>
                <string>{-37,48.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{75,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_eff.png</string>
            <key>size</key>
            <string>{120,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e8bc5f0ba8a07394b8815144e8aa51:63bc7fdef2dd45d0f093db79c4134b85:5040eea5826c15629bb7d149e8489456$</string>
            <key>textureFileName</key>
            <string>tower_eff.png</string>
        </dict>
    </dict>
</plist>
