<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_eff2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
            <key>tower_eff2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{194,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,75}}</string>
                <key>sourceSize</key>
                <string>{194,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tower_eff2.png</string>
            <key>size</key>
            <string>{1746,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27583bb00daa74af0a041d9f39f00584:9e73a946d1eee7f525d3c9f39fc4763c:a51623287db6cba661d6f28f0d2f2c1e$</string>
            <key>textureFileName</key>
            <string>tower_eff2.png</string>
        </dict>
    </dict>
</plist>
