<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,141},{632,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,141}}</string>
                <key>sourceSize</key>
                <string>{632,141}</string>
            </dict>
            <key>water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,280},{632,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{632,139}}</string>
                <key>sourceSize</key>
                <string>{632,141}</string>
            </dict>
            <key>water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,141},{632,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{632,139}}</string>
                <key>sourceSize</key>
                <string>{632,141}</string>
            </dict>
            <key>water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,0},{632,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,141}}</string>
                <key>sourceSize</key>
                <string>{632,141}</string>
            </dict>
            <key>water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{632,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,141}}</string>
                <key>sourceSize</key>
                <string>{632,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>water.png</string>
            <key>size</key>
            <string>{1264,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daeca8218f758acdff3a778b02fce68b:1296c2bf9a6c9997425abc66dd5516a1:a72a08db099fa9898599289b7a5981b3$</string>
            <key>textureFileName</key>
            <string>water.png</string>
        </dict>
    </dict>
</plist>
