<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>waterfall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{179,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{179,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>waterfall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{177,145}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{177,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>waterfall.png</string>
            <key>size</key>
            <string>{1800,149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d0a71b286ee77f3ec63ab14f5cc297c:b8a3c2acdfdba0ea83ef9b13fb4b5ac4:f8512e290ad635bc671e8f8709da18da$</string>
            <key>textureFileName</key>
            <string>waterfall.png</string>
        </dict>
    </dict>
</plist>
